Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Add details to new accordion light
  package.json
  pnpm-lock.yaml
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/holocene/monaco/markdown.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/models/workflow-execution.ts
Due: eslint --fix, prettier --write, stylelint --fix

Refactor metadata call to workflow-run level, add current details to history view
  package.json
  pnpm-lock.yaml
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/query-service.ts
  src/lib/stores/workflow-run.ts
  src/lib/types/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add mobile and desktop specific tests for data encoder
  playwright.config.ts
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/data-encoder-settings.svelte
  src/routes/(app)/+layout.svelte
  tests/integration/data-encoder.desktop.spec.ts
  tests/integration/data-encoder.mobile.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix tests that use nav items
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  tests/integration/import-event-history.spec.ts
  tests/integration/workflow-navigation.desktop.spec.ts
  tests/integration/workflow-navigation.mobile.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix e2e tests for mobile
  tests/e2e/schedules.spec.ts
  tests/e2e/workflows-summary-table-configuration.spec.ts
  tests/e2e/workflows.spec.ts
Due: eslint --fix, prettier --write

Add Authorization-Extras if authUser idToken exists (#2250)
  src/lib/services/data-encoder.ts
Due: eslint --fix, prettier --write

Add flag pole, use border not bg
  src/lib/holocene/icon/svg/flag.svelte
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use two different themes for light/dark mode for Codemirror, unround some boxes
  src/lib/components/event/event-details-row.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update colors to pass accessibility, remove unused inline prop
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Light/Dark mode themes for Codemirror Editor (#2414)
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Don't update browser history on query param changes in start workflow. preserve order of query params on goto
  src/lib/pages/start-workflow.svelte
  src/lib/utilities/update-query-parameters.test.ts
  src/lib/utilities/update-query-parameters.ts
Due: eslint --fix, prettier --write, stylelint --fix

Don't update browser history on query param changes in start workflow. preserve order of query params on goto (#2415)
  src/lib/pages/start-workflow.svelte
  src/lib/utilities/update-query-parameters.test.ts
  src/lib/utilities/update-query-parameters.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: keep extra row cell when write actions are disabled
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Only encode Schedule Input when added or edited (#2384)
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/payload-input.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/holocene/file-input.stories.svelte
  src/lib/stores/schedules.ts
Due: eslint --fix, prettier --write, stylelint --fix

Put according/details in header
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add mobile option for playwright tests (#2412)
  playwright.config.ts
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/data-encoder-settings.svelte
  src/routes/(app)/+layout.svelte
  tests/e2e/schedules.spec.ts
  tests/e2e/workflows-summary-table-configuration.spec.ts
  tests/e2e/workflows.spec.ts
  tests/integration/data-encoder.desktop.spec.ts
  tests/integration/data-encoder.mobile.spec.ts
  tests/integration/import-event-history.spec.ts
  tests/integration/workflow-navigation.desktop.spec.ts
  tests/integration/workflow-navigation.mobile.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

2.32.4
  package.json
Due: prettier --write

Update daylight savings test
  src/lib/stores/time-format.test.ts
Due: eslint --fix, prettier --write

Update daylight savings test (#2418)
  src/lib/stores/time-format.test.ts
Due: eslint --fix, prettier --write

Account for KeywordList in query and filter formatting utils and add tests
  src/lib/utilities/is.ts
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Due: eslint --fix, prettier --write

Add unround and external content options to ChipInput
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/holocene/input/chip-input.stories.svelte
  src/lib/holocene/input/chip-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add KeywordList option to SearchAttributeInput
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/datetime-input.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/components/workflow/search-attribute-input/list-input.svelte
  src/lib/components/workflow/search-attribute-input/number-input.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/search-attributes.ts
  src/lib/utilities/encode-payload.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add ListFilter to filter search
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/search-attribute-filter/status-filter.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/utilities/query/search-attribute-filter.test.ts
  src/lib/utilities/query/search-attribute-filter.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove dark theme on CopyButton in CodeBlock
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove dark theme on CopyButton in CodeBlock (#2421)
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Permanently fix formatted utc offset test
  src/lib/stores/time-format.test.ts
Due: eslint --fix, prettier --write

fix: keep extra row cell when write actions are disabled (#2416)
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add summary and details to workflow start
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/markdown.reset.css
Due: eslint --fix, prettier --write, stylelint --fix

Fix order on sm
  src/lib/components/lines-and-dots/workflow-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update snapshots
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Due: none

Use signal definitions as dropdown select for sending signal
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add check for current details
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update go-oidc to v3.11
  server/go.mod
  server/go.sum
Due: none

Remove py-4 on input-and-results
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make ids in event history mono for better spacing
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update go-oidc to v3.11 (#2424)
  server/go.mod
  server/go.sum
Due: none

Make ids in event history mono for better spacing (#2425)
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Permanently fix formatted utc offset test (#2422)
  src/lib/stores/time-format.test.ts
Due: eslint --fix, prettier --write

Inline li in markdown, better summary check
  src/lib/layouts/workflow-header.svelte
  src/markdown.reset.css
Due: eslint --fix, prettier --write, stylelint --fix

Don't use inherit for font
  src/markdown.reset.css
Due: stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
