Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["pnpm lint:fix", "prettier --write"],
  "*.{css,postcss,svelte}": ["stylelint --fix", "pnpm lint:fix"],
  "*.{json,md}": "prettier --write"
}

Remove poll interval (#1596)
  svelte.config.js
Due: pnpm lint:fix, prettier --write

Make label required and add description to Textarea component
  src/lib/components/codec-endpoint-settings.svelte
  src/lib/holocene/textarea.story.svelte
  src/lib/holocene/textarea.svelte
Due: pnpm lint:fix, stylelint --fix

Use label and hintText props for data converter port settings
  src/lib/components/data-converter-port-settings.svelte
Due: pnpm lint:fix, stylelint --fix

Revert changes to Badge on Accordian
  src/lib/holocene/accordion.svelte
Due: pnpm lint:fix, stylelint --fix

Default role to status on Alert
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/workflow/workflow-stack-trace-error.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/alert.story.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/layouts/workflow-header.svelte
Due: pnpm lint:fix, stylelint --fix

Use CodeBlock for frequency in all cases, change layout of schedule view
  src/lib/components/schedule/schedule-advanced-settings.svelte
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedule-notes.svelte
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/schedule/schedules-table.svelte
  src/lib/holocene/code-block.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/schedule-view.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add hidden prop to Alert
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/holocene/alert.svelte
Due: pnpm lint:fix, stylelint --fix

Consistent classes, remove w classes
  src/lib/components/schedule/schedules-table-row.svelte
Due: pnpm lint:fix, stylelint --fix

Reorder imports
  src/lib/components/schedule/schedule-advanced-settings.svelte
Due: pnpm lint:fix, stylelint --fix

Remove frequency from tests
  cypress/integration/schedules.spec.js
  src/lib/components/schedule/schedules-calendar-view.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add empty line
  src/lib/components/schedule/schedule-advanced-settings.svelte
Due: pnpm lint:fix, stylelint --fix

clean up combobox a lil
  src/lib/holocene/combobox/combobox.svelte
Due: pnpm lint:fix, stylelint --fix

Default role based on intent for Alert component
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/api-pagination.svelte
Due: pnpm lint:fix, stylelint --fix

Add type support for Tailwind config
  tailwind.config.cjs
Due: none

Use fontsource fonts
  package.json
  pnpm-lock.yaml
  src/app.css
  tailwind.config.cjs
Due: pnpm lint:fix, prettier --write, stylelint --fix

Update snapshots
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
Due: none

Initial commit for storybook, okay use of the ButtonWrapper GenericWrapper to come
  .eslintrc.cjs
  .storybook/main.ts
  .storybook/preview.ts
  .vscode/settings.json
  package.json
  plugins/vite-plugin-temporal-server.ts
  plugins/vite-plugin-ui-server.ts
  pnpm-lock.yaml
  src/stories/Button.stories.ts
  src/stories/ButtonWrapper.svelte
  src/stories/ReadMe.mdx
Due: pnpm lint:fix, prettier --write, stylelint --fix

Remove unused class
  src/app.css
  src/lib/components/workers-list.svelte
  src/lib/components/workflow/workflow-count.svelte
  src/lib/holocene/compatibility-badge.svelte
  tailwind.config.cjs
Due: pnpm lint:fix, stylelint --fix

Remove unused component
  src/app.css
Due: pnpm lint:fix, stylelint --fix

Use colors from current theme
  tailwind.config.cjs
Due: none

Remove fonts
  src/histoire.css
  src/lib/vendor/css/fonts/Inter/Inter-Black.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Bold.ttf
  src/lib/vendor/css/fonts/Inter/Inter-ExtraBold.ttf
  src/lib/vendor/css/fonts/Inter/Inter-ExtraLight.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Light.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Medium.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Regular.ttf
  src/lib/vendor/css/fonts/Inter/Inter-SemiBold.ttf
  src/lib/vendor/css/fonts/Inter/Inter-Thin.ttf
  src/lib/vendor/css/fonts/Inter/Inter-VariableFont_slnt,wght.ttf
  src/lib/vendor/css/fonts/NotoSansMono/NotoSansMono-VariableFont_wdth,wght.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Black.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Bold.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-ExtraBold.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-ExtraLight.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Light.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Medium.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Regular.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-SemiBold.ttf
  src/lib/vendor/css/fonts/Poppins/Poppins-Thin.ttf
Due: pnpm lint:fix, stylelint --fix

Update snapshots
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
Due: none

Remove unused colors
  colors.cjs
Due: none

Add proposal for Box and Text
  src/lib/holocene/primitives/box.svelte
  src/lib/holocene/primitives/text.svelte
Due: pnpm lint:fix, stylelint --fix

Use Schedule Spec for title, change to just Delete
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/pages/schedule-view.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix clipping and alignment on event summary rows
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
Due: pnpm lint:fix, stylelint --fix

Add count of workers
  src/lib/components/workers-list.svelte
Due: pnpm lint:fix, stylelint --fix

Remove total text
  src/lib/components/workers-list.svelte
Due: pnpm lint:fix, stylelint --fix

focus combobox input on trigger click
  src/lib/holocene/combobox/combobox.svelte
Due: pnpm lint:fix, stylelint --fix

Make reactive statement
  src/lib/holocene/alert.svelte
Due: pnpm lint:fix, stylelint --fix

Use typeof for intent
  src/lib/holocene/alert.svelte
Due: pnpm lint:fix, stylelint --fix

ARIA improvements to errors and alerts (#1595)
  src/lib/components/codec-endpoint-settings.svelte
  src/lib/components/data-converter-port-settings.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/workflow/workflow-stack-trace-error.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/alert.story.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/textarea.story.svelte
  src/lib/holocene/textarea.svelte
  src/lib/layouts/workflow-header.svelte
  tests/integration/data-encoder.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

change icon-button hover
  src/lib/holocene/combobox/combobox.story.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/icon-button.svelte
Due: pnpm lint:fix, stylelint --fix

add unroundLeft to boolean filter
  src/lib/components/workflow/filter-search/boolean-filter.svelte
Due: pnpm lint:fix, stylelint --fix

Add counts api to WorkflowCounts. WIP
  src/lib/components/workflow/workflow-count.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: pnpm lint:fix, stylelint --fix

Add count badge
  src/lib/components/workers-list.svelte
Due: pnpm lint:fix, stylelint --fix

Remove top border of frequency table row
  src/lib/components/schedule/schedules-table-row.svelte
Due: pnpm lint:fix, stylelint --fix

Add Badge import
  src/lib/components/workers-list.svelte
Due: pnpm lint:fix, stylelint --fix

Show example of component that handles translation
  src/lib/holocene/primitives/box-with-translate.svelte
  src/lib/holocene/primitives/example-translation-box.svelte
Due: pnpm lint:fix, stylelint --fix

Fix import order.
  src/lib/components/workers-list.svelte
Due: pnpm lint:fix, stylelint --fix
