Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Fix cluster api mock routes
  tests/integration/storageState.json
  tests/test-utilities/mocks/namespace.ts
  tests/test-utilities/mocks/namespaces.ts
  tests/test-utilities/mocks/search-attributes.ts
Due: eslint --fix, prettier --write

Update @grpc/grpc-js in package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

2.27.11
  package.json
Due: prettier --write

Update fire extinguisher icon
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/fire-extinguisher.svelte
  src/lib/holocene/icon/svg/fire-hydrant.svelte
Due: eslint --fix, prettier --write, stylelint --fix

bump version in package.json to v2.27.11 (#2175)
  package.json
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/fire-extinguisher.svelte
  src/lib/holocene/icon/svg/fire-hydrant.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix boolean check
  src/lib/utilities/workflow-create-disabled.ts
Due: eslint --fix, prettier --write

Add if statement to workflow-actions
  src/lib/components/workflow-actions.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix workflow start disabled check (#2176)
  src/lib/components/workflow-actions.svelte
  src/lib/utilities/workflow-create-disabled.ts
Due: eslint --fix, prettier --write, stylelint --fix

2.27.12
  package.json
Due: prettier --write

2.27.12 (#2177)
  package.json
Due: prettier --write

Update version.go to v2.28.0
  server/server/version/version.go
Due: none

Use blue-300 for running
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/workflow-status.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use blue-300 for all status colors
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/workflow-status.svelte
  src/lib/holocene/badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use blue-300 for running (#2179)
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/workflow-status.svelte
  src/lib/holocene/badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove LabsModeGuard for dark mode
  src/lib/components/side-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove LabsModeGuard for dark mode (#2180)
  src/lib/components/side-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

PageTile fixes, better titles, start work on description to string
  server/server/route/api.go
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/services/nexus-service.ts
  src/lib/utilities/route-for-api.ts
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/[id]/+layout.ts
  src/routes/(app)/nexus/[id]/+page.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Disable button in Combobox
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Disable button in Combobox (#2181)
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.27.13
  package.json
Due: prettier --write

2.27.13 (#2182)
  package.json
Due: prettier --write

Add status column for versioning rules, remove link. Add buildId to worker table
  src/lib/components/worker-rules.svelte
  src/lib/components/worker-table.svelte
  src/lib/services/pollers-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add active/inactive translation, remove console.log
  src/lib/components/worker-rules.svelte
  src/lib/components/worker-table.svelte
  src/lib/i18n/locales/en/common.ts
Due: eslint --fix, prettier --write, stylelint --fix

Account for parenthesis as potential start of attribute
  src/lib/utilities/query/tokenize.ts
Due: eslint --fix, prettier --write

Update queries in tests to have backticks
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/tokenize.test.ts
Due: eslint --fix, prettier --write

Add back row link, update link text
  src/lib/components/worker-rules.svelte
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix ExecutionStatus filters not showing up on page refresh (#2184)
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Due: eslint --fix, prettier --write

Versioning Updates: Update rules logics and add BuildId to Worker table (#2183)
  src/lib/components/worker-rules.svelte
  src/lib/components/worker-table.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workers.ts
  src/lib/services/pollers-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

2.27.14
  package.json
Due: prettier --write

2.27.14 (#2185)
  package.json
Due: prettier --write

Update version.go to v2.28.0 (#2178)
  server/server/version/version.go
Due: none

Update github actions to use github app token. Attemp 1 (#2121)
  .github/workflows/bump-package-version.yml
  .github/workflows/publish-package.yml
  .github/workflows/update-ui-server.yml
Due: none

Lets give er a go
  .github/workflows/update-ui-server.yml
Due: none

I dunno move checkout around?
  .github/workflows/update-ui-server.yml
Due: none

Try this?
  .github/workflows/update-ui-server.yml
Due: none

Does this fix it?
  .github/actions/checkout-and-setup/action.yml
Due: none

Drop pnpm version?
  .github/actions/checkout-and-setup/action.yml
Due: none

This looks better?
  .github/workflows/bump-package-version.yml
  .github/workflows/publish-package.yml
  .github/workflows/update-ui-server.yml
Due: none

Lets give er a go (#2187)
  .github/actions/checkout-and-setup/action.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/publish-package.yml
  .github/workflows/update-ui-server.yml
Due: none

2.27.15
  package.json
Due: prettier --write
