Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Add LICENSE to server.
  server/LICENSE
Due: none

Tidy up workflows/Makefile.
  .github/workflows/docker-cloud.yml
  .github/workflows/docker.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/integration-tests.yml
  .github/workflows/playwright.yml
  .github/workflows/test.yml
  .github/workflows/update-ui-server.yml
  server/Makefile
Due: none

Lint.
  .github/workflows/docker.yml
  .github/workflows/test.yml
  .github/workflows/update-ui-server.yml
Due: none

Try reverting cypress workflow.
  .github/workflows/integration-tests.yml
Due: none

Upgrade TypeScript
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update Vitest and Histoire; refactor configurations (#1139)
  histoire.config.ts
  package.json
  plugins/vite-plugin-temporal-server.ts
  pnpm-lock.yaml
  src/lib/utilities/update-query-parameters.test.ts
  vite.config.ts
  vitest-setup.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Update port in default config.
  server/config/base.yaml
Due: none

Sync to main branch, and only on release.
  .github/workflows/update-ui-server.yml
Due: none

Sync to main branch.
  .github/workflows/update-ui-server.yml
Due: none

Fix up docker workflows.
  .github/workflows/docker-cloud.yml
  .github/workflows/docker.yml
Due: none

UI server sync main (#1146)
  .github/workflows/update-ui-server.yml
Due: none

Upgrade TypeScript to 4.9.5 (#1143)
  package.json
  pnpm-lock.yaml
Due: prettier --write

update api package and remove old endpoints
  server/go.mod
  server/go.sum
  server/proto/api/temporal/api/workflowservice/v1/service.proto
Due: none

Add error message if response from temporal.download fails
  scripts/download-temporal.ts
Due: eslint --fix, prettier --write

Switch datacy to datatest-id
  cypress/integration/data-encoder-settings.spec.js
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/toggle-switch.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add supportsAdvancedVisibilityFully for > 1.20 for count/batch and sorting
  src/lib/components/workflow/workflows-summary-table-with-filters.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/bulk-actions.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/advanced-visibility-enabled.ts
Due: eslint --fix, prettier --write, stylelint --fix

test
  src/routes/(app)/+page.ts
Due: eslint --fix, prettier --write

Add role and type search to search inputs
  src/lib/components/event/event-history-timeline-container.svelte
  src/lib/components/namespace-list.svelte
  src/lib/components/search.svelte
  src/lib/components/workflow/advanced-filter/keyword-filter.svelte
  src/lib/components/workflow/advanced-filter/search-attribute-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-id.svelte
  src/lib/components/workflow/dropdown-filter/workflow-type.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/holocene/autocomplete.story.svelte
  src/lib/holocene/autocomplete.svelte
  src/lib/holocene/input/input.story.svelte
  src/lib/holocene/input/input.svelte
  src/lib/pages/schedules.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_filter-input.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_workflow-filters.svelte
  src/routes/(app)/select-namespace/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Allow and add role for Alert components
  src/lib/holocene/alert.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/error.svelte
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add role to Toaster component
  src/lib/holocene/toast.svelte
  src/lib/holocene/toaster.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add a toggle for CookieSecure.
  server/server/config/config.go
  server/server/server.go
Due: none

Bump x/net for https://github.com/temporalio/ui-server/issues/270
  server/go.mod
  server/go.sum
Due: none

add script to dev against local ui-server
  .env.ui-server
  package.json
  plugins/vite-plugin-temporal-server.ts
  scripts/start-ui-server.ts
  server/config/development.yaml
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add check for supportsAdvancedVisibility for datetime query
  .env
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/workflows-summary-table-with-filters.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/bulk-actions.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/advanced-visibility-enabled.ts
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/list-workflow-query.test.ts
  src/lib/utilities/query/list-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/to-list-workflow-parameters.test.ts
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/version-check.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix dev to div
  src/lib/components/workflow/workflow-filters.svelte
Due: eslint --fix, prettier --write, stylelint --fix

[DT-301] - use batch API with list of workflow-executions (#1126)
  .env.ui-server
  cypress/integration/workflow-bulk-actions.spec.js
  cypress/support/commands.js
  package.json
  plugins/vite-plugin-temporal-server.ts
  scripts/start-ui-server.ts
  server/config/development.yaml
  server/go.mod
  server/go.sum
  server/proto/api/temporal/api/workflowservice/v1/service.proto
  src/api.d.ts
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/services/batch-service.test.ts
  src/lib/services/batch-service.ts
  src/lib/utilities/route-for-api.ts
  src/types/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add cypress tests with mysql and 1.20
  cypress/fixtures/cluster-with-mysql.json
  cypress/integration/workflow-executions-with-new-search.spec.js
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/list-workflow-query.test.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
Due: eslint --fix, prettier --write

Fix .env
  .env
Due: none

Fix logic for checks with isCloud
  cypress/integration/workflow-executions-with-new-search.spec.js
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/stores/bulk-actions.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make role alert default on Alert component
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/holocene/alert.story.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor files to comply with TypeScript's strict mode
  src/lib/services/data-converter.ts
  src/lib/utilities/btoa.ts
  src/lib/utilities/calendar.ts
  src/lib/utilities/data-converter-websocket.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/format-camel-case.ts
  src/lib/utilities/format-time.ts
  src/lib/utilities/get-codec.ts
  src/lib/utilities/get-first-reset-event-id.ts
  src/lib/utilities/get-float-style.ts
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/schedule-data-formatting.ts
  src/lib/utilities/to-duration.ts
Due: eslint --fix, prettier --write

Add a toggle for CookieSecure. (#1152)
  server/server/config/config.go
  server/server/server.go
Due: none

Don't allow redirecting away from Temporal Web via auth callback
  server/server/route/auth.go
Due: none

Add passing accessToken to queries/pending activities
  src/lib/models/pending-activities/index.ts
  src/lib/pages/workflow-query.svelte
  src/lib/services/data-encoder.ts
  src/lib/services/events-service.ts
  src/lib/services/query-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update cypress tests, remove unused code
  cypress/integration/workflow-executions-with-new-search.spec.js
  src/lib/stores/bulk-actions.ts
  src/lib/utilities/advanced-visibility-enabled.ts
Due: eslint --fix, prettier --write

Test updates
  src/lib/utilities/advanced-visibility-enabled.ts
  src/lib/utilities/version-check.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,js,svelte}
  prettier --write: (any of: *.{ts,js,svelte}) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,postcss,svelte}
