Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

fix(events): dedupe marker billable actions across both fetch cursors
  src/lib/services/grouped-event-buffer.test.ts
  src/lib/services/grouped-event-buffer.ts
  src/lib/services/test-helpers/synthetic-events.ts
Due: eslint --fix, prettier --write

Package workflow catalog authoring SDK
  plugins/vite-plugin-workflow-catalog-local.test.ts
  plugins/vite-plugin-workflow-catalog-local.ts
  scripts/workflow-catalog/canonical-assemblies.ts
  scripts/workflow-catalog/catalog-artifacts.test.ts
  scripts/workflow-catalog/catalog-artifacts.ts
  scripts/workflow-catalog/directory-promotion.test.ts
  scripts/workflow-catalog/directory-promotion.ts
  scripts/workflow-catalog/local-assemblies.ts
  scripts/workflow-catalog/project-artifacts.ts
  scripts/workflow-catalog/scaffold.ts
  scripts/workflow-catalog/ui-authoring.test.ts
  scripts/workflow-catalog/ui-authoring.ts
  scripts/workflow-catalog/workflow-catalog-cli.test.ts
  scripts/workflow-catalog/workflow-catalog-cli.ts
  src/lib/workflow-catalog/authoring.test.ts
  src/lib/workflow-catalog/authoring.ts
Due: eslint --fix, prettier --write

fix(events): dedupe marker billable actions across both fetch cursors (#3807)
  src/lib/services/grouped-event-buffer.test.ts
  src/lib/services/grouped-event-buffer.ts
  src/lib/services/test-helpers/synthetic-events.ts
Due: eslint --fix, prettier --write

fix(auth): derive auth cookie Secure attribute from the OIDC callback URL (#3806)
  server/server/auth/auth.go
  server/server/auth/auth_test.go
  server/server/route/auth.go
  server/server/route/auth_test.go
Due: none

Bump protos to v1.22.0
  package.json
  pnpm-lock.yaml
  src/lib/i18n/locales/en/typed-errors.ts
  src/lib/types/activity-execution.ts
  src/lib/types/index.ts
Due: eslint --fix, prettier --write

refactor(events): drop the dead isAscending parameter from ingestHistoryEvent
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/grouped-event-buffer.test.ts
  src/lib/services/grouped-event-buffer.ts
Due: eslint --fix, prettier --write, stylelint --fix

poc(workflows): sort sandbox mockup for the workflows list
  static/sort-sandbox-poc.html
Due: none

poc(workflows): sort sandbox drawer on the real workflows page
  src/lib/components/workflow/sort-sandbox/index.svelte
  src/lib/components/workflow/sort-sandbox/mock-live-table.ts
  src/lib/components/workflow/sort-sandbox/mock-workflows.ts
  src/lib/components/workflow/sort-sandbox/snapshot-grid.svelte
  src/lib/components/workflow/sort-sandbox/sorting.ts
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-cell.svelte
  src/lib/pages/workflows-with-new-search.svelte
  tests/integration/sort-sandbox-poc.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

poc(workflows): fix dark mode contrast in the sort sandbox
  src/lib/components/workflow/sort-sandbox/index.svelte
  tests/integration/sort-sandbox-poc.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Explain rejected runs and offer setup instructions when scaffolding
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/0
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/1
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/2
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/3
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/4
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/5
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/6
  scripts/workflow-catalog/scaffold.test.ts
  scripts/workflow-catalog/scaffold.ts
  src/lib/workflow-catalog/browser/catalog-detail.svelte
  src/lib/workflow-catalog/browser/catalog-detail.test.ts
  src/lib/workflow-catalog/browser/launch-outcome-presentation.test.ts
  src/lib/workflow-catalog/browser/launch-outcome-presentation.ts
Due: eslint --fix, prettier --write, stylelint --fix

Ignore workflow catalog transaction state and drop committed backups
  .gitignore
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/0
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/1
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/2
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/3
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/4
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/5
  .workflow-catalog.transaction-5d9cca25-926f-4330-9efb-e75324ec92df/backups/6
Due: none

Let a first local example scaffold and run on a clean workspace
  scripts/workflow-catalog/local-assemblies.test.ts
  scripts/workflow-catalog/local-assemblies.ts
Due: eslint --fix, prettier --write

Publish the workflow catalog skill to Claude and Codex
  .agents/plugins/marketplace.json
  .claude-plugin/marketplace.json
  .claude/skills/temporal-ui-examples
  .codex/skills/temporal-ui-examples
  agent-skills/.claude-plugin/plugin.json
  agent-skills/.codex-plugin/plugin.json
  agent-skills/skills/temporal-ui-examples/SKILL.md
Due: prettier --write

Name the catalog skill after the project convention
  .claude/skills/temporal-ui-examples
  .claude/skills/workflow-catalog
  .codex/skills/temporal-ui-examples
  .codex/skills/workflow-catalog
  agent-skills/skills/workflow-catalog/SKILL.md
Due: prettier --write

Document the workflow catalog configuration model and scenarios
  src/lib/workflow-catalog/README.md
  src/lib/workflow-catalog/scenarios.md
Due: prettier --write

Drop legacy flat overlay handling that never shipped
  scripts/workflow-catalog/directory-promotion.ts
  scripts/workflow-catalog/local-assemblies.test.ts
  scripts/workflow-catalog/local-assemblies.ts
  scripts/workflow-catalog/new.ts
  scripts/workflow-catalog/scaffold.test.ts
  scripts/workflow-catalog/scaffold.ts
  scripts/workflow-catalog/ui-authoring.ts
  src/lib/workflow-catalog/scenarios.md
Due: eslint --fix, prettier --write

chore: bump version to 2.53.2
  package.json
  server/server/version/version.go
Due: prettier --write

Give the unknown-target command test the shared timeout
  scripts/workflow-catalog/catalog-artifacts.test.ts
Due: eslint --fix, prettier --write

poc(workflows): scope the sort sandbox to the live query, add scale harnesses
  bench/sort-sandbox/README.md
  bench/sort-sandbox/bench-columnar.mjs
  bench/sort-sandbox/bench-naive.mjs
  bench/sort-sandbox/demo-parallel.mjs
  bench/sort-sandbox/mock-visibility.mjs
  bench/sort-sandbox/phase0-harness.mjs
  bench/sort-sandbox/phase0-scan.mjs
  src/lib/components/workflow/sort-sandbox/index.svelte
  src/lib/components/workflow/sort-sandbox/mock-live-table.ts
  src/lib/components/workflow/sort-sandbox/query-filter.ts
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/pages/workflows-with-new-search.svelte
  tests/integration/sort-sandbox-poc.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

poc(workflows): remove the cap, add a columnar 12M-scale store
  src/lib/components/workflow/sort-sandbox/columnar/client.ts
  src/lib/components/workflow/sort-sandbox/columnar/snapshot.worker.ts
  src/lib/components/workflow/sort-sandbox/columnar/sort.test.ts
  src/lib/components/workflow/sort-sandbox/columnar/sort.ts
  src/lib/components/workflow/sort-sandbox/columnar/store.ts
  src/lib/components/workflow/sort-sandbox/index.svelte
  src/lib/components/workflow/sort-sandbox/mock-workflows.ts
  src/routes/sort-sandbox-scale/+page.svelte
  tests/integration/sort-sandbox-poc.spec.ts
  tests/integration/sort-sandbox-scale.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

wip(workflows): wire the sandbox drawer to the columnar worker — NOT WORKING
  src/lib/components/workflow/sort-sandbox/columnar/client.ts
  src/lib/components/workflow/sort-sandbox/columnar/snapshot.worker.ts
  src/lib/components/workflow/sort-sandbox/index.svelte
  src/lib/components/workflow/sort-sandbox/mock-live-table.ts
  src/lib/components/workflow/sort-sandbox/mock-workflows.ts
  src/lib/components/workflow/sort-sandbox/query-filter.ts
  src/lib/components/workflow/sort-sandbox/snapshot-grid.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/routes/sort-sandbox-scale/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(modal): notify once on every dismissal via the dialog close event
  src/lib/holocene/modal.svelte
  tests/integration/workflow-actions.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix import
  src/lib/services/standalone-activities.ts
Due: eslint --fix, prettier --write

poc(workflows): 12M sortable in the drawer, loaded from a mock API
  plugins/vite-plugin-mock-visibility.ts
  src/lib/components/workflow/sort-sandbox/columnar/client.ts
  src/lib/components/workflow/sort-sandbox/columnar/snapshot.worker.ts
  src/lib/components/workflow/sort-sandbox/index.svelte
  src/lib/components/workflow/sort-sandbox/mock-workflows.ts
  src/lib/components/workflow/sort-sandbox/snapshot-grid.svelte
  src/routes/sort-sandbox-scale/+page.svelte
  tests/integration/sort-sandbox-drawer-scale.spec.ts
  tests/integration/sort-sandbox-mock-api.spec.ts
  tests/integration/sort-sandbox-poc.spec.ts
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add reversible workflow catalog authoring
  agent-skills/skills/workflow-catalog/SKILL.md
  package.json
  plugins/vite-plugin-workflow-catalog-local.test.ts
  plugins/vite-plugin-workflow-catalog-local.ts
  scripts/workflow-catalog/canonical-assemblies.test.ts
  scripts/workflow-catalog/canonical-assemblies.ts
  scripts/workflow-catalog/catalog-artifacts.test.ts
  scripts/workflow-catalog/catalog-artifacts.ts
  scripts/workflow-catalog/dev-with-ui.test.ts
  scripts/workflow-catalog/dev-with-ui.ts
  scripts/workflow-catalog/dev.ts
  scripts/workflow-catalog/directory-promotion.test.ts
  scripts/workflow-catalog/directory-promotion.ts
  scripts/workflow-catalog/generate.ts
  scripts/workflow-catalog/local-assemblies.test.ts
  scripts/workflow-catalog/local-assemblies.ts
  scripts/workflow-catalog/project-artifacts.test.ts
  scripts/workflow-catalog/project-artifacts.ts
  scripts/workflow-catalog/scaffold.test.ts
  scripts/workflow-catalog/scaffold.ts
  scripts/workflow-catalog/ui-authoring.test.ts
  scripts/workflow-catalog/ui-authoring.ts
  scripts/workflow-catalog/verify.ts
  scripts/workflow-catalog/workflow-catalog-cli.test.ts
  scripts/workflow-catalog/workflow-catalog-cli.ts
  src/lib/i18n/locales/en/index.ts
  src/lib/i18n/locales/en/workflow-catalog.ts
  src/lib/workflow-catalog/README.md
  src/lib/workflow-catalog/authoring.test.ts
  src/lib/workflow-catalog/authoring.ts
  src/lib/workflow-catalog/browser/catalog-detail.svelte
  src/lib/workflow-catalog/browser/catalog-detail.test.ts
  src/lib/workflow-catalog/browser/catalog.generated.json
  src/lib/workflow-catalog/browser/catalog.generated.ts
  src/lib/workflow-catalog/scenarios.md
  src/lib/workflow-catalog/worker/examples/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Restrict workflow catalog route to development
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/+layout.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/availability.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/layout.test.ts
Due: eslint --fix, prettier --write

feat(DT-4359): Schedules content updates (#3804)
  src/lib/components/schedule/schedule-view/schedule-view.svelte
  src/lib/components/schedule/schedule-view/workflow-runs-card.svelte
  src/lib/components/schedule/schedule-view/workflow-runs-upcoming.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/schedules.ts
  src/lib/services/schedule-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(modal): notify once on every dismissal via the dialog close event (#3813)
  src/lib/holocene/modal.svelte
  tests/integration/workflow-actions.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Reload the workflow catalog worker when its modules change
  agent-skills/skills/workflow-catalog/SKILL.md
  scripts/workflow-catalog/catalog-artifacts.test.ts
  scripts/workflow-catalog/dev.ts
  scripts/workflow-catalog/workflow-catalog-cli.ts
  src/lib/workflow-catalog/scenarios.md
Due: eslint --fix, prettier --write

[DT-4308] Nexus-Invoked Standalone Activities (UI) (#3794)
  src/lib/components/event/event-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/i18n/locales/en/nexus.ts
  src/lib/i18n/locales/en/standalone-nexus-operations.ts
  src/lib/pages/standalone-activity-details.svelte
  src/lib/pages/standalone-nexus-operation-details.svelte
  src/lib/pages/workflow-nexus-links.svelte
  src/lib/services/standalone-activities.test.ts
  src/lib/services/standalone-activities.ts
  src/lib/types/activity-execution.ts
  src/lib/utilities/event-link.test.ts
  src/lib/utilities/event-link.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add event groups to timeline view
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-group-marker-badges.svelte
  src/lib/components/lines-and-dots/colors.ts
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/timeline-graph/event-marker-group-details-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/graph-widget.svelte
  src/lib/components/lines-and-dots/timeline-graph/group-details-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-icon-defs.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-timeline-layout.svelte
  src/lib/models/event-marker-groups.test.ts
  src/lib/models/event-marker-groups.ts
  src/lib/services/grouped-event-buffer.test.ts
  src/lib/services/grouped-event-buffer.ts
  src/lib/stores/event-view.ts
  src/lib/types/events.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add event group filter
  src/lib/components/lines-and-dots/event-group-filter.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  src/lib/models/event-marker-groups.test.ts
  src/lib/models/event-marker-groups.ts
  src/lib/stores/filters.ts
  src/lib/utilities/event-filter-params.test.ts
  src/lib/utilities/event-filter-params.ts
Due: eslint --fix, prettier --write, stylelint --fix

Keep catalog names readable on small screens and link the latest run
  src/lib/workflow-catalog/browser/catalog-list.client.test.ts
  src/lib/workflow-catalog/browser/catalog-list.svelte
  src/lib/workflow-catalog/browser/catalog-list.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Give the catalog configure page the start page payload editor
  src/lib/workflow-catalog/browser/catalog-client-test-runner.ts
  src/lib/workflow-catalog/browser/catalog-detail.client.test.ts
  src/lib/workflow-catalog/browser/catalog-detail.svelte
  src/lib/workflow-catalog/browser/catalog-detail.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Show the catalog's pinned execution details as start page fields
  src/lib/workflow-catalog/browser/catalog-client-test-runner-entry.ts
  src/lib/workflow-catalog/browser/catalog-detail.client.test.ts
  src/lib/workflow-catalog/browser/catalog-detail.svelte
  src/lib/workflow-catalog/browser/catalog-detail.test.ts
  src/lib/workflow-catalog/browser/session-store.ts
  src/lib/workflow-catalog/browser/start-example.ts
  src/lib/workflow-catalog/host/workbench-host.ts
Due: eslint --fix, prettier --write, stylelint --fix

Mirror the start workflow page on the catalog configure page
  src/lib/workflow-catalog/browser/catalog-client-test-runner.ts
  src/lib/workflow-catalog/browser/catalog-detail.client.test.ts
  src/lib/workflow-catalog/browser/catalog-detail.svelte
  src/lib/workflow-catalog/browser/catalog-detail.test.ts
  src/lib/workflow-catalog/browser/catalog-list.client.test.ts
  src/lib/workflow-catalog/browser/catalog-list.svelte
  src/lib/workflow-catalog/browser/catalog-list.test.ts
  src/lib/workflow-catalog/browser/catalog.generated.json
  src/lib/workflow-catalog/browser/catalog.generated.ts
  src/lib/workflow-catalog/browser/start-example.ts
  src/lib/workflow-catalog/browser/start-options.ts
  src/lib/workflow-catalog/worker/registry.test.ts
  src/lib/workflow-catalog/worker/registry.ts
Due: eslint --fix, prettier --write, stylelint --fix

Stop the catalog test harnesses timing out their setup
  src/lib/workflow-catalog/browser/catalog-client-test-runner.ts
  src/lib/workflow-catalog/browser/catalog-detail.client.test.ts
  src/lib/workflow-catalog/browser/catalog-detail.test.ts
  src/lib/workflow-catalog/browser/catalog-harness-timeout.ts
  src/lib/workflow-catalog/browser/catalog-list.client.test.ts
  src/lib/workflow-catalog/browser/catalog-list.test.ts
  src/lib/workflow-catalog/browser/date-fns-tz-test-double.ts
  src/lib/workflow-catalog/browser/tailwind-colors-test-double.ts
Due: eslint --fix, prettier --write

Bump Go to 1.26.5
  server/Dockerfile
  server/go.mod
Due: none

Bump Go to 1.26.5 (#3814)
  server/Dockerfile
  server/go.mod
Due: none

Remove static customUI examples
  static/custom-ui-examples/top-nav.html
  static/custom-ui-examples/top-sub-nav.html
  static/custom-ui-examples/workflow-header.html
Due: none
