Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Add show more button
  src/lib/components/workers/serverless-worker-form/create-version-form.svelte
  src/lib/components/workers/serverless-worker-form/recent-versions.svelte
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write, stylelint --fix

a11y(1.4.13): migrate saved-query nav tooltips to Tooltip primitive
  src/lib/components/standalone-activities/saved-views.svelte
  src/lib/pages/saved-query-views.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: fix prettier formatting on tooltip migration files
  src/lib/components/standalone-activities/saved-views.svelte
  src/lib/pages/saved-query-views.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make sure invalid cron specs are truly dropped
  src/lib/components/schedule/utilities/get-request-body.test.ts
Due: eslint --fix, prettier --write

Improve validation for endAfterOcurrences
  src/lib/components/schedule/schedule-form/schedule-details-card.svelte
  src/lib/components/schedule/schema/form.ts
Due: eslint --fix, prettier --write, stylelint --fix

Default to schedule's overlap policy
  src/lib/components/schedule/schedule-action-modals/trigger-schedule-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update e2e test to reflect change
  tests/integration/schedule-actions.spec.ts
Due: eslint --fix, prettier --write

fix(cloud-nav): animate width on expand/collapse
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Bump Go 1.26.3→1.26.4 (stdlib crypto/x509, mime, net/textproto CVE fixes)
  server/Dockerfile
  server/go.mod
Due: none

Default includeHeartbeatDetails and includeLastFailure to true for getActivityExecution and pollActivityExecution (#3521)
  src/lib/services/standalone-activities.ts
Due: eslint --fix, prettier --write

update start SANO form to match current designs
  src/lib/components/standalone-nexus-operations/standalone-nexus-operations-guard.svelte
  src/lib/components/standalone-nexus-operations/start-standalone-nexus-operation-form/form.svelte
  src/lib/components/standalone-nexus-operations/start-standalone-nexus-operation-form/operation-policies-modal.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/i18n/locales/en/standalone-nexus-operations.ts
  src/lib/pages/start-standalone-nexus-operation.svelte
  src/lib/utilities/namespace-capabilities.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/nexus-operations/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Just use index for key instead of summary text, summary text can be duplicate
  src/lib/components/schedule/schedules-list/schedule-frequency.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix schedules: duplicate key (#3612)
  src/lib/components/schedule/schedules-list/schedule-frequency.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add check for aborted in .then
  src/lib/pages/worker-deployment-version-create.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove preview badge (#3581)
  src/lib/layouts/workers-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add existing versions to worker create deployment version form (#3601)
  src/lib/components/workers/serverless-worker-form/create-version-form.svelte
  src/lib/components/workers/serverless-worker-form/recent-versions.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/worker-deployment-version-create.svelte
Due: eslint --fix, prettier --write, stylelint --fix

convert default duration value to empty string and guard non-strings
  src/lib/holocene/duration-input/duration-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix schedules -e.trim not a function (#3613)
  src/lib/holocene/duration-input/duration-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix breadcrumb text
  src/lib/i18n/locales/en/standalone-nexus-operations.ts
Due: eslint --fix, prettier --write

Update SAA list view
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-body-cell.svelte
  src/lib/components/standalone-activities/activity-header.svelte
  src/lib/i18n/locales/en/standalone-activities.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/standalone-activity-details.svelte
  src/lib/stores/configurable-table-columns.ts
  src/lib/stores/search-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update SAA details view
  src/lib/components/standalone-activities/activity-header.svelte
  src/lib/i18n/locales/en/standalone-activities.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update to use shared no workers polling alert
  src/lib/components/workers/no-workers-polling-alert.svelte
  src/lib/layouts/standalone-activity-layout.svelte
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix strict ts errors
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-body-cell.svelte
  src/lib/components/standalone-activities/activity-header.svelte
  src/lib/layouts/standalone-activity-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix width of ComputeBadge in VersionTableRow
  src/lib/components/deployments/compute-badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix width of ComputeBadge in VersionTableRow (#3615)
  src/lib/components/deployments/compute-badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update saa table cell values
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-body-cell.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(cloud-nav): animate and stabilize side-nav collapse (#3606)
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add close time to default columns
  src/lib/stores/configurable-table-columns.ts
Due: eslint --fix, prettier --write

Get milliseconds for date not only sub-second portion
  src/lib/components/schedule/schedule-view/workflow-runs-recent.svelte
  src/lib/components/schedule/schedule-view/workflow-runs-upcoming.svelte
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write, stylelint --fix

Keep getMilliseconds, add comment to differentiate
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write

fix - schedules recent/upcoming runs - sort issue (#3616)
  src/lib/components/schedule/schedule-view/workflow-runs-recent.svelte
  src/lib/components/schedule/schedule-view/workflow-runs-upcoming.svelte
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write, stylelint --fix

Move timestamp out of translate
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write, stylelint --fix

Move timestamp out of translate (#3617)
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(sano): show field-level error and toast on duplicate operation ID (409)
  src/lib/components/standalone-nexus-operations/start-standalone-nexus-operation-form/form.svelte
  src/lib/i18n/locales/en/standalone-nexus-operations.ts
  src/lib/services/standalone-nexus-operations.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(sano): show completed operation error state for allow-duplicate-failed-only policy
  src/lib/components/standalone-nexus-operations/start-standalone-nexus-operation-form/form.svelte
  src/lib/i18n/locales/en/standalone-nexus-operations.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix SAA and WF consistency (#3614)
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-body-cell.svelte
  src/lib/components/standalone-activities/activity-header.svelte
  src/lib/components/workers/no-workers-polling-alert.svelte
  src/lib/i18n/locales/en/standalone-activities.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/standalone-activity-layout.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/standalone-activity-details.svelte
  src/lib/stores/configurable-table-columns.ts
  src/lib/stores/search-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(sano): show conflict error state for use-existing ID conflict policy
  src/lib/components/standalone-nexus-operations/start-standalone-nexus-operation-form/form.svelte
  src/lib/i18n/locales/en/standalone-nexus-operations.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(sano): extract 409 error handlers from onUpdate catch block
  src/lib/components/standalone-nexus-operations/start-standalone-nexus-operation-form/form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(sano): update integration tests to match current form implementation
  tests/integration/start-standalone-nexus-operation.spec.ts
  tests/pages/start-standalone-nexus-operation.ts
Due: eslint --fix, prettier --write
