Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Actually remove the tests
  src/lib/components/workflow/workflows-summary-configurable-table/tests/table-body-cell.test.ts
  src/lib/components/workflow/workflows-summary-configurable-table/tests/table-header-cell.test.ts
Due: eslint --fix, prettier --write

Trying new things with Ash
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/event/event-history-timeline-helpers.ts
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/pagination.svelte
  src/lib/holocene/toggle-button/toggle-buttons.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/stores/timeline.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Get in a decent spot to review
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

WIP - list/describe batch operations
  src/app.d.ts
  src/lib/components/side-nav.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/layers-3.svelte
  src/lib/services/batch-service.ts
  src/lib/types/batch.ts
  src/lib/types/workflows.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/batch-operations/+layout.ts
  src/routes/(app)/namespaces/[namespace]/batch-operations/+page.svelte
  src/routes/(app)/namespaces/[namespace]/batch-operations/[jobId]/+layout.ts
  src/routes/(app)/namespaces/[namespace]/batch-operations/[jobId]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/batch-operations/_batch-operations-table.svelte
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

fix batch operation state type
  src/lib/types/batch.ts
  src/routes/(app)/namespaces/[namespace]/batch-operations/[jobId]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/batch-operations/_batch-operations-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

clean up batch operations
  src/app.d.ts
  src/lib/components/auto-refresh-workflow.svelte
  src/lib/components/batch-operations/details.svelte
  src/lib/components/batch-operations/header.svelte
  src/lib/components/batch-operations/results.svelte
  src/lib/components/batch-operations/table.svelte
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/layers-1.svelte
  src/lib/holocene/icon/svg/layers-2.svelte
  src/lib/i18n/locales/en/batch.ts
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/index.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/batch-operation.svelte
  src/lib/pages/batch-operation.svelte
  src/lib/pages/batch-operations.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/batch-service.ts
  src/lib/stores/batch-operations.ts
  src/lib/types/batch.ts
  src/lib/types/index.ts
  src/routes/(app)/namespaces/[namespace]/batch-operations/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/batch-operations/+layout.ts
  src/routes/(app)/namespaces/[namespace]/batch-operations/+page.svelte
  src/routes/(app)/namespaces/[namespace]/batch-operations/[jobId]/+layout.ts
  src/routes/(app)/namespaces/[namespace]/batch-operations/[jobId]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make copyable UI similar to copy button in CodeBlock
  src/lib/components/event/event-details-row.svelte
  src/lib/holocene/copyable.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix truncation in links without icons
  src/lib/holocene/link.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
Due: none

Add togglebuttons group, add displayName to group, cleanup
  src/lib/components/event/event-history-timeline-helpers.ts
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/models/event-groups/get-group-name.ts
  src/lib/models/event-groups/group-events.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/stores/workflow-run.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add Timeline to Accordion, use start/endOfMinute for min/max to provide a little zoomout ability to see all events
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-history-timeline-helpers.ts
  src/lib/components/event/event-history-timeline.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/pagination.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/pages/import-events-view.svelte
  src/lib/utilities/get-float-style.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove paginated-table changes
  src/lib/holocene/pagination.svelte
  src/lib/holocene/table/paginated-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update snapshots and pass testid
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-history-timeline.svelte
  src/lib/models/event-history/get-event-categorization.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix float tests
  src/lib/utilities/get-float-style.test.ts
Due: eslint --fix, prettier --write

Remove event type filter in timeline
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-history-timeline-helpers.ts
  src/lib/components/event/event-history-timeline.svelte
Due: eslint --fix, prettier --write, stylelint --fix

remove store from things
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
Due: eslint --fix, prettier --write, stylelint --fix

format
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Create CopyButton component
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/scheduler-table.svelte
  src/lib/components/workflow/workflow-detail.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/copyable.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/copyable/index.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

clean up batch list and describe pg
  src/lib/components/auto-refresh-workflow.svelte
  src/lib/components/batch-operations/details.svelte
  src/lib/components/batch-operations/header.svelte
  src/lib/components/batch-operations/results.svelte
  src/lib/i18n/locales/en/batch.ts
  src/lib/i18n/locales/en/common.ts
  src/lib/layouts/batch-operation.svelte
  src/lib/pages/batch-operation.svelte
  src/routes/(app)/namespaces/[namespace]/batch-operations/[jobId]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use onMount instead
  src/lib/components/event/payload-decoder.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update Copyable UI (#1656)
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/scheduler-table.svelte
  src/lib/components/workflow/workflow-detail.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/holocene/code-block.svelte
  src/lib/holocene/copyable.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/copyable/index.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Convert backticks to single quotes
  .eslintrc.cjs
Due: none

Format files
  cypress/e2e/event-history-empty-states.spec.js
  cypress/e2e/login.spec.js
  cypress/e2e/query.spec.js
  cypress/e2e/task-queues.spec.js
  cypress/e2e/workflow-actions.spec.js
  cypress/e2e/workflow-executions.spec.js
  cypress/support/commands.js
  scripts/download-temporal.ts
  src/lib/components/event/event-history-timeline.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/pending-activities/to-decoded-pending-activities.test.ts
  src/lib/services/workflow-service.ts
  src/lib/utilities/event-formatting.test.ts
  src/lib/utilities/is.test.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/schedule-comment-formatting.test.ts
  src/lib/utilities/schedule-data-formatting.test.ts
  src/lib/utilities/schedule-frequency-formatting.test.ts
  src/lib/utilities/search-type-parameter.test.ts
  src/lib/utilities/task-queue-compatibility.test.ts
  tests/test-utilities/accessibility-reporter/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add single quote eslint rule (#1660)
  .eslintrc.cjs
  cypress/e2e/event-history-empty-states.spec.js
  cypress/e2e/login.spec.js
  cypress/e2e/query.spec.js
  cypress/e2e/task-queues.spec.js
  cypress/e2e/workflow-actions.spec.js
  cypress/e2e/workflow-executions.spec.js
  cypress/support/commands.js
  scripts/download-temporal.ts
  src/lib/components/event/event-history-timeline.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/pending-activities/to-decoded-pending-activities.test.ts
  src/lib/services/workflow-service.ts
  src/lib/utilities/event-formatting.test.ts
  src/lib/utilities/is.test.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/schedule-comment-formatting.test.ts
  src/lib/utilities/schedule-data-formatting.test.ts
  src/lib/utilities/schedule-frequency-formatting.test.ts
  src/lib/utilities/search-type-parameter.test.ts
  src/lib/utilities/task-queue-compatibility.test.ts
  tests/test-utilities/accessibility-reporter/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add types
  src/lib/components/event/event-history-timeline-helpers.ts
  src/lib/components/event/event-history-timeline.svelte
  src/lib/models/event-groups/get-group-name.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix strings to single quotes
  src/lib/models/event-groups/get-group-name.ts
  src/lib/models/event-groups/group-events.test.ts
Due: eslint --fix, prettier --write

fix tests
  .vscode/settings.json
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/services/batch-service.test.ts
  src/lib/services/batch-service.ts
Due: eslint --fix, prettier --write

remove hash if target doesn't exist in event history
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add aria-hidden to icon svg if no title provided
  src/lib/holocene/icon/icon.svelte
  src/lib/holocene/icon/svg/svg.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Timeline Improvements (#1658)
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-history-timeline-helpers.ts
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/models/event-groups/get-group-name.ts
  src/lib/models/event-groups/group-events.test.ts
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/pages/import-events-view.svelte
  src/lib/stores/workflow-run.ts
  src/lib/utilities/get-float-style.test.ts
  src/lib/utilities/get-float-style.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add handlePageChange to bottom pagination buttons
  src/lib/holocene/pagination.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove default icon and label for IconButton
  src/lib/holocene/icon-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update snaps
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
Due: none

Fix Input and Results CodeBlock overflow
  src/lib/components/workflow/input-and-results.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make TimezoneSelect position responsive based on screen width
  src/lib/components/timezone-select.svelte
  src/lib/components/top-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix Input and Results CodeBlock overflow (#1663)
  src/lib/components/workflow/input-and-results.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update test
  tests/integration/workflows-list-with-advanced-visibility.spec.ts
Due: eslint --fix, prettier --write

2.18.9
  package.json
Due: prettier --write

Make TimezoneSelect position responsive based on screen width (#1664)
  src/lib/components/timezone-select.svelte
  src/lib/components/top-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add aria-hidden to Icon component if no title provided (#1662)
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/holocene/icon/icon.svelte
  src/lib/holocene/icon/svg/svg.svelte
  tests/integration/workflows-list-with-advanced-visibility.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix
