Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

refactor: make adapter callbacks async
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/codec-server-form/types.ts
  src/lib/components/search-attributes-form/config.svelte.ts
Due: eslint --fix, prettier --write

refactor: simplify form config interfaces and call adapter callbacks directly
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/codec-server-form.mdx
  src/lib/components/codec-server-form/codec-server-form.stories.svelte
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/search-attributes-form/config.svelte.ts
  src/lib/components/search-attributes-form/default-adapter.svelte.ts
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.mdx
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/lib/components/search-attributes-form/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

Replace virtual list with NamespacePicker on /select-namespace page
  package.json
  pnpm-lock.yaml
  src/global.d.ts
  src/lib/components/namespace-picker.svelte
  src/routes/(app)/select-namespace/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Show custom noResultsText
  src/lib/components/namespace-picker.svelte
  src/routes/(app)/select-namespace/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix flaky test
  tests/integration/schedules-list.spec.ts
Due: eslint --fix, prettier --write

Replace virtual list with NamespacePicker on /select-namespace page (#2806)
  package.json
  pnpm-lock.yaml
  src/global.d.ts
  src/lib/components/namespace-picker.svelte
  src/routes/(app)/select-namespace/+page.svelte
  tests/integration/schedules-list.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update to use spinner-solid in Button
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move loading icon after text
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update stroke on spinner solid icon
  src/lib/holocene/icon/svg/spinner-solid.svelte
Due: eslint --fix, prettier --write, stylelint --fix

address comments
  src/lib/components/api-error.svelte
  src/lib/components/codec-server-form/codec-server-form.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/lib/i18n/locales/en/codec-server.ts
  src/lib/i18n/locales/en/common.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove double border on skeleton table in paginated table component
  src/lib/holocene/skeleton/table.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add image back and fix darkmode lightmode images
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Wrapping TEMPORAL_CORS_ORIGIN value in quotes
  server/config/docker.yaml
Due: none

fix scrollbar in cloud on certain sizes of image
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix integration test CORS issue by disabling default UI server
  .env
  .env.test
  .env.test.e2e
  server/config/e2e.yaml
  tests/global-setup.ts
  utilities/temporal-server.ts
Due: eslint --fix, prettier --write

Fix unit test environment to use correct port
  .env.test
Due: none

Fix integration test CORS issue by using custom UI server (#2812)
  .env
  .env.test.e2e
  server/config/e2e.yaml
  tests/global-setup.ts
  utilities/temporal-server.ts
Due: eslint --fix, prettier --write

Add transparent rect for pending lines to be clickable for Firefox/Safari
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add completion links
  src/lib/models/event-history/index.ts
Due: eslint --fix, prettier --write

Add comment
  src/lib/models/event-history/index.ts
Due: eslint --fix, prettier --write

Update to use solid spinner in Button component (#2808)
  src/lib/holocene/button.svelte
  src/lib/holocene/icon/svg/spinner-solid.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove double border on skeleton table in paginated table component (#2809)
  src/lib/holocene/skeleton/table.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add transparent rect for pending lines to be clickable for Firefox/Safari (#2813)
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use completionCallback links (#2814)
  src/lib/models/event-history/index.ts
Due: eslint --fix, prettier --write

Remove some code and fix flex weirdness
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add if block to empty image, remove borders
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove empty table image
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add banner
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/holocene/monaco/markdown.svelte
  src/lib/theme/plugin.ts
  src/markdown.reset.css
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove custom Nexus types for TS SDK proper types
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-link.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/models/event-history/index.ts
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/types/nexus.ts
  src/lib/utilities/event-link-href.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove custom Nexus types for TS SDK proper types (#2815)
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-link.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/models/event-history/index.ts
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/types/nexus.ts
  src/lib/utilities/event-link-href.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix type imports, update tables
  src/lib/i18n/locales/en/nexus.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/pages/workflow-nexus-links.svelte
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/get-workflow-relationships.ts
Due: eslint --fix, prettier --write, stylelint --fix

Better paused check
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Better paused check (#2816)
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add preload back
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix darkmode image swap
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove select-none
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
