Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Add iframe custom UI extension slots
  docs/custom-ui-iframes.md
  server/config/development.yaml
  server/server/api/handler.go
  server/server/api/handler_test.go
  server/server/config/config.go
  server/server/route/ui.go
  src/lib/components/extensions/extension-slot.svelte
  src/lib/components/extensions/iframe-extension.svelte
  src/lib/components/top-nav.svelte
  src/lib/extensions/iframe-extensions.test.ts
  src/lib/extensions/iframe-extensions.ts
  src/lib/extensions/messages.test.ts
  src/lib/extensions/messages.ts
  src/lib/extensions/types.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/services/settings-service.test.ts
  src/lib/services/settings-service.ts
  src/lib/svelte-mocks/app/state.ts
  src/lib/svelte-mocks/app/stores.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  static/custom-ui-examples/top-nav.html
  static/custom-ui-examples/workflow-header.html
Due: eslint --fix, prettier --write, stylelint --fix

Document UI extensions
  docs/custom-ui-iframes.md
  src/lib/components/extensions/README.md
Due: prettier --write

Harden extension allow-same-origin handling
  src/lib/components/extensions/iframe-extension.svelte
  src/lib/extensions/README.md
  src/lib/extensions/iframe-extensions.test.ts
  src/lib/extensions/iframe-extensions.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add top-sub-nav extension slot
  server/config/development.yaml
  src/lib/extensions/types.ts
  src/routes/(app)/+layout.svelte
  static/custom-ui-examples/top-sub-nav.html
Due: eslint --fix, prettier --write, stylelint --fix

Remove development.yaml customUI
  server/config/development.yaml
  src/lib/extensions/README.md
Due: prettier --write

Harden iframe custom UI extensions
  examples/custom-ui-extension/README.md
  examples/custom-ui-extension/extension.js
  examples/custom-ui-extension/index.html
  examples/custom-ui-extension/style.css
  examples/custom-ui-extension/vite.config.ts
  package.json
  server/config/development.yaml
  server/plugins/fs_config_provider/loader_test.go
  server/server/api/handler.go
  server/server/api/handler_test.go
  server/server/config/config.go
  server/server/config/custom_ui.go
  server/server/config/custom_ui_test.go
  server/server/route/api.go
  server/server/route/ui.go
  server/server/route/ui_test.go
  server/server/server.go
  src/lib/components/extensions/extension-slot.svelte
  src/lib/components/extensions/iframe-extension.svelte
  src/lib/extensions/README.md
  src/lib/extensions/iframe-extensions.test.ts
  src/lib/extensions/iframe-extensions.ts
  src/lib/extensions/messages.test.ts
  src/lib/extensions/messages.ts
  src/lib/extensions/types.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/services/settings-service.test.ts
  src/lib/services/settings-service.ts
  src/lib/types/api.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
  src/routes/(app)/+layout.ts
  tests/integration/iframe-extensions.desktop.spec.ts
  tests/test-utilities/iframe-extension-fixture.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix opaque extension example loading
  examples/custom-ui-extension/README.md
  examples/custom-ui-extension/index.html
  examples/custom-ui-extension/server.mjs
  examples/custom-ui-extension/vite.config.ts
  package.json
  src/lib/extensions/README.md
  tests/integration/iframe-extensions.desktop.spec.ts
Due: eslint --fix, prettier --write

fix: surgical security upgrades for Dependabot alerts
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
Due: prettier --write

VLN-1585: fix claude-code-action-unhardened
  .github/workflows/claude.yml
Due: none

fix(ci): keep OIDC permission and checkout credentials for Claude
  .github/workflows/claude.yml
Due: none

VLN-1578: fix checkout-below-v7
  .github/workflows/a11y-pr-triage.yml
  .github/workflows/claude.yml
  .github/workflows/danger.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/playwright.yml
  .github/workflows/pr-review-notification.yml
  .github/workflows/pr-review-reminder.yml
  .github/workflows/release-draft.yml
  .github/workflows/release-published.yml
  .github/workflows/test.yml
  .github/workflows/trigger-downstream-updates.yml
  .github/workflows/version-bump.yml
Due: none

fix(ci): restrict Claude workflow commands
  .github/workflows/claude.yml
Due: none

fix(ci): pin checkout to v7.0.1
  .github/workflows/a11y-pr-triage.yml
  .github/workflows/chromatic.yml
  .github/workflows/claude.yml
  .github/workflows/danger.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/playwright.yml
  .github/workflows/pr-review-notification.yml
  .github/workflows/pr-review-reminder.yml
  .github/workflows/release-draft.yml
  .github/workflows/release-published.yml
  .github/workflows/test.yml
  .github/workflows/trigger-downstream-updates.yml
  .github/workflows/version-bump.yml
Due: none

fix: align heading/timestamp spacing across namespace list headers (#3805)
  src/lib/layouts/workers-layout.svelte
  src/lib/pages/standalone-activities.svelte
  src/lib/pages/standalone-nexus-operations.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: use supported SvelteKit base paths
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write, stylelint --fix

VLN-1585: remediate claude-code-action-unhardened (#3778)
  .github/workflows/claude.yml
Due: none

fix: resolve open Dependabot security alerts (#3815)
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write, stylelint --fix

VLN-1578: remediate checkout-below-v7 (#3699)
  .github/workflows/a11y-pr-triage.yml
  .github/workflows/chromatic.yml
  .github/workflows/claude.yml
  .github/workflows/danger.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/playwright.yml
  .github/workflows/pr-review-notification.yml
  .github/workflows/pr-review-reminder.yml
  .github/workflows/release-draft.yml
  .github/workflows/release-published.yml
  .github/workflows/test.yml
  .github/workflows/trigger-downstream-updates.yml
  .github/workflows/version-bump.yml
Due: none

chore: declare sideEffects for tree-shaking
  package.json
Due: prettier --write

feat(ci): add weekly frontend on-call review
  .github/WORKFLOWS.md
  .github/scripts/apply-weekly-dependency-remediation.mjs
  .github/scripts/apply-weekly-dependency-remediation.test.mjs
  .github/scripts/weekly-dependency-security-audit.mjs
  .github/scripts/weekly-dependency-security-audit.test.mjs
  .github/scripts/weekly-dependency-security-digest.mjs
  .github/scripts/weekly-dependency-security-digest.test.mjs
  .github/workflows/weekly-dependency-security-review.yml
  .github/workflows/weekly-external-contributor-review.yml
  .github/workflows/weekly-oncall-review-pr-test.yml
  .github/workflows/weekly-oncall-review.yml
  .github/workflows/weekly-vln-review.yml
  package.json
Due: prettier --write

fix(types): enforce Settings type on page data
  src/app.d.ts
  src/lib/services/settings-service.ts
  src/lib/stores/data-encoder.ts
Due: eslint --fix, prettier --write

feat(icons): add Io invite icon
  src/lib/io/icon/icons/invite.svelte
  src/lib/io/icon/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(icons): render SDK logos and the Temporal mark from Io
  src/lib/components/lines-and-dots/sdk-logo.svelte
  src/lib/holocene/logo.svelte
  src/lib/vendor/sdk-logos/dotnet-colorblock.svg
  src/lib/vendor/sdk-logos/go-colorblock.svg
  src/lib/vendor/sdk-logos/java-colorblock.svg
  src/lib/vendor/sdk-logos/php-colorblock.svg
  src/lib/vendor/sdk-logos/python-colorblock.svg
  src/lib/vendor/sdk-logos/ruby-colorblock.svg
  src/lib/vendor/sdk-logos/rust-colorblock.svg
  src/lib/vendor/sdk-logos/typescript-colorblock.svg
Due: eslint --fix, prettier --write, stylelint --fix

feat: add owner and retention period columns to namespaces table
  src/routes/(app)/namespaces/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Bump API to v1.63.5 (#3808)
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
  src/lib/i18n/locales/en/typed-errors.ts
  src/lib/types/activity-execution.ts
  src/lib/types/index.ts
Due: eslint --fix, prettier --write

Add back resetHeartbeat option to standalone activity reset
  src/lib/components/activity/activity-reset-confirmation-modal.svelte
  src/lib/components/standalone-activities/activity-actions.svelte
  src/lib/services/standalone-activities.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add back resetHeartbeat option to standalone activity reset (#3817)
  src/lib/components/activity/activity-reset-confirmation-modal.svelte
  src/lib/components/standalone-activities/activity-actions.svelte
  src/lib/services/standalone-activities.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.53.3
  package.json
  server/server/version/version.go
Due: prettier --write

feat(icons): add star-ai and messages placeholders, track derived icons
  src/lib/io/icon/PLACEHOLDERS.md
  src/lib/io/icon/README.md
  src/lib/io/icon/icons/messages.svelte
  src/lib/io/icon/icons/star-ai.svelte
  src/lib/io/icon/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(icons): use design's microchip drawing
  src/lib/io/icon/PLACEHOLDERS.md
  src/lib/io/icon/icons/microchip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore(deps): pin svelte to 5.56.3
  package.json
  pnpm-lock.yaml
Due: prettier --write

Shrink external link icon to match existing
  src/lib/holocene/menu/menu-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(input): restore the copyable/disabled/clear icon container styles
  src/lib/holocene/input/input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(button): allow sizing the leading/trailing icon
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(icons): add an optically adjusted external-link variant
  src/lib/components/deployments/deployments-empty-state.svelte
  src/lib/components/workers/serverless-worker-form/compute-fields.svelte
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/components/workflow-raw-history-link.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/io/icon/icons-optical/external-link.svelte
  src/lib/io/icon/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(icons): drop the unused icon class props, use the optical variant
  src/lib/holocene/button.svelte
  src/lib/holocene/menu/menu-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix
