Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Show Workflow and Activity Priority and Fairness in UI (#2900)
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/workflow-execution.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Show timezone set on schedule spec in schedule form
  src/lib/components/schedule/schedule-day-of-month-view.svelte
  src/lib/components/schedule/schedule-day-of-week-view.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-time-view.svelte
  src/lib/i18n/locales/en/schedules.ts
Due: eslint --fix, prettier --write, stylelint --fix

Show timezone set on schedule spec in schedule form (#2904)
  src/lib/components/schedule/schedule-day-of-month-view.svelte
  src/lib/components/schedule/schedule-day-of-week-view.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-time-view.svelte
  src/lib/i18n/locales/en/schedules.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.40.1
  package.json
  server/server/version/version.go
Due: prettier --write

Add Workflow Start Delay to Start Workflow form
  src/lib/components/activity/activity-options-update-drawer.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/i18n/locales/en/search-attributes.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add delayed badge to workflow if start delay is present
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/models/workflow-execution.ts
  src/lib/types/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add execution time to workflow details if start delay is present
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: use compact JSON format for GITHUB_OUTPUT compatibility
  .github/workflows/trigger-downstream-updates.yml
Due: none

Revert "fix: use compact JSON format for GITHUB_OUTPUT compatibility"
  .github/workflows/trigger-downstream-updates.yml
Due: none

Update timeline to show if workflow is delayed
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
  src/lib/utilities/delayed-workflow.test.ts
  src/lib/utilities/delayed-workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add trigger-downstream-updates workflow
  .github/workflows/trigger-downstream-updates.yml
Due: none

lint
  .github/workflows/trigger-downstream-updates.yml
Due: none

Show delayed badge instead of workflow status and list start delay time once executing
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/holocene/badge.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add trigger-downstream-updates workflow (#2906)
  .github/workflows/trigger-downstream-updates.yml
Due: none

fix: use correct input key for cloud-ui workflow
  .github/workflows/trigger-downstream-updates.yml
Due: none

fix: use correct input key for cloud-ui workflow (#2908)
  .github/workflows/trigger-downstream-updates.yml
Due: none

Add back old filtering
  src/lib/pages/query-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update snapshots
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Due: none

fix(workflows): add GitHub App token to version bump PR creation
  .github/workflows/version-bump.yml
Due: none

fix(workflows): add GitHub App token to version bump PR creation (#2910)
  .github/workflows/version-bump.yml
Due: none

chore: bump version to 2.41.0
  package.json
  server/server/version/version.go
Due: prettier --write

fix(workflows): fix changelog generation and PR body formatting in version bump
  .github/actions/analyze-version-bump-type/action.yml
  .github/workflows/version-bump.yml
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
Due: none

refactor: use pack-dependency-actions for version bump
  .github/actions/analyze-version-bump-type/action.yml
  .github/actions/calculate-version-bump/action.yml
  .github/workflows/version-bump.yml
Due: none

chore: remove serena cache files from version control
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
Due: none

fix(workflows): fix changelog generation and PR body formatting in version bump (#2912)
  .github/actions/analyze-version-bump-type/action.yml
  .github/actions/calculate-version-bump/action.yml
  .github/workflows/version-bump.yml
Due: none

style: fix formatting in version-bump workflow
  .github/workflows/version-bump.yml
Due: none

style: fix formatting in version-bump workflow (#2914)
  .github/workflows/version-bump.yml
Due: none

Add save/edit/delete view modals
  src/lib/components/search-attribute-filter/delete-view-modal.svelte
  src/lib/components/search-attribute-filter/edit-view-modal.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/save-view-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix error in edit modal
  src/lib/components/search-attribute-filter/edit-view-modal.svelte
  src/lib/components/search-attribute-filter/save-view-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor query stack buttons
  src/lib/pages/query-stack.svelte
  src/lib/stores/saved-queries.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add task failure count
  src/lib/pages/query-stack.svelte
  src/lib/stores/saved-queries.ts
Due: eslint --fix, prettier --write, stylelint --fix

ci(workflows): add path filter to trigger-downstream-updates
  .github/workflows/trigger-downstream-updates.yml
Due: none

ci(workflows): add path filter to trigger-downstream-updates (#2916)
  .github/workflows/trigger-downstream-updates.yml
Due: none

More UI stuff
  src/lib/components/workflow/power-filter/index.svelte
  src/lib/holocene/input/input.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/saved-query-views.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add test sentence in README.
  README.md
Due: prettier --write

Remove test sentence
  README.md
Due: prettier --write

Move files to refactor
  src/lib/components/workflow/power-filter/filter/boolean-filter.svelte
  src/lib/components/workflow/power-filter/filter/close-filter-button.svelte
  src/lib/components/workflow/power-filter/filter/conditional-menu.svelte
  src/lib/components/workflow/power-filter/filter/datetime-filter.svelte
  src/lib/components/workflow/power-filter/filter/delete-view-modal.svelte
  src/lib/components/workflow/power-filter/filter/duration-filter.svelte
  src/lib/components/workflow/power-filter/filter/edit-view-modal.svelte
  src/lib/components/workflow/power-filter/filter/filter-list.svelte
  src/lib/components/workflow/power-filter/filter/index.svelte
  src/lib/components/workflow/power-filter/filter/list-filter.svelte
  src/lib/components/workflow/power-filter/filter/number-filter.svelte
  src/lib/components/workflow/power-filter/filter/save-view-modal.svelte
  src/lib/components/workflow/power-filter/filter/search-attribute-menu.svelte
  src/lib/components/workflow/power-filter/filter/status-filter.svelte
  src/lib/components/workflow/power-filter/filter/text-filter.svelte
  src/lib/components/workflow/power-filter/index.svelte
  src/lib/components/workflow/power-filter/manual-query.svelte
  src/lib/components/workflow/power-filter/search.svelte
  src/lib/pages/saved-query-views.svelte
  src/lib/stores/saved-queries.ts
Due: eslint --fix, prettier --write, stylelint --fix

Continue work on filter list
  src/lib/components/workflow/power-filter/filter/index.svelte
  src/lib/components/workflow/power-filter/filter/status-filter.svelte
  src/lib/components/workflow/power-filter/index.svelte
  src/lib/components/workflow/power-filter/manual-query.svelte
  src/lib/holocene/chip.svelte
Due: eslint --fix, prettier --write, stylelint --fix
