Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

a11y(2.1.1): guard global r/R keydown so text inputs can receive the letter (#3589)
  src/lib/components/workflow/metadata/workflow-current-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

a11y(2.4.6): add drawer-content-empty-title entry to manifest
  scripts/a11y/manifest.yml
Due: none

a11y(2.4.6): retain drawer top padding when header is omitted + cover in Storybook
  src/lib/holocene/drawer-content.svelte
  src/lib/holocene/drawer.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(markdown-editor): disable chromatic snapshot for preview story
  src/lib/holocene/markdown-editor/markdown-editor.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove compute-badge Storybook story (DT-4174)
  src/lib/components/deployments/compute-badge.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(markdown-editor): disable chromatic snapshot for preview story (#3631)
  src/lib/holocene/markdown-editor/markdown-editor.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Revert "Remove compute-badge Storybook story (DT-4174)"
  src/lib/components/deployments/compute-badge.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

a11y(4.1.2): Table / ProgressBar / Loading primitives — expose aria-busy on data-refresh regions (#3555)
  src/lib/components/status-counts.svelte
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/holocene/loading.svelte
  src/lib/holocene/table/table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

a11y(4.1.3): Add live-region wrappers for workflow status, event count, filter counts, and Banner (#3561)
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/live-count-announcer.svelte
  src/lib/components/workflow-status.svelte
  src/lib/holocene/banner/banner.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/standalone-activities.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/utilities/count-announcer.test.ts
  src/lib/utilities/count-announcer.ts
Due: eslint --fix, prettier --write, stylelint --fix

a11y(2.4.6): guard DrawerContent against empty <h2> when title is omitted (#3595)
  scripts/a11y/manifest.yml
  src/lib/holocene/drawer-content.svelte
  src/lib/holocene/drawer.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: add test coverage for nested inert focus traps
  src/lib/utilities/focus-trap.test.ts
Due: eslint --fix, prettier --write

chore(nit): add tabindex="-1" for drawer and maximizable
  src/lib/holocene/drawer.svelte
  src/lib/holocene/maximizable/maximizable.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: add order of acitons comment to drawer component
  src/lib/holocene/drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

News Feed (#3596)
  server/config/development.yaml
  server/config/docker.yaml
  server/config/with-auth.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/components/news-feed/news-feed-modal.svelte
  src/lib/components/news-feed/news-feed-widget.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/megaphone-unread.svelte
  src/lib/holocene/icon/svg/megaphone.svelte
  src/lib/holocene/markdown-editor/preview.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/services/news-feed-service.test.ts
  src/lib/services/news-feed-service.ts
  src/lib/services/settings-service.test.ts
  src/lib/services/settings-service.ts
  src/lib/stores/news-feed.test.ts
  src/lib/stores/news-feed.ts
  src/lib/svelte-mocks/app/state.ts
  src/lib/svelte-mocks/app/stores.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/types/news-feed.ts
  src/lib/utilities/get-codec.test.ts
  src/lib/utilities/news-feed.test.ts
  src/lib/utilities/news-feed.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/render/+server.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: imperatively portal in maximize
  src/lib/holocene/maximizable/maximizable.svelte
Due: eslint --fix, prettier --write, stylelint --fix

bump version
  package.json
Due: prettier --write

bump version
  server/server/version/version.go
Due: none

Fix CodeMirror Lezer dependency mismatch
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix CodeMirror Lezer dependency mismatch (#3632)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: restore max width to avoid visual regression
  src/lib/components/standalone-activities/saved-views.svelte
  src/lib/pages/saved-query-views.svelte
Due: eslint --fix, prettier --write, stylelint --fix

test: dismiss policies drawer before submit in nexus operation specs
  tests/integration/start-standalone-nexus-operation.desktop.spec.ts
  tests/pages/start-standalone-nexus-operation.ts
Due: eslint --fix, prettier --write

refactor(event-groups): eventList-based group model
  src/lib/models/event-groups/create-event-group.test.ts
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/group-events.test.ts
  src/lib/models/event-groups/index.ts
Due: eslint --fix, prettier --write

feat(timeline): history-graph and shared lines-and-dots pieces
  src/lib/components/lines-and-dots/end-time-interval.svelte
  src/lib/components/lines-and-dots/event-history-legend.svelte
  src/lib/components/lines-and-dots/history-graph/constants.ts
  src/lib/components/lines-and-dots/history-graph/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/history-graph/history-graph.svelte
  src/lib/components/lines-and-dots/history-graph/positioning.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(utilities): time formatting, timeline sorting, type predicates
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/format-time.ts
  src/lib/utilities/type-predicates.ts
Due: eslint --fix, prettier --write

refactor(timeline): remove the old SVG timeline
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/graph-widget.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row-rendering.test.ts
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-icon-defs.svelte
  src/lib/components/lines-and-dots/svg/timeline-icon.svelte
  src/lib/components/lines-and-dots/svg/timeline-positioning.test.ts
  src/lib/components/lines-and-dots/svg/timeline-positioning.ts
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(stores): event-view/actions-ready stores and history context
  src/lib/stores/event-view.ts
Due: eslint --fix, prettier --write

chore(timeline): perf/test harness, e2e specs, docs, tooling
  .stylelintrc
  docs/timeline-architecture.md
  package.json
  tests/integration/timeline-collapse-idle-time.spec.ts
  tests/integration/timeline-graph-accessible-names.spec.ts
Due: eslint --fix, prettier --write

feat(timeline): wire the timeline into layouts and pages
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(components): shared holocene tweaks and composited heartbeat
  src/lib/components/heart-beat-indicator.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/timeline-collapse.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/holocene/zoom-svg.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(events): event/payload/activity component updates
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(services): streaming event buffer, bidirectional fetch, live poll
  src/lib/services/events-service.ts
  src/lib/services/fetch-bidirectional.ts
  src/lib/services/grouped-event-buffer.ts
Due: eslint --fix, prettier --write

chore(i18n): timeline strings
  src/lib/i18n/locales/en/events.ts
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write

feat(timeline): HTML timeline-graph rendering layer
  src/lib/components/lines-and-dots/colors.ts
  src/lib/components/lines-and-dots/constants.test.ts
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/timeline-graph/build-time-segments.ts
  src/lib/components/lines-and-dots/timeline-graph/constants.ts
  src/lib/components/lines-and-dots/timeline-graph/graph-widget.svelte
  src/lib/components/lines-and-dots/timeline-graph/group-details-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/primitives.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline-axis.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-collapsed-layer.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-icon-defs.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-positioning.test.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline-positioning.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline-scale.svelte.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline.svelte.test.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline.svelte.ts
  src/lib/components/lines-and-dots/timeline-graph/timespan.ts
  src/lib/components/lines-and-dots/timeline-graph/types.ts
  src/lib/components/lines-and-dots/timeline-graph/viewport.svelte.ts
  src/lib/components/lines-and-dots/timeline-graph/workflow-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move getFirstWholeNumberUnit to DurationInput
  src/lib/components/schedule/schedule-form/schedule-policies-drawer.svelte
  src/lib/holocene/duration-input/duration-input.svelte
  src/lib/holocene/duration-input/duration-input.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add initialTimeoutUnit check for SAA
  src/lib/components/standalone-activities/start-standalone-activity-form/form.svelte
  src/lib/services/standalone-activities.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix pending nexus operation scheduleToStartTimeout
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use DurationInput on start workflow
  src/lib/holocene/duration-input/duration-input.svelte
  src/lib/pages/start-workflow.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update defaults to match workflow defaults
  src/lib/components/schedule/constants.ts
  src/lib/components/schedule/utilities/get-request-body.test.ts
  src/lib/components/schedule/utilities/get-request-body.ts
  src/lib/i18n/locales/en/schedules.ts
Due: eslint --fix, prettier --write

Fix row grid if button is not visible
  src/lib/components/search-attributes-form/search-attribute-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update defaults to match workflow defaults (#3634)
  src/lib/components/schedule/constants.ts
  src/lib/components/schedule/utilities/get-request-body.test.ts
  src/lib/components/schedule/utilities/get-request-body.ts
  src/lib/i18n/locales/en/schedules.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
