Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Fix formatting
  src/lib/components/event/event-summary.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Only show state transitions if OSS (#2631)
  src/lib/components/lines-and-dots/workflow-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat: add HTTP API environment and update Temporal client
  .env.http-api
  package.json
  src/lib/services/search-attributes-service.ts
  src/lib/utilities/temporal-client.ts
Due: eslint --fix, prettier --write

2.36.8
  package.json
Due: prettier --write

Remove events/type route and use first event
  src/lib/components/event/event-link.svelte
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/events/type/[type]/+page.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove events/type route and use first event (#2633)
  src/lib/components/event/event-link.svelte
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/events/type/[type]/+page.ts
Due: eslint --fix, prettier --write, stylelint --fix

change query params to be reactive
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedule-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

styling tweaks
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-search-attributes-inputs.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add min-h-screen to fix scroll gap on nav
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

change element type to button
  src/lib/holocene/tab/tab.svelte
Due: eslint --fix, prettier --write, stylelint --fix

change element type to button (#2635)
  src/lib/holocene/tab/tab.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update chips from values
  src/lib/holocene/input/chip-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update chips from values (#2637)
  src/lib/holocene/input/chip-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.36.9
  package.json
Due: prettier --write

Remove key
  src/lib/pages/start-workflow.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove scrollTo
  src/lib/pages/start-workflow.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.36.10
  package.json
Due: prettier --write

Remove #key block for Input on Start Workflow (#2639)
  src/lib/pages/start-workflow.svelte
Due: eslint --fix, prettier --write, stylelint --fix

move bg color of header out of custom class
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

move bg color of header out of custom class (#2642)
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.36.11
  package.json
Due: prettier --write

Add min-h-screen to fix scroll gap on nav (#2636)
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix things I broke
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedule-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fetch direct workflows. WIP
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/services/workflow-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make event timestamp copyable
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update lockfile
  pnpm-lock.yaml
Due: none

feat(workspaces/schemas): add workspace and schema generation scripts
  .tool-versions
  packages/schemas/.eslintignore
  packages/schemas/.eslintrc.cjs
  packages/schemas/.gitignore
  packages/schemas/.npmrc
  packages/schemas/.prettierignore
  packages/schemas/.prettierrc
  packages/schemas/LICENSE
  packages/schemas/README.md
  packages/schemas/bun.lock
  packages/schemas/package.json
  packages/schemas/scripts/generate-schema/index.ts
  packages/schemas/scripts/generate-types/index.ts
  packages/schemas/scripts/lib/prettier.ts
  packages/schemas/tsconfig.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

feat(workspaces): add schemas and update dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(schemas): Add README for the schemas package
  packages/schemas/README.md
Due: prettier --write

refactor(search-attributes): poc generated schema usage
  packages/schemas/README.md
  src/lib/services/search-attributes-service.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/map-entries.ts
  src/lib/utilities/screaming-enums.ts
Due: eslint --fix, prettier --write

feat(search-attributes): improve error handling and naming
  src/lib/services/search-attributes-service.ts
Due: eslint --fix, prettier --write

Make event timestamp copyable (#2647)
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update version.go to v2.36.2
  server/server/version/version.go
Due: none

Update version.go to v2.36.2 (#2649)
  server/server/version/version.go
Due: none

Remove unused page, refactor expand logic to be a prop and remove unused expandAll prop
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.36.12
  package.json
Due: prettier --write

Remove unused page, refactor expand logic to be a prop and remove unused expandAll prop (#2651)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update version.go to v2.36.3
  server/server/version/version.go
Due: none
