Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Add responsive font sizing and update other heading elements
  src/app.css
  src/lib/components/data-encoder-settings.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/schedule/schedule-day-of-month-view.svelte
  src/lib/components/schedule/schedule-day-of-week-view.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/schedule/schedules-time-view.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/pages/import-events-view.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/workflow-metadata.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Handle no cause in Lines and Dots, update UI for WorkflowErro
  server/go.mod
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/holocene/alert.svelte
  src/lib/i18n/locales/en/common.ts
Due: eslint --fix, prettier --write, stylelint --fix

Don't update go.mod
  server/go.mod
Due: none

Dont need to stringify
  src/lib/components/lines-and-dots/workflow-error.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use text
  src/lib/components/lines-and-dots/workflow-error.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Handle undefined cause in single function and add test
  server/go.sum
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/utilities/screaming-enums.test.ts
  src/lib/utilities/screaming-enums.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix WorkflowTaskFailed Alert when Cause is not provided (#2230)
  server/go.sum
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/holocene/alert.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/utilities/screaming-enums.test.ts
  src/lib/utilities/screaming-enums.ts
Due: eslint --fix, prettier --write, stylelint --fix

2.28.7
  package.json
Due: prettier --write

Fix alert
  src/lib/holocene/alert.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix alert (#2233)
  src/lib/holocene/alert.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.28.8
  package.json
Due: prettier --write

Add default font size and weight for body
  src/app.css
Due: stylelint --fix

Remove set icon size in Link component
  src/lib/holocene/link.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor encoding and decoding to use same token logic and add unit tests
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
Due: eslint --fix, prettier --write

WIP: vertical
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph-vertical-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Vertical compact looking better
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph-vertical-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical.svelte
Due: eslint --fix, prettier --write, stylelint --fix

use order names
  src/lib/i18n/locales/en/events.ts
Due: eslint --fix, prettier --write

Refactor encoding and decoding to use same token logic and add unit tests (#2237)
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
Due: eslint --fix, prettier --write

Posts with flag
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/compact-flag-posts.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/flag.svelte
  src/lib/holocene/sine-wave.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Set editable in codemirror EditorView
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Bump @codemirror/view version for readOnly bug patch
  package.json
  pnpm-lock.yaml
Due: prettier --write

update range colors
  src/lib/holocene/input/range-input.svelte
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix editable CodeBlock (#2239)
  package.json
  pnpm-lock.yaml
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update range colors (#2240)
  src/lib/holocene/input/range-input.svelte
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add search attributes to create schedule UI
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input.svelte
  src/lib/components/workflow/start-workflow-search-attributes.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedules-create.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/types/index.ts
  src/lib/types/schedule.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add search attributes to edit schedule UI
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/workflow/search-attribute-input.svelte
  src/lib/pages/schedule-edit.svelte
  src/lib/stores/schedules.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix search attribute inputs based on search attribute type
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/components/workflow/search-attribute-input/number-input.svelte
  src/lib/components/workflow/search-attribute-input/text-input.svelte
  src/lib/stores/search-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add search attributes to schedule view UI
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/pages/schedule-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

remove expand when slot is empty
  server/go.mod
  server/go.sum
  src/lib/holocene/accordion.stories.svelte
  src/lib/holocene/accordion.svelte
Due: eslint --fix, prettier --write, stylelint --fix

put div in test
  src/lib/holocene/accordion.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update server/go.mod
  server/go.mod
Due: none

move if statement
  src/lib/holocene/accordion.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Dispatch ChangeSet instead of creating new EditorState on resetView in CodeBlock
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Dispatch ChangeSet instead of creating new EditorState on resetView in CodeBlock (#2243)
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add fixed text styles for heading elements and use apply
  .vscode/settings.json
  src/app.css
Due: prettier --write, stylelint --fix

Add body text style classes to base
  src/app.css
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Move text styles to separate plugin
  src/app.css
  src/lib/theme/plugin.ts
  src/lib/theme/preset.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

2.28.9
  package.json
Due: prettier --write

change min text color
  src/lib/holocene/input/input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
