Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

use url hash to preserve event ID on refresh
  src/lib/components/event/event-summary.svelte
Due: pnpm lint:fix, stylelint --fix

Update unit tests
  src/lib/stores/bulk-actions.test.ts
Due: pnpm lint:fix, prettier --write

Disabled Apply when invalid or unspecified relative time
  src/lib/components/workflow/filter-search/datetime-filter.svelte
Due: pnpm lint:fix, stylelint --fix

Add check for selected prop to MenuItem
  src/lib/holocene/menu/menu-item.svelte
Due: pnpm lint:fix, stylelint --fix

Refactor SearchAttributeMenu
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
Due: pnpm lint:fix, stylelint --fix

Remove Parent Workflow ID column (#1606)
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

toggle button a11y
  src/lib/holocene/toggle-button/toggle-button.svelte
Due: pnpm lint:fix, stylelint --fix

Use close icon and ghost variant for close filter button
  src/lib/components/workflow/filter-search/boolean-filter.svelte
  src/lib/components/workflow/filter-search/close-filter-button.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/number-filter.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
Due: pnpm lint:fix, stylelint --fix

Use IconButton for CloseFilter
  src/lib/components/workflow/filter-search/close-filter-button.svelte
Due: pnpm lint:fix, stylelint --fix

Update snapshot
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
Due: none

Better check for enabled
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/bulk-actions.test.ts
  src/lib/stores/group-by-enabled.ts
  src/lib/stores/workflows.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

add noScroll on goto
  src/lib/components/event/event-summary.svelte
Due: pnpm lint:fix, stylelint --fix

fix icon button so it stays rounded
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/holocene/icon-button.svelte
Due: pnpm lint:fix, stylelint --fix

replace overflow-scroll with overflow-auto
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/table/paginated-table.svelte
Due: pnpm lint:fix, stylelint --fix

update snaps
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
Due: none

Update protos and add system info api
  server/proto/api/temporal/api/workflowservice/v1/service.proto
Due: none

replace overflow-scroll with overflow-auto (#1619)
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/table/paginated-table.svelte
Due: pnpm lint:fix, stylelint --fix

Update protos and add system info api (#1620)
  server/proto/api/temporal/api/workflowservice/v1/service.proto
Due: none

Disable relative vs absolute inputs
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/holocene/date-picker.svelte
  src/lib/holocene/time-picker.svelte
Due: pnpm lint:fix, stylelint --fix

UI updates to WorkflowFilterSearch (#1613)
  src/lib/components/workflow/filter-search/boolean-filter.svelte
  src/lib/components/workflow/filter-search/close-filter-button.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/number-filter.svelte
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/date-picker.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/time-picker.svelte
Due: pnpm lint:fix, stylelint --fix

toggle button a11y (#1618)
  src/lib/holocene/toggle-button/toggle-button.svelte
Due: pnpm lint:fix, stylelint --fix

make prettier and eslint play nice
  .eslintrc.cjs
  .lintstagedrc.json
  .prettierrc
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

add lint:ci so will fail in ci
  .github/workflows/lint-and-test.yml
  .lintstagedrc.json
  package.json
Due: prettier --write

organize imports on save
  .vscode/settings.json
Due: prettier --write

update snaps from tailwind class order changes
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
Due: none

2.18.3
  package.json
Due: prettier --write

2.18.3 (#1622)
  package.json
Due: prettier --write

Fix safari button when href is present
  src/lib/holocene/button.svelte
Due: pnpm lint:fix, stylelint --fix

Update snaps
  src/lib/holocene/__snapshots__/button.test.ts.snap
Due: none

Fix "Worklfow terminated" typo
  src/lib/i18n/locales/en/workflows.ts
Due: pnpm lint:fix, prettier --write

Fix safari button when href is present (#1623)
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/button.svelte
Due: pnpm lint:fix, stylelint --fix

prevent split button menu button from growing
  src/lib/holocene/split-button.svelte
Due: pnpm lint:fix, stylelint --fix

prevent split button menu button from growing (#1625)
  src/lib/holocene/split-button.svelte
Due: pnpm lint:fix, stylelint --fix

2.18.4
  package.json
Due: prettier --write

2.18.4 (#1626)
  package.json
Due: prettier --write

Use goto in schedules, add key block
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/pages/schedule-view.svelte
Due: pnpm lint:fix, stylelint --fix

Use goto in schedules, add key block (#1627)
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/pages/schedule-view.svelte
Due: pnpm lint:fix, stylelint --fix

Fix "Worklfow terminated" typo (#1624)
  src/lib/i18n/locales/en/workflows.ts
Due: pnpm lint:fix, prettier --write

2.18.5
  package.json
Due: prettier --write

Path conditions:
  pnpm lint:fix: (any of: *.{ts,js}) or (any of: *.{css,postcss,svelte})
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,postcss,svelte}
