Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Add text-nowrap to Badge component
  src/lib/holocene/badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

use DOM.purify for signal names in case of xss
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-history-timeline.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add more DOM.purify checks on all group names'
  src/lib/components/event/event-history-timeline.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove dompurify and use existing sanitize-html library
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-history-timeline.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use csp directive
  svelte.config.js
Due: eslint --fix, prettier --write

Use strict-dynamic directive for csp and fix tests cuz time is stupid
  svelte.config.js
  tests/integration/filter-search.spec.ts
Due: eslint --fix, prettier --write

Bump sanitize-hmlt to 2.12.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

Update snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
Due: none

Use auto
  svelte.config.js
Due: eslint --fix, prettier --write

Bump api to 1.29.1
  go.work.sum
  server/go.mod
  server/go.sum
Due: none

Fix test and types for new event
  src/lib/models/event-groups/get-group-id.test.ts
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/utilities/is-event-type.ts
Due: eslint --fix, prettier --write

Use sanitizeHTML for signal names and configure CSP config for Sveltekit (#1903)
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-history-timeline.svelte
  svelte.config.js
  tests/integration/filter-search.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Check for metaKey on event hot keys
  src/lib/holocene/pagination.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Check for metaKey on event hot keys (#1905)
  src/lib/holocene/pagination.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Check for valid datetime instead of exact sub string
  tests/integration/filter-search.spec.ts
Due: eslint --fix, prettier --write

Small Holocene fixes (#1904)
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/badge.svelte
  src/lib/holocene/icon-button.svelte
  tests/integration/filter-search.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update version.go to v2.25.0
  server/server/version/version.go
Due: none

Update version.go to v2.25.0 (#1906)
  server/server/version/version.go
Due: none

WIP adding duration
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add changes
  src/lib/holocene/radio-input/radio-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add new icons
  src/lib/holocene/icon/svg/beaker.svelte
  src/lib/holocene/icon/svg/binary-check.svelte
  src/lib/holocene/icon/svg/glass-broken.svelte
  src/lib/holocene/icon/svg/hidden.svelte
  src/lib/holocene/icon/svg/people.svelte
  src/lib/holocene/icon/svg/shield-check.svelte
  src/lib/holocene/icon/svg/speech-bubble.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add icon paths
  src/lib/holocene/icon/paths.ts
Due: eslint --fix, prettier --write

add new snaps
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
Due: none

Add oacity prop to line for initiated event spans
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Delete unused src/lib/utilities/is-subrow-activity.ts
  src/lib/utilities/is-subrow-activity.ts
Due: eslint --fix, prettier --write

Delete unused src/lib/utilities/is-subrow-activity.ts (#1908)
  src/lib/utilities/is-subrow-activity.ts
Due: eslint --fix, prettier --write

Refactor timeline-row to something sane
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

clean up batch operation modal
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-operation-confirmation-modal-body.svelte
  src/lib/components/workflow/client-actions/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add icons to dots
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/holocene/icon/svg/svg.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

WIP: child workflow
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix test locators
  tests/integration/workflow-bulk-actions.spec.ts
Due: eslint --fix, prettier --write

remove todo comment, it's done
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Sent all payloads to base64 encoded, support array of payloads, test encoding, fix text-subtle
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/components/schedule/schedule-notes.svelte
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/schedule/schedules-table.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/holocene/input/input.svelte
  src/lib/stores/schedules.ts
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor/rename batch operation form
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-operation-confirmation-form.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

only reset when open is true
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix batch operation for single wf (#1909)
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-operation-confirmation-form.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/components/workflow/workflow-reset-form.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/workflow-service.ts
  tests/integration/workflow-bulk-actions.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Encode single payload for schedule input
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/stores/schedules.ts
  temporal/codec-server.ts
  tests/e2e/schedules.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Move the line, looking good
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Parse and add decimal in fromSeconds
  src/lib/utilities/to-duration.test.ts
  src/lib/utilities/to-duration.ts
Due: eslint --fix, prettier --write

Add signal icon
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/signal.svelte
Due: eslint --fix, prettier --write, stylelint --fix
