Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Aria labels, default styles
  src/lib/pages/agent-marketing.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix prompt string
  src/lib/pages/agent-marketing.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add size variants to IO badges
  src/lib/io/badge-count/badge-count.stories.svelte
  src/lib/io/badge-count/badge-count.svelte
  src/lib/io/badge-count/index.ts
  src/lib/io/badge-status/badge-status.stories.svelte
  src/lib/io/badge-status/badge-status.svelte
  src/lib/io/badge-status/index.ts
  src/lib/io/badge/badge.stories.svelte
  src/lib/io/badge/badge.svelte
  src/lib/io/badge/index.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add size variants to IO badges (#3908)
  src/lib/io/badge-count/badge-count.stories.svelte
  src/lib/io/badge-count/badge-count.svelte
  src/lib/io/badge-count/index.ts
  src/lib/io/badge-status/badge-status.stories.svelte
  src/lib/io/badge-status/badge-status.svelte
  src/lib/io/badge-status/index.ts
  src/lib/io/badge/badge.stories.svelte
  src/lib/io/badge/badge.svelte
  src/lib/io/badge/index.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(deployments): hide the connection column when no version can fill it
  src/lib/components/deployments/version-table-row.svelte
  src/lib/pages/deployment.svelte
  src/lib/pages/deployment.svelte.test.ts
  src/lib/utilities/connection-status.test.ts
  src/lib/utilities/connection-status.ts
  src/lib/utilities/deployment-has-compute-config.ts
  tests/integration/deployment-refresh.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(deployments): show worker deployment connection status by default (#3852)
  src/lib/components/deployments/deployment-client-test-runner-entry.ts
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/deployment-table-row.svelte.test.ts
  src/lib/components/deployments/validate-connection-modal.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployment.svelte.test.ts
  src/lib/pages/deployments.svelte
  src/lib/utilities/connection-status.test.ts
  src/lib/utilities/connection-status.ts
  src/lib/utilities/deployment-has-compute-config.ts
  tests/integration/deployment-refresh.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add harness prompt text
  src/lib/pages/agent-marketing.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add agents route to test
  src/lib/utilities/route-for-base-path.test.ts
Due: eslint --fix, prettier --write

Fix agent page accessibility
  src/lib/pages/agent-marketing.svelte
  tests/integration/agents.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Agents Product page (#3904)
  src/lib/assets/agents/agent-harness-demo.mp4
  src/lib/assets/agents/agent-harness-preview.jpg
  src/lib/assets/agents/integration-braintrust.svg
  src/lib/assets/agents/integration-deep-agents.svg
  src/lib/assets/agents/integration-google-adk.svg
  src/lib/assets/agents/integration-langsmith.svg
  src/lib/assets/agents/integration-mastra.svg
  src/lib/assets/agents/integration-openai.svg
  src/lib/assets/agents/integration-openbox.svg
  src/lib/assets/agents/integration-parseable.svg
  src/lib/assets/agents/integration-pydantic.svg
  src/lib/assets/agents/integration-spring-ai.svg
  src/lib/assets/agents/integration-strands.svg
  src/lib/assets/agents/integration-tenuo.svg
  src/lib/assets/agents/integration-tuning-engines.svg
  src/lib/assets/agents/integration-vercel.svg
  src/lib/i18n/locales/en/common.ts
  src/lib/io/icon/README.md
  src/lib/io/icon/icon-svg-wrapper.svelte
  src/lib/io/icon/icons/agent.svelte
  src/lib/io/icon/index.ts
  src/lib/io/icon/types.ts
  src/lib/pages/agent-marketing.svelte
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/agents/+page.svelte
  tests/integration/agents.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Consistent headers
  src/lib/pages/agent-marketing.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove drop shadow from loading spinner
  src/lib/holocene/loading.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use h3
  src/lib/pages/agent-marketing.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Consistent headers (#3909)
  src/lib/pages/agent-marketing.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix test
  tests/integration/agents.spec.ts
Due: eslint --fix, prettier --write

Fix test (#3911)
  tests/integration/agents.spec.ts
Due: eslint --fix, prettier --write

Add use portal arg to menu story
  src/lib/holocene/menu/menu.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Ignore anchor's own transform when positioning
  src/lib/holocene/portal/portal.svelte
  src/lib/holocene/portal/portal.test.ts
  src/lib/holocene/portal/position-calculator.ts
Due: eslint --fix, prettier --write, stylelint --fix

Convert package export scripts to TypeScript
  package.json
  scripts/catalog/catalog-artifacts.test.ts
  scripts/generate-exports.ts
  scripts/public-exports.ts
Due: eslint --fix, prettier --write

Remove drop shadow from loading spinner (#3910)
  src/lib/holocene/loading.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make nexus registry description reusable
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix portaled menu anchor scaling
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu.stories.svelte
  src/lib/holocene/menu/menu.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix portaled menu anchor scaling (#3913)
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu.stories.svelte
  src/lib/holocene/menu/menu.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix unnecessary scroll on page
  src/lib/pages/nexus-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(demo): enable the compute provider the scenario needs
  utilities/demo/definition.ts
  utilities/demo/scenarios/agentcore-serverless-worker/definition.ts
Due: eslint --fix, prettier --write

fix(deployments): use the brand marks in the compute badge
  src/lib/components/deployments/compute-badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Polish Agents page cards, header and Integrations text
  src/lib/pages/agent-marketing.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(workers): use the small badge for the provider stage
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore(deps): resolve open Dependabot security alerts
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
  utilities/demo/scenarios/agentcore-serverless-worker/worker/go.mod
  utilities/demo/scenarios/agentcore-serverless-worker/worker/go.sum
Due: prettier --write

fix(pagination): clamp the url page before converting to an index (FE-538)
  src/lib/holocene/table/paginated-table/paginated-rebuild-harness.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

Render common errors as collapsable in a card
  src/lib/components/common-errors/common-error-accordion.svelte
  src/lib/components/common-errors/common-error-card.stories.svelte
  src/lib/components/common-errors/common-error-card.svelte
  src/lib/components/common-errors/common-error-severity.ts
  src/lib/components/workflow/workflow-common-errors.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore(deps): narrow overrides to the patched minor
  package.json
  pnpm-lock.yaml
Due: prettier --write

Make nexus registry description reusable (#3914)
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make workflow details task queue a filter link
  src/lib/components/lines-and-dots/workflow-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make workflow details task queue a filter link (#3922)
  src/lib/components/lines-and-dots/workflow-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(test): resolve the svelte client alias through node_modules/svelte (FE-538)
  vitest.config.ts
Due: eslint --fix, prettier --write

fix(test): match the active page button by class token, not substring (FE-538)
  src/lib/holocene/table/paginated-table/paginated.svelte.test.ts
Due: eslint --fix, prettier --write

Polish Agents page cards, header and Integrations text (#3917)
  src/lib/pages/agent-marketing.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update tests and set last saved on creation
  src/lib/components/saved-query-views/saved-views.svelte
  tests/integration/saved-query-views.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix
