Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

refactor(decode-payload): isolate returnDataOnly=false into decodeEventAttributesForExport
  src/lib/services/workflow-service.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/export-history.ts
Due: eslint --fix, prettier --write

refactor(decode-payload): unify searchAttributes decode branches
  src/lib/models/event-history/get-event-attributes.test.ts
  src/lib/models/event-history/to-event-history.test.ts
  src/lib/utilities/decode-payload.ts
Due: eslint --fix, prettier --write

Fix truncate issue with filter/copy buttons, use truncateValue for workers list page
  src/lib/components/workers/workers-table/workers-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/utilities/truncate-value.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add optional initial name to search attribute defintion
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

Use CountSchedules API (#3258)
  src/lib/pages/schedules.svelte
  src/lib/services/workflow-counts.ts
  tests/e2e/schedules.spec.ts
  tests/integration/disable-write-actions.spec.ts
  tests/integration/schedule-edit.spec.ts
  tests/integration/schedules-list.spec.ts
  tests/test-utilities/mock-apis.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add optional initial name to search attribute defintion (#3303)
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

Better styles, add distance between events
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-section.svelte
  src/lib/components/event/event-payloads.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Show _llm metadata on result if it exists
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-llm-metadata.svelte
  src/lib/components/event/event-payloads.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix event card label text styles to match
  src/lib/components/event/event-card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Adjust breadcrumb spacing and min-height
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

DT-3655 - add external payload count and size to workflow details (#3276)
  src/lib/components/detail-list/detail-list-label.svelte
  src/lib/components/detail-list/detail-list-text-value.svelte
  src/lib/components/detail-list/detail-list-timestamp-value.svelte
  src/lib/components/detail-list/detail-list-value.svelte
  src/lib/components/lines-and-dots/sdk-logo.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/square-info.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/workflow-execution.ts
  src/lib/types/workflows.ts
  src/lib/vendor/sdk-logos/dot-net-logo.png
  src/lib/vendor/sdk-logos/dotnet-colorblock.svg
  src/lib/vendor/sdk-logos/go-colorblock.svg
  src/lib/vendor/sdk-logos/go-logo.png
  src/lib/vendor/sdk-logos/java-colorblock.svg
  src/lib/vendor/sdk-logos/java-logo.png
  src/lib/vendor/sdk-logos/php-colorblock.svg
  src/lib/vendor/sdk-logos/php-logo.png
  src/lib/vendor/sdk-logos/python-colorblock.svg
  src/lib/vendor/sdk-logos/python-logo.png
  src/lib/vendor/sdk-logos/ruby-colorblock.svg
  src/lib/vendor/sdk-logos/ruby-logo.png
  src/lib/vendor/sdk-logos/rust-colorblock.svg
  src/lib/vendor/sdk-logos/rust-logo.png
  src/lib/vendor/sdk-logos/ts-logo.png
  src/lib/vendor/sdk-logos/typescript-colorblock.svg
Due: eslint --fix, prettier --write, stylelint --fix

refactor(decode-payload): remove settings from decode-payload/data-encoder cascade
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/metadata-decoder.svelte
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/event-history/get-event-attributes.test.ts
  src/lib/models/event-history/index.ts
  src/lib/models/event-history/to-event-history.test.ts
  src/lib/models/pending-activities/index.ts
  src/lib/models/pending-activities/to-decoded-pending-activities.test.ts
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
  src/lib/services/query-service.ts
  src/lib/services/workflow-service.ts
  src/lib/types/events.ts
  src/lib/utilities/decode-local-activity.ts
  src/lib/utilities/decode-payload-test-fixtures.ts
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/export-history.ts
  src/routes/(app)/nexus/[id]/+layout.ts
Due: eslint --fix, prettier --write, stylelint --fix

add call site map
  src/lib/utilities/decode-payload-call-site-map.md
Due: prettier --write

add phases
  src/lib/utilities/decode-payload-report.md
Due: prettier --write

Truncate to 7 characts, make copy/filter buttons w-6 instead of w-7 to allow for a little more space
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/utilities/truncate-value.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: make WorkersLayout and Deployment props backward compatible
  src/lib/layouts/workers-layout.svelte
  src/lib/pages/deployment.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove by-type option for activity commands (#3284)
  src/lib/components/activity/activity-options-update-drawer.svelte
  src/lib/components/activity/activity-pause-confirmation-modal.svelte
  src/lib/components/activity/activity-reset-confirmation-modal.svelte
  src/lib/components/activity/activity-unpause-confirmation-modal.svelte
  src/lib/i18n/locales/en/activities.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.48.3
  package.json
  server/server/version/version.go
Due: prettier --write

feat: gate expand toggle and validate connection behind serverlessWorkers flag
  src/lib/components/deployments/version-actions-menu.svelte
  src/lib/components/deployments/version-table-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Keep pending activities at the top of Timeline and Compact view
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  src/lib/utilities/order-groups-by-pending.test.ts
  src/lib/utilities/order-groups-by-pending.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: gate compute column behind serverlessWorkers capability flag
  src/lib/components/deployments/version-table-row.svelte
  src/lib/pages/deployment.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Recursive decode and enhanced type information for ease of use
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/parse-payload.test.ts
Due: eslint --fix, prettier --write

fix: rename serverlessWorkers capability to serverScaledDeployments
  src/lib/components/deployments/deployment-header.svelte
  src/lib/components/deployments/deployments-empty-state.svelte
  src/lib/components/deployments/version-actions-menu.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/pages/deployment.svelte
  src/lib/types/index.ts
  src/routes/(app)/+layout.ts
  src/routes/(app)/namespaces/[namespace]/workers/deployments/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Simplier pending check
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

rename
  src/lib/components/event/metadata-decoder.svelte
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/schedule/schedule-form/schema.ts
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/event-history/index.ts
  src/lib/models/event-history/to-event-history.test.ts
  src/lib/models/workflow-execution.ts
  src/lib/pages/standalone-activity-metadata.svelte
  src/lib/pages/standalone-activity-workers.svelte
  src/lib/services/workflow-service.ts
  src/lib/utilities/decode-local-activity.ts
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/export-history.ts
  src/lib/utilities/get-activity-status-and-count.ts
  src/lib/utilities/get-group-status-and-count.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/routes/(app)/nexus/[id]/+layout.ts
Due: eslint --fix, prettier --write, stylelint --fix

Added recursive decoding and type tagging so every payload can be correctly identified what stage it's in
  src/lib/utilities/decode-payload-recursive.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/parse-payload.test.ts
Due: eslint --fix, prettier --write

Make it a lil nicer
  src/lib/utilities/decode-payload-recursive.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/parse-payload.test.ts
Due: eslint --fix, prettier --write

code style updates
  src/lib/utilities/decode-payload-recursive.ts
Due: eslint --fix, prettier --write

Adjust breadcrumb spacing and min-height (#3304)
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add missing Nexus Operation events to event groups
  src/lib/models/event-groups/get-group-id.ts
  src/lib/models/event-groups/index.ts
  src/lib/types/events.ts
  src/lib/utilities/is-event-type.ts
Due: eslint --fix, prettier --write

fix: skip onItemsChange when visible items reference hasn't changed
  src/lib/holocene/table/paginated-table/api-paginated.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add missing Nexus Operation events to event groups (#3309)
  src/lib/models/event-groups/get-group-id.ts
  src/lib/models/event-groups/index.ts
  src/lib/types/events.ts
  src/lib/utilities/is-event-type.ts
Due: eslint --fix, prettier --write

feat: add onItemsChange callback to PaginatedTable (#3300)
  src/lib/holocene/table/paginated-table/api-paginated.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update to secondary
  src/lib/layouts/workers-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix case
  src/lib/layouts/workers-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update pre-release badge to secondary in Workers (#3310)
  src/lib/layouts/workers-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use merge, better sorted logic, fix index find
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/utilities/order-groups-by-pending.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix tests
  src/lib/models/event-history/get-event-attributes.test.ts
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/get-workflow-relationships.test.ts
Due: eslint --fix, prettier --write

fix workflow query and metadata call sites
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflow-query.svelte
Due: eslint --fix, prettier --write, stylelint --fix
