Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

stuff
  src/lib/layouts/workflow-header.svelte
  src/lib/stores/reset-workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Match dependencies with main
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: pin tsx to 3.12.7 for node compatibility
  pnpm-lock.yaml
Due: none

add reset modal
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

replace yaml
  pnpm-lock.yaml
Due: none

Update get-group-name.ts
  src/lib/models/event-groups/get-group-name.ts
Due: eslint --fix, prettier --write

Update translate.test.ts
  src/lib/i18n/translate.test.ts
Due: eslint --fix, prettier --write

Update workflow-execution.ts
  src/lib/models/workflow-execution.ts
Due: eslint --fix, prettier --write

add feedback from Steve
  pnpm-lock.yaml
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Rename WorkflowExecutionExtendedInfo to WorkflowExtendedInfo
  src/lib/layouts/workflow-header.svelte
  src/lib/models/workflow-execution.ts
  src/lib/types/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Don't use all namespaces store for namespace columns
  src/lib/stores/configurable-table-columns.ts
Due: eslint --fix, prettier --write

Update +page.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update snapshots
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Due: none

add tests
  tests/integration/workflow-reset.spec.ts
  tests/test-utilities/mocks/schedules.ts
  tests/test-utilities/mocks/workflow.ts
Due: eslint --fix, prettier --write

rm unused mock
  tests/test-utilities/mocks/workflow.ts
Due: eslint --fix, prettier --write

Add import, trying to figure out theme
  .stylelintrc
  package.json
  pnpm-lock.yaml
  src/app.css
  src/lib/holocene/input/input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

reset draft (#2682)
  src/lib/layouts/workflow-header.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/event-groups/get-group-name.ts
  src/lib/models/workflow-execution.ts
  src/lib/types/workflows.ts
  tests/integration/workflow-reset.spec.ts
  tests/test-utilities/mocks/schedules.ts
  tests/test-utilities/mocks/workflow.ts
Due: eslint --fix, prettier --write, stylelint --fix

The slog begins
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/card.svelte
  src/lib/holocene/chip.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/file-input.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/keyboard-shortcut/shortcut.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/holocene/pagination.svelte
  src/lib/holocene/progress-bar.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/holocene/scroll-to-bottom.svelte
  src/lib/holocene/scroll-to-container.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/tab-buttons/tab-button.svelte
  src/lib/holocene/tab/tab-list.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/textarea.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/holocene/tooltip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor pending activities
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/workflow/pending-activity/workflow-pending-activity.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/pending-activities/index.ts
  src/lib/models/workflow-execution.ts
  src/lib/pages/workflow-pending-activities.svelte
  src/lib/types/events.ts
  src/lib/utilities/screaming-enums.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix infinite retries
  src/lib/components/workflow/pending-activity/workflow-pending-activity.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make remaining time bold
  src/lib/components/workflow/pending-activity/workflow-pending-activity.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Undo unused export
  src/lib/models/pending-activities/index.ts
  src/lib/pages/workflow-pending-activities.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove partial
  src/lib/types/events.ts
Due: eslint --fix, prettier --write

If heartbeat details check
  src/lib/components/workflow/pending-activity/workflow-pending-activity.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove inspect, flip failures/heartbeats, better font-color
  src/lib/components/workflow/pending-activity/workflow-pending-activity.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor input-and-results code to not be scattered accross files. Fix onDecode with string
  src/lib/components/lines-and-dots/input-and-result-payloads.ts
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/utilities/encode-payload.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update unit tests
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/utilities/encode-payload.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Updates based on PR feedback
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/components/workflow/pending-activity/workflow-pending-activity.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Improved UX for Pending Activities page (#2701)
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/lines-and-dots/input-and-result-payloads.ts
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/components/workflow/pending-activity/workflow-pending-activity.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/workflow-execution.ts
  src/lib/pages/workflow-pending-activities.svelte
  src/lib/types/events.ts
  src/lib/utilities/encode-payload.test.ts
  src/lib/utilities/encode-payload.ts
  src/lib/utilities/screaming-enums.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update version.go
  server/server/version/version.go
Due: none

Add dateclear funtionality to datepicker
  src/lib/holocene/date-picker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Toggle hide child workflows as filter
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Due: eslint --fix, prettier --write, stylelint --fix

Unsvelte5 payloads, add check for payload size === 1 to render the whole payload
  src/lib/components/workflow/input-and-results-payload.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Unsvelte5 payloads, add check for payload size === 1 to render the whole payload (#2706)
  src/lib/components/workflow/input-and-results-payload.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add QuickFilters for workflows
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/quick-filters.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Due: eslint --fix, prettier --write, stylelint --fix

Check if hide children filter is applied in table row
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/stores/filters.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove pre-namespace specific logic
  src/lib/stores/configurable-table-columns.ts
Due: eslint --fix, prettier --write

Try some things, make it skinner bars
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix
