Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Remove poppins font and replace with with Inter
  src/lib/components/event/event-history-timeline.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Replace Poppins with Inter font
  tailwind.config.ts
Due: eslint --fix, prettier --write

Remove poppins from dependencies
  pnpm-lock.yaml
Due: none

use batch reset even for batch of 1
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update test snapshot
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
Due: none

Update child-workflow colors, make line default ultraviolet, move icon back before text
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/pending-detail-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/icon/svg/terminal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update test
  src/lib/components/lines-and-dots/constants.test.ts
Due: eslint --fix, prettier --write

Add icon opacity
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix type error
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make active event header color ultraviolet
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add hover state styles for darkmode copy or filter buttons
  src/lib/holocene/filter-or-copy-buttons.svelte
Due: eslint --fix, prettier --write, stylelint --fix

use batch reset even for batch of 1 (#2009)
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Color updates (#2010)
  src/lib/components/lines-and-dots/constants.test.ts
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/pending-detail-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/icon/svg/terminal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

empty credentials for gitpod testing build
  src/lib/services/data-encoder.ts
Due: eslint --fix, prettier --write

Text audit (#2008)
  package.json
  pnpm-lock.yaml
  src/app.css
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  tailwind.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add hover state styles for darkmode copy or filter buttons (#2011)
  src/lib/holocene/filter-or-copy-buttons.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add edge case for empty object in formatting
  src/lib/utilities/get-single-attribute-for-event.ts
Due: eslint --fix, prettier --write

Check for non-string in capitalize
  src/lib/utilities/format-camel-case.ts
Due: eslint --fix, prettier --write

Add edge case for empty object in formatting (#2012)
  src/lib/utilities/format-camel-case.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Due: eslint --fix, prettier --write

Fetch child workflows with ParentWorkflowId if 1.23+ and use new table
  src/lib/components/workflow/live-child-workflows-table.svelte
  src/lib/components/workflow/workflow-relationships.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor to fetchAllChildWorkflows
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/services/workflow-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Merge in main and fix conflicts
  src/lib/components/workflow-versioning-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/pollers-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

update wf reset for new reapply types in 1.24
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/select/select.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/workflow-actions.ts
  src/lib/services/workflow-service.ts
  src/lib/types/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add toggle to hide/show child workflows with parentWorkflowId query
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/stores/filters.ts
  src/lib/stores/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update secondary variant of MenuButton to match Button
  src/lib/holocene/menu/menu-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Audit NumberInput
  src/lib/components/workflow/filter-search/number-filter.svelte
  src/lib/holocene/input/number-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove unecessary text color on input
  src/lib/holocene/input/input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add config button
  src/lib/components/workflow/filter-search/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

remove blue underline
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix typed error table
  src/lib/components/workflow/workflow-typed-error.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove reference to theme and dark in input stories
  src/lib/holocene/input/input.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove dark class on simple select
  src/lib/holocene/select/simple-select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add menu for table configuration, add ability to see children and timeline inline in table
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/button.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
Due: eslint --fix, prettier --write, stylelint --fix

consistent capitalization/wording on reset strings
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write

Fetch child workflows with ParentWorkflowId if Temporal server v1.23+ (#2013)
  src/lib/components/workflow/live-child-workflows-table.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/services/workflow-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

remove blue underline (#2017)
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix import from commonJS @temporalio/proto package
  src/lib/types/index.ts
Due: eslint --fix, prettier --write

Clear page parameter when workflow list query updates
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/stores/workflows.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
  src/lib/utilities/update-query-parameters.test.ts
  src/lib/utilities/update-query-parameters.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove empty line
  src/lib/stores/workflows.ts
Due: eslint --fix, prettier --write

Set text-primary for ...
  src/lib/holocene/table/paginated-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix
