Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Move timeline to it's own tab, refactor to svelte5, rearrange
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/workflow-timeline.svelte
  src/lib/runes/workflow-history-information.svelte.ts
  src/lib/stores/event-view.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/timeline/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore(server): optimize Docker builds with .dockerignore and improved Dockerfile
  server/.dockerignore
  server/Dockerfile
Due: none

Bump api to v1.57.0
  server/go.mod
  server/go.sum
Due: none

Bump proto
  package.json
  pnpm-lock.yaml
Due: prettier --write

Bump API to v1.57.0 (#3016)
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
Due: prettier --write

chore: bump version to 2.43.3
  package.json
  server/server/version/version.go
Due: prettier --write

Add identity to workflow actions
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/services/workflow-service.ts
  src/lib/types/index.ts
  src/lib/utilities/core-context.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add identity to activity actions
  src/lib/components/activity/activity-options-update-drawer.svelte
  src/lib/components/activity/activity-pause-confirmation-modal.svelte
  src/lib/components/activity/activity-reset-confirmation-modal.svelte
  src/lib/components/activity/activity-unpause-confirmation-modal.svelte
  src/lib/services/workflow-activities-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update placeholder
  src/lib/i18n/locales/en/workflows.ts
  src/lib/utilities/core-context.ts
  src/lib/utilities/workflow-actions.test.ts
  src/lib/utilities/workflow-actions.ts
Due: eslint --fix, prettier --write

Add run Id when fetching initial values for workflow start
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/start-workflow-button.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore(server): optimize Docker builds with .dockerignore and improved Dockerfile (#3014)
  server/.dockerignore
  server/Dockerfile
Due: none

Add new ENVIRONMENT_NAME env var to set for unique color of left nav
  server/config/docker.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/services/settings-service.ts
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
  src/lib/types/index.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Change to bottomActions snippet
  src/lib/components/side-nav.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add run Id when fetching initial values for workflow start (#3019)
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/start-workflow-button.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix bottom nav
  server/config/development.yaml
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/theme/variables.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove enviroment name from developmet.yaml
  server/config/development.yaml
Due: none

Make namespaceList optional with default
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add ability for users to chose between 3 timestamp formats
  src/lib/components/batch-operations/details.svelte
  src/lib/components/batch-operations/table.svelte
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/version-details.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/format-event-attributes.ts
  src/lib/utilities/query/search-attribute-filter.ts
Due: eslint --fix, prettier --write, stylelint --fix

Allow list of valid environment names
  src/lib/utilities/environment-name.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

clean up abbreviated format
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/query/search-attribute-filter.test.ts
  src/lib/utilities/query/search-attribute-filter.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix formatDate api
  src/lib/components/deployments/version-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/query/search-attribute-filter.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add route for archived event history
  src/lib/components/command-palette/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.ts
  src/routes/(app)/namespaces/[namespace]/archival/_archival-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(auth): address PR review feedback for token refresh
  src/lib/utilities/auth-refresh.ts
  src/lib/utilities/request-from-api.ts
  utilities/oidc-server/support/configuration.ts
Due: eslint --fix, prettier --write

add tests
  src/lib/utilities/format-date.test.ts
Due: eslint --fix, prettier --write

Cleanup unused page data, add unit test
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.ts
Due: eslint --fix, prettier --write

Add pagetitle
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix type
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

Fix pagedata type
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

re-refactor formatDate API
  src/lib/components/deployments/version-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/query/search-attribute-filter.ts
Due: eslint --fix, prettier --write, stylelint --fix

clean up
  src/lib/components/event/event-card.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix timestamp in timezone select
  src/lib/components/timezone-select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add route for archived event history (#3023)
  src/lib/components/command-palette/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/[workflow]/[run]/history/+page.ts
  src/routes/(app)/namespaces/[namespace]/archival/_archival-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add base path to render endpoint
  src/lib/holocene/markdown-editor/preview.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Replace use of deprecated base with resolve from /paths
  src/lib/svelte-mocks/app/paths.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

Add deprecate to pluralize.
  src/lib/utilities/pluralize.ts
Due: eslint --fix, prettier --write

Move ziggy png under src/lib/vendor and import it
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/user-menu.svelte
  src/lib/vendor/ziggy-full-face.png
Due: eslint --fix, prettier --write, stylelint --fix

Move ziggy png under src/lib/vendor and import it (#3025)
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/user-menu.svelte
  src/lib/vendor/ziggy-full-face.png
Due: eslint --fix, prettier --write, stylelint --fix

Add base path to home logo link
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix custom public path for render endpoint (#3024)
  src/lib/holocene/markdown-editor/preview.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/svelte-mocks/app/paths.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write, stylelint --fix

use Intl.DateTimeFormat for i18n of date strings
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/query/search-attribute-filter.ts
Due: eslint --fix, prettier --write, stylelint --fix
