Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

rm broken file
  src/lib/utilities/decode-local-activity.test.ts
Due: eslint --fix, prettier --write

clean up
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

rm dumb space
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move actions out of SplitButton
  src/lib/components/workflow-actions.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Adjust responsiveness of actions
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update to svelte 5
  src/lib/components/workflow-actions.svelte
Due: eslint --fix, prettier --write, stylelint --fix

User metadata (#2796)
  server/server/route/ui.go
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/workflow/metadata/metadata-events.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-memo.svelte
  src/lib/components/workflow/metadata/workflow-search-attributes.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/components/workflow/metadata/workflow-user-metadata.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/monaco/markdown.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/theme/plugin.ts
  src/lib/utilities/route-for.ts
  src/markdown.reset.css
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/memo/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
  src/routes/(app)/render/+server.ts
  tests/integration/disable-write-actions.spec.ts
  tests/integration/workflow-metadata.spec.ts
  tests/test-utilities/mocks/workflow.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix tests
  tests/integration/disable-write-actions.spec.ts
  tests/integration/workflow-actions.spec.ts
Due: eslint --fix, prettier --write

Fix tests
  src/lib/utilities/workflow-actions.test.ts
Due: eslint --fix, prettier --write

fix paths
  src/lib/pages/workflow-memo.svelte
  src/lib/pages/workflow-search-attributes.svelte
  src/lib/pages/workflow-user-metadata.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/memo/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix paths (#2851)
  src/lib/pages/workflow-memo.svelte
  src/lib/pages/workflow-search-attributes.svelte
  src/lib/pages/workflow-user-metadata.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/memo/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/user-metadata/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make identity optional
  src/lib/services/schedule-service.ts
  src/lib/services/workflow-service.ts
  src/lib/types/schedule.ts
Due: eslint --fix, prettier --write

Add identity to startWorkflow
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make workflow actions more discoverable (#2849)
  src/lib/components/workflow-actions.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  tests/integration/disable-write-actions.spec.ts
  tests/integration/workflow-actions.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Wip pagination
  .eslintrc.cjs
  src/lib/components/pagination/api-pagination-class.svelte.ts
  src/lib/components/pagination/api-pagination-class.test.ts
  src/lib/components/pagination/api-pagination.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add animation page for fun
  .gitignore
  .serena/project.yml
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/animation.svelte
  src/routes/(app)/animation/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Beautiful gradient
  src/lib/holocene/icon/svg/animation.svelte
Due: eslint --fix, prettier --write, stylelint --fix

more steps
  src/lib/holocene/icon/svg/animation.svelte
  src/routes/(app)/animation/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add animate and delay props
  src/lib/holocene/icon/svg/animation.svelte
  src/routes/(app)/animation/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Don't use count
  src/lib/holocene/icon/svg/animation.svelte
  src/routes/(app)/animation/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Wider line, MVP
  src/lib/holocene/icon/svg/animation.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix the svg path to full svg
  src/lib/holocene/icon/svg/animation.svelte
  src/routes/(app)/animation/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Different steps
  src/routes/(app)/animation/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

in a decent fun spot
  .serena/project.yml
  src/lib/holocene/icon/svg/box-animation.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/routes/(app)/animation/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add icons
  src/lib/holocene/icon/svg/box-animation.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix start workflow page with null in search attribute
  src/lib/holocene/input/chip-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove the paths, just add above timeline
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/animation.svelte
  src/lib/holocene/icon/svg/box-animation-container.svelte
  src/lib/holocene/icon/svg/box-animation.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/routes/(app)/animation/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add copy for GrpcMessageTooLarge error
  src/lib/i18n/locales/en/typed-errors.ts
Due: eslint --fix, prettier --write

fix start workflow page with null in search attribute (#2853)
  src/lib/holocene/input/chip-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add copy for GrpcMessageTooLarge error (#2854)
  src/lib/i18n/locales/en/typed-errors.ts
Due: eslint --fix, prettier --write

Add menu position
  .gitignore
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/development_environment.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_workflow.md
  .serena/project.yml
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/menu/menu.stories.svelte
  src/lib/holocene/menu/menu.svelte
Due: eslint --fix, prettier --write, stylelint --fix

remove serena?
  .serena/cache/typescript/document_symbols_cache_v23-06-25.pkl
  .serena/memories/code_style_conventions.md
  .serena/memories/codebase_structure.md
  .serena/memories/development_environment.md
  .serena/memories/project_overview.md
  .serena/memories/suggested_commands.md
  .serena/memories/task_completion_workflow.md
  .serena/project.yml
Due: prettier --write

Use the figma matchs value for table row hover
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write

Use the figma matchs value for table row hover (#2856)
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write

Add a test to verify that the types flow correctly to the transformFunction
  src/lib/components/pagination/api-pagination-class.test.ts
Due: eslint --fix, prettier --write

only assign label in the reactive statement, don't assign in onMount
  src/lib/holocene/select/option.svelte
Due: eslint --fix, prettier --write, stylelint --fix

remove console.log
  src/lib/holocene/select/option.svelte
Due: eslint --fix, prettier --write, stylelint --fix

actually remove label assignment in onMount
  src/lib/holocene/select/option.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove storybook action
  .github/workflows/storybook-tests.yml
Due: none

Fix select option reactive loop (#2858)
  src/lib/holocene/select/option.svelte
Due: eslint --fix, prettier --write, stylelint --fix
