Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Trim schedule name on create
  src/lib/stores/schedules.ts
Due: eslint --fix, prettier --write

Trim schedule name on create (#1783)
  src/lib/stores/schedules.ts
Due: eslint --fix, prettier --write

Revert most of https://github.com/temporalio/ui/pull/1750 and add support to decode searchAttributes (non-indexedFields)
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/format-event-attributes.test.ts
  src/lib/utilities/format-event-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove console.log
  src/lib/components/event/event-details-row-expanded.svelte
Due: eslint --fix, prettier --write, stylelint --fix

remove .only in test
  src/lib/utilities/decode-payload.test.ts
Due: eslint --fix, prettier --write

Add support for decoding non-indexedFields searchAttributes and add back Search Attributes tab (#1784)
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/format-event-attributes.test.ts
  src/lib/utilities/format-event-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

WIP: Screaming enums update for workflowExeuction
  src/lib/models/workflow-execution.ts
  src/lib/types/workflows.ts
  src/lib/utilities/screaming-enums.ts
Due: eslint --fix, prettier --write

Add header slot for ApiPagination and add back search bar
  src/lib/holocene/api-pagination.svelte
  src/lib/pages/schedules.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add scheduled by id and scheduled start time to workflow table columns
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/stores/workflow-table-columns.ts
Due: eslint --fix, prettier --write, stylelint --fix

Just use fallback, no version check
  src/lib/utilities/screaming-enums.ts
Due: eslint --fix, prettier --write

Add translations
  src/lib/i18n/locales/en/schedules.ts
  src/lib/pages/schedules.svelte
  src/lib/services/schedule-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Schedules with API Pagination (#1779)
  src/lib/holocene/api-pagination.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/pages/schedules.svelte
  src/lib/services/schedule-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Ensure we can resolve serviceerror types
  server/server/api/handler.go
Due: none

Update version.go to 2.21.4 (#1762)
  server/server/version/version.go
Due: none

Unescape all (but reserved) characters
  server/server/api/handler.go
Due: none

update tests/snaps
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/table-body-cell.test.ts
Due: eslint --fix, prettier --write

DT-1654 - add scheduled by id and scheduled start time to workflow table columns (#1785)
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/table-body-cell.test.ts
  src/lib/stores/workflow-table-columns.ts
Due: eslint --fix, prettier --write, stylelint --fix

Link to event group
  src/lib/components/event/event-empty-row.svelte
  src/lib/components/event/event-history-timeline.svelte
  src/lib/holocene/link.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/event-groups/[id]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Trying some unovis fun
  package.json
  pnpm-lock.yaml
  src/lib/components/lines-and-dots/data.ts
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat: move search-attributes call
  src/lib/stores/workflows.ts
  src/routes/(app)/namespaces/[namespace]/+layout.ts
Due: eslint --fix, prettier --write

Initial pass at mapping new enums. Need to fix some types
  src/lib/components/event/event-history-timeline.svelte
  src/lib/models/event-history/index.ts
  src/lib/services/batch-service.ts
  src/lib/services/namespaces-service.ts
  src/lib/services/search-attributes-service.ts
  src/lib/services/workflow-counts.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/screaming-enums.ts
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Demonstrate we can still nowrap checkbox
  src/lib/holocene/checkbox.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Don't center use items-start
  src/lib/holocene/checkbox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

We can do this for checkbox hovers too
  src/lib/holocene/checkbox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add timeline to event group page
  src/lib/components/event/event-history-timeline-helpers.ts
  src/lib/components/event/event-history-timeline.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/workflow-history-event-group.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Moved input and fixed css selector to get siblings instead of the exact "next" element
  src/lib/holocene/checkbox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix focus css
  src/lib/holocene/checkbox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Go back to the way it was
  src/lib/holocene/checkbox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix types
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/screaming-enums.ts
Due: eslint --fix, prettier --write

Checkboxiis are now laid out with flex instead of only using absolute… (#1788)
  src/lib/holocene/checkbox.stories.svelte
  src/lib/holocene/checkbox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add rps dynamic config
  utilities/temporal-server.ts
Due: eslint --fix, prettier --write

Add icons based on event classification
  src/lib/components/event/event-history-timeline.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update colors to match existing for workflow statuses
  src/lib/components/event/event-history-timeline.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update vis-timeline
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix null error on timeline scroll with auto refresh
  src/lib/components/event/event-history-timeline.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use find instead of filter
  src/lib/pages/workflow-history-event-group.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update snapshot
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
Due: none

Add more checks for tests, add default array for pollers if none
  src/lib/services/namespaces-service.ts
  src/lib/services/pollers-service.ts
  src/lib/utilities/screaming-enums.ts
  src/lib/utilities/task-queue-compatibility.ts
Due: eslint --fix, prettier --write

WIP - dark mode
  .storybook/preview.ts
  .storybook/slot.svelte
  src/lib/components/side-nav.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/moon.svelte
  src/lib/holocene/icon/svg/sun.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/holocene/table/table.svelte
  src/lib/stores/theme.ts
  tailwind.config.cjs
Due: eslint --fix, prettier --write, stylelint --fix

Add fallback for edge case of unicode in string
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/utilities/atob.test.ts
  src/lib/utilities/atob.ts
Due: eslint --fix, prettier --write, stylelint --fix
