Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix: always-rendered live regions, conditional content
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/textarea.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: unify error patterns on primitives
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/select/select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Implemented pixi renderer
  package.json
  pnpm-lock.yaml
  src/lib/components/pixi-timeline/Timeline.svelte
  src/lib/components/pixi-timeline/adapter.ts
  src/lib/components/pixi-timeline/components/ChildWorkflowLane.svelte
  src/lib/components/pixi-timeline/components/EventInlinePanel.svelte
  src/lib/components/pixi-timeline/components/EventTooltip.svelte
  src/lib/components/pixi-timeline/components/TimelineCanvas.svelte
  src/lib/components/pixi-timeline/components/TimelineControls.svelte
  src/lib/components/pixi-timeline/components/TimelineOverview.svelte
  src/lib/components/pixi-timeline/components/TimelineScrollbar.svelte
  src/lib/components/pixi-timeline/components/TimelineScrollbarX.svelte
  src/lib/components/pixi-timeline/eventColors.ts
  src/lib/components/pixi-timeline/eventUtils.ts
  src/lib/components/pixi-timeline/renderer/PixiRenderer.ts
  src/lib/components/pixi-timeline/renderer/ViewportCuller.ts
  src/lib/components/pixi-timeline/renderer/fonts.ts
  src/lib/components/pixi-timeline/renderer/icon-textures.ts
  src/lib/components/pixi-timeline/timeline-ctx.svelte.ts
  src/lib/components/pixi-timeline/types.ts
  src/lib/layouts/workflow-fast-history-layout.svelte
  src/lib/services/fetch-bidirectional.ts
  src/lib/services/grouped-event-buffer.test.ts
  src/lib/services/grouped-event-buffer.ts
  src/lib/services/test-helpers/synthetic-events.ts
  src/lib/utilities/route-for-base-path.test.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/fasterer/+page.svelte
  svelte.config.js
Due: eslint --fix, prettier --write, stylelint --fix

Undo content wrapper changes
  src/lib/holocene/main-content-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix gutters
  src/lib/components/pixi-timeline/renderer/PixiRenderer.ts
Due: eslint --fix, prettier --write

fix: split controls to handle mobile viewports
  src/lib/holocene/zoom-svg.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: add small variant to IconButton + fix text color inheritance
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/toast.svelte
Due: eslint --fix, prettier --write, stylelint --fix

lots of sizing and icon stuff
  src/lib/components/pixi-timeline/components/EventInlinePanel.svelte
  src/lib/components/pixi-timeline/components/EventTooltip.svelte
  src/lib/components/pixi-timeline/renderer/PixiRenderer.ts
  src/lib/components/pixi-timeline/renderer/icon-textures.ts
  src/lib/services/grouped-event-buffer.test.ts
  src/lib/services/grouped-event-buffer.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/fasterer/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Gutter tests and icon stuff
  src/lib/components/pixi-timeline/renderer/gutter-layout.test.ts
  src/lib/components/pixi-timeline/renderer/gutter-layout.ts
  src/lib/components/pixi-timeline/renderer/icon-svgs.test.ts
  src/lib/components/pixi-timeline/renderer/icon-svgs.ts
  src/lib/components/pixi-timeline/renderer/viewport-clamp.test.ts
  src/lib/components/pixi-timeline/renderer/viewport-clamp.ts
Due: eslint --fix, prettier --write

feat(a11y): add createAnnouncer store for live-region messages
  src/lib/stores/announcer.test.ts
  src/lib/stores/announcer.ts
Due: eslint --fix, prettier --write

feat(a11y): add placeable LiveRegion component
  src/lib/holocene/live-region.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(a11y): announce toasts via createAnnouncer in toaster store
  src/lib/stores/toaster.test.ts
  src/lib/stores/toaster.ts
Due: eslint --fix, prettier --write

feat(a11y): announce toasts via LiveRegion; drop per-toast roles
  src/lib/holocene/toast.svelte
  src/lib/holocene/toaster.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(a11y): consolidate duplicate toaster store import
  src/lib/holocene/toaster.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Viewport clamping
  src/lib/components/pixi-timeline/renderer/PixiRenderer.ts
  src/lib/components/pixi-timeline/renderer/viewport-clamp.test.ts
Due: eslint --fix, prettier --write

fix(a11y): coordinate announcer lifetime, tidy clear(), test LiveRegion contract
  src/lib/holocene/live-region.svelte
  src/lib/holocene/toaster.svelte
  src/lib/stores/announcer.test.ts
  src/lib/stores/announcer.ts
  src/lib/stores/toaster.test.ts
  src/lib/stores/toaster.ts
  tests/integration/workflow-bulk-actions.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

test(a11y): assert default 7s announcer floor for longer durations
  src/lib/stores/announcer.test.ts
Due: eslint --fix, prettier --write

Working pretty okay now
  src/lib/components/pixi-timeline/Timeline.svelte
  src/lib/components/pixi-timeline/components/TimelineCanvas.svelte
  src/lib/components/pixi-timeline/components/TimelineControls.svelte
  src/lib/components/pixi-timeline/renderer/PixiRenderer.ts
  src/lib/components/pixi-timeline/renderer/fonts.ts
  src/lib/components/pixi-timeline/renderer/gutter-culling.test.ts
  src/lib/components/pixi-timeline/renderer/gutter-culling.ts
  src/lib/components/pixi-timeline/renderer/gutter-pin-bins.test.ts
  src/lib/components/pixi-timeline/renderer/gutter-pin-bins.ts
  src/lib/components/pixi-timeline/renderer/gutter-pin-layout.test.ts
  src/lib/components/pixi-timeline/renderer/gutter-pin-layout.ts
  src/lib/components/pixi-timeline/renderer/pack-gutter-pins.test.ts
  src/lib/components/pixi-timeline/renderer/pack-gutter-pins.ts
  src/lib/components/pixi-timeline/renderer/viewport-clamp.test.ts
  src/lib/components/pixi-timeline/renderer/viewport-clamp.ts
  src/lib/components/pixi-timeline/timeline-ctx.svelte.ts
  src/lib/components/pixi-timeline/types.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/fasterer/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Oh man the gutters are working correctly FINALLY
  src/lib/components/pixi-timeline/renderer/PixiRenderer.ts
  src/lib/components/pixi-timeline/renderer/collect-gutter-best.test.ts
  src/lib/components/pixi-timeline/renderer/collect-gutter-best.ts
  src/lib/components/pixi-timeline/renderer/pack-gutter-pins.test.ts
  src/lib/components/pixi-timeline/renderer/pack-gutter-pins.ts
Due: eslint --fix, prettier --write

gutters, scrolling etc.
  src/lib/components/pixi-timeline/renderer/PixiRenderer.ts
  src/lib/components/pixi-timeline/renderer/pack-gutter-pins.ts
  src/lib/components/pixi-timeline/renderer/scroll-snap.test.ts
  src/lib/components/pixi-timeline/renderer/scroll-snap.ts
  src/lib/components/pixi-timeline/renderer/scroll-x-pan.test.ts
  src/lib/components/pixi-timeline/renderer/scroll-x-pan.ts
Due: eslint --fix, prettier --write

a11y(2.1.1): ZoomSvg — add keyboard pan/zoom controls so the workflow family tree is operable without a mouse (#3530)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/minus.svelte
  src/lib/holocene/icon/svg/plus.svelte
  src/lib/holocene/zoom-svg.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(a11y): drop unused Toaster announcements prop, read singleton directly
  src/lib/holocene/toaster.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add nav collapsed default setting
  server/config/docker.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/services/settings-service.test.ts
  src/lib/services/settings-service.ts
  src/lib/stores/nav-open.test.ts
  src/lib/stores/nav-open.ts
  src/lib/stores/persist-store.ts
  src/lib/svelte-mocks/app/state.ts
  src/lib/svelte-mocks/app/stores.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/routes/(app)/+layout.svelte
  tests/test-utilities/mocks/settings.ts
Due: eslint --fix, prettier --write, stylelint --fix

Reorder env vars by name, set in development.yaml
  server/config/development.yaml
  server/config/docker.yaml
Due: none

Cleanup
  src/lib/components/schedule/schedule-action-modals/schedule-action-modals.svelte
  src/lib/components/schedule/schedule-view/schedule-view-loading.svelte
  src/lib/components/schedule/schedule-view/schedule-view.svelte
  src/lib/components/schedule/schedule-view/workflow-runs-recent.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Use DetailListLinkvalue
  src/lib/components/schedule/schedule-view/schedule-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

tests and scrolling and such
  src/lib/components/pixi-timeline/renderer/PixiRenderer.ts
  src/lib/components/pixi-timeline/renderer/track-index.test.ts
  src/lib/components/pixi-timeline/renderer/track-index.ts
  src/lib/services/grouped-event-buffer.test.ts
  src/lib/services/grouped-event-buffer.ts
Due: eslint --fix, prettier --write

Perf events
  scripts/perf-events.ts
  scripts/perf-signals.ts
  temporal/workflows.ts
Due: eslint --fix, prettier --write

fix rounding
  src/lib/components/schedule/schedule-action-modals/backfill-schedule-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix gaps in slot cards on worker details page
  src/lib/components/workers/worker-details/worker-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix gaps in slot cards on worker details page (#3580)
  src/lib/components/workers/worker-details/worker-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove preview badge
  src/lib/layouts/workers-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(auth): call /auth/logout endpoint on logout instead of client nav
  src/lib/stores/auth-user.test.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove font weight on cache size
  src/lib/components/workers/worker-details/worker-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove font weight on cache size (#3583)
  src/lib/components/workers/worker-details/worker-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

a11y(1.4.11): darken timeline graph status/category colors to meet 3:1 non-text contrast in light mode
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/dot.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Bump API to v1.62.14 (#3575)
  server/go.mod
  server/go.sum
Due: none

Remove webui from identity
  src/lib/utilities/core-context.ts
  src/lib/utilities/workflow-actions.test.ts
Due: eslint --fix, prettier --write

Remove identity and webui from reason
  src/lib/services/workflow-service.ts
  src/lib/utilities/workflow-actions.test.ts
  src/lib/utilities/workflow-actions.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
