Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

Update simplify-attributes.ts
  src/lib/models/event-history/simplify-attributes.ts
Due: pnpm lint:fix, prettier --write

Update workflows-summary-table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-body-cell.svelte
Due: stylelint --fix

Update workflow-activities-service.ts
  src/lib/services/workflow-activities-service.ts
Due: pnpm lint:fix, prettier --write

Fix issues with EventGroups
  src/lib/components/event/event-group-details.svelte
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/models/event-groups/get-group-for-event.ts
  src/lib/models/event-groups/get-last-event.ts
  src/lib/models/event-groups/index.ts
  src/lib/models/event-groups/is-event-groups.test.ts
  src/lib/stores/import-events.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/types/events.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Fix all the schedule type issues, fix delete schedule bug with modal
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/holocene/date-picker.svelte
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/stores/schedules.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/types/schedule.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Check for payloads property, return array if no payload
  src/lib/utilities/decode-payload.ts
Due: pnpm lint:fix, prettier --write

Remove unused imports
  src/lib/utilities/decode-payload.ts
Due: pnpm lint:fix, prettier --write

Fix decodePayload check (#1298)
  src/lib/utilities/decode-payload.ts
Due: pnpm lint:fix, prettier --write

2.13.4
  package.json
Due: prettier --write

2.13.4 (#1299)
  package.json
Due: prettier --write

rewrite tab component(s) for better a11y upgrade histoire
  histoire.config.ts
  package.json
  pnpm-lock.yaml
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/holocene/tab.svelte
  src/lib/holocene/tab/tab-list.svelte
  src/lib/holocene/tab/tab-panel.svelte
  src/lib/holocene/tab/tab.story.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/holocene/tab/tabs.svelte
  src/lib/layouts/workflow-header.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add types path to typesVersions
  package.json
Due: prettier --write

persist pinned columns width in local storage
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

no resize when batch actions visible or no columns pinned
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

fix cy selector
  cypress/integration/query.spec.js
Due: pnpm lint:fix, prettier --write

Don't decode if null value
  src/lib/utilities/decode-payload-test-fixtures.ts
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
Due: pnpm lint:fix, prettier --write

Remove .only
  src/lib/utilities/decode-payload.test.ts
Due: pnpm lint:fix, prettier --write

Don't decode if null value (#1302)
  src/lib/utilities/decode-payload-test-fixtures.ts
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
Due: pnpm lint:fix, prettier --write

uncomment story
  src/lib/holocene/tab/tab.story.svelte
Due: stylelint --fix

2.13.5
  package.json
Due: prettier --write

2.13.5 (#1303)
  package.json
Due: prettier --write

fix up accordion action styles
  src/lib/holocene/accordion.story.svelte
  src/lib/holocene/accordion.svelte
Due: stylelint --fix

Add esm-env mock
  vitest-setup.ts
Due: pnpm lint:fix, prettier --write

Again again
  .gitignore
  package.json
  pnpm-lock.yaml
  src/lib/vendor/prism/prism.cjs
Due: prettier --write

fix up accordion action styles (#1304)
  src/lib/holocene/accordion.story.svelte
  src/lib/holocene/accordion.svelte
Due: stylelint --fix

Hide support link except in cloud
  src/lib/components/workflow/workflow-typed-error.svelte
Due: stylelint --fix

Add eslint rule
  .eslintrc.cjs
Due: none

Huh turns out you need cjs in all the places if you move stuff about
  .eslintrc.cjs
  src/histoire.setup.ts
  src/routes/(app)/+layout.ts
Due: pnpm lint:fix, prettier --write

Need a new build.
  package.json
Due: prettier --write

DT-694 - persist pinned columns width in local storage (#1301)
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Refactor, cleanup
  package.json
  src/lib/components/eventV2/event-detail-badge.svelte
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-group-details.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-group-timestamp.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/last-event-card.svelte
  src/lib/components/eventV2/pending-activity-card.svelte
  src/lib/components/eventV2/pending-activity-details.svelte
  src/lib/components/eventV2/running-card.svelte
  src/lib/components/eventV2/workers-list-v2.svelte
  src/lib/components/eventV2/workflow-workers-v2.svelte
  src/lib/models/event-groups/index.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Make a wider border
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
Due: stylelint --fix

Add completed children to relationships
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
  src/lib/components/eventV2/workflow-relationships-v2.svelte
  src/lib/components/workflow/pending-child-workflows-table.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/utilities/get-workflow-relationships.test.ts
  src/lib/utilities/get-workflow-relationships.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Refactor all the event summary cards. so much better
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/components/eventV2/event-card.svelte
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-summary-card/card.svelte
  src/lib/components/eventV2/event-summary-card/collapsed.svelte
  src/lib/components/eventV2/event-summary-card/detail-badge.svelte
  src/lib/components/eventV2/event-summary-card/details.svelte
  src/lib/components/eventV2/event-summary-card/event-classification.svelte
  src/lib/components/eventV2/event-summary-card/expanded.svelte
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/final-event-card.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/last-event-card.svelte
  src/lib/components/eventV2/pending-activity-card.svelte
  src/lib/components/eventV2/running-card.svelte
  src/lib/components/eventV2/workflow-relationships-v2.svelte
  src/lib/holocene/button.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

New route for v2 history. WIP, need to fix dup layout with new layout group
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/v2/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/v2/+page.svelte
Due: stylelint --fix

Add button
  src/lib/components/eventV2/workflow-options-v2.svelte
Due: stylelint --fix

Add query
  src/lib/components/eventV2/workflow-query-v2.svelte
  src/lib/components/eventV2/workflow-stack-trace-v2.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: stylelint --fix

Fix check for colors
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-group-timestamp.svelte
  src/lib/components/eventV2/pending-activity-card.svelte
  src/lib/components/eventV2/workflow-header-v2.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Due: stylelint --fix

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,postcss,svelte}
