Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Add env var to disable workflow count refresh
  server/config/development.yaml
  server/docker/config-template.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/services/settings-service.ts
  src/lib/stores/workflows.ts
  src/lib/types/index.ts
  tests/test-utilities/mocks/settings.ts
Due: eslint --fix, prettier --write, stylelint --fix

Support IS NULL and IS NOT NULL filter search (#2298)
  src/lib/components/workflow/filter-search/boolean-filter.svelte
  src/lib/components/workflow/filter-search/conditional-menu.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/duration-filter.svelte
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/number-filter.svelte
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/utilities/is.test.ts
  src/lib/utilities/is.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Due: eslint --fix, prettier --write, stylelint --fix

Dont show milliseconds for durations over a minute, dont show millisecond decimals if duration over a second
  src/lib/models/event-groups/get-group-name.ts
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/to-duration.test.ts
  src/lib/utilities/to-duration.ts
Due: eslint --fix, prettier --write

Add more one test, remove console.log
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/to-duration.ts
Due: eslint --fix, prettier --write

Add unspecified search attribute type
  src/lib/types/workflows.ts
Due: eslint --fix, prettier --write

Timer value (#2313)
  src/lib/models/event-groups/get-group-name.ts
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/to-duration.test.ts
  src/lib/utilities/to-duration.ts
Due: eslint --fix, prettier --write

Fix styling for non-expandable Accordion
  src/lib/holocene/accordion.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update padding on Card to match Accordion
  src/lib/holocene/card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add links to workflow counts on list workflows page
  src/lib/components/workflow/workflow-counts.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update link structure
  src/lib/components/workflow/workflow-counts.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add AccordionGroup
  src/lib/holocene/accordion/accordion-group.svelte
  src/lib/holocene/accordion/accordion.stories.svelte
  src/lib/holocene/accordion/accordion.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.30.6
  package.json
Due: prettier --write

Update version.go to v2.30.3
  server/server/version/version.go
Due: none

Update version.go to v2.30.3 (#2318)
  server/server/version/version.go
Due: none

Make ring inset on focus-within
  src/lib/holocene/accordion/accordion.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix imports and A11y warning
  src/lib/components/data-encoder-settings.svelte
  src/lib/components/schedule/schedule-advanced-settings.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/holocene/accordion/accordion.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add links to workflow counts on list workflows page (#2315)
  src/lib/components/workflow/workflow-counts.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add initial tooltip to badge (#2310)
  src/lib/pages/workflow-pending-activities.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add active styling for nav item
  src/lib/holocene/navigation/navigation-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix workflow counts and reactive selectedId
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/workflow-counts.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add isActive check for nav links
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add != operator to conditional menu defaults
  src/lib/components/search-attribute-filter/conditional-menu.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix event group link logic
  src/lib/components/event/event-summary-row.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/utilities/get-failed-or-pending.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add != operator to conditional menu defaults (#2320)
  src/lib/components/search-attribute-filter/conditional-menu.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Allow slots to override text content
  src/lib/holocene/tooltip.stories.svelte
  src/lib/holocene/tooltip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix workflow counts and reactive selectedId (#2319)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/utilities/get-failed-or-pending.ts
Due: eslint --fix, prettier --write, stylelint --fix

Allow slots to override text content (#2321)
  src/lib/holocene/tooltip.stories.svelte
  src/lib/holocene/tooltip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.30.7
  package.json
Due: prettier --write

Check if status exists
  src/lib/components/workflow/workflow-counts.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove allow empty
  src/lib/components/workflow/workflow-counts.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Don't allow multiple status filters of the same value (#2325)
  src/lib/components/workflow/workflow-counts.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Account for if isActive is undefined
  src/lib/holocene/navigation/navigation-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Nexus text changes
  src/lib/i18n/locales/en/nexus.ts
Due: eslint --fix, prettier --write

Nexus text changes (#2326)
  src/lib/i18n/locales/en/nexus.ts
Due: eslint --fix, prettier --write

Accordion component updates (#2316)
  src/lib/components/data-encoder-settings.svelte
  src/lib/components/schedule/schedule-advanced-settings.svelte
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/holocene/accordion/accordion-group.svelte
  src/lib/holocene/accordion/accordion.stories.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Highlight active link in nav bar (#2324)
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use AccordionGroup to show all possible failures
  src/lib/components/lines-and-dots/workflow-error-stack-trace.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/types/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Dont use red text
  src/lib/components/lines-and-dots/workflow-error-stack-trace.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move source to accordion
  src/lib/components/lines-and-dots/workflow-error-stack-trace.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
