Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Make grow a prop for CodeBlock
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add translation and truncate
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

oops
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

DT-2565 - add collapsible divider component and icons for billing plans page (#2452)
  src/lib/holocene/collapsible-divider/collapsible-divider.stories.svelte
  src/lib/holocene/collapsible-divider/collapsible-divider.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/chart-ascending.svelte
  src/lib/holocene/icon/svg/office-buildings.svelte
  src/lib/holocene/icon/svg/toolbox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove prop
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Allow control of max size for menu's. Allow external control for combobox through open store. Update bottom nav to increase ability to dependency inject
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use grow-0
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Allow control of max size for menu's. Allow external control for comb… (#2453)
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Better styles and flex for Workflow Details (#2454)
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/holocene/code-block.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Bump svelte, make error w-full
  package.json
  pnpm-lock.yaml
  src/lib/holocene/error.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor SearchAttributeInput to include type (#2439)
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/datetime-input.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/components/workflow/search-attribute-input/list-input.svelte
  src/lib/components/workflow/search-attribute-input/number-input.svelte
  src/lib/components/workflow/search-attribute-input/text-input.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/workflow-execution.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/search-attributes.ts
  src/lib/types/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

2.33.2
  package.json
Due: prettier --write

Merge className prop in href in Button component
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update action buttons on schedule form
  src/lib/components/schedule/schedule-form-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update action buttons on nexus forms
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update action buttons on start workflow form
  src/lib/pages/start-workflow.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Go back to grow
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove text-xl
  src/lib/components/lines-and-dots/workflow-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Go back to grow (#2458)
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.33.3
  package.json
Due: prettier --write

Create and edit responsive improvements (#2457)
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/holocene/button.svelte
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/start-workflow.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Get rid of pane
  src/lib/components/workflow/workflow-family-tree.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Don't keep open always
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Don't keep open always (#2461)
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.33.4
  package.json
Due: prettier --write

Add $ to read store
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add $ to read store (#2463)
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.33.5
  package.json
Due: prettier --write

Move Start a Workflow form to Card
  src/lib/pages/start-workflow.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move schedule form to Card
  src/lib/components/schedule/schedule-form-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update custom search attribute form for responsiveness
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update schedule spec form responsiveness
  src/lib/components/schedule/schedule-day-of-month-view.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/day-of-week-picker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add Current Details
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-query.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Get rid of unnecessary var check
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Include WorkflowUpdateAdmitted in filter
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/utilities/is-event-type.ts
Due: eslint --fix, prettier --write

Update test with new event
  src/lib/models/event-history/get-event-categorization.test.ts
Due: eslint --fix, prettier --write

Add to update const
  src/lib/models/event-history/get-event-categorization.test.ts
Due: eslint --fix, prettier --write

Include WorkflowUpdateAdmitted in Event Type filter (#2467)
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/utilities/is-event-type.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
