Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

remove link to wf details when batch actions are enabled
  src/lib/components/workflow/workflows-summary-row-with-filters.svelte
Due: stylelint --fix

fix cy tests
  cypress/integration/workflow-executions-with-new-search.spec.js
Due: pnpm lint:fix, prettier --write

Add icon, disable button, start playwright tests
  package.json
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/import.svelte
  src/lib/holocene/navigation/full-nav.svelte
  src/routes/(app)/import/_event-history-import.svelte
  src/routes/(app)/import/events/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
  tests/import-event-history.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

implement err handling on Modals
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/schedule-view.svelte
Due: stylelint --fix

improve modal story
  src/lib/holocene/modal.story.svelte
Due: stylelint --fix

Change Results to Continued as New with Input for Workflows with a Continued As New status (#1159)
  cypress/integration/workflow-input-and-results.spec.js
  src/lib/components/workflow/input-and-results.svelte
  src/lib/holocene/code-block.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/utilities/get-started-completed-and-task-failed-events.test.ts
  src/lib/utilities/get-started-completed-and-task-failed-events.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

[DT-340] Add stack trace on expanded event details (#1128)
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/utilities/get-single-attribute-for-event.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Refactor to pages, add import tests
  cypress/integration/import.spec.js
  package.json
  playwright.config.ts
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/lib/pages/import-events-view.svelte
  src/lib/pages/import-events.svelte
  src/routes/(app)/import/_import-header.svelte
  src/routes/(app)/import/_import-settings.ts
  src/routes/(app)/import/events/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/+layout.svelte
  tests/fixtures/completed-event-history.json
  tests/import-event-history.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/workflows-list-time-frames.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Update src/lib/holocene/modal.svelte
  src/lib/holocene/modal.svelte
Due: stylelint --fix

remove redundant error reset
  src/lib/holocene/modal.svelte
Due: stylelint --fix

Update icon snapshot, try better waitForNavigation()
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  tests/import-event-history.spec.ts
Due: pnpm lint:fix, prettier --write

Add test to navigate to import page from nav. add import slot
  src/lib/holocene/navigation/full-nav.svelte
  tests/import-event-history.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Use same proto name
  src/lib/pages/import-events.svelte
Due: stylelint --fix

Move Import nav above feedback
  src/lib/holocene/navigation/full-nav.svelte
Due: stylelint --fix

no italic
  src/lib/holocene/modal.svelte
Due: stylelint --fix

add hoverable state to checkboxes support bind:group for checkboxes
  src/lib/components/workflow/workflows-summary-row-with-filters.svelte
  src/lib/components/workflow/workflows-summary-table-with-filters.svelte
  src/lib/holocene/checkbox.story.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

Revert "fix cy tests"
  cypress/integration/workflow-executions-with-new-search.spec.js
Due: pnpm lint:fix, prettier --write

Use lastUsedNamespace so navigating back to workflows has a valid namespace, allow sort on events, update tests
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/lib/pages/import-events-view.svelte
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
  tests/import-event-history.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

use lastUsedNamespace
  src/lib/components/import/event-history-file-import.svelte
Due: stylelint --fix

rm console.log
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

change outline to border
  src/lib/holocene/checkbox.svelte
Due: stylelint --fix

MVP of sticky nav
  src/lib/components/namespace-list.svelte
  src/lib/components/top-action-nav.svelte
  src/lib/holocene/data-encoder-status.svelte
  src/lib/holocene/dropdown-menu.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/navigation/full-nav.svelte
  src/routes/(app)/+layout.svelte
Due: stylelint --fix

Fix namespaces for cloud
  src/lib/components/namespace-list.svelte
  src/lib/components/top-action-nav.svelte
  src/lib/holocene/navigation/full-nav.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/routes/(app)/+layout.svelte
Due: stylelint --fix

Package tag
  package.json
Due: prettier --write

Refactoring
  src/lib/components/top-nav.svelte
  src/lib/holocene/navigation/full-nav.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/_header.svelte
  src/routes/(app)/_side-nav.svelte
Due: stylelint --fix

WIP: add links dropdown for funsies
  src/lib/components/top-nav.svelte
Due: stylelint --fix

rm border from hover state
  src/lib/holocene/checkbox.svelte
Due: stylelint --fix

Set lastUsedNamespace on namespace switch
  src/lib/components/namespace-list.svelte
  src/lib/components/top-nav.svelte
Due: stylelint --fix

handle errors inline for batch actions
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/batch-service.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Include Import Page in Navigation (#1186)
  cypress/integration/import.spec.js
  playwright.config.ts
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/import.svelte
  src/lib/holocene/navigation/full-nav.svelte
  src/lib/pages/import-events-view.svelte
  src/lib/pages/import-events.svelte
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/_header.svelte
  src/routes/(app)/import/+layout.svelte
  src/routes/(app)/import/+page.ts
  src/routes/(app)/import/events/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/+layout.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/+page.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/json/+page.svelte
  src/routes/(import)/import/+layout.svelte
  src/routes/(import)/import/+layout.ts
  src/routes/(import)/import/_import-header.svelte
  src/routes/(import)/import/_import-settings.ts
  tests/fixtures/completed-event-history.json
  tests/import-event-history.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/workflows-list-time-frames.spec.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Negative top margin on layout to move up content
  src/routes/(app)/+layout.svelte
Due: stylelint --fix

implement err handling on Modals (#1187)
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/batch-service.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Make batch action checkboxes less error prone (#1185)
  src/lib/components/workflow/workflows-summary-row-with-filters.svelte
  src/lib/components/workflow/workflows-summary-table-with-filters.svelte
  src/lib/holocene/checkbox.story.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

add toaster import
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

add toaster import (#1188)
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

Fix value on external change
  src/lib/holocene/select/option.svelte
  src/lib/holocene/select/select.svelte
Due: stylelint --fix

Style updates
  src/lib/components/top-nav.svelte
  src/lib/holocene/navigation/full-nav.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/_side-nav.svelte
Due: stylelint --fix

Update PR template
  .github/pull_request_template.md
Due: prettier --write

Fix value on external change (#1189)
  src/lib/holocene/select/option.svelte
  src/lib/holocene/select/select.svelte
Due: stylelint --fix

Move comments inline
  .github/pull_request_template.md
Due: prettier --write

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,postcss,svelte}
