Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

DT-3070: Update codec adapter to use existing settings service
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
Due: eslint --fix, prettier --write

DT-3070: Update codec adapter for cluster-level configuration
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
  src/lib/components/codec-server-form/codec-server-form.mdx
Due: eslint --fix, prettier --write

add typing to overrideTheme
  src/lib/holocene/monaco/markdown.svelte
Due: eslint --fix, prettier --write, stylelint --fix

center divs
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor: extract reusable FormMessage and TaintedBadge components
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/codec-server-form.mdx
  src/lib/components/form-message.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/tainted-badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Small UI fixes
  server/server/config/config.go
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

remove target prop
  src/lib/holocene/drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add preventDefault
  src/lib/components/activity/activity-options-update-drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add toast notification for update error
  src/lib/components/activity/activity-options-update-drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix types to strings, only show retried stripes on completed activities.
  src/lib/components/activity/activity-options-update-drawer.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix all the shady types
  src/lib/components/activity/activity-options-update-drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix compact logic, better opacity
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Better hasPendingActivity logic
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix heartbeat label, remove accordion
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add accordion if over 20 pending activities, remove accordion from nexus failures, make retry line thinner
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/pages/workflow-pending-activities.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Disable activity commands if not running
  src/lib/components/activity/activity-commands.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add isRunning check to show activity commands
  src/lib/components/activity/activity-commands.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add metadata-tab to translate
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: improve form components and add i18n support
  CLAUDE.md
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/config.svelte.ts
  src/lib/components/form-message.svelte
  src/lib/components/form/message.svelte
  src/lib/components/form/tainted-badge.svelte
  src/lib/components/search-attributes-form/config.svelte.ts
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/tainted-badge.svelte
  src/lib/i18n/locales/en/codec-server.ts
  src/lib/i18n/locales/en/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: use proper Holocene Link component and improve translation templating
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/i18n/locales/en/codec-server.ts
Due: eslint --fix, prettier --write, stylelint --fix

remove unused codec adapter and custom class stories
  src/lib/components/codec-server-form/codec-server-form.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Reset values on close of update drawer
  src/lib/components/activity/activity-commands.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: only send custom fields when section is visible
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/codec-server-form/config.svelte.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.39.0
  package.json
  server/server/version/version.go
Due: prettier --write

Send release tag ref instead of main SHA in dispatch
  .github/workflows/release-published.yml
Due: none

Check for localActivity if compact mode
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove empty table image
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Send release tag ref instead of main SHA in dispatch (#2799)
  .github/workflows/release-published.yml
Due: none

Use derived state and not store for isActive
  src/lib/holocene/pill-container/pill.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add markdown override-theme to go
  server/server/route/ui.go
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Check for localActivity if compact mode (#2800)
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor: use nullish coalescing operator over logical OR
  src/lib/components/codec-server-form/codec-adapter.svelte.ts
Due: eslint --fix, prettier --write

Use derived state and not store for isActive (#2802)
  src/lib/holocene/pill-container/pill.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add if block to empty image, remove borders
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor: move retry logic into ApiError component
  src/lib/components/api-error.svelte
  src/lib/components/codec-server-form/codec-server-form.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add check for quotes after midConditional
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Due: eslint --fix, prettier --write

Add check for quotes after midConditional (#2803)
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Due: eslint --fix, prettier --write

Check certFile modification time
  server/server/rpc/tls.go
  server/server/rpc/tls_cert_loader_test.go
Due: none

Don't update keyFile if key is the same
  server/server/rpc/tls_cert_loader_test.go
Due: none

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
