Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

rm Opacity
  src/lib/theme/types.d.ts
Due: eslint --fix, prettier --write

fix select/menu-button and checkbox in light mode on dark bg (#1885)
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
Due: eslint --fix, prettier --write, stylelint --fix

2.24.1
  package.json
Due: prettier --write

2.24.1 (#1888)
  package.json
Due: prettier --write

change Link to a tag
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/button.svelte
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
Due: eslint --fix, prettier --write, stylelint --fix

add tooltip to menu items
  src/lib/holocene/menu/menu-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

change tooltip position
  src/lib/holocene/menu/menu-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

change position again
  src/lib/holocene/menu/menu-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add active color to plug in and update styling to match designs
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

add onLinkClick
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add active color to plug in and update styling to match designs (#1890)
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update styles, refactor all the lines and dots for svg
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/drawer-wrapper.svelte
  src/lib/components/lines-and-dots/event-details.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/compact-line-dot.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/draggable-x-line.svelte
  src/lib/components/lines-and-dots/svg/draggable-y-line.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/history-line-dot.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow-status.svelte
  src/lib/holocene/copyable/index.svelte
  src/lib/layouts/workflow-header-v2.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

remove enabled from buttons (#1887)
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.24.2
  package.json
Due: prettier --write

2.24.2 (#1892)
  package.json
Due: prettier --write

Move reachability out of workflow run and to workflow workers page
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/stores/workflow-run.ts
Due: eslint --fix, prettier --write, stylelint --fix

Mock versioning rules
  src/fixtures/task-queue-rules.json
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/pollers-service.ts
  src/lib/stores/workflow-run.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write, stylelint --fix

MVP of assignment rules table and header. just need to test when ready
  src/fixtures/task-queue-rules.json
  src/lib/components/worker-compatibility.svelte
  src/lib/components/worker-rules.svelte
  src/lib/components/workers-list.svelte
  src/lib/components/workflow-versioning-header.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-workers.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add skeleton table
  src/lib/pages/task-queue-workers.svelte
  src/lib/pages/workflow-workers.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Change ScrollToTop button to primary instead of secondary
  src/lib/holocene/scroll-to-top.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Change ScrollToTop button to primary instead of secondary (#1895)
  src/lib/holocene/scroll-to-top.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move reachability out of workflow run and to workflow workers page (#1893)
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/task-queue-workers.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/stores/workflow-run.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix toggle button bg
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix the signal params
  src/lib/services/workflow-service.ts
Due: eslint --fix, prettier --write

Add version check for backwards compatibility
  src/lib/services/workflow-service.ts
Due: eslint --fix, prettier --write

Fix the signal params (#1897)
  src/lib/services/workflow-service.ts
Due: eslint --fix, prettier --write

Update version.go to v2.24.0
  server/server/version/version.go
Due: none

Update version.go to v2.24.0 (#1898)
  server/server/version/version.go
Due: none

Set value before dispatching change event
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Better text positioning, refactoring
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/scroll-to-bottom.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix compact width on active, responsive things
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/drawer-wrapper.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add abort signal functionality to abort polling events
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/events-service.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/paginated.ts
  src/lib/utilities/request-from-api.ts
Due: eslint --fix, prettier --write, stylelint --fix

Support future rendering on scrollY. Need to debounce history pushes as they come in
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/drawer-wrapper.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add metadata tab, more refactoring
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/drawer-wrapper.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/workflow-status.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header-v2.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/workflow-execution.ts
  src/lib/pages/workflow-metadata.svelte
  src/lib/services/events-service.ts
  src/lib/types/workflows.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/metadata/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use overflow-x-hidden
  src/lib/components/lines-and-dots/drawer-wrapper.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Set value before dispatching change event (#1899)
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

use context for batch ops
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor client actions into their own components
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/components/workflow/workflow-reset-form.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/workflow-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add loading slot to ApiPagination component
  src/lib/holocene/api-pagination.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add stopPropagation to on:click in IconButton component
  src/lib/holocene/icon-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix
