Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["pnpm lint:fix", "prettier --write"],
  "*.{css,postcss,svelte}": "stylelint --fix",
  "*.{json,md}": "prettier --write"
}

fix schedules cy test
  cypress/integration/schedules.spec.js
  src/lib/pages/schedule-view.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

close time -> end time
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
Due: stylelint --fix

fix autocomplete
  src/lib/holocene/autocomplete.svelte
  src/lib/holocene/primitives/menu/menu-container.svelte
Due: stylelint --fix

fix whitespace in menu button
  src/lib/holocene/primitives/menu/menu-button.svelte
Due: stylelint --fix

fix namespace switcher menu
  src/lib/components/namespace-list.svelte
  src/lib/holocene/dropdown-menu.svelte
  src/lib/holocene/navigation/top-nav.svelte
Due: stylelint --fix

DT-701 - update nav (#1349)
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/holocene/icon/svg/rocket-ship.svelte
  src/lib/holocene/icon/svg/settings.svelte
  src/lib/holocene/icon/svg/support.svelte
  src/lib/holocene/icon/svg/usage.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/side-nav.svelte
Due: stylelint --fix

Update src/lib/pages/workflow-history-json.svelte
  src/lib/pages/workflow-history-json.svelte
Due: stylelint --fix

Allow decoding event history for download and for JSON view (#1352)
  server/config/development.yaml
  server/docker/config-template.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/workflow-history-json.svelte
  src/lib/services/settings-service.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/export-history.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Update README.md
  README.md
Due: prettier --write

Lookup namespace attribute and use it in link
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/utilities/format-event-attributes.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix event handlers for menu
  src/lib/components/namespace-list.svelte
  src/lib/holocene/primitives/menu/menu-container.svelte
Due: stylelint --fix

DT-512 - add proper keyboard interactivity to Select component (#1351)
  cypress/integration/schedules.spec.js
  cypress/integration/workflow-actions.spec.js
  src/lib/components/namespace-list.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/holocene/autocomplete.svelte
  src/lib/holocene/dropdown-menu.svelte
  src/lib/holocene/input/typeahead-input.svelte
  src/lib/holocene/navigation/top-nav.svelte
  src/lib/holocene/primitives/menu/menu-button.svelte
  src/lib/holocene/primitives/menu/menu-container.svelte
  src/lib/holocene/primitives/menu/menu-item.svelte
  src/lib/holocene/primitives/menu/menu.svelte
  src/lib/holocene/primitives/menu/trigger-menu.ts
  src/lib/holocene/select/option.svelte
  src/lib/holocene/select/select.story.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/simple-split-button.story.svelte
  src/lib/holocene/simple-split-button.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/utilities/get-first-reset-event-id.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Lookup namespace attribute and use it in link (#1354)
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/utilities/format-event-attributes.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

2.15.2
  package.json
Due: prettier --write

2.15.2 (#1355)
  package.json
Due: prettier --write

fix autocomplete overflow and redundant class
  src/lib/holocene/autocomplete.svelte
Due: stylelint --fix

fix autocomplete overflow and redundant class (#1356)
  src/lib/holocene/autocomplete.svelte
Due: stylelint --fix

2.15.3
  package.json
Due: prettier --write

2.15.3 (#1357)
  package.json
Due: prettier --write

bump ui version in ui-server to 2.15.0
  server/server/version/version.go
Due: none

bump ui version in ui-server to 2.15.0 (#1358)
  server/server/version/version.go
Due: none

Add scheduleId to relationships, show tag and link to schedule if it exists
  src/lib/components/workflow/scheduler-table.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/utilities/get-workflow-relationships.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add scheduleId to relationships, show tag and link to schedule if it exists (#1359)
  src/lib/components/workflow/scheduler-table.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/utilities/get-workflow-relationships.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add types, remove unused variables
  src/lib/holocene/input/range-input.svelte
  src/lib/holocene/workflow-json-navigator.svelte
  src/lib/pages/workflow-history-json.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/json/+page.svelte
Due: stylelint --fix

Move navigator to components
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/pages/workflow-history-json.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/json/+page.svelte
Due: stylelint --fix

Add Navigator to JSON View (#1360)
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/holocene/input/range-input.svelte
  src/lib/pages/workflow-history-json.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/json/+page.svelte
Due: stylelint --fix

Improve responsiveness
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/pages/workflow-history-json.svelte
Due: stylelint --fix

Make ouput postions reactive
  src/lib/holocene/input/range-input.svelte
Due: stylelint --fix

wip - i18n setup + vite plugin
  package.json
  plugins/vite-plugin-i18n.ts
  pnpm-lock.yaml
  src/app.d.ts
  src/lib/i18n/keys.ts
  src/lib/i18n/locales/de/common.ts
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/store.ts
  src/lib/i18n/translate.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/workflow-service.ts
  src/routes/(app)/+layout.ts
  vite.config.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

no vite plugin
  .lintstagedrc.json
  package.json
  plugins/vite-plugin-i18n.ts
  scripts/generate-locales.ts
  src/routes/(app)/+layout.ts
  static/i18n/locales/de/common.json
  static/i18n/locales/en/common.json
  vite.config.ts
Due: pnpm lint:fix, prettier --write

fix parser script to get proper quotes
  package.json
  pnpm-lock.yaml
  scripts/generate-locales.ts
  src/lib/i18n/keys.ts
  src/lib/i18n/locales/de/common.ts
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/fr/common.ts
  static/i18n/locales/de/common.json
  static/i18n/locales/en/common.json
  static/i18n/locales/fr/common.json
Due: pnpm lint:fix, prettier --write

add smoe comments and logging
  scripts/generate-locales.ts
Due: pnpm lint:fix, prettier --write

make it a vite plugin
  plugins/vite-plugin-i18n-locales.ts
  scripts/generate-locales.ts
  vite.config.ts
Due: pnpm lint:fix, prettier --write

Add update event and attribute types
  src/lib/utilities/is-event-type.test.ts
  src/lib/utilities/is-event-type.ts
Due: pnpm lint:fix, prettier --write

Add events to udpate category
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
Due: pnpm lint:fix, prettier --write

Add update option
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
Due: pnpm lint:fix, prettier --write

Bump base images
  Dockerfile
Due: none

Bump base images (#1364)
  Dockerfile
Due: none

cleanup types, remove debug
  src/app.d.ts
  src/lib/i18n/locales/fr/common.ts
  src/routes/(app)/+layout.ts
Due: pnpm lint:fix, prettier --write

update fr json
  static/i18n/locales/fr/common.json
Due: prettier --write
