Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Lots of unused packages to drop
  package.json
  pnpm-lock.yaml
  svelte.config.js
Due: eslint --fix, prettier --write

Lots of unused packages to drop (#2785)
  package.json
  pnpm-lock.yaml
  svelte.config.js
Due: eslint --fix, prettier --write

Add env var to use ID Token as Bearer token (#2756)
  server/config/docker.yaml
  server/server/auth/auth.go
  server/server/auth/auth_test.go
  server/server/config/config.go
Due: none

Update original value UI in update drawer
  src/lib/components/activity/activity-options-update-drawer.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add hoveredEventIds to props
  src/lib/components/event/event-summary-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove CaN bill count
  src/lib/models/event-history/get-event-billable-actions.ts
Due: eslint --fix, prettier --write

Remove CaN bill count (#2786)
  src/lib/models/event-history/get-event-billable-actions.ts
Due: eslint --fix, prettier --write

Add ChangeVersion as a default column
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/stores/configurable-table-columns.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add Change Version as a default SA column you can add (#2787)
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/stores/configurable-table-columns.ts
Due: eslint --fix, prettier --write, stylelint --fix

Allow update for cloud
  src/lib/components/workflow-actions.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove text-off-white
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Allow update for cloud (#2788)
  src/lib/components/workflow-actions.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove text-off-white (#2789)
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add hoveredEventId to props
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add mousehandlers and active class
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add attempt at styling
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add hoveredEventId props
  src/lib/components/event/event-summary-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add link and tooltip for billable actions. Add logic to correctly count markers
  src/lib/components/detail-list/detail-list-label.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/event-history/get-event-billable-actions.ts
  src/lib/models/event-history/index.ts
  src/lib/stores/advanced-visibility.ts
Due: eslint --fix, prettier --write, stylelint --fix

Only count 3 for scheduled first run
  src/lib/models/event-history/get-event-billable-actions.ts
  src/lib/models/event-history/index.ts
Due: eslint --fix, prettier --write

Reverse cloud check
  src/lib/stores/advanced-visibility.ts
Due: eslint --fix, prettier --write

Add link to Billable Actions, don't overcount Marker Recorded, only count first Scheduled run (#2791)
  src/lib/components/detail-list/detail-list-label.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/event-history/get-event-billable-actions.ts
  src/lib/models/event-history/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add light mode tw and increase contrast for hovered row
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use NumberInputs for original values
  src/lib/components/activity/activity-options-update-drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove original values from update drawer
  src/lib/components/activity/activity-commands.svelte
  src/lib/components/activity/activity-options-update-drawer.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/pages/workflow-pending-activities.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Disable activity commands for Cloud
  src/lib/utilities/activity-commands-enabled.ts
Due: eslint --fix, prettier --write

Fixes light on light text on payload badge in lightmode on hover
  src/lib/components/event/event-details-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Adds interactive-table-related-hover and tweaks the interactive-table-hover for better contrast and consistency on hover
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write

Adds light and dark styles for related on hover in the esr
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat: setup basic form infrastructure with SuperForms
  .tool-versions
  CLAUDE.md
  package.json
  src/lib/utilities/form/superforms-example.svelte
  src/lib/utilities/form/superforms-usage.md
  src/lib/utilities/form/superforms.stories.svelte
  vitest-setup.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix up lock file
  pnpm-lock.yaml
Due: none

DT-3027: Setup Basic Super Form (#2765)
  .tool-versions
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  src/lib/utilities/form/superforms-example.svelte
  src/lib/utilities/form/superforms-usage.md
  src/lib/utilities/form/superforms.stories.svelte
  vitest-setup.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add search attributes form component with adapter pattern
  .storybook/main.ts
  CLAUDE.md
  README.md
  package.json
  pnpm-lock.yaml
  src/lib/components/api-error.svelte
  src/lib/components/search-attributes-form/config.svelte.ts
  src/lib/components/search-attributes-form/default-adapter.ts
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form-skeleton.svelte
  src/lib/components/search-attributes-form/search-attributes-form.mdx
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/lib/components/search-attributes-form/types.ts
  src/lib/utilities/api-error-handler.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: simplify CLAUDE.md to focus on essentials
  CLAUDE.md
Due: prettier --write

lint
  src/lib/components/search-attributes-form/search-attributes-form.mdx
Due: none

escape to close
  src/lib/holocene/code-block.svelte
  src/lib/holocene/maximizable/maximizable.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add maximizable to code-block component
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

add formatJSON utility
  src/lib/utilities/format-json.ts
Due: eslint --fix, prettier --write

add maximizable component
  src/lib/holocene/maximizable/button.svelte
  src/lib/holocene/maximizable/index.ts
  src/lib/holocene/maximizable/maximizable.svelte
Due: eslint --fix, prettier --write, stylelint --fix

tweak code-block stories
  src/lib/holocene/code-block.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

improve formatJson, fix bug rerturning undefined
  src/lib/utilities/format-json.ts
Due: eslint --fix, prettier --write
