Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

add unique attributes to event details components (#2969)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(oidc-server): implement OIDC provider server with CLI script
  .env.with-auth
  package.json
  plugins/vite-plugin-oidc-server.ts
  plugins/vite-plugin-temporal-server.ts
  plugins/vite-plugin-ui-server.ts
  pnpm-lock.yaml
  scripts/start-oidc-server.ts
  server/config/with-auth.yaml
  server/server/route/auth.go
  temporalio-ui-2.37.0.tgz
  utilities/oidc-server/README.md
  utilities/oidc-server/config.ts
  utilities/oidc-server/index.ts
  utilities/oidc-server/routes/express.ts
  utilities/oidc-server/server.test.ts
  utilities/oidc-server/server.ts
  utilities/oidc-server/support/account.ts
  utilities/oidc-server/support/configuration.ts
  utilities/oidc-server/test-server.ts
  utilities/oidc-server/views/_layout.ejs
  utilities/oidc-server/views/interaction.ejs
  utilities/oidc-server/views/login.ejs
  utilities/ui-server.ts
  vite.config.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat(auth): implement OAuth2 token refresh with JWT validation
  .editorconfig
  .tool-versions
  TESTING_TOKEN_REFRESH.md
  pnpm-lock.yaml
  server/config/with-auth.yaml
  server/go.mod
  server/go.sum
  server/server/auth/auth.go
  server/server/route/auth.go
  src/lib/utilities/auth-refresh.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for.ts
  utilities/oidc-server/routes/express.ts
  utilities/oidc-server/server.test.ts
  utilities/oidc-server/support/configuration.ts
Due: eslint --fix, prettier --write

style: run go fmt on server code
  server/server/auth/auth_test.go
  server/server/cors/cors.go
  server/server/cors/cors_test.go
  server/server/route/ui.go
  server/server/rpc/tls_cert_loader_test.go
Due: none

remove tgz
  temporalio-ui-2.37.0.tgz
Due: none

revert script
  package.json
Due: prettier --write

Multi-compare workflows
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/components/workflow/workflow-comparison-panel.svelte
  src/lib/components/workflow/workflow-comparison-view.svelte
  src/lib/layouts/group-card.svelte
  src/lib/layouts/workflow-history-comparison-layout.svelte
  src/lib/layouts/workflow-simple-history.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/services/events-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

replace identitiy icon
  src/lib/holocene/icon/svg/icon.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: tests
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Due: eslint --fix, prettier --write, stylelint --fix

rm un-needed file
  src/lib/holocene/icon/svg/icon.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor, simply
  src/lib/components/workflow/workflow-comparison-panel.svelte
  src/lib/components/workflow/workflow-comparison-view.svelte
  src/lib/layouts/group-card.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-simple-history.svelte
  src/lib/stores/workflow-comparison.ts
Due: eslint --fix, prettier --write, stylelint --fix

Bump go and rpc versions
  server/go.mod
  server/go.sum
Due: none

Bump go and rpc versions (#2970)
  server/go.mod
  server/go.sum
Due: none

fix(batch): uri encode batch job ids (#2946)
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

feat: add workflow execution timeout (#2939)
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/workflow-execution.ts
  src/lib/types/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.42.0
  package.json
  server/server/version/version.go
Due: prettier --write

Update server/Dockerfile with new base image versions
  server/Dockerfile
Due: none

Update server/Dockerfile with new base image versions (#2973)
  server/Dockerfile
Due: none

chore: bump version to 2.42.1
  package.json
  server/server/version/version.go
Due: prettier --write

add new logos (#2950)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/folders.svelte
  src/lib/holocene/icon/svg/identities.svelte
  src/lib/holocene/icon/svg/overview.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix reset logic
  src/lib/layouts/workflow-simple-history.svelte
Due: eslint --fix, prettier --write, stylelint --fix

move scroll up/down buttons to left of main content
  src/lib/holocene/scroll-to-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

compatible zod version
  package.json
  pnpm-lock.yaml
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/utilities/form/superforms-example.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: Fixed UI redirects if `TEMPORAL_UI_PUBLIC_PATH` is provided fore home button and `/render` . (#2846)
  src/lib/holocene/markdown-editor/preview.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Better comparison flow. Share worthy
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflow-comparison-view.svelte
  src/lib/layouts/group-card.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/layouts/workflow-simple-history.svelte
  src/lib/stores/workflow-comparison.ts
Due: eslint --fix, prettier --write, stylelint --fix

get rid of scroll to top/bottom container
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/scroll-to-bottom.svelte
  src/lib/holocene/scroll-to-container.svelte
  src/lib/holocene/scroll-to-top.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add TLS support for ui-server (#2745)
  server/config/development.yaml
  server/config/docker.yaml
  server/server/config/config.go
  server/server/server.go
Due: none

remove scroll up/down buttons in main content (#2975)
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/scroll-to-bottom.svelte
  src/lib/holocene/scroll-to-container.svelte
  src/lib/holocene/scroll-to-top.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add gradient to retried
  src/lib/components/lines-and-dots/svg/line.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Set day as max unit for relative time by default
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update all the green/reds of svgs
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Change sticky header to surface-background and include border
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

reflect updated version in package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

Change sticky header to surface-background and include border (#2979)
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Allow custom keyword SAs to be quick filterable
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
Due: eslint --fix, prettier --write, stylelint --fix

move data encoder settings for into a modal
  src/lib/components/data-encoder-settings.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/call-stack/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/memo/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/metadata/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/nexus-links/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/pending-activities/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/query/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/search-attributes/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add isCustomKeywordOrTextAttribute check
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add gradient for completed Activities with retries (#2977)
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add optional type prop to FilterableTableCell
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make auto-upgrade default reset
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
