Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

Update sveltejs kit to 1.15.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add max height to the CodeBlock on the expanded event details row
  src/lib/components/event/event-details-row-expanded.svelte
Due: stylelint --fix

Add max height to the CodeBlock on the expanded event details row (#1271)
  src/lib/components/event/event-details-row-expanded.svelte
Due: stylelint --fix

fix some resizing
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

Update sveltejs kit to 1.15.1 (#1270)
  package.json
  pnpm-lock.yaml
Due: prettier --write

Don't show failure for UnhandledCommand
  src/lib/models/event-groups/get-event-in-group.test.ts
  src/lib/utilities/is-event-type.ts
Due: pnpm lint:fix, prettier --write

Don't show failure for UnhandledCommand (#1273)
  src/lib/models/event-groups/get-event-in-group.test.ts
  src/lib/utilities/is-event-type.ts
Due: pnpm lint:fix, prettier --write

make resize a use directive
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/holocene/resize.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix dropdown menu so it overflows table content
  src/lib/components/dropdown-menu.svelte
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/filters/date-time-format.svelte
  src/lib/components/workflow/dropdown-filter/end-time.svelte
  src/lib/components/workflow/dropdown-filter/start-time.svelte
  src/lib/components/workflow/dropdown-filter/workflow-id.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/dropdown-filter/workflow-type.svelte
Due: stylelint --fix

Revert "make resize a use directive"
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/holocene/resize.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Revert "fix dropdown menu so it overflows table content"
  src/lib/components/dropdown-menu.svelte
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/filters/date-time-format.svelte
  src/lib/components/workflow/dropdown-filter/end-time.svelte
  src/lib/components/workflow/dropdown-filter/start-time.svelte
  src/lib/components/workflow/dropdown-filter/workflow-id.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/dropdown-filter/workflow-type.svelte
Due: stylelint --fix

fix dropdown menu
  src/lib/components/dropdown-menu.svelte
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/filters/date-time-format.svelte
  src/lib/components/workflow/dropdown-filter/end-time.svelte
  src/lib/components/workflow/dropdown-filter/start-time.svelte
  src/lib/components/workflow/dropdown-filter/workflow-id.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/dropdown-filter/workflow-type.svelte
Due: stylelint --fix

add some breakpoints so pinned section can't get too big
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

Revert "fix dropdown menu"
  src/lib/components/dropdown-menu.svelte
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/filters/date-time-format.svelte
  src/lib/components/workflow/dropdown-filter/end-time.svelte
  src/lib/components/workflow/dropdown-filter/start-time.svelte
  src/lib/components/workflow/dropdown-filter/workflow-id.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/dropdown-filter/workflow-type.svelte
Due: stylelint --fix

Add includeCredentials env var
  server/config/development.yaml
  server/docker/config_template.yaml
  server/server/api/handler.go
  server/server/config/config.go
Due: none

Add includeCredentials env var (#1275)
  server/config/development.yaml
  server/docker/config_template.yaml
  server/server/api/handler.go
  server/server/config/config.go
Due: none

Fix types for decode-payload
  src/lib/utilities/decode-payload.ts
  src/workflow.d.ts
Due: pnpm lint:fix, prettier --write

Fix lint issues in decode-payload.ts (#1093)
  src/events.d.ts
  src/lib/services/data-converter.ts
  src/lib/services/data-encoder.ts
  src/lib/services/query-service.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/is.ts
  src/workflow.d.ts
Due: pnpm lint:fix, prettier --write

Update sveltejs kit to 1.15.4
  package.json
  pnpm-lock.yaml
Due: prettier --write

Fix all remaining lint issues
  .eslintrc.cjs
  .stylelintrc
  e2e/test-utilities/mock-apis.ts
  e2e/test-utilities/mock-local-storage.ts
  package.json
  src/lib/models/workflow-execution.test.ts
  src/lib/models/workflow-execution.write-disabled.test.ts
  src/lib/stores/api-pagination.ts
  src/workflow.d.ts
  tests/test-utilities/mock-local-storage.ts
Due: pnpm lint:fix, prettier --write

Update sveltejs kit to 1.15.4 (#1276)
  package.json
  pnpm-lock.yaml
Due: prettier --write

support custom search attributes
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-body-cell.svelte
  src/lib/stores/search-attributes.test.ts
  src/lib/stores/search-attributes.ts
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add linting to Holocene
  .eslintrc.cjs
Due: none

Address lint issues
  src/lib/holocene/accordion.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/autocomplete.svelte
  src/lib/holocene/button.story.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/data-converter-port-settings.svelte
  src/lib/holocene/drawer.story.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/error-boundary.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/loading.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/pagination.svelte
  src/lib/holocene/progress-bar.svelte
  src/lib/holocene/simple-split-button.svelte
  src/lib/holocene/split-button.svelte
  src/lib/holocene/textarea.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/utilities/is.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add a better explanation
  .eslintrc.cjs
Due: none

Fix all remaining lint issues (#1277)
  .eslintrc.cjs
  .stylelintrc
  e2e/test-utilities/mock-apis.ts
  e2e/test-utilities/mock-local-storage.ts
  package.json
  src/lib/models/workflow-execution.test.ts
  src/lib/models/workflow-execution.write-disabled.test.ts
  src/lib/stores/api-pagination.ts
  src/workflow.d.ts
  tests/test-utilities/mock-local-storage.ts
Due: pnpm lint:fix, prettier --write

Fix issue where something is treated like a store
  src/lib/holocene/error-boundary.svelte
Due: stylelint --fix

fix type
  src/workflow.d.ts
Due: pnpm lint:fix, prettier --write

Update package.json
  package.json
Due: prettier --write

fix decoding of search attributes on workflow executions
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-body-cell.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/workflow-execution.ts
  src/types/index.ts
  src/workflow.d.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

update snaps
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Due: none

Lint holocene (#1278)
  .eslintrc.cjs
  package.json
  src/lib/holocene/accordion.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/autocomplete.svelte
  src/lib/holocene/button.story.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/data-converter-port-settings.svelte
  src/lib/holocene/drawer.story.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/error-boundary.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/loading.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/pagination.svelte
  src/lib/holocene/progress-bar.svelte
  src/lib/holocene/simple-split-button.svelte
  src/lib/holocene/split-button.svelte
  src/lib/holocene/textarea.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/utilities/is.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

css fix when batch actions disabled and no pinned columns
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

fix dropdown menus in workflows summary table
  src/lib/components/dropdown-menu.svelte
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-id.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/dropdown-filter/workflow-type.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

The codec is used to decrypt for the UI, not encrypt.
  src/lib/holocene/codec-endpoint-settings.svelte
Due: stylelint --fix

click forcefully
  cypress/integration/workflow-executions-with-new-search.spec.js
Due: pnpm lint:fix, prettier --write

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,postcss,svelte}
