Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Harden publicPath prefix detection
  server/server/route/ui.go
  server/server/route/ui_test.go
Due: none

Replace magic 200 with http.StatusOK in Stream call
  server/server/route/ui.go
Due: none

Inline resolve() into withPrefix
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

Add a start-anchor to the rewrite regex
  server/server/route/public_path.go
  server/server/route/public_path_test.go
Due: none

Add tests and export validTimeToDate utility
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write

Add minDate and maxDate utility functions
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write

Style updates, remove borders/bg
  src/lib/components/shared-search-attribute-filter/filter-bar.svelte
  src/lib/components/shared-search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/standalone-activities/saved-views.svelte
  src/lib/components/workflow/filter-bar/index.svelte
  src/lib/components/workflow/filter-bar/search-attribute-menu.svelte
  src/lib/pages/saved-query-views.svelte
  src/lib/stores/saved-queries.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove some padding
  src/lib/components/workflow/filter-bar/index.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

More filter stylings
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/workflow/filter-bar/filter.svelte
  src/lib/components/workflow/filter-bar/search-attribute-menu.svelte
  src/lib/components/workflow/workflow-start-summary.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

More timeline zoom and style updates
  src/app.css
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/standalone-activities/saved-views.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/filter-bar/filter.svelte
  src/lib/components/workflow/filter-bar/search-attribute-menu.svelte
  src/lib/components/workflow/workflow-start-summary.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/pages/saved-query-views.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/saved-queries.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add activity timeline and time-aware axes
  src/lib/components/shared-search-attribute-filter/filter-bar.svelte
  src/lib/components/shared-search-attribute-filter/filter.svelte
  src/lib/components/shared-search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/standalone-activities/activities-summary-configurable-table.svelte
  src/lib/components/standalone-activities/activities-summary-filter-bar/filter-bar.svelte
  src/lib/components/standalone-activities/activity-start-summary.svelte
  src/lib/pages/standalone-activities.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

More timeline updates, make standalone start secondary
  src/app.css
  src/lib/components/standalone-activities/activity-start-summary.svelte
  src/lib/components/standalone-activities/saved-views.svelte
  src/lib/components/workflow/workflow-start-summary.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/routes/(app)/namespaces/[namespace]/activities/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor: replace PayloadDecoder and MetadataDecoder with unified Payload component (#3299)
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-metadata-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/metadata-decoder.svelte
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-decoder.svelte
  src/lib/components/payload/payload-inline.svelte
  src/lib/components/payload/payload-summary.svelte
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/components/standalone-activities/activity-input-and-outcome.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/standalone-activity-details.svelte
  src/lib/pages/standalone-activity-metadata.svelte
  src/lib/pages/standalone-activity-search-attributes.svelte
  src/lib/pages/workflow-memo.svelte
  src/lib/pages/workflow-metadata.svelte
  src/lib/pages/workflow-search-attributes.svelte
  src/lib/services/data-encoder.ts
  src/lib/services/workflow-service.ts
  src/lib/types/workflows.ts
  src/lib/utilities/decode-local-activity.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/get-started-completed-and-task-failed-events.test.ts
  src/lib/utilities/get-started-completed-and-task-failed-events.ts
  src/routes/(app)/nexus/[id]/+layout.ts
  temporal/activities/index.ts
  temporal/activities/multi.ts
  temporal/client.ts
  temporal/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

add type guards
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-inline.svelte
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
Due: eslint --fix, prettier --write, stylelint --fix

support inline external payloads
  src/lib/components/payload/payload-inline.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/storage.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix download error and payload codeblock types
  src/lib/components/payload/payload-code-block.svelte
  src/lib/utilities/decode-payload.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix schedule input
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/pages/schedule-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

rm console.log
  src/lib/utilities/decode-payload.ts
Due: eslint --fix, prettier --write

fix tests and strict mode
  src/lib/components/workflow/input-and-results.svelte
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix spec
  tests/e2e/payload-decoder.desktop.spec.ts
Due: eslint --fix, prettier --write

fix typo
  src/lib/utilities/decode-payload.ts
Due: eslint --fix, prettier --write

Add TemporalSchedulePaused attribute
  src/lib/pages/schedules.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use shared search attribute filter bar component on Schedules page
  src/lib/pages/schedules.svelte
  src/lib/stores/search-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove unused search attribute filter component
  src/lib/components/search-attribute-filter/boolean-filter.svelte
  src/lib/components/search-attribute-filter/close-filter-button.svelte
  src/lib/components/search-attribute-filter/conditional-menu.svelte
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/search-attribute-filter/duration-filter.svelte
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/components/search-attribute-filter/number-filter.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/search-attribute-filter/status-filter.svelte
  src/lib/components/search-attribute-filter/text-filter.svelte
  src/lib/utilities/to-duration.test.ts
  src/lib/utilities/to-duration.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add prefixSearchEnabled and keyword check for STARTS_WITH option
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Rename search attribute filter component
  src/lib/components/search-attribute-filter/filter-bar.svelte
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/search-attribute-filter/filter.svelte
  src/lib/components/search-attribute-filter/manual-query.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/search-attribute-filter/status-filter-chip.svelte
  src/lib/components/search-attribute-filter/types.ts
  src/lib/components/standalone-activities/activities-summary-filter-bar/filter-bar.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/workers.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move dropdown-filter-chip.svelte into search-attribute-filter
  src/lib/components/search-attribute-filter/dropdown-filter-chip.svelte
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-list.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add loading state to payload code block
  src/lib/components/payload/payload-code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add loading state to payload code block (#3397)
  src/lib/components/payload/payload-code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

VLN-1352: fix missing-dependency-cooldown
  .github/dependabot.yml
  pnpm-workspace.yaml
Due: none

add some optional chaining
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use CountRefreshButton instead of ActivityCountRefresh on Standalone Activities page
  src/lib/components/standalone-activities/activity-count-refresh.svelte
  src/lib/pages/standalone-activities.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add formatted refresh time to workers page
  src/lib/layouts/workers-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Adjust workflows header spacing for refresh button
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update Schedules search attributes filter (#3396)
  src/lib/components/search-attribute-filter/boolean-filter.svelte
  src/lib/components/search-attribute-filter/close-filter-button.svelte
  src/lib/components/search-attribute-filter/conditional-menu.svelte
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/search-attribute-filter/dropdown-filter-chip.svelte
  src/lib/components/search-attribute-filter/duration-filter.svelte
  src/lib/components/search-attribute-filter/filter-bar.svelte
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/search-attribute-filter/filter.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/components/search-attribute-filter/manual-query.svelte
  src/lib/components/search-attribute-filter/number-filter.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/search-attribute-filter/status-filter-chip.svelte
  src/lib/components/search-attribute-filter/status-filter.svelte
  src/lib/components/search-attribute-filter/text-filter.svelte
  src/lib/components/search-attribute-filter/types.ts
  src/lib/components/shared-search-attribute-filter/filter-list.svelte
  src/lib/components/shared-search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/standalone-activities/activities-summary-filter-bar/filter-bar.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-list.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/workers.svelte
  src/lib/stores/search-attributes.ts
  src/lib/utilities/to-duration.test.ts
  src/lib/utilities/to-duration.ts
Due: eslint --fix, prettier --write, stylelint --fix

DT-3751 - download external payloads (#3345)
  src/lib/components/event/event-card.svelte
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-decoder.svelte
  src/lib/components/payload/payload-inline.svelte
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/storage.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/schedule-view.svelte
  src/lib/services/data-encoder.ts
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
  temporal/codec-server.ts
  tests/e2e/payload-decoder.desktop.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: surface payload decode errors inline and remove CodecServerErrorBanner
  src/lib/components/codec-server-error-banner.svelte
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-decoder.svelte
  src/lib/components/schedule/schedule-form/form.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
  src/lib/utilities/decode-payload.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(payload): add retry button to payload decode error state
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-decoder.svelte
Due: eslint --fix, prettier --write, stylelint --fix

perf(payload): skip re-decode when payload value content is unchanged
  src/lib/components/payload/payload-decoder.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: prevent decodePromise from re-running on reference-equal payload changes
  src/lib/components/payload/payload-decoder.svelte
Due: eslint --fix, prettier --write, stylelint --fix
