Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

remove AI generated docs
  src/lib/utilities/decode-payload-call-site-map.md
  src/lib/utilities/decode-payload-report.md
Due: prettier --write

Update src/lib/components/common-errors/common-error.svelte
  src/lib/components/common-errors/common-error.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/components/common-errors/common-errors-data.ts
  src/lib/components/common-errors/common-errors-data.ts
Due: eslint --fix, prettier --write

Update src/lib/utilities/common-error-detection.ts
  src/lib/utilities/common-error-detection.ts
Due: eslint --fix, prettier --write

Remove workflow-common-errors.svelte
  src/lib/components/workflow/workflow-common-errors.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add inline comments to decode-payload utils
  src/lib/utilities/decode-payload.ts
Due: eslint --fix, prettier --write

Remove getCommonErrorsByCategory
  src/lib/components/common-errors/common-errors-data.test.ts
  src/lib/components/common-errors/common-errors-data.ts
Due: eslint --fix, prettier --write

Update src/lib/components/common-errors/common-error-list.svelte
  src/lib/components/common-errors/common-error-list.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Keep Pending Activities/Operations at the top of Timeline and Compact view (#3307)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  src/lib/utilities/order-groups-by-pending.test.ts
  src/lib/utilities/order-groups-by-pending.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix naming
  src/lib/utilities/common-error-detection.ts
Due: eslint --fix, prettier --write

Add back workflow-common-errors.svelte ;5u
  src/lib/components/workflow/workflow-common-errors.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add session view, tree view, and _details convention
  package.json
  pnpm-lock.yaml
  src/lib/components/event/chat-view.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/tree-view.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-history/get-event-llm-metadata.test.ts
  src/lib/models/event-history/get-event-llm-metadata.ts
  src/lib/pages/compare-runs.svelte
  src/lib/pages/session-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/types/events.ts
  src/lib/utilities/compare-runs.ts
  src/lib/utilities/session-runs.ts
  src/routes/(app)/namespaces/[namespace]/workflows/compare/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/session/+page.svelte
  temporal/README.md
  temporal/activities/call-agent-step.ts
  temporal/activities/call-llm-claude.ts
  temporal/activities/call-llm-flaky.ts
  temporal/activities/call-llm-gemini.ts
  temporal/activities/call-llm.ts
  temporal/activities/execute-tool.ts
  temporal/activities/index.ts
  temporal/activities/run-guardrail.ts
  temporal/activities/search-knowledge-base.ts
  temporal/run-llm-demo.ts
  temporal/workers.ts
  temporal/workflows.ts
  tests/test-utilities/mocks/llm-event-history.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: support custom CFN template in setup guide, remove Terraform and Vercel
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-setup-guide.svelte
  src/lib/components/workers/serverless-worker-form/setup-guide-toggle.svelte
  src/lib/pages/serverless-worker-create.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update error link in codec-server-error-banner
  src/lib/components/codec-server-error-banner.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add class prop to BottomNav component
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Gate Chat tab on _details.model, use response key for display
  src/lib/components/event/chat-view.svelte
  src/lib/components/event/tree-view.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/session-view.svelte
  temporal/activities/call-llm-claude.ts
  temporal/activities/call-llm-flaky.ts
  temporal/activities/call-llm-gemini.ts
  temporal/activities/call-llm.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix codec server banner link
  src/lib/components/codec-server-error-banner.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update error link in codec-server-error-banner (#3313)
  src/lib/components/codec-server-error-banner.svelte
Due: eslint --fix, prettier --write, stylelint --fix

PR review updates
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/holocene/feature-tag.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/stores/table-density.ts
  src/lib/utilities/truncate-value.ts
Due: eslint --fix, prettier --write, stylelint --fix

Change to dense instead of compact
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Hide tooltip on all other cells if length is less than TRUNCATE_LENGTH
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add class prop to BottomNav component (#3314)
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update index.ts
  src/lib/models/event-groups/index.ts
Due: eslint --fix, prettier --write

Add pending child workflow label to event summary row
  src/lib/components/event/event-summary-row.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

only show pending for child workflows if the workflow is running
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add overrides
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: address PR review feedback on serverless workers UI
  src/lib/components/deployments/compute-badge.svelte
  src/lib/components/deployments/deployment-header.svelte
  src/lib/components/deployments/version-actions-menu.svelte
  src/lib/components/deployments/version-compute-details.svelte
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.svelte
  src/lib/components/workers/serverless-worker-form/create-version-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-setup-guide.svelte
  src/lib/holocene/radio-input/radio-card.svelte
  src/lib/holocene/timeline/timeline-step.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/serverless-worker-create.svelte
  src/lib/pages/worker-deployment-version-create.svelte
  src/routes/(app)/namespaces/[namespace]/workers/deployments/create/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: setup guide visual polish
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-setup-guide.svelte
  src/lib/components/workers/serverless-worker-form/setup-guide-toggle.svelte
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add overrides (#3317)
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor(decode-payload): clean up decode-payload.ts API surface (#3302)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/metadata-decoder.svelte
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/schedule/schedule-form/schema.ts
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/workflow/download-event-history-modal.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/event-history/get-event-attributes.test.ts
  src/lib/models/event-history/index.ts
  src/lib/models/event-history/to-event-history.test.ts
  src/lib/models/pending-activities/index.ts
  src/lib/models/pending-activities/to-decoded-pending-activities.test.ts
  src/lib/models/workflow-execution.ts
  src/lib/pages/standalone-activity-metadata.svelte
  src/lib/pages/standalone-activity-workers.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
  src/lib/services/query-service.ts
  src/lib/services/workflow-service.ts
  src/lib/types/events.ts
  src/lib/utilities/decode-local-activity.ts
  src/lib/utilities/decode-payload-test-fixtures.ts
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/export-history.ts
  src/lib/utilities/get-activity-status-and-count.ts
  src/lib/utilities/get-group-status-and-count.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/get-workflow-relationships.test.ts
  src/routes/(app)/nexus/[id]/+layout.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make input height full so its easier to click into the input
  src/lib/holocene/input/input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make input height full so its easier to click into the input (#3318)
  src/lib/holocene/input/input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: address remaining PR review comments
  src/lib/components/deployments/deployments-empty-state.svelte
  src/lib/components/deployments/version-row-details.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/workers/serverless-worker-form/create-version-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/setup-guide-toggle.svelte
  src/lib/holocene/radio-input/radio-card.svelte
  src/lib/layouts/workers-layout.svelte
  src/lib/pages/deployment.svelte
  src/lib/types/deployments.ts
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workers/deployments/create/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workers/deployments/serverless/create/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor: extract ComputeFields component to eliminate duplication
  src/lib/components/workers/serverless-worker-form/compute-fields.svelte
  src/lib/components/workers/serverless-worker-form/create-version-form.svelte
  src/lib/components/workers/serverless-worker-form/edit-version-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat: shared delete modal + create button on instances tab
  src/lib/components/deployments/delete-confirm-modal.svelte
  src/lib/components/deployments/delete-deployment-modal.svelte
  src/lib/components/deployments/delete-version-modal.svelte
  src/routes/(app)/namespaces/[namespace]/workers/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Workflows Table Row Density (#3285)
  src/lib/components/workers/workers-table/workers-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/feature-tag.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/table-comfy.svelte
  src/lib/holocene/icon/svg/table-dense.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/stores/table-density.ts
  src/lib/utilities/truncate-value.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: gate compute badge in deployment table row behind capability flag
  src/lib/components/deployments/deployment-table-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: align label and value vertically in compute details rows
  src/lib/components/deployments/version-compute-details.svelte
  src/routes/(app)/+layout.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: rename create button to 'Create Deployment' on list pages, use 'Save' on form
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/serverless-worker-create.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: rename CTA to 'Create Worker Deployment'
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
