Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Cleanup
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/end-time-interval.svelte
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/table/table.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/models/workflow-execution.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/format-event-attributes.ts
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add tag
  package.json
Due: prettier --write

Improve UX: Forbidden requests should not redirect to login page (#2270)
  src/lib/utilities/handle-error.ts
Due: eslint --fix, prettier --write

Add bg to expanded row, add thin class to keep rows same height
  package.json
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Clean up types
  src/lib/components/event/event-details-full.svelte
  src/lib/components/lines-and-dots/svg/compact-flag-posts.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-vertical.svelte
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/graph-widget.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make schedules table headers configurable
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/index.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/orderable-list.svelte
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedules.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/configurable-table-columns.test.ts
  src/lib/stores/configurable-table-columns.ts
  src/lib/stores/workflow-table-columns.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add back schedule name search input
  src/lib/pages/schedules.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix responsiveness
  src/lib/pages/schedules.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Only add starts with option to TextFilter if attribute is a Keyword
  src/lib/components/search-attribute-filter/text-filter.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix empty state
  src/lib/pages/schedules.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update testId
  tests/e2e/workflows-summary-table-configuration.spec.ts
Due: eslint --fix, prettier --write

Add onError callback
  src/lib/pages/schedules.svelte
  src/lib/services/schedule-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

remove expand when slot is empty (#2242)
  src/lib/holocene/accordion.stories.svelte
  src/lib/holocene/accordion.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make timeline axis sticky, move to paginationTable, better borders
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-axis.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Get the graph in the fixed table. Expanded cell needs to be wider
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/holocene/table/paginated-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix the wrong nano conversion in timestampToDate
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write

Remove encodingDecoded field
  src/fixtures/local-activities/dotnet_local_activity.json
  src/fixtures/local-activities/go_local_activity.json
  src/fixtures/local-activities/java_local_activity.json
  src/fixtures/local-activities/python_local_activity.json
  src/fixtures/local-activities/ts_local_activity.json
  src/lib/utilities/decode-payload.ts
Due: eslint --fix, prettier --write

Fix the wrong nano conversion in timestampToDate (#2273)
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write

Small tweaks
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/table/paginated-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use new paginated table, add maxHeight and split variant
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove schedule name search input
  src/lib/pages/schedules.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add expandable prop to search attribute Accordion
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/holocene/accordion.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add search attribute type map
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/search-attribute-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/start-workflow-search-attribute-input.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/models/search-attribute-filters.ts
  src/lib/stores/search-attributes.ts
  src/lib/types/workflows.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/search-attribute-filter.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
  src/lib/utilities/screaming-enums.ts
  tests/test-utilities/mocks/search-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add ScheduleId filter option and rename table header
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/pages/schedules.svelte
  src/lib/stores/configurable-table-columns.ts
Due: eslint --fix, prettier --write, stylelint --fix

Use Input required prop on schedule form
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/i18n/locales/en/schedules.ts
  tests/e2e/schedules.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add back lines and dots
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-group-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/utilities/format-event-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

Schedule search attributes (#2241)
  src/lib/components/schedule/schedule-advanced-settings.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-search-attributes.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/datetime-input.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/components/workflow/search-attribute-input/number-input.svelte
  src/lib/components/workflow/search-attribute-input/text-input.svelte
  src/lib/components/workflow/start-workflow-search-attribute-input.svelte
  src/lib/components/workflow/start-workflow-search-attributes.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/orderable-list.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/time-picker.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/events.ts
  src/lib/i18n/locales/en/schedules.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-metadata.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/stores/search-attributes.ts
  src/lib/types/index.ts
  src/lib/types/schedule.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add isCloud check for ScheduleId
  src/lib/pages/schedules.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add on:click to ToggleSwitch
  src/lib/holocene/toggle-switch.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix expandable false UI in Accordion
  src/lib/holocene/accordion.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add status to compact view
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/constants.test.ts
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/utilities/format-camel-case.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove encodingDecoded field (#2274)
  src/fixtures/local-activities/dotnet_local_activity.json
  src/fixtures/local-activities/go_local_activity.json
  src/fixtures/local-activities/java_local_activity.json
  src/fixtures/local-activities/python_local_activity.json
  src/fixtures/local-activities/ts_local_activity.json
  src/lib/utilities/decode-payload.ts
Due: eslint --fix, prettier --write

Get everything cleaned up, figure out compact view on open, show all group events in full mode as well
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-empty-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/utilities/format-event-attributes.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add pending nexus operations and pending activities to the top of all view
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/history-graph-row-visual.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/workflow-callback.svelte
  src/lib/models/workflow-execution.ts
  src/lib/types/events.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/is-pending-activity.ts
  src/lib/utilities/pending-activities.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix types
  src/lib/components/event/event-summary-table.svelte
  src/lib/utilities/pending-activities.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make the attributes in a better order, lets call it done
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/models/event-groups/get-group-name.ts
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix tests, delete unused files.
  src/lib/components/event/event-detail-pills.svelte
  src/lib/components/event/event-empty-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-row-payload-detail.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/event-groups/group-events.test.ts
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  tests/integration/workflow-event-history.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove old timeline helpers
  src/lib/components/event/event-history-timeline-helpers.ts
Due: eslint --fix, prettier --write

Fix Local Activity label
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/models/event-groups/get-group-name.ts
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
