Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Change from 350 to 250
  src/lib/holocene/table/paginated-table/api-paginated.svelte
Due: eslint --fix, prettier --write, stylelint --fix

API Pagination for Workflows List (#2708)
  src/lib/components/workflow/workflow-count-refresh.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/holocene-components.json
  src/lib/holocene/progress-bar.stories.svelte
  src/lib/holocene/progress-bar.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/capability-enablement.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/export-workflows.ts
  src/lib/utilities/stores/with-loading.ts
  tests/integration/workflow-bulk-actions.spec.ts
  tests/integration/workflows-count.spec.ts
  tests/test-utilities/mocks/system-info.ts
  tests/test-utilities/mocks/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

rm apply, switch to runes mode
  src/lib/holocene/card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

switch to className
  src/lib/holocene/card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Table changes
  src/lib/components/event/event-card.svelte
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/progress-bar.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/table.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add Zod as a dependency
  package.json
  pnpm-lock.yaml
Due: prettier --write

Refactor `is` and add test coverage
  src/lib/utilities/is.test.ts
  src/lib/utilities/is.ts
Due: eslint --fix, prettier --write

Merge `isFunction` into `is`
  src/lib/utilities/is-function.test.ts
  src/lib/utilities/is-function.ts
Due: eslint --fix, prettier --write

Replace is-function.ts imports
  src/lib/stores/persist-store.ts
  src/lib/utilities/paginated.ts
  src/lib/utilities/request-from-api.ts
Due: eslint --fix, prettier --write

Refactor is-email and add tests
  src/lib/utilities/is-email.test.ts
  src/lib/utilities/is-email.ts
Due: eslint --fix, prettier --write

Refactor `has` and add tests
  src/lib/utilities/has.test.ts
  src/lib/utilities/has.ts
Due: eslint --fix, prettier --write

Refactor is-pending-activity and add tests
  src/lib/utilities/is-pending-activity.test.ts
  src/lib/utilities/is-pending-activity.ts
Due: eslint --fix, prettier --write

WIP
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflow-query.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use pull_request_target
  .github/workflows/chromatic.yml
Due: none

migrate card to svelte 5 (#2716)
  src/lib/holocene/card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use pull_request_target (#2718)
  .github/workflows/chromatic.yml
Due: none

Remove Refetch button
  src/lib/pages/workflow-call-stack.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update accordion files
  src/lib/holocene/accordion/accordion-group.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/holocene/accordion/accordion.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove unused pin logic
  src/lib/components/workflow/configurable-table-headers-drawer/orderable-list.svelte
  src/lib/holocene/holocene-components.json
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.stories.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/stores/configurable-table-columns.test.ts
  src/lib/stores/configurable-table-columns.ts
Due: eslint --fix, prettier --write, stylelint --fix

add type interface to storybook test
  src/lib/holocene/accordion/accordion.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add some more config fields.
  server/config/docker.yaml
Due: none

Re-remove the dockerize config template.
  server/docker/config-template.yaml
Due: none

Add support for config templating. (#2485)
  server/Dockerfile
  server/config/docker.yaml
  server/docker/README.md
  server/docker/config-template.yaml
  server/docker/start-ui-server.sh
  server/go.mod
  server/go.sum
  server/plugins/fs_config_provider/loader.go
Due: prettier --write

feat(ci): update workflows for release management (#2702)
  .github/actions/setup-node/action.yml
  .github/release-drafter.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/chromatic.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-package.yml
  .github/workflows/release-draft.yml
  .github/workflows/release-published.yml
  .github/workflows/storybook-tests.yml
  .github/workflows/test.yml
  .github/workflows/update-ui-server.yml
Due: none

Update release drafter config
  .github/release-drafter.yml
Due: none

Update release drafter config (#2722)
  .github/release-drafter.yml
Due: none

update workflow details
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/holocene/accordion/accordion-light.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use timeFormat
  src/lib/pages/workflow-call-stack.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Sort query list and remove Refetch button on Call Stack (#2719)
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflow-query.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update workflow current details
  src/lib/components/workflow/metadata/workflow-current-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove old Parent Workflow ID check
  src/lib/stores/configurable-table-columns.ts
Due: eslint --fix, prettier --write

Remove additional filter
  src/lib/stores/configurable-table-columns.ts
Due: eslint --fix, prettier --write

add useDarkModePreference store, make existing useDarkMode derived
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
Due: eslint --fix, prettier --write

add DarkModeButton to bottom nav
  src/lib/components/bottom-nav-settings.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add dark mode button to top nav
  src/lib/components/top-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add dark mode button component
  src/lib/components/dark-mode-button.svelte
  src/lib/i18n/locales/en/common.ts
Due: eslint --fix, prettier --write, stylelint --fix

update workflow callbacks
  src/lib/components/workflow/workflow-callbacks.svelte
Due: eslint --fix, prettier --write, stylelint --fix

remove dark mode button from side nav
  src/lib/components/side-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

enhance dark mode utilities with preference type and next preference function
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
Due: eslint --fix, prettier --write

separate icon button and nav button for bottom nav
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/dark-mode-icon-button.svelte
  src/lib/components/dark-mode-navigation-button.svelte
  src/lib/components/top-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix
