Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Move fetchNamespace to layout
  src/lib/services/namespaces-service.ts
  src/routes/(app)/namespaces/[namespace]/+layout.ts
  src/routes/(app)/namespaces/[namespace]/+page.ts
Due: eslint --fix, prettier --write

Use page.data.namespace in getWorkflowRelationships
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/workflow-relationships-old.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/utilities/get-workflow-relationships.test.ts
  src/lib/utilities/get-workflow-relationships.ts
Due: eslint --fix, prettier --write, stylelint --fix

use snippet instead of slot
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add a slot to the bottom nav for user profile picture in cloud (#3004)
  src/lib/components/bottom-nav.svelte
  src/lib/components/top-nav.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

lock file updates
  pnpm-lock.yaml
Due: none

Lets see if pnpm 10.10 works
  package.json
Due: prettier --write

Fix some errors, merge some things try to bump node to 22
  .github/actions/setup-node/action.yml
  ESLINT-MIGRATION-FIXES.md
  TYPESCRIPT-STRICT-MODE-MIGRATION.md
  src/app.d.ts
  src/lib/components/schedule/schedules-count.svelte
  src/lib/components/search-attribute-filter/conditional-menu.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/workflow-loading-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/select/select.svelte
  src/lib/stores/api-pagination.test.ts
  src/lib/stores/api-pagination.ts
  temporal/workers.ts
  tests/integration/archival-namespace.spec.ts
  tests/integration/workflow-bulk-actions.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update mock apis
  tests/integration/start-a-workflow.spec.ts
  tests/test-utilities/mock-apis.ts
Due: eslint --fix, prettier --write

Use page.data.namespace to access namespaceInfo (#3002)
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/workflow-relationships-old.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/services/namespaces-service.ts
  src/lib/utilities/get-workflow-relationships.test.ts
  src/lib/utilities/get-workflow-relationships.ts
  src/routes/(app)/namespaces/[namespace]/+layout.ts
  src/routes/(app)/namespaces/[namespace]/+page.ts
  tests/integration/start-a-workflow.spec.ts
  tests/test-utilities/mock-apis.ts
Due: eslint --fix, prettier --write, stylelint --fix

Use page.data.namespace
  src/lib/pages/saved-query-views.svelte
  src/lib/utilities/get-namespace-capabilities.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix eslint weirdness
  eslint.config.js
  src/lib/stores/configurable-table-columns.ts
  src/lib/utilities/omit.ts
Due: eslint --fix, prettier --write

Update badge spacing and empty state copy
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/saved-query-views.svelte
Due: eslint --fix, prettier --write, stylelint --fix

clean up
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Task Failure System View (#2991)
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/empty-states/no-workflow-task-failures.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/empty-states/no-workflows.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/exclamation-octagon.svelte
  src/lib/holocene/icon/svg/happy-lappy.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/saved-query-views.svelte
  src/lib/services/workflow-counts.ts
  src/lib/stores/saved-queries.ts
  src/lib/types/index.ts
  src/lib/utilities/get-namespace.test.ts
  src/lib/utilities/get-namespace.ts
  src/lib/utilities/workflow-task-failures.test.ts
  src/lib/utilities/workflow-task-failures.ts
Due: eslint --fix, prettier --write, stylelint --fix

update tracking
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.43.0
  package.json
  server/server/version/version.go
Due: prettier --write

use better pattern
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore(docker): inline docker-builds base image dependencies (#2996)
  server/Dockerfile
Due: none

oops, tried to oversimplify. fixed for values that aren't runId's
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move group title into event-details-full
  src/lib/components/event/event-details-full.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add feedback
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat: add contains filter
  src/lib/components/search-attribute-filter/filter-list.svelte
  src/lib/components/search-attribute-filter/text-filter.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/utilities/is.ts
  src/lib/utilities/query/filter-workflow-query.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.43.2
  package.json
  server/server/version/version.go
Due: prettier --write

Update badge padding
  src/lib/pages/saved-query-views.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Set explicit permissions for GitHub Actions workflows (#2989)
  .github/workflows/chromatic.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/playwright.yml
  .github/workflows/test.yml
  .github/workflows/trigger-downstream-updates.yml
Due: none

Update query badge colors
  src/lib/components/workflow-status.svelte
  src/lib/pages/saved-query-views.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Styling things
  src/lib/components/activity/activity-commands.svelte
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix category check
  src/lib/components/event/event-details-full.svelte
Due: eslint --fix, prettier --write, stylelint --fix

More refactoring, fix task failure card
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/types.d.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write, stylelint --fix

Go back to cards
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Task Failures style updates (#3010)
  src/lib/components/workflow-status.svelte
  src/lib/pages/saved-query-views.svelte
Due: eslint --fix, prettier --write, stylelint --fix

More leading-3
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

rm useless classes
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Better colors
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Truncate runid (#3006)
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move things around again
  src/lib/components/activity/activity-commands.svelte
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Show error with filtering workflows
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Show error with filtering workflows (#3011)
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add claude github workflow
  .github/workflows/claude.yml
Due: none

Add claude github workflow (#3013)
  .github/workflows/claude.yml
Due: none
