Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Make art for empty state 50%, make sdk logos flex
  src/lib/components/empty-states/table-empty-state-artwork.svelte
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Redesign Workflow Task failure diagnostics
  docs/ui-redesign-session-guide.md
  src/lib/components/lines-and-dots/workflow-error-stack-trace.svelte
  src/lib/components/lines-and-dots/workflow-error.stories.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/components/lines-and-dots/workflow-failure-diagnostic.test.ts
  src/lib/components/lines-and-dots/workflow-failure-diagnostic.ts
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  tests/integration/workflow-task-alert.desktop.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Align event category colors across views
  DESIGN.md
  src/lib/components/event/event-styles.ts
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/colors.ts
  src/lib/components/lines-and-dots/event-category-colors.test.ts
  src/lib/components/lines-and-dots/event-history-legend.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/workflow-row.svelte
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write, stylelint --fix

Prevent event detail label overlap
  src/lib/components/event/event-card.svelte
  tests/integration/event-card-layout.desktop.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update redesign session guide through event detail fix
  docs/ui-redesign-session-guide.md
Due: prettier --write

refactor(events): derive event groups on read in the grouped-event-buffer (#3790)
  docs/timeline-architecture.md
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/timeline-graph/build-time-segments.ts
  src/lib/components/lines-and-dots/timeline-graph/graph-widget.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline.svelte.test.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline.svelte.ts
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  src/lib/models/event-groups/create-event-group.test.ts
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/services/grouped-event-buffer.svelte.ts
  src/lib/services/grouped-event-buffer.test.ts
  src/lib/services/grouped-event-buffer.ts
  src/lib/services/live-poll.ts
  src/lib/services/test-helpers/lazy-group-fields.ts
  src/lib/services/test-helpers/synthetic-events.ts
  src/lib/stores/events.ts
  src/lib/utilities/get-failed-or-pending.ts
  src/lib/utilities/order-groups-by-pending.ts
  src/lib/utilities/sort-timeline-groups.ts
  tests/integration/timeline-live-completion.spec.ts
  tests/integration/workflow-history-compact-live.spec.ts
  tests/integration/workflow-history-compact.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(icons): render the timeline sprite from the Io icon components
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-icon-defs.svelte
  src/lib/components/lines-and-dots/timeline-graph/workflow-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(io/icon): rename the json icon to code
  src/lib/components/event/event-summary.svelte
  src/lib/components/schedule/schedule-view/schedule-spec-card.svelte
  src/lib/components/search-attribute-filter/filter-bar.svelte
  src/lib/io/icon/icons/code.svelte
  src/lib/io/icon/index.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/import-events-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove sideEffects property
  package.json
Due: prettier --write

fix(nav): forward the mobile nav item testids
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

test(catalog): type the readiness icon and explain the name matcher
  src/lib/catalog/browser/catalog-detail.test.ts
Due: eslint --fix, prettier --write

refactor(icons): drop two unused icon imports
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Get total slots based on available plus used
  src/lib/components/workers/worker-details/worker-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Pin actions to top of paginated table
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/saved-query-views/saved-views.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/pages/deployment.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(timezone): use regular font weight for the timezone switcher
  src/lib/components/timezone-select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: split Catalog into a focused Temporal UI plugin
  .agents/plugins/marketplace.json
  .claude-plugin/marketplace.json
  .claude/skills/catalog
  .codex/skills/catalog
  agent-plugins/temporal-ui-catalog/.claude-plugin/plugin.json
  agent-plugins/temporal-ui-catalog/.codex-plugin/plugin.json
  agent-plugins/temporal-ui-catalog/skills/catalog/SKILL.md
  agent-skills/.claude-plugin/plugin.json
  agent-skills/.codex-plugin/plugin.json
  src/lib/catalog/README.md
Due: prettier --write

feat(ci): author security remediations with Claude
  .github/WORKFLOWS.md
  .github/scripts/validate-claude-dependency-remediation.mjs
  .github/scripts/validate-claude-dependency-remediation.test.mjs
  .github/workflows/weekly-dependency-security-review.yml
  .github/workflows/weekly-oncall-review-pr-test.yml
  .github/workflows/weekly-oncall-review.yml
  package.json
Due: prettier --write

fix(ci): keep weekly review manually triggered
  .github/WORKFLOWS.md
  .github/workflows/weekly-oncall-review.yml
Due: prettier --write

feat(catalog): bind promote contract to revision (UI-104)
  scripts/catalog/ui-authoring.test.ts
  scripts/catalog/ui-authoring.ts
  src/lib/catalog/authoring.test.ts
  src/lib/catalog/authoring.ts
Due: eslint --fix, prettier --write

Move shared workflow authoring into UI (UI-103)
  scripts/catalog/ui-authoring.test.ts
  scripts/catalog/ui-authoring.ts
  src/lib/catalog/authoring.test.ts
  src/lib/catalog/authoring.ts
Due: eslint --fix, prettier --write

Add total worker count to tables
  src/lib/components/workers/workers-table/task-queue-workers-table.svelte
  src/lib/components/workers/workers-table/workers-table.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/pages/workers.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add worker count to workers layout
  src/lib/layouts/workers-layout.svelte
  src/lib/services/worker-service.ts
  src/lib/stores/workers.ts
  src/lib/types/api.ts
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix strict error
  src/lib/services/worker-service.ts
Due: eslint --fix, prettier --write

Add worker count to worflow run layout
  src/lib/components/workers/workers-table/task-queue-workers-table.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/stores/workers.ts
  src/lib/stores/workflow-run.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add worker count to saa details page
  src/lib/components/workers/workers-table/task-queue-workers-table.svelte
  src/lib/layouts/standalone-activity-layout.svelte
  src/lib/layouts/workers-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/standalone-activity-workers.svelte
  src/lib/services/worker-service.ts
  src/lib/stores/activities.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make total a number in api paginated component
  src/lib/holocene/table/paginated-table/api-paginated.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add count to instances tab
  src/lib/layouts/workers-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(io/icon): take design's drawings for the derived icons, add three new ones
  src/lib/io/icon/icons/invite.svelte
  src/lib/io/icon/icons/lock-open.svelte
  src/lib/io/icon/icons/play-solid.svelte
  src/lib/io/icon/icons/star-ai.svelte
  src/lib/io/icon/icons/temporal-rainbow-deploy.svelte
  src/lib/io/icon/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(icons): use the solid play glyph where holocene's play was solid
  src/lib/catalog/browser/catalog-detail.svelte
  src/lib/catalog/browser/catalog-list.svelte
  src/lib/components/activity/activity-commands.svelte
  src/lib/components/command-palette/index.svelte
  src/lib/components/schedule/schedule-view/workflow-runs-empty.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: split Catalog into a focused Temporal UI plugin (#3835)
  .agents/plugins/marketplace.json
  .claude-plugin/marketplace.json
  .claude/skills/catalog
  .codex/skills/catalog
  agent-plugins/temporal-ui-catalog/.claude-plugin/plugin.json
  agent-plugins/temporal-ui-catalog/.codex-plugin/plugin.json
  agent-plugins/temporal-ui-catalog/skills/catalog/SKILL.md
  agent-skills/.claude-plugin/plugin.json
  agent-skills/.codex-plugin/plugin.json
  src/lib/catalog/README.md
Due: prettier --write

Fix icon exports, timeline icons, and labels
  scripts/catalog/catalog-artifacts.test.ts
  scripts/generate-exports.mjs
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline-icon-defs.svelte
  src/lib/io/icon/icon-svg-wrapper.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(DT-4385): address system Nexus review feedback
  scripts/new-system-nexus-operation.test.ts
  scripts/new-system-nexus-operation.ts
  src/lib/components/lines-and-dots/timeline-graph/group-details-row-client-test-runner-entry.ts
  src/lib/components/lines-and-dots/timeline-graph/group-details-row-client-test-runner.ts
  src/lib/components/lines-and-dots/timeline-graph/group-details-row-event-details-test-double.svelte
  src/lib/components/lines-and-dots/timeline-graph/group-details-row-graph-widget-test-double.svelte
  src/lib/components/lines-and-dots/timeline-graph/group-details-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/group-details-row.svelte.test.ts
  src/lib/system-nexus-endpoints/signal-with-start-workflow/input-renderer-client-test-runner-entry.ts
  src/lib/system-nexus-endpoints/signal-with-start-workflow/input-renderer-client-test-runner.ts
  src/lib/system-nexus-endpoints/signal-with-start-workflow/input-renderer-payload-code-block-test-double.svelte
  src/lib/system-nexus-endpoints/signal-with-start-workflow/input-renderer.svelte
  src/lib/system-nexus-endpoints/signal-with-start-workflow/input-renderer.svelte.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(catalog): author local examples in UI (UI-105)
  plugins/catalog-local-authoring-bridge.test.ts
  plugins/catalog-local-authoring-bridge.ts
  plugins/vite-plugin-catalog-local.fixture.ts
  plugins/vite-plugin-catalog-local.test.ts
  plugins/vite-plugin-catalog-local.ts
  scripts/catalog/ui-authoring-generated-paths.ts
  scripts/catalog/ui-authoring.test.ts
  scripts/catalog/ui-authoring.ts
  src/lib/catalog/authoring.test.ts
  src/lib/catalog/authoring.ts
  src/lib/catalog/browser/catalog-authoring-host.test.ts
  src/lib/catalog/browser/catalog-authoring-host.ts
  src/lib/catalog/browser/catalog-authoring-store.test.ts
  src/lib/catalog/browser/catalog-authoring-store.ts
  src/lib/catalog/browser/catalog-authoring-workspace.client.test.ts
  src/lib/catalog/browser/catalog-authoring-workspace.svelte
  src/lib/catalog/browser/catalog-client-test-runner-entry.ts
  src/lib/catalog/browser/catalog-create.client.test.ts
  src/lib/catalog/browser/catalog-create.svelte
  src/lib/catalog/browser/catalog-save-presentation.test.ts
  src/lib/catalog/browser/catalog-save-presentation.ts
  src/lib/svelte-mocks/app/navigation.ts
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/catalog/+page.svelte
  src/routes/(app)/namespaces/[namespace]/catalog/catalog.test.ts
  src/routes/(app)/namespaces/[namespace]/catalog/catalog.ts
  src/routes/(app)/namespaces/[namespace]/catalog/create/+page.svelte
  src/routes/(app)/namespaces/[namespace]/catalog/create/page.test.ts
  src/routes/(app)/namespaces/[namespace]/catalog/page.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Get total slots based on available plus used (#3833)
  src/lib/components/workers/worker-details/worker-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(timezone): use regular font weight for the timezone switcher (#3834)
  src/lib/components/timezone-select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make package exports explicit
  .github/workflows/lint-and-test.yml
  package.json
  scripts/generate-exports.mjs
  scripts/public-exports.mjs
Due: prettier --write

Wip body scroll table sticky
  src/app.css
  src/lib/components/download-json-button.svelte
  src/lib/components/saved-query-views/saved-views.svelte
  src/lib/components/standalone-activities/activities-summary-configurable-table.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/pages/deployments.svelte
  src/lib/pages/schedules.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(ci): plan dependency remediation from real alert data
  .github/scripts/apply-weekly-dependency-remediation.mjs
  .github/scripts/apply-weekly-dependency-remediation.test.mjs
Due: none

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
