Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

add payload coverage workflow and add encryption to codec server
  package.json
  scripts/e2e-workflows.ts
  scripts/payload-coverage-workflow.ts
  temporal/PAYLOAD_COVERAGE.md
  temporal/activities/complex.ts
  temporal/activities/index.ts
  temporal/client.ts
  temporal/codec-server.ts
  temporal/crypto.ts
  temporal/data-converter.ts
  temporal/encryption-codec.ts
  temporal/payload-codec.ts
  temporal/workers.ts
  temporal/workflows.ts
Due: eslint --fix, prettier --write

Add usePortal support to Tooltip component
  src/lib/holocene/tooltip.stories.svelte
  src/lib/holocene/tooltip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

test(e2e): add payload decoder tests covering all payload touchpoints
  tests/e2e/payload-decoder.desktop.spec.ts
  tests/global-setup.ts
Due: eslint --fix, prettier --write

test(e2e): refactor payload-decoder spec to use page object model
  package.json
  pnpm-lock.yaml
  src/lib/pages/workflow-query.svelte
  temporal/encryption-codec.ts
  temporal/workflows.ts
  tests/e2e/payload-decoder.desktop.spec.ts
  tests/pages/event-history.ts
  tests/pages/signal-modal.ts
  tests/pages/workflow-detail.ts
  tests/pages/workflow-query.ts
  utilities/temporal-server.ts
Due: eslint --fix, prettier --write, stylelint --fix

change wf timeout back to 5 minutes
  temporal/workflows.ts
Due: eslint --fix, prettier --write

fix search attributes
  utilities/temporal-server.ts
Due: eslint --fix, prettier --write

fix: add scrollbar to CFN template code block in setup guide
  src/lib/components/workers/serverless-worker-form/serverless-worker-setup-guide.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add pr review workflows
  .github/scripts/find-pending-reviews.mjs
  .github/scripts/get-reviewers-to-notify.mjs
  .github/scripts/send-review-notifications.mjs
  .github/scripts/slack-utils.mjs
  .github/workflows/pr-review-notification.yml
  .github/workflows/pr-review-reminder.yml
Due: none

Make workflows reusable
  .github/workflows/pr-review-notification.yml
  .github/workflows/pr-review-reminder.yml
Due: none

refactor: move delete-confirm-modal to shared components
  src/lib/components/delete-confirmation-modal.svelte
  src/lib/components/deployments/delete-deployment-modal.svelte
  src/lib/components/deployments/delete-version-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

PR Review Notifications (#3322)
  .github/scripts/find-pending-reviews.mjs
  .github/scripts/get-reviewers-to-notify.mjs
  .github/scripts/send-review-notifications.mjs
  .github/scripts/slack-utils.mjs
  .github/workflows/pr-review-notification.yml
  .github/workflows/pr-review-reminder.yml
Due: none

ci: remove unused Set up Protoc step from workflows
  .github/workflows/playwright.yml
  .github/workflows/test.yml
Due: none

chore: bump version to 2.48.4
  package.json
  server/server/version/version.go
Due: prettier --write

refactor(payload): split Payload component into focused mode-specific components
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/payload/IMPROVEMENTS.md
  src/lib/components/payload/USAGE.md
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-decoder.svelte
  src/lib/components/payload/payload-inline.svelte
  src/lib/components/payload/payload-summary.svelte
  src/lib/components/payload/payload.svelte
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
  src/lib/components/standalone-activities/activity-input-and-outcome.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/metadata/metadata-events.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/pages/standalone-activity-details.svelte
  src/lib/pages/standalone-activity-search-attributes.svelte
  src/lib/pages/workflow-memo.svelte
  src/lib/pages/workflow-metadata.svelte
  src/lib/pages/workflow-search-attributes.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(payload-summary): use decodeUserMetadata and add onDecode prop
  src/lib/components/payload/payload-summary.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(payload): extract shared decode logic into decode-payload-value utility
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-decoder.svelte
  src/lib/components/payload/payload-inline.svelte
  src/lib/utilities/decode-payload-value.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(payload): replace onMount with \$effect for reactive value updates
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-decoder.svelte
  src/lib/components/payload/payload-inline.svelte
  src/lib/components/payload/payload-summary.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: ref main in reusable PR review workflows
  .github/workflows/pr-review-notification.yml
  .github/workflows/pr-review-reminder.yml
Due: none

fix: ref main in reusable PR review workflows (#3326)
  .github/workflows/pr-review-notification.yml
  .github/workflows/pr-review-reminder.yml
Due: none

add workflow with user metadata
  package.json
  scripts/workflows.ts
  src/lib/components/workflow/metadata/metadata-events.svelte
  temporal/client.ts
  temporal/worker.ts
  temporal/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

add workflow with user metadata
  package.json
  scripts/workflows.ts
  temporal/client.ts
  temporal/worker.ts
  temporal/workflows.ts
Due: eslint --fix, prettier --write

base64 decode user metadata payloads and remove unused component
  src/lib/components/workflow/metadata/metadata-events.svelte
  src/lib/utilities/decode-payload.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix imports
  tests/global-setup.ts
  tests/global-teardown.ts
Due: eslint --fix, prettier --write

fix workflow runner for ci
  temporal/client.ts
Due: eslint --fix, prettier --write

test(e2e): add end-to-end payload decoder coverage (#3321)
  package.json
  pnpm-lock.yaml
  scripts/e2e-workflows.ts
  scripts/payload-coverage-workflow.ts
  src/lib/pages/workflow-query.svelte
  temporal/PAYLOAD_COVERAGE.md
  temporal/activities/complex.ts
  temporal/activities/index.ts
  temporal/client.ts
  temporal/codec-server.ts
  temporal/crypto.ts
  temporal/data-converter.ts
  temporal/encryption-codec.ts
  temporal/payload-codec.ts
  temporal/workers.ts
  temporal/workflows.ts
  tests/e2e/payload-decoder.desktop.spec.ts
  tests/global-setup.ts
  tests/pages/event-history.ts
  tests/pages/signal-modal.ts
  tests/pages/workflow-detail.ts
  tests/pages/workflow-query.ts
  utilities/temporal-server.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(timeline): stabilize child workflow timeline width with scrollbar-gutter
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

reorganize test workflows and add test for user metadata
  scripts/payload-coverage-workflow.ts
  temporal/client.ts
  tests/e2e/payload-decoder.desktop.spec.ts
  tests/global-setup.ts
  tests/pages/workflow-detail.ts
Due: eslint --fix, prettier --write

fix scripts
  package.json
  scripts/run-workflows.ts
  temporal/client.ts
  temporal/worker.ts
Due: eslint --fix, prettier --write

chore: add setup-worktree skill (#3278)
  .claude/skills/setup-worktree/SKILL.md
Due: prettier --write

Add manual refresh of call stack
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflow-call-stack.svelte
Due: eslint --fix, prettier --write, stylelint --fix

don't wait for wf results in e2e test setup
  temporal/client.ts
  temporal/workflows.ts
  tests/global-setup.ts
Due: eslint --fix, prettier --write

add better tests
  src/lib/components/user-metadata.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/holocene/markdown-editor/preview.svelte
  tests/e2e/payload-decoder.desktop.spec.ts
  tests/pages/workflow-detail.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add showInstancesLink prop to deployment header
  src/lib/components/deployments/deployment-header.svelte
  src/lib/pages/deployment.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add error case test
  tests/e2e/payload-decoder.desktop.spec.ts
Due: eslint --fix, prettier --write

fix(ui): guard getApiOrigin against undefined VITE_API
  src/lib/utilities/get-api-origin.test.ts
  src/lib/utilities/get-api-origin.ts
Due: eslint --fix, prettier --write

Fix decoding payloads for user metadata (#3328)
  package.json
  scripts/payload-coverage-workflow.ts
  scripts/run-workflows.ts
  src/lib/components/user-metadata.svelte
  src/lib/components/workflow/metadata/metadata-events.svelte
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/holocene/markdown-editor/preview.svelte
  src/lib/utilities/decode-payload.ts
  temporal/client.ts
  temporal/worker.ts
  temporal/workflows.ts
  tests/e2e/payload-decoder.desktop.spec.ts
  tests/global-setup.ts
  tests/global-teardown.ts
  tests/pages/workflow-detail.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(DT-3887): remove Dispatch Rate Epsilon from compute scaling UI
  src/lib/components/deployments/version-compute-details.svelte
  src/lib/components/workers/serverless-worker-form/compute-fields.svelte
  src/lib/components/workers/serverless-worker-form/create-version-form.svelte
  src/lib/components/workers/serverless-worker-form/edit-version-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/shared.ts
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/serverless-worker-create.svelte
  src/lib/pages/worker-deployment-version-create.svelte
  src/lib/pages/worker-deployment-version-edit.svelte
Due: eslint --fix, prettier --write, stylelint --fix

remove unnecessary props from payload code block
  src/lib/components/event/event-card.svelte
  src/lib/components/payload/decode-payload-value.ts
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-decoder.svelte
  src/lib/components/payload/payload-inline.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/pages/standalone-activity-search-attributes.svelte
  src/lib/pages/workflow-memo.svelte
  src/lib/pages/workflow-metadata.svelte
  src/lib/pages/workflow-search-attributes.svelte
  src/lib/utilities/decode-payload-report.md
Due: eslint --fix, prettier --write, stylelint --fix

fix summary display
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
