Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Fix weird cell border top color
  src/lib/holocene/table/table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add text style for dark mode
  src/lib/holocene/table/paginated-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update style on hover and focus-visible
  src/lib/holocene/radio-input/radio-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add style for disabled state
  src/lib/holocene/radio-input/radio-input.stories.svelte
  src/lib/holocene/radio-input/radio-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add text color for dm to row on hover
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update styles for dm menu button
  src/lib/holocene/menu/menu-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/holocene/table/paginated-table.svelte
  src/lib/holocene/table/paginated-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix linting
  src/lib/holocene/table/paginated-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add darkmode hover states to copy or filter buttons
  src/lib/holocene/filter-or-copy-buttons.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update bulk action style button for darkmode
  src/lib/holocene/table/bulk-action-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add noDivWrapper to Combobox icon
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update text to be inverse on hover for dm
  src/lib/holocene/table/bulk-action-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add noDivWrapper to Combobox icon (#1967)
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

OAUTH Additional claims
  go.work
  go.work.sum
  server/config/development.yaml
  server/docker/config-template.yaml
  server/go.sum
  server/server/auth/oidc.go
  server/server/auth/oidc_test.go
  server/server/config/config.go
  server/server/route/auth.go
Due: none

Remove icon changes
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
  src/lib/holocene/accordion.stories.svelte
  src/lib/holocene/alert.stories.svelte
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/empty-state.stories.svelte
  src/lib/holocene/icon-button.stories.svelte
  src/lib/holocene/icon/icon-names.ts
  src/lib/holocene/icon/icon.stories.svelte
  src/lib/holocene/icon/icon.svelte
  src/lib/holocene/icon/icon.test.ts
  src/lib/holocene/icon/index.ts
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/types.ts
  src/lib/holocene/input/input.stories.svelte
  src/lib/holocene/input/number-input.stories.svelte
  src/lib/holocene/link.stories.svelte
  src/lib/holocene/select/select.stories.svelte
  src/lib/holocene/split-button.stories.svelte
  src/lib/holocene/toggle-button/toggle-button.stories.svelte
  src/lib/holocene/tooltip.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix auth for settings requests
  src/lib/utilities/request-from-api.ts
  src/routes/(app)/+layout.ts
Due: eslint --fix, prettier --write

only show scroll to bottom when there is event history, fix lines on active box on event details
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/holocene/scroll-to-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

only show scroll to bottom when there is event history, fix lines on active box on event details (#1971)
  src/lib/components/lines-and-dots/svg/box.svelte
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/holocene/scroll-to-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Test on tag package
  package.json
Due: prettier --write

Revert version upgrade
  package.json
Due: prettier --write

Debounce refetch of workflow
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add half second debounce to workflow refetch, only fetch child workflows onMount of details
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove script and update readme to old instructions
  package.json
  scripts/generate-icon-types.ts
  src/lib/holocene/icon/icon.story.md
Due: eslint --fix, prettier --write

Update src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/select/simple-select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/holocene/select/filter-select.svelte
  src/lib/holocene/select/filter-select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Revert dynamic icon paths (#1970)
  package.json
  scripts/generate-icon-types.ts
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/workflow-row.svelte
  src/lib/holocene/accordion.stories.svelte
  src/lib/holocene/alert.stories.svelte
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/empty-state.stories.svelte
  src/lib/holocene/icon-button.stories.svelte
  src/lib/holocene/icon/icon-names.ts
  src/lib/holocene/icon/icon.stories.svelte
  src/lib/holocene/icon/icon.story.md
  src/lib/holocene/icon/icon.svelte
  src/lib/holocene/icon/icon.test.ts
  src/lib/holocene/icon/index.ts
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/types.ts
  src/lib/holocene/input/input.stories.svelte
  src/lib/holocene/input/number-input.stories.svelte
  src/lib/holocene/link.stories.svelte
  src/lib/holocene/select/select.stories.svelte
  src/lib/holocene/split-button.stories.svelte
  src/lib/holocene/toggle-button/toggle-button.stories.svelte
  src/lib/holocene/tooltip.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Set readOnly prop if staticHeight
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Prevent overfetching of workflow executions (#1972)
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/holocene/checkbox.svelte
  src/lib/holocene/checkbox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.25.0
  package.json
Due: prettier --write

Update components on archival page to support dark mode
  src/lib/components/workflow/workflows-summary-row.svelte
  src/lib/holocene/select/filter-select.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_filter-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

remove text color from pagination moved to filter select
  src/lib/holocene/pagination.svelte
  src/lib/holocene/select/filter-select.svelte
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

2.25.0 (#1974)
  package.json
Due: prettier --write

confirm that we need new icons
  src/lib/holocene/icon/svg/sun.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Stop propagation of on click event on Menu component
  src/lib/holocene/menu/menu.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Abort fetch and clear history if runId change to handle link navigation, event group styling updates, add opacity on non-primary (last clicked) event groups.
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/pending-detail-row.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Abort fetch and clear history if runId change to handle link navigation, event group styling updates, add opacity on non-primary (last clicked) event groups. (#1977)
  src/lib/components/lines-and-dots/svg/event-detail-row.svelte
  src/lib/components/lines-and-dots/svg/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/pending-detail-row.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.25.1
  package.json
Due: prettier --write

2.25.1 (#1978)
  package.json
Due: prettier --write
