Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["pnpm lint:fix", "prettier --write"],
  "*.{css,postcss,svelte}": "stylelint --fix",
  "*.{json,md}": "prettier --write"
}

fix pin icons
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/icon/svg/pin-filled.svelte
  src/lib/holocene/icon/svg/pin.svelte
  src/lib/holocene/orderable-list/orderable-list-item.svelte
Due: stylelint --fix

add resizing
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

clean up styles
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-header-cell.svelte
Due: stylelint --fix

fix styles, resize, and tests
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/models/workflow-execution.test.ts
  src/lib/models/workflow-execution.write-disabled.test.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix test/update snapshots
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/stores/workflow-table-columns.test.ts
Due: pnpm lint:fix, prettier --write

persist pinned column width
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

disable table customization for now
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

Fix batch actions helper & Signal payload encoding (#1234)
  src/lib/components/advanced-visibility-guard.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/workflows-summary-table-with-filters.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/advanced-visibility.ts
  src/lib/stores/bulk-actions.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/bulk-actions-enabled.test.ts
  src/lib/utilities/bulk-actions-enabled.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/list-workflow-query.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Merge branch 'main' of github.com:temporalio/ui into DT-544-and-DT-545-move-workflow-table-columns
  src/lib/components/advanced-visibility-guard.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-table-with-filters.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/advanced-visibility.ts
  src/lib/stores/bulk-actions.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/bulk-actions-enabled.test.ts
  src/lib/utilities/bulk-actions-enabled.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/list-workflow-query.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix changes from main
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-non-configurable-table.svelte
Due: stylelint --fix

Add option to include headers for codec server
  src/global.d.ts
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
  src/lib/vendor/codec-server-header-options.js
  src/routes/(app)/+layout.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Expose CSRF cookie insecure setting as Docker env (#1181)
  server/config/development.yaml
  server/docker/config_template.yaml
  server/server/config/config.go
Due: none

Remove default same-origin credential
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
Due: pnpm lint:fix, prettier --write

fix dropdown menu
  src/lib/components/dropdown-menu.svelte
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-id.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/dropdown-filter/workflow-type.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

uncomment code
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

2.12.1
  package.json
Due: prettier --write

fix batch actions
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

2.12.1 (#1239)
  package.json
Due: prettier --write

no resize when bulk actions visible and other style fixes
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

no z-index on wf status, fix width
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

Upate README with releases
  README.md
Due: prettier --write

Upate README with releases (#1241)
  README.md
Due: prettier --write

Add npm package link to README
  README.md
Due: prettier --write

Add npm package link to README (#1242)
  README.md
Due: prettier --write

Remove key block for event-summary
  src/lib/components/event/event-summary.svelte
Due: stylelint --fix

Remove key block for event-summary (#1243)
  src/lib/components/event/event-summary.svelte
Due: stylelint --fix

Fetch workflow for runId on page load for workflow (#1236)
  src/lib/services/workflow-service.test.ts
  src/lib/services/workflow-service.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/+page.ts
Due: pnpm lint:fix, prettier --write

fix dropdowns
  src/lib/components/dropdown-menu.svelte
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-id.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/dropdown-filter/workflow-type.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

fix bulk actions cy tests
  cypress/integration/workflow-bulk-actions.spec.js
  src/lib/components/workflow/workflows-summary-table.svelte
  src/lib/holocene/table/table.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix wf executions with new search cy tests
  cypress/integration/workflow-executions-with-new-search.spec.js
Due: pnpm lint:fix, prettier --write

Make workflowsPath var
  src/lib/utilities/update-query-parameters.ts
Due: pnpm lint:fix, prettier --write

Add event category filter to store
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/stores/filters.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add includeCredentials env var to pass credentials header
  cypress/fixtures/settings.json
  cypress/fixtures/settings.write-actions-disabled.json
  cypress/integration/login.spec.js
  server/config/development.yaml
  server/docker/config_template.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/fixtures/settings.json
  src/global.d.ts
  src/lib/services/data-encoder.ts
  src/lib/services/settings-service.ts
  src/lib/stores/settings.ts
  src/lib/svelte-mocks/app/stores.ts
  src/types/index.ts
Due: pnpm lint:fix, prettier --write

Add unit tests for includeCredentials
  src/lib/utilities/decode-payload.test.ts
Due: pnpm lint:fix, prettier --write

Add test
  cypress/integration/event-history.spec.js
  src/lib/components/event/event-category-filter.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix pw tests
  e2e/tests/workflows.spec.ts
Due: pnpm lint:fix, prettier --write

Fix event category filter on import pages
  src/lib/components/event/event-summary.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
Due: stylelint --fix

Remove unused eventCategoryParam
  src/lib/stores/event-view.ts
Due: pnpm lint:fix, prettier --write

bump ui-server version to 2.13.0
  server/server/version/version.go
Due: none

Fix event category filter (#1244)
  cypress/integration/event-history.spec.js
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/stores/event-view.ts
  src/lib/stores/filters.ts
  src/lib/utilities/update-query-parameters.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix
