Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Show 403 inside the app instead of sending the user to sign in
  src/app.d.ts
  src/hooks.client.test.ts
  src/hooks.client.ts
  src/lib/components/permission-denied.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/services/cluster-service.test.ts
  src/lib/services/cluster-service.ts
  src/lib/services/workflow-service.test.ts
  src/lib/services/workflow-service.ts
  src/lib/utilities/handle-error.test.ts
  src/lib/utilities/handle-error.ts
  src/routes/(app)/+error.svelte
  src/routes/(login)/+layout.ts
  src/routes/(login)/layout.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Refine schedule attributes and route tests
  src/lib/components/schedule/schedule-view/custom-search-attributes-card.svelte
  src/lib/utilities/route-for-base-path.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

FE-1043: Show schedule action search attributes on detail page (#4010)
  src/lib/components/schedule/schedule-view/custom-search-attributes-card.svelte
  src/lib/components/schedule/utilities/get-search-attribute-query.test.ts
  src/lib/components/schedule/utilities/get-search-attribute-query.ts
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write, stylelint --fix

FE-1027: Show estimated timer fire time on Start To Fire Timeout (#4008)
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Due: eslint --fix, prettier --write, stylelint --fix

[FE-1026] Cache immutable UI assets
  server/server/route/ui.go
  server/server/route/ui_test.go
Due: none

Add long-running timeline kitchen sink workflow
  src/lib/catalog/browser/catalog.generated.json
  src/lib/catalog/browser/catalog.generated.ts
  src/lib/catalog/worker/examples/corpus.test.ts
  src/lib/catalog/worker/examples/index.ts
  src/lib/catalog/worker/examples/timeline-kitchen-sink-long-running/example.ts
  src/lib/catalog/worker/examples/timeline-kitchen-sink-long-running/workflow.ts
  src/lib/catalog/worker/workflows.ts
Due: eslint --fix, prettier --write

feat(catalog): add slow standalone Nexus operation example and group examples by kind
  scripts/catalog/directory-promotion.test.ts
  scripts/catalog/directory-promotion.ts
  src/lib/catalog/browser/catalog-list-state.test.ts
  src/lib/catalog/browser/catalog-list-state.ts
  src/lib/catalog/browser/catalog-list.svelte
  src/lib/catalog/browser/catalog-list.test.ts
  src/lib/catalog/browser/catalog.generated.json
  src/lib/catalog/browser/catalog.generated.ts
  src/lib/catalog/worker/examples/corpus.test.ts
  src/lib/catalog/worker/examples/index.ts
  src/lib/catalog/worker/examples/slow-nexus-operation/example.ts
  src/lib/catalog/worker/examples/slow-nexus-operation/handler.ts
  src/lib/catalog/worker/examples/slow-nexus-operation/service.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(nexus): keep standalone Nexus operation input across long polls
  src/lib/utilities/standalone-nexus-operation-poller.svelte.test.ts
  src/lib/utilities/standalone-nexus-operation-poller.svelte.ts
Due: eslint --fix, prettier --write

Add agent loop stress test example to catalog
  src/lib/catalog/browser/catalog.generated.json
  src/lib/catalog/browser/catalog.generated.ts
  src/lib/catalog/worker/examples/agent-loop/activity.ts
  src/lib/catalog/worker/examples/agent-loop/example.ts
  src/lib/catalog/worker/examples/agent-loop/workflow.ts
  src/lib/catalog/worker/examples/corpus.test.ts
  src/lib/catalog/worker/examples/index.ts
  src/lib/catalog/worker/workflows.ts
Due: eslint --fix, prettier --write

Remove unused bidirectional event fetching from events-service
  src/lib/services/events-service.ts
  src/lib/services/fetch-bidirectional.ts
Due: eslint --fix, prettier --write

Keep timeline group details panel below the filter bar
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Share one decode between workflow Input/Result previews
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-decoder.svelte
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/runes/decoded-payload.svelte.test.ts
  src/lib/runes/decoded-payload.svelte.ts
  src/lib/utilities/decode-payload-result.test.ts
  src/lib/utilities/decode-payload-result.ts
Due: eslint --fix, prettier --write, stylelint --fix

Stop the history live poll once the workflow closes
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/live-poll.test.ts
  src/lib/services/live-poll.ts
  src/lib/utilities/is-event-type.test.ts
  src/lib/utilities/is-event-type.ts
Due: eslint --fix, prettier --write, stylelint --fix

i18n: add Simplified Chinese (zh) locale - 17 domains, ~1850 keys
  src/lib/i18n/locales/zh/activities.ts
  src/lib/i18n/locales/zh/batch.ts
  src/lib/i18n/locales/zh/codec-server.ts
  src/lib/i18n/locales/zh/common.ts
  src/lib/i18n/locales/zh/data-encoder.ts
  src/lib/i18n/locales/zh/date-picker.ts
  src/lib/i18n/locales/zh/deployments.ts
  src/lib/i18n/locales/zh/events.ts
  src/lib/i18n/locales/zh/index.ts
  src/lib/i18n/locales/zh/namespaces.ts
  src/lib/i18n/locales/zh/nexus.ts
  src/lib/i18n/locales/zh/schedules.ts
  src/lib/i18n/locales/zh/search-attributes.ts
  src/lib/i18n/locales/zh/standalone-activities.ts
  src/lib/i18n/locales/zh/standalone-nexus-operations.ts
  src/lib/i18n/locales/zh/typed-errors.ts
  src/lib/i18n/locales/zh/workers.ts
  src/lib/i18n/locales/zh/workflows.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
