Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Add gap in toggle button and pending activity icon (#2030)
  src/lib/holocene/alert.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.26.1
  package.json
Due: prettier --write

Use a data attribute for dark theme
  src/lib/theme/plugin.ts
  src/lib/utilities/dark-mode/dark-mode.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write

2.26.1 (#2032)
  package.json
Due: prettier --write

Add an overall background color for the application
  src/app.css
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add theming for storybook, remove custom dark mode
  .storybook/dark-mode.css
  .storybook/main.ts
  .storybook/preview.ts
Due: eslint --fix, prettier --write, stylelint --fix

Scope the background just to the body
  src/app.css
Due: stylelint --fix

Update version.go to v2.26.2 (#2029)
  server/server/version/version.go
Due: none

Add alias for Holocene
  vite.config.ts
Due: eslint --fix, prettier --write

Refactor story for Accordion
  src/lib/holocene/accordion.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add dark mode stories
  src/lib/holocene/accordion.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add aliased success icon
  src/lib/holocene/icon/paths.ts
Due: eslint --fix, prettier --write

Refactor types for alert
  src/lib/holocene/alert.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor alert stories
  src/lib/holocene/alert.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update Badge stories
  src/lib/holocene/badge.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add MenuButtonVariant prop to Select
  src/lib/holocene/select/select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor button stories
  src/lib/holocene/button.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor card stories
  src/lib/holocene/card.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove all references to old history store
  src/lib/components/event/event-summary.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/stores/events.ts
  src/lib/utilities/cancel-in-progress.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix spacing of actions on Accordion
  src/lib/holocene/accordion.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix in progress unit tests
  src/lib/utilities/cancel-in-progress.test.ts
Due: eslint --fix, prettier --write

Remove hoverable from checkbox in table header
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update stories for the checkbox
  src/lib/holocene/checkbox.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove all references to old history store (#2034)
  src/lib/components/event/event-summary.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/stores/events.ts
  src/lib/utilities/cancel-in-progress.test.ts
  src/lib/utilities/cancel-in-progress.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add MenuButtonVariant prop to Select (#2033)
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/select/select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.26.2
  package.json
Due: prettier --write

Add improved stories for Chip component
  src/lib/holocene/chip.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add improved stories for Code Block
  src/lib/holocene/code-block.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.26.2 (#2035)
  package.json
Due: prettier --write

Add margin to filter and copy icons
  src/lib/holocene/filter-or-copy-buttons.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update prop types on select component
  src/lib/holocene/select/select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update date picker stories
  src/lib/holocene/date-picker.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update drawer stories
  src/lib/holocene/drawer.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add margin to FilterOrCopyButtons component (#2036)
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/select/select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update accordion.stories.svelte
  src/lib/holocene/accordion.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Implement improved stories for empty state
  src/lib/holocene/empty-state.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update icon-button.stories.svelte
  src/lib/holocene/icon-button.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update link.stories.svelte
  src/lib/holocene/link.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update modal.stories.svelte
  src/lib/holocene/modal.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update modal.svelte
  src/lib/holocene/modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix
