Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Text audit (#1917)
  src/lib/holocene/textarea.svelte
Due: eslint --fix, prettier --write, stylelint --fix

link audit (#1916)
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/holocene/link.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update toast design padding and corners
  src/lib/holocene/toast.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix 'active' typo
  src/lib/holocene/badge.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add count badge changes from design
  src/lib/holocene/badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add blue badge changes from design for dark and light mode
  src/lib/holocene/badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add red badge changes from design for dark and light mode
  src/lib/holocene/badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add yellow badge changes from design for dark and light mode
  src/lib/holocene/badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add grey default badge changes from design for dark and light mode
  src/lib/holocene/badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add green badge changes from design for dark and light mode
  src/lib/holocene/badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove old styles
  src/lib/holocene/badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Get inline text in a good spot. Need to figure out the right height for compact view
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/text-link.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/utilities/format-event-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix button shadows on focus
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

get rid of button snapshot test
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/button.test.ts
Due: eslint --fix, prettier --write

fix button shadows on focus (#1920)
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/button.svelte
  src/lib/holocene/button.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Account for backticks in tokenize
  src/lib/utilities/is.ts
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Due: eslint --fix, prettier --write

Add backticks to custom search attribute with spaces when creating query statement
  src/lib/utilities/query/filter-workflow-query.ts
Due: eslint --fix, prettier --write

Use search attributes on input search and add test for toListWorkflowFilters
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/utilities/query/to-list-workflow-filters.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make the details row prettier, add codeblock. Make event type filter checkbox group
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/stores/events.ts
  src/lib/stores/filters.ts
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add text nowrap to search attribute menu button
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor isBacktick
  src/lib/utilities/is.ts
Due: eslint --fix, prettier --write

Fancy colors
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/dot.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/line.svelte
  src/lib/components/lines-and-dots/svg/text-link.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

import payload as type
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

add oidc implicit flow support
  server/config/development.yaml
  server/docker/README.md
  server/docker/config-template.yaml
  server/server/api/handler.go
  server/server/config/auth.go
  server/server/config/config.go
  server/server/route/auth.go
  src/lib/services/settings-service.ts
  src/lib/stores/auth-user.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/is-authorized.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.ts
Due: eslint --fix, prettier --write

unit tests
  src/lib/stores/auth-user.ts
  src/lib/utilities/is-authorized.test.ts
  src/lib/utilities/request-from-api.test.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

remute ui server
  utilities/ui-server.ts
Due: eslint --fix, prettier --write

Get history graph drawer working. Need to figure out how to correctly calc line length
  src/lib/components/lines-and-dots/constants.ts
  src/lib/components/lines-and-dots/svg/compact-graph.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/history-graph-row.svelte
  src/lib/components/lines-and-dots/svg/history-graph.svelte
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove hit-canvas, default to compact view
  package.json
  pnpm-lock.yaml
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Replace with ultraviolet
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/lines-and-dots/pending-details.svelte
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/holocene/badge.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/layouts/workflow-header-v2.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/theme/colors.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove unused files, fix sort check and always do ascending if labs mode
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/event-details-header.svelte
  src/lib/components/lines-and-dots/event-details.svelte
  src/lib/components/lines-and-dots/event-payload.svelte
  src/lib/components/lines-and-dots/event-row-details.svelte
  src/lib/components/lines-and-dots/pending-details.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/events-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update test snapshot
  src/lib/holocene/__snapshots__/button.test.ts.snap
Due: none

Update snaps
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Due: none

Always use ascending order on createGroups
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix import and input height
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Set eventGroup and events when fetching events so they use the same eventFilterSort value
  src/lib/pages/workflow-history-event-group.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Set eventGroup and events when fetching events so they use the same eventFilterSort value (#1923)
  src/lib/pages/workflow-history-event-group.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add check for operator to isPotentialStartofAttribute
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Due: eslint --fix, prettier --write

Remove accidental change to green badge
  src/lib/holocene/badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update Toaster component for dark mode support - DT-1773 (#1918)
  src/lib/holocene/toast.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add support for custom attributes with spaces in filter search (#1921)
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/utilities/is.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
