Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Add input to edit
  src/lib/pages/schedule-edit.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix outside-click
  src/lib/components/data-encoder-settings.svelte
  src/lib/holocene/date-picker.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/outside-click.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix some type stuff
  src/lib/components/top-nav.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix theme import
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write

Update navigation-container.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Bump types/node for sec vul
  package.json
  pnpm-lock.yaml
Due: prettier --write

Simplify Toggle Switch, add support for dark mode
  src/lib/holocene/toggle-switch.svelte
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Simplify Toggle Switch, add support for dark mode (#1870)
  src/lib/holocene/toggle-switch.svelte
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Support mergable classes (#1849)
  src/lib/holocene/accordion.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/radio-input/radio-group.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/tab/tab-list.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/holocene/tooltip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove duplicate key from a merge conflict
  src/lib/theme/colors.ts
Due: eslint --fix, prettier --write

Fix panels to right for both compact and full, fix pending X, in a good spot
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/event-details-header.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/line.svelte
  src/lib/components/lines-and-dots/pending-details.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/holocene/badge.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove bg color and opacity
  src/lib/holocene/modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update styling for destructive button
  src/lib/holocene/button.svelte
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Default open to false for modal story
  src/lib/holocene/modal.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

More fixes for pending activities, show dashed lines for pending
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/event-groups/index.ts
  src/lib/services/events-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix backdrop for Modal component (#1871)
  src/lib/holocene/modal.stories.svelte
  src/lib/holocene/modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Center the version number
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update the header to v2
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow-status.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/layouts/workflow-header-v2.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/events-service.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/call-stack/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/pending-activities/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/query/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/relationships/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add new workflow update event types. Need protos to update
  package.json
  pnpm-lock.yaml
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/utilities/is-event-type.ts
  src/lib/utilities/screaming-enums.test.ts
Due: eslint --fix, prettier --write

Remove pending activities tab
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/timeline-axis-labels.svelte
  src/lib/components/lines-and-dots/timeline-axis.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/layouts/workflow-header-v2.svelte
  src/lib/layouts/workflow-padded-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add standard button styling
  src/lib/holocene/button.svelte
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix error message on workflow query, show error on call stack as well
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflow-query.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix error message on workflow query, show error on call stack as well (#1873)
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflow-query.svelte
Due: eslint --fix, prettier --write, stylelint --fix

secondary button
  src/lib/holocene/button.svelte
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

ghost button
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

make updates based on comments
  src/lib/holocene/button.svelte
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add default 500 error code and empty string (#1838)
  src/lib/components/workflow/workflow-error.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.23.5
  package.json
Due: prettier --write

update border
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove unlimited attempts copy variable
  src/lib/utilities/format-event-attributes.test.ts
  src/lib/utilities/format-event-attributes.ts
Due: eslint --fix, prettier --write

Remove no expiration copy variable
  src/lib/utilities/format-event-attributes.test.ts
  src/lib/utilities/format-event-attributes.ts
Due: eslint --fix, prettier --write

Fix undefined translated values (#1877)
  src/lib/utilities/format-event-attributes.test.ts
  src/lib/utilities/format-event-attributes.ts
Due: eslint --fix, prettier --write

2.23.5 (#1876)
  package.json
Due: prettier --write

fix the focus states and remove shadow from hover
  src/lib/holocene/button.svelte
  src/lib/holocene/button.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

update tests
  src/lib/holocene/__snapshots__/button.test.ts.snap
Due: none

destructive remove shadow add hover bg
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update snapshots
  src/lib/holocene/__snapshots__/button.test.ts.snap
Due: none

Dark mode button (#1874)
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/button.svelte
  src/lib/holocene/button.test.ts
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

first pass at new dark mode for...
  src/lib/holocene/button.svelte
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.stories.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/select/select.svelte
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
