Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["pnpm lint:fix", "prettier --write"],
  "*.{css,postcss,svelte}": "stylelint --fix",
  "*.{json,md}": "prettier --write"
}

improve reason field on batch operation modal
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
Due: stylelint --fix

Hardcode workflow column colspans (#1217)
  src/lib/components/workflow/workflows-summary-table-with-filters.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/pages/workflows.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/+page.svelte
Due: stylelint --fix

add test case for optional reason
  cypress/integration/workflow-bulk-actions.spec.js
Due: pnpm lint:fix, prettier --write

Default replaceState to false in goto options for updateQueryParameters
  src/lib/utilities/update-query-parameters.ts
Due: pnpm lint:fix, prettier --write

Update data-testids and get cypress passing
  cypress/integration/data-encoder-settings.spec.js
  cypress/integration/namespaces.spec.js
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/components/namespace-list.svelte
  src/lib/components/top-nav.svelte
  src/lib/pages/workflows.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

improve hint-text styling
  src/lib/holocene/input/input.svelte
Due: stylelint --fix

Move namespaceList to layout
  src/global.d.ts
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/components/top-nav.svelte
  src/routes/(app)/+layout.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Fix type
  src/lib/components/namespace-list.svelte
Due: stylelint --fix

DT-67 - improve reason field on batch operation modal (#1218)
  cypress/integration/workflow-bulk-actions.spec.js
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/input/input.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Better responsiveness
  src/lib/components/namespace-list.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/routes/(app)/+layout.svelte
Due: stylelint --fix

Allow resizable and sticky columns in table (#1214)
  src/lib/components/workflow/workflows-summary-row-with-filters.svelte
  src/lib/components/workflow/workflows-summary-table-with-filters.svelte
  src/lib/components/workflow/workflows-summary-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-table/workflows-summary-table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-table/workflows-summary-table-header-cell.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/orderable-list.svelte
  src/lib/holocene/table-v2/table-header-row.svelte
  src/lib/holocene/table-v2/table-row.svelte
  src/lib/holocene/table-v2/table.svelte
  src/lib/pages/workflows-with-new-search-v2.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/workflow-table-columns.ts
  src/routes/(app)/namespaces/[namespace]/workflows/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add page to url on back to workflows button
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/pages/workflows.svelte
  src/lib/stores/workflows.ts
  src/lib/utilities/route-for.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Runtime setting of public path (#1216)
  package.json
  pnpm-lock.yaml
  server/docker/README.md
  server/server/route/ui.go
  server/server/server.go
  src/lib/svelte-mocks/app/paths.ts
  src/lib/utilities/get-public-path.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  svelte.config.js
Due: pnpm lint:fix, prettier --write

Add MainContentContainer with scroll to top, add overaly modal for new feature
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/navigation/side-nav.svelte
  src/lib/holocene/navigation/top-nav.svelte
  src/lib/holocene/scroll-to-top.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/_side-nav.svelte
Due: stylelint --fix

Add type to modal
  src/lib/holocene/modal.svelte
Due: stylelint --fix

refactor workflows summary tables to prep for feature flag
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-header-cell.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-non-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-row-with-filters.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-table-with-filters.svelte
  src/lib/pages/workflows-with-new-search-v2.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/+page.svelte
Due: stylelint --fix

fix batch checkboxes
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-non-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-table-with-filters.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: stylelint --fix

Don't open the modal for now
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/holocene/main-content-container.svelte
  src/routes/(app)/+layout.svelte
Due: stylelint --fix

add width to batch action button th and add height to table-header so it doesn't grow when the button show
  src/lib/components/workflow/workflows-summary-table-with-filters.svelte
Due: stylelint --fix

replace width on bulk action empty <th /> elements
  src/lib/components/workflow/workflows-summary-table-with-filters.svelte
Due: stylelint --fix

Refactor to use workflowsSearchParams
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/pages/workflows.svelte
  src/lib/stores/workflows.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Wait for workflows-api on status change in cypress tests
  cypress/integration/workflow-executions-with-new-search.spec.js
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/orderable-list.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Clear workflow filters and sorts if there is no query
  src/lib/stores/filters.ts
Due: pnpm lint:fix, prettier --write

upload artifacts, get rid of cypress cloud recordings
  .github/workflows/integration-tests.yml
Due: none

Update text to Data Transcoder
  cypress/integration/data-encoder-settings.spec.js
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/holocene/data-encoder-status.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/main-content-container.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

scroll to top
  cypress/integration/workflow-executions-with-new-search.spec.js
Due: pnpm lint:fix, prettier --write

Fix workflow type filter so value displayed is correct
  src/lib/components/workflow/dropdown-filter/workflow-type.svelte
Due: stylelint --fix

try to wait
  cypress/integration/workflow-executions-with-new-search.spec.js
Due: pnpm lint:fix, prettier --write

revert cy changes
  .github/workflows/integration-tests.yml
  cypress/integration/workflow-executions-with-new-search.spec.js
Due: pnpm lint:fix, prettier --write

New route for v2 history. WIP, need to fix dup layout with new layout group
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/v2/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/v2/+page.svelte
Due: stylelint --fix

Update icons for data transcoder, fix updating namespace in dropdown menu on change
  src/lib/components/namespace-list.svelte
  src/lib/holocene/data-encoder-status.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/namespace.svelte
  src/lib/holocene/icon/svg/transcoder-error.svelte
  src/lib/holocene/icon/svg/transcoder-on.svelte
  src/lib/holocene/navigation/top-nav.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Tone down borders
  src/lib/components/event/event-empty-row.svelte
  src/lib/components/namespace-list.svelte
  src/lib/components/panel.svelte
  src/lib/components/workflow/advanced-filter/custom-button.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/components/workflow/workflow-stack-trace-error.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/card.svelte
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/day-of-week-picker.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/month-picker.svelte
  src/lib/holocene/navigation/top-nav.svelte
  src/lib/holocene/orderable-list.svelte
  src/lib/holocene/split-button.svelte
  src/lib/holocene/table/table.svelte
  src/routes/(app)/select-namespace/+page.svelte
Due: stylelint --fix

Rewrite test in playwright
  tests/test-utilities/mock-apis.ts
  tests/workflow-executions-with-new-search.spec.ts
Due: pnpm lint:fix, prettier --write

Limit paths which namespace select will show
  src/lib/holocene/navigation/top-nav.svelte
Due: stylelint --fix

Add invalidateAll to goto options for workflows
  src/lib/utilities/update-query-parameters.ts
Due: pnpm lint:fix, prettier --write

Comment out invalidateAll
  src/lib/utilities/update-query-parameters.ts
Due: pnpm lint:fix, prettier --write

somewhat working scrolling table
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-header-cell.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/pin.svelte
  src/lib/holocene/orderable-list.svelte
  src/lib/stores/workflow-table-columns.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

use table-layout auto
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-header-cell.svelte
Due: stylelint --fix

invalidate url if on the workflows page to update page store for querying
  src/lib/utilities/update-query-parameters.ts
Due: pnpm lint:fix, prettier --write

Wrap invalidate with if statement
  src/lib/utilities/update-query-parameters.ts
Due: pnpm lint:fix, prettier --write
