Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Update version.go to v2.32.0 (#2435)
  server/server/version/version.go
Due: none

2.33.0
  package.json
Due: prettier --write

Fix issue with not reseting userMetdata correctly
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix issue with not reseting userMetdata correctly (#2437)
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.33.1
  package.json
Due: prettier --write

Refactor SearchAttributeInput to include type
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/datetime-input.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/components/workflow/search-attribute-input/list-input.svelte
  src/lib/components/workflow/search-attribute-input/number-input.svelte
  src/lib/components/workflow/search-attribute-input/text-input.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/search-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix initial search attributes on Start Workflow
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/models/workflow-execution.ts
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/types/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Use an event and dispatch it instead of adding event handlers the other way.
  src/lib/holocene/combobox/async-test.svelte
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use an event and dispatch it instead of adding event handlers the other way. (#2440)
  src/lib/holocene/combobox/async-test.svelte
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

WIP. need to fix erroboundary and allllllll the type checks.
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/calendar.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/pill-container/pill.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/lib/services/workflow-counts.ts
  src/routes/(app)/+layout.svelte
  vitest-setup.ts
Due: eslint --fix, prettier --write, stylelint --fix

More checks for update attribute
  src/lib/utilities/get-single-attribute-for-event.ts
Due: eslint --fix, prettier --write

More checks for update attribute (#2442)
  src/lib/utilities/get-single-attribute-for-event.ts
Due: eslint --fix, prettier --write

readme: fixed command typo
  README.md
Due: prettier --write

Change ring from 4px to 2px
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/input/range-input.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/pill-container/pill.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/holocene/textarea.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/holocene/toggle-switch.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix inline Codeblock and use css color variables
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Set minHeight for markdown iframe
  src/lib/holocene/monaco/markdown.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix min color contrast ratio
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write

Move alerts above tabs
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Set minHeight for markdown iframe (#2445)
  src/lib/holocene/monaco/markdown.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move alerts above tabs (#2446)
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add additional condtionals as KeywordList filter search options
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/search-attribute-filter.test.ts
  src/lib/utilities/query/search-attribute-filter.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/tokenize.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix null conditionals in toListWorkflowFilters and account for is and is null values
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Due: eslint --fix, prettier --write

Fix inline styles for CodeBlock component (#2444)
  src/lib/holocene/code-block.svelte
  src/lib/theme/variables.ts
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

readme: fixed command typo (#2443)
  README.md
Due: prettier --write

Upgrade necessary libraries, get errors down. Still have a few to go but in a good spot
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  src/global.d.ts
  src/lib/components/bottom-nav.svelte
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/feedback-button.svelte
  src/lib/components/lines-and-dots/event-sort-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/error-boundary-fallback.svelte
  src/lib/holocene/error-boundary.ts
  src/lib/holocene/error.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/holocene-components.json
  src/lib/holocene/icon/icon.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove rounded border in layout and components
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/components/panel.svelte
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/components/workflow/client-actions/batch-operation-confirmation-form.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/routes/(app)/select-namespace/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove rounded border for input components
  src/lib/components/search-attribute-filter/duration-filter.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/components/search-attribute-filter/number-filter.svelte
  src/lib/components/search-attribute-filter/text-filter.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/input/input.stories.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.stories.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/input/range-input.svelte
  src/lib/holocene/textarea.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove rounded border for button component
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove rounded border for other Holocene components
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/holocene/accordion/accordion-group.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/card.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/file-input.svelte
  src/lib/holocene/keyboard-shortcut/shortcut.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/holocene/user-menu.svelte
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Try a new linter version
  pnpm-lock.yaml
Due: none

Update vi.mock for esm-env
  vitest-setup.ts
Due: eslint --fix, prettier --write

Add additional conditional support to KeywordList filter (#2447)
  src/lib/components/search-attribute-filter/list-filter.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/search-attribute-filter.test.ts
  src/lib/utilities/query/search-attribute-filter.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
  src/lib/utilities/query/tokenize.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add ErrorBoundary
  src/lib/holocene/error-boundary.svelte
  src/lib/holocene/error.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/error.ts
  src/lib/utilities/handle-error.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/nexus/+page.ts
  src/routes/+error.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make maxHeight 100%
  src/lib/components/event/event-summary-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add collapsible component and icons for billing plans page
  src/lib/holocene/collapsible/collapsible.stories.svelte
  src/lib/holocene/collapsible/collapsible.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/chart-ascending.svelte
  src/lib/holocene/icon/svg/office-buildings.svelte
  src/lib/holocene/icon/svg/toolbox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

rename component
  src/lib/holocene/collapsible-divider/collapsible-divider.stories.svelte
  src/lib/holocene/collapsible-divider/collapsible-divider.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Allow control of max size for menu's. Allow external control for combobox through open store. Update bottom nav to increase ability to dependency inject
  src/lib/components/bottom-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Better styles and flex for workflow details
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
