Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

move dropdown menu outside of its container so the dot works
  src/lib/components/dropdown-menu.svelte
Due: stylelint --fix

fix click outside
  src/lib/components/dropdown-menu.svelte
Due: stylelint --fix

make workflow summary table pinned columns resizable (#1267)
  cypress/integration/workflow-executions-with-new-search.spec.js
  src/lib/components/dropdown-menu.svelte
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-id.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/dropdown-filter/workflow-type.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-header-cell.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/workflow-execution.ts
  src/lib/stores/search-attributes.test.ts
  src/lib/stores/search-attributes.ts
  src/lib/stores/workflow-table-columns.ts
  src/types/index.ts
  src/workflow.d.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add outline to checkbox on focus
  src/lib/holocene/checkbox.svelte
Due: stylelint --fix

fix `supportsBulkActions` helper for cloud
  src/lib/stores/advanced-visibility.ts
  src/lib/stores/bulk-actions.ts
Due: pnpm lint:fix, prettier --write

Add aria labels to bulk action checkboxes
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-row-with-filters.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-table-with-filters.svelte
Due: stylelint --fix

fix `supportsBulkActions` helper for cloud (#1287)
  src/lib/stores/advanced-visibility.ts
  src/lib/stores/bulk-actions.ts
Due: pnpm lint:fix, prettier --write

2.13.2
  package.json
Due: prettier --write

2.13.2 (#1288)
  package.json
Due: prettier --write

Add esm-env and replace browser imports
  package.json
  pnpm-lock.yaml
  src/lib/holocene/error.svelte
  src/lib/services/settings-service.ts
  src/lib/stores/persist-store.ts
  src/lib/stores/persisted-search-parameter.ts
  src/lib/utilities/atob.ts
  src/lib/utilities/auth-user-cookie.ts
  src/lib/utilities/btoa.ts
  src/lib/utilities/get-api-origin.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/update-query-parameters.ts
  src/routes/(login)/login/+page.svelte
  src/routes/(login)/signin/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

The codec is used to decrypt for the UI, not encrypt. (#1283)
  src/lib/holocene/codec-endpoint-settings.svelte
Due: stylelint --fix

fix types in ApiPagination component and store
  src/lib/holocene/api-pagination.svelte
  src/lib/stores/api-pagination.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Check if using an s3 bucket and remove filters and don't allow query params
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/+page.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix types in ApiPagination component and store (#1291)
  src/lib/holocene/api-pagination.svelte
  src/lib/stores/api-pagination.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

2.13.3
  package.json
Due: prettier --write

use enum from protos
  src/lib/components/workflow/workflow-reset-form.svelte
  src/lib/models/workflow-actions.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

2.13.3 (#1292)
  package.json
Due: prettier --write

fix types
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflow-reset-form.svelte
  src/lib/models/workflow-actions.ts
  src/lib/services/workflow-service.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Remove check for user picture
  src/lib/holocene/navigation/top-nav.svelte
Due: stylelint --fix

Remove check and less rounding
  src/lib/holocene/navigation/top-nav.svelte
Due: stylelint --fix

Move workflows types
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-non-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-row-with-filters.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-table-with-filters.svelte
  src/lib/components/workflow/workflows-summary-row.svelte
  src/lib/models/pending-activities/index.ts
  src/lib/models/pending-activities/to-decoded-pending-activities.test.ts
  src/lib/models/workflow-execution.test.ts
  src/lib/models/workflow-execution.ts
  src/lib/models/workflow-execution.write-disabled.test.ts
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/batch-service.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/search-attributes.ts
  src/lib/stores/workflow-run.ts
  src/lib/stores/workflow-table-columns.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/cancel-in-progress.ts
  src/lib/utilities/get-workflow-relationships.ts
  src/lib/utilities/get-workflow-status-filter-code.ts
  src/lib/utilities/is.ts
  src/lib/utilities/query/list-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
  src/lib/utilities/query/to-list-workflow-parameters.ts
  src/routes/(app)/namespaces/[namespace]/archival/+page.ts
  src/types/workflows.ts
  src/workflow.d.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Remove check for user picture (#1293)
  src/lib/holocene/navigation/top-nav.svelte
Due: stylelint --fix

Update tctl to temporal CLI, server README
  README.md
  server/README.md
  src/lib/holocene/code-block.story.svelte
  src/lib/pages/schedules.svelte
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
Due: prettier --write, stylelint --fix

Revert "fix types"
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflow-reset-form.svelte
  src/lib/models/workflow-actions.ts
  src/lib/services/workflow-service.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Revert "use enum from protos"
  src/lib/components/workflow/workflow-reset-form.svelte
  src/lib/models/workflow-actions.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

DT-646 - add Reapply Type to Reset (#1257)
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflow-reset-form.svelte
  src/lib/holocene/input/input.svelte
  src/lib/models/workflow-actions.ts
  src/lib/services/workflow-service.ts
  src/types/index.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Move api types
  src/api.d.ts
  src/lib/services/events-service.ts
  src/lib/services/query-service.ts
  src/lib/services/workflow-service.ts
  src/lib/utilities/route-for-api.ts
  src/types/api.ts
Due: pnpm lint:fix, prettier --write

Move search attribute types
  src/lib/models/workflow-filters.ts
  src/lib/services/search-attributes-service.ts
  src/lib/stores/search-attributes.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/is-search-attribute.test.ts
  src/lib/utilities/query/list-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
  src/search-attributes.d.ts
  src/types/workflows.ts
Due: pnpm lint:fix, prettier --write

Check if using an s3 bucket and remove filters and don't allow query params (#1290)
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
  src/routes/(app)/namespaces/[namespace]/archival/+page.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add focused state to Checkboxes (#1286)
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-row-with-filters.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-table-with-filters.svelte
  src/lib/holocene/checkbox.svelte
Due: stylelint --fix

Bring back type checking in the build
  .github/workflows/check-types.yml
  src/lib/utilities/is-event-type.test.ts
  src/types/api.d.ts
  src/types/global.d.ts
  src/types/index.d.ts
  src/types/search-attributes.d.ts
Due: pnpm lint:fix, prettier --write

Bump to 2.14.0
  server/server/version/version.go
Due: none

Bump to 2.14.0 (#1295)
  server/server/version/version.go
Due: none

Update tctl to temporal CLI, server README (#1294)
  README.md
  server/README.md
  src/lib/holocene/code-block.story.svelte
  src/lib/pages/schedules.svelte
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
Due: prettier --write, stylelint --fix

Move schedule types
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/services/schedule-service.ts
  src/lib/stores/schedules.ts
  src/lib/utilities/schedule-comment-formatting.ts
  src/lib/utilities/schedule-data-formatting.ts
  src/schedule.d.ts
  src/types/index.ts
  src/types/schedule.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

More fixes
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/models/event-groups/get-group-for-event.test.ts
  src/lib/utilities/is-pending-activity.ts
  src/lib/utilities/is.ts
  src/types/workflows.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Update EventAttributesWithType
  src/lib/models/event-history/index.ts
  src/lib/models/event-history/simplify-attributes.ts
  src/types/events.ts
Due: pnpm lint:fix, prettier --write

Clean up hints
  src/fixtures/all-event-types.json
  src/fixtures/event-groups.completed.json
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/modal.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows.svelte
  src/lib/stores/api-pagination.ts
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,postcss,svelte}
