Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Tidy the upgrade sticker corner
  src/lib/components/upgrade-sticker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Keep the badge arrow above the foil layers
  src/lib/components/upgrade-sticker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Match the collapsed-nav badge to the design
  src/lib/components/upgrade-sticker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Shrink the collapsed-nav badge to fit the icon column
  src/lib/components/upgrade-sticker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Check only the configured distribution's release
  server/server/api/releases.go
  server/server/api/releases_test.go
  src/lib/components/upgrade-sticker.stories.svelte
  src/lib/components/upgrade-sticker.svelte
  src/lib/utilities/upgrade-notice.test.ts
  src/lib/utilities/upgrade-notice.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: handle partial E2E dependency initialization
  temporal/codec-server.test.ts
  temporal/codec-server.ts
  tests/global-teardown.ts
  utilities/ui-server.ts
Due: eslint --fix, prettier --write

chore: remove unused code
  temporal/codec-server.ts
Due: eslint --fix, prettier --write

Peel the upgrade sticker to reveal the new version
  src/lib/components/upgrade-sticker.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/utilities/sticker-peel.test.ts
  src/lib/utilities/sticker-peel.ts
Due: eslint --fix, prettier --write, stylelint --fix

Restore the hover tilt and tighten the sticker copy
  src/lib/components/upgrade-sticker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add multi-region (HA Namespace) Serverless Worker UI mock
  src/lib/components/deployments/compute-region-display.svelte
  src/lib/components/deployments/deployment-status.svelte
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/multi-region-failover.stories.svelte
  src/lib/components/deployments/multi-region-pages.stories.svelte
  src/lib/components/deployments/version-compute-details.svelte
  src/lib/components/deployments/version-regions.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/workers/serverless-worker-form/compute-fields.svelte
  src/lib/components/workers/serverless-worker-form/compute-provider-per-region.svelte
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.stories.svelte
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.svelte
  src/lib/components/workers/serverless-worker-form/create-version-form.svelte
  src/lib/components/workers/serverless-worker-form/edit-version-form.svelte
  src/lib/components/workers/serverless-worker-form/failover-preview.svelte
  src/lib/components/workers/serverless-worker-form/multi-region.test.ts
  src/lib/components/workers/serverless-worker-form/multi-region.ts
  src/lib/components/workers/serverless-worker-form/preview-connectors.test.ts
  src/lib/components/workers/serverless-worker-form/preview-connectors.ts
  src/lib/components/workers/serverless-worker-form/region-block.svelte
  src/lib/components/workers/serverless-worker-form/regions-heading.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-multi-region.stories.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/input/input.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployment.svelte.test.ts
  src/lib/pages/deployments.svelte
  src/lib/types/deployments.ts
  src/lib/utilities/compute-regions.test.ts
  src/lib/utilities/compute-regions.ts
  src/lib/utilities/connection-status.ts
Due: eslint --fix, prettier --write, stylelint --fix

Show the other compute providers in the picker summary footer
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.svelte
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write, stylelint --fix

Guard pointer capture and pin the sticker's browser floor
  package.json
  src/lib/components/upgrade-sticker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix black area below the login page in dark mode
  src/routes/(login)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(copyable): round the copy button's corners
  src/lib/holocene/copyable/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add the Jev decision trace to natural-language search
  server/server/api/nlsearch_test.go
  server/server/nlsearch/candidates.go
  server/server/nlsearch/trace.go
  server/server/nlsearch/trace_test.go
  server/server/nlsearch/translator.go
  server/server/nlsearch/translator_test.go
  server/server/nlsearch/types.go
  src/lib/components/search-attribute-filter/natural-language-query.svelte
  src/lib/components/search-attribute-filter/nl-search-trace-panel.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/nl-search-service.test.ts
  src/lib/services/nl-search-service.ts
  src/lib/stores/nl-search-trace.ts
  src/lib/utilities/nl-search-trace.test.ts
  src/lib/utilities/nl-search-trace.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add the nl-search-jev demo scenario and recorder
  utilities/demo/scenarios/nl-search-jev/dataset.ts
  utilities/demo/scenarios/nl-search-jev/definition.ts
  utilities/demo/scenarios/nl-search-jev/record.ts
  utilities/demo/scenarios/nl-search-jev/scenario.ts
  utilities/demo/scenarios/nl-search-jev/workflows.ts
Due: eslint --fix, prettier --write

Include 1000 for pageSize (#3938)
  src/lib/stores/pagination.ts
Due: eslint --fix, prettier --write

fix(workers): describe pollers, not slots, in the poller tooltip
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write

refactor(workers): describe a compute provider in one place (#3946)
  src/lib/components/deployments/compute-badge.svelte
  src/lib/components/workers/serverless-worker-form/compute-fields.svelte
  src/lib/components/workers/serverless-worker-form/compute-fields.test.ts
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.svelte
  src/lib/components/workers/serverless-worker-form/compute-providers.ts
  src/lib/components/workers/serverless-worker-form/create-version-form.svelte
  src/lib/components/workers/serverless-worker-form/edit-version-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/shared.ts
  src/lib/pages/serverless-worker-create.svelte
  src/lib/pages/worker-deployment-version-create.svelte
  src/lib/pages/worker-deployment-version-edit.svelte
  src/lib/utilities/lock-compute-provider.ts
Due: eslint --fix, prettier --write, stylelint --fix

Coordinate execution history loading and polling
  src/lib/workflow-timeline/data/execution-graph/coordinator.ts
  src/lib/workflow-timeline/data/execution-history/poll-execution-history.ts
  src/lib/workflow-timeline/data/history-events/is-terminal-execution-event.ts
  src/lib/workflow-timeline/use-workflow-timeline.svelte.ts
Due: eslint --fix, prettier --write

Track the artifact each distribution actually installs
  server/server/api/releases.go
  server/server/api/releases_test.go
Due: none

Color the favicon by the status of the workflow being viewed (#3900)
  src/lib/components/page-title.svelte
  src/lib/stores/favicon.test.ts
  src/lib/stores/favicon.ts
  src/lib/utilities/get-workflow-status-favicon.test.ts
  src/lib/utilities/get-workflow-status-favicon.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(auth): align cookie lifetimes with session and refresh token boundaries (#3940)
  AUTHENTICATION.md
  server/config/docker.yaml
  server/config/e2e-auth.yaml
  server/config/with-auth.yaml
  server/plugins/fs_config_provider/loader_test.go
  server/server/auth/auth.go
  server/server/auth/auth_test.go
  server/server/auth/cookie_test.go
  server/server/config/config.go
  server/server/route/auth.go
  server/server/route/auth_cookies_test.go
  tests/e2e/auth-cookie-lifetimes.spec.ts
  tests/global-setup.ts
  tests/global-teardown.ts
  utilities/auth-e2e-stack.ts
  utilities/ui-server.ts
Due: eslint --fix, prettier --write

Check the artifact each distribution actually installs
  server/go.mod
  server/server/api/releases.go
  server/server/api/releases_test.go
  src/lib/components/upgrade-notice.svelte
  src/lib/utilities/upgrade-notice.test.ts
  src/lib/utilities/upgrade-notice.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(theme): ship the 2xs font size token to consumers (#3947)
  src/lib/theme/preset.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write

fix(workers): resolve worker deployment from task queue (#3883)
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/standalone-activity-layout.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/utilities/get-worker-deployment-name.test.ts
  src/lib/utilities/get-worker-deployment-name.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(workers): describe pollers, not slots, in the poller tooltip (#3956)
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write

Load eligible execution histories eagerly
  src/lib/workflow-timeline/data/execution-graph/coordinator.ts
  src/lib/workflow-timeline/data/execution-graph/get-eager-executions.ts
  src/notes.local.md
Due: eslint --fix, prettier --write

fix(copyable): round the copy button's corners (#3954)
  src/lib/holocene/copyable/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Name the artifact in the sticker, and ignore dev build versions
  src/lib/components/upgrade-sticker.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/utilities/upgrade-notice.test.ts
  src/lib/utilities/upgrade-notice.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fetch execution history with retries and progress tracking
  src/lib/workflow-timeline/data/execution-history/fetch-execution-history.ts
  src/lib/workflow-timeline/data/execution-history/load-execution-history.ts
  src/lib/workflow-timeline/data/execution-history/poll-execution-history.ts
  src/lib/workflow-timeline/data/execution-history/repository.ts
  src/lib/workflow-timeline/data/execution-history/retry-history-page-fetch.ts
  src/lib/workflow-timeline/data/execution-history/types.ts
Due: eslint --fix, prettier --write

Add continue-as-new workflow example to catalog
  src/lib/catalog/browser/catalog.generated.json
  src/lib/catalog/browser/catalog.generated.ts
  src/lib/catalog/worker/examples/continue-as-new/example.ts
  src/lib/catalog/worker/examples/continue-as-new/workflow.ts
  src/lib/catalog/worker/examples/corpus.test.ts
  src/lib/catalog/worker/examples/index.ts
  src/lib/catalog/worker/workflows.ts
Due: eslint --fix, prettier --write

Build nested workflow timeline scenes
  src/lib/workflow-timeline/data/execution-graph/coordinator.ts
  src/lib/workflow-timeline/data/execution-graph/get-eager-executions.ts
  src/lib/workflow-timeline/data/execution-graph/get-execution-relation.ts
  src/lib/workflow-timeline/data/execution-graph/repository.ts
  src/lib/workflow-timeline/data/execution-graph/types.ts
  src/lib/workflow-timeline/scene/structure/order-execution-entries.ts
  src/lib/workflow-timeline/scene/structure/project-workflow-scene.ts
  src/lib/workflow-timeline/scene/structure/types.ts
  src/lib/workflow-timeline/workflow-timeline-debug.ts
  src/lib/workflow-timeline/workflow-timeline-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: handle partial E2E dependency initialization
  temporal/codec-server.test.ts
  temporal/codec-server.ts
Due: eslint --fix, prettier --write

Update links for agents
  src/lib/pages/agent-marketing.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(server): stop the config refresh loop after Close
  server/server/config/config_provider_with_refresh.go
  server/server/config/config_provider_with_refresh_test.go
Due: none

fix(shortcuts): ignore keyboard shortcuts typed into text inputs
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte.test.ts
  src/lib/holocene/pagination.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/utilities/is-editable-target.test.ts
  src/lib/utilities/is-editable-target.ts
Due: eslint --fix, prettier --write, stylelint --fix

Use normal weight and primary text for worker details stats
  src/lib/components/workers/worker-details/worker-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update links for agents (#3957)
  src/lib/pages/agent-marketing.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
