Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

ci: remove unused Set up Protoc step from workflows (#3323)
  .github/workflows/playwright.yml
  .github/workflows/test.yml
Due: none

fix(ui): guard getApiOrigin against undefined VITE_API (#3332)
  src/lib/utilities/get-api-origin.test.ts
  src/lib/utilities/get-api-origin.ts
Due: eslint --fix, prettier --write

feat: add showInstancesLink prop to deployment header (#3331)
  src/lib/components/deployments/deployment-header.svelte
  src/lib/pages/deployment.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Check certFile modification time instead of keyFile (#3178)
  server/server/rpc/tls.go
  server/server/rpc/tls_cert_loader_test.go
Due: none

feat(DT-3887): remove Dispatch Rate Epsilon from compute scaling UI (#3334)
  src/lib/components/deployments/version-compute-details.svelte
  src/lib/components/workers/serverless-worker-form/compute-fields.svelte
  src/lib/components/workers/serverless-worker-form/create-version-form.svelte
  src/lib/components/workers/serverless-worker-form/edit-version-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/shared.ts
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/serverless-worker-create.svelte
  src/lib/pages/worker-deployment-version-create.svelte
  src/lib/pages/worker-deployment-version-edit.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.49.0
  package.json
  server/server/version/version.go
Due: prettier --write

Add usePortal support to Tooltip component (#3320)
  src/lib/holocene/tooltip.stories.svelte
  src/lib/holocene/tooltip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore(server): bump Go version to 1.26.2 for CVE fix (DT-3889)
  server/go.mod
Due: none

chore: update Go version to 1.26.2 in Dockerfile and .tool-versions
  .tool-versions
  server/Dockerfile
Due: none

Bump Go toolchain to 1.26.2 for CVE fix (#3336)
  .tool-versions
  server/Dockerfile
  server/go.mod
Due: none

Add toggle buttons to workers tab to include legacy pollers table
  src/lib/components/workers/pollers-table/poller-icon.svelte
  src/lib/components/workers/pollers-table/pollers-table.svelte
  src/lib/components/workers/workers-table/task-queue-workers-table.svelte
  src/lib/i18n/locales/en/workers.ts
  tests/integration/workflow-workers.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update copy to include at least for SDK version and hide docs link
  src/lib/components/lines-and-dots/sdk-logo.svelte
  src/lib/components/workers/workers-table/worker-heartbeats-sdk-warning.svelte
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write, stylelint --fix

add improvements
  src/lib/components/payload/IMPROVEMENTS.md
Due: prettier --write

Add description for pollers
  src/lib/components/workers/workers-table/task-queue-workers-table.svelte
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make PollerTable scrollable on smaller screens
  src/lib/components/workers/pollers-table/pollers-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix heading levels
  src/lib/components/payload/IMPROVEMENTS.md
Due: prettier --write

refactor: move fetchDeployment into Deployment component
  src/lib/pages/deployment-page.ts
  src/lib/pages/deployment.svelte
  src/routes/(app)/namespaces/[namespace]/workers/deployments/[deployment]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove deployment-page.ts, fix post-delete reload
  src/lib/components/deployments/version-table-row.svelte
  src/lib/pages/deployment-page.ts
  src/lib/pages/deployment.svelte
  src/routes/(app)/namespaces/[namespace]/workers/deployments/[deployment]/+page.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove now-dead +page.ts for deployment route
  src/lib/pages/deployment.svelte
  src/routes/(app)/namespaces/[namespace]/workers/deployments/[deployment]/+page.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add manual refresh of call stack (#3330)
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflow-call-stack.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update refresh alert copy
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write

refactor: use timestamp and named reload function per review feedback
  src/lib/pages/deployment.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update to preview badge for workers
  src/lib/layouts/workers-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor: move fetchDeployment into Deployment component (#3340)
  src/lib/components/deployments/version-table-row.svelte
  src/lib/pages/deployment-page.ts
  src/lib/pages/deployment.svelte
  src/routes/(app)/namespaces/[namespace]/workers/deployments/[deployment]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workers/deployments/[deployment]/+page.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.49.1
  package.json
  server/server/version/version.go
Due: prettier --write

Add pollers table to workers tab (#3338)
  src/lib/components/lines-and-dots/sdk-logo.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workers/pollers-table/poller-icon.svelte
  src/lib/components/workers/pollers-table/pollers-table.svelte
  src/lib/components/workers/workers-table/task-queue-workers-table.svelte
  src/lib/components/workers/workers-table/worker-heartbeats-sdk-warning.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/layouts/workers-layout.svelte
  tests/integration/workflow-workers.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix eslint warning
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move getRoutePrefix to coreProvider
  src/hooks.client.ts
  src/lib/stores/route-prefix.ts
  src/lib/utilities/core-provider.ts
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

Add relative path prefix support to routeFor utilities
  src/lib/stores/route-prefix.ts
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

Wrap worker routes added after initial PR with withPrefix
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

Use initiatedEvent for startChildFailed event grouping
  src/lib/models/event-groups/get-event-in-group.ts
  src/lib/models/event-groups/get-group-id.ts
Due: eslint --fix, prettier --write

Use initiatedEvent for startChildFailed event grouping (#3342)
  src/lib/models/event-groups/get-event-in-group.ts
  src/lib/models/event-groups/get-group-id.ts
Due: eslint --fix, prettier --write

add multi input workflow
  temporal/activities/index.ts
  temporal/activities/multi.ts
  temporal/client.ts
  temporal/workflows.ts
Due: eslint --fix, prettier --write

Update nexus endpoint details page
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-endpoint.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix empty description string
  src/lib/pages/nexus-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add allowCustomValue to combobox for nexus allowed caller namespaces
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/pages/nexus-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

get rid of fieldName prop and fix most of the call sites
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-decoder.svelte
  src/lib/components/payload/payload-inline.svelte
  src/lib/components/payload/payload-summary.svelte
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/components/standalone-activities/activity-input-and-outcome.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/standalone-activity-metadata.svelte
  src/lib/pages/standalone-activity-search-attributes.svelte
  src/lib/pages/workflow-memo.svelte
  src/lib/pages/workflow-metadata.svelte
  src/lib/pages/workflow-search-attributes.svelte
  src/lib/services/data-encoder.ts
  src/lib/services/workflow-service.ts
  src/lib/types/workflows.ts
  src/lib/utilities/decode-local-activity.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/export-history.ts
  src/lib/utilities/get-started-completed-and-task-failed-events.ts
  src/routes/(app)/nexus/[id]/+layout.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix remaining type errors
  src/lib/components/event/event-details-row.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/services/workflow-service.ts
  src/lib/utilities/decode-local-activity.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix tests
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/get-started-completed-and-task-failed-events.test.ts
Due: eslint --fix, prettier --write

Add validateNamespacesExist
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-form.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix
