Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["pnpm lint:fix", "prettier --write"],
  "*.{css,postcss,svelte}": "stylelint --fix",
  "*.{json,md}": "prettier --write"
}

Remove unused file
  src/lib/components/eventV2/event-payload.svelte
Due: stylelint --fix

Make datetime text bigger
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
Due: stylelint --fix

WIP...
  src/events.d.ts
  src/lib/components/event/event-summary-card.svelte
  src/lib/components/event/event-summary-v2.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/get-group-id.ts
  src/lib/models/event-groups/get-group-name.ts
  src/lib/models/event-groups/index.ts
  src/lib/pages/workflow-history-compact-v2.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Make it look a little prettier
  src/lib/components/eventV2/event-detail-row-item.svelte
  src/lib/components/eventV2/event-group-details-with-timeline.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/primary-event-group-details.svelte
Due: stylelint --fix

MVP of new compact view using import
  src/lib/components/eventV2/event-card.svelte
  src/lib/components/eventV2/event-group-primary-content.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-payload.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/models/event-groups/index.ts
  src/lib/pages/import-events-view.svelte
  src/lib/pages/workflow-history-compact-v2.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compactV2/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Better dashed line for pending
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-group-timestamp.svelte
  src/lib/components/eventV2/pending-activity-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Try a scroll to bottom, fix query/stack edge cases
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/components/eventV2/event-card.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-group-timestamp.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/last-event-card.svelte
  src/lib/components/eventV2/pending-activity-card.svelte
  src/lib/components/eventV2/pending-activity.ts
  src/lib/components/eventV2/workers-list-v2.svelte
  src/lib/components/eventV2/workflow-query-v2.svelte
  src/lib/components/eventV2/workflow-stack-trace-v2.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/scroll-to-bottom.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Refactor, add input and results to initial and last events
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/components/eventV2/event-card.svelte
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-detail-row-item.svelte
  src/lib/components/eventV2/event-group-details-with-timeline.svelte
  src/lib/components/eventV2/event-group-timestamp.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/event-timeline-dot-line.svelte
  src/lib/components/eventV2/primary-event-group-details.svelte
  src/lib/components/eventV2/single-event-card.svelte
  src/lib/holocene/badge.svelte
  src/lib/models/event-groups/get-group-name.ts
  src/lib/models/event-groups/index.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compactV2/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

More progress
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-group-details.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-group-timestamp.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/last-event-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
  src/lib/holocene/button.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/index.ts
  src/lib/pages/import-events-view.svelte
  src/lib/utilities/format-event-attributes.ts
  src/lib/utilities/request-from-api.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compactV2/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Move datetimes back to dots, add millisecond diff support, thinner
  src/lib/components/eventV2/event-summary-card/card.svelte
  src/lib/components/eventV2/event-summary-card/collapsed.svelte
  src/lib/components/eventV2/event-summary-card/details.svelte
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
  src/lib/components/eventV2/event-summary-card/stack-trace-code.svelte
  src/lib/components/eventV2/final-event-card.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/running-card.svelte
  src/lib/utilities/format-time.ts
  src/lib/utilities/route-for.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Remove flexDirection
  src/lib/holocene/badge.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compactV2/+page.svelte
Due: stylelint --fix

Better, simpler event group detail rows
  src/lib/components/eventV2/event-detail-row-item.svelte
  src/lib/components/eventV2/event-group-details-with-timeline.svelte
  src/lib/components/eventV2/event-group-primary-content.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/holocene/badge.svelte
Due: stylelint --fix

Update workflow options UI and add abort signal to cancel polling request
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/final-event-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/services/events-service.ts
  src/lib/utilities/request-from-api.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Use new layout
  src/lib/components/eventV2/event-card.svelte
  src/lib/components/eventV2/event-group-details-with-timeline.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-group-timestamp.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/event-timeline-dot-line.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/last-event-card.svelte
  src/lib/components/eventV2/primary-event-group-details.svelte
  src/lib/components/eventV2/workers-list-v2.svelte
  src/lib/components/eventV2/workflow-relationships-v2.svelte
  src/lib/components/eventV2/workflow-stack-trace-v2.svelte
  src/lib/components/eventV2/workflow-summary-v2.svelte
  src/lib/components/eventV2/workflow-workers-v2.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/code-block.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/pages/workflow-history-compact-v2.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compactV2/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Due: stylelint --fix

Expose open in accordion, better payload icon, refactor more
  src/lib/components/event/event-history-group-timeline.svelte
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/last-event-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
  src/lib/components/eventV2/workflow-query-v2.svelte
  src/lib/components/eventV2/workflow-stack-trace-v2.svelte
  src/lib/components/eventV2/workflow-summary-v2.svelte
  src/lib/holocene/accordion.svelte
  src/lib/models/event-groups/index.ts
  src/lib/utilities/format-date.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add debug mode
  src/lib/components/eventV2/event-detail-badge.svelte
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-group-details.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-group-timestamp.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/last-event-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
  src/lib/models/event-groups/index.ts
  src/lib/services/events-service.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/get-workflow-relationships.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Use initial event for grouping
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-group-timestamp.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Small style tweaks
  src/lib/components/eventV2/event-detail-badge.svelte
  src/lib/components/eventV2/event-group-details.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
Due: stylelint --fix

Running line on dot-line
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
Due: stylelint --fix

Add badged event details, lines
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-detail-row-item.svelte
  src/lib/components/eventV2/event-group-details-with-timeline.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/pending-activity.ts
  src/lib/components/eventV2/primary-event-group-details.svelte
  src/lib/holocene/badge.svelte
  src/lib/models/event-groups/get-group-name.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compactV2/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add feature flag toggle
  src/lib/components/eventV2/event-card.svelte
  src/lib/components/eventV2/event-detail-badge.svelte
  src/lib/components/eventV2/event-group-details-with-timeline.svelte
  src/lib/components/eventV2/event-group-primary-content.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-group-timestamp.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/last-event-card.svelte
  src/lib/components/eventV2/primary-event-group-details.svelte
  src/lib/layouts/workflow-header-v2.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/models/event-groups/get-event-in-group.ts
  src/lib/models/event-groups/get-group-name.ts
  src/lib/stores/feature-flags.ts
  src/lib/utilities/format-time.ts
  src/lib/utilities/request-from-api.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/history/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add options, need to fix overflow of codeblocks
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-group-timestamp.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/last-event-card.svelte
  src/lib/components/eventV2/pending-activity-card.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/index.ts
  src/lib/utilities/format-time.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add pending activities
  src/lib/components/eventV2/event-card.svelte
  src/lib/components/eventV2/event-detail-badge.svelte
  src/lib/components/eventV2/event-group-details.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-group-timestamp.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/pending-activity-card.svelte
  src/lib/components/eventV2/pending-activity-details.svelte
  src/lib/components/eventV2/workflow-workers-v2.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/models/event-groups/index.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compactV2/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Update dot size
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
Due: stylelint --fix

Add more details
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-group-details-with-timeline.svelte
  src/lib/components/eventV2/event-group-primary-content.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/primary-event-group-details.svelte
  src/lib/models/event-groups/get-group-name.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compactV2/+page.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Stream events in real time
  src/lib/components/eventV2/event-group-details.svelte
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/last-event-card.svelte
  src/lib/layouts/workflow-header-v2.svelte
  src/lib/models/event-groups/index.ts
  src/lib/services/events-service.ts
  src/lib/utilities/get-started-completed-and-task-failed-events.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Fix layout of v2, add links to jump back and forth. Need to figure out how to swallow erorr when abort signal is sent
  src/lib/components/eventV2/event-summary-card/card.svelte
  src/lib/components/eventV2/event-summary-card/detail-badge.svelte
  src/lib/components/eventV2/pending-activity-card.svelte
  src/lib/components/eventV2/workflow-header-v2.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/services/events-service.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/v2/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/v2/+page@(app).svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Style fixes
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/primary-event-group-details.svelte
Due: stylelint --fix

Update route for v2
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-row-with-filters.svelte
  src/lib/models/event-history/index.ts
  src/lib/services/events-service.ts
  src/lib/utilities/route-for.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add stack trace class
  package.json
  src/lib/components/eventV2/event-summary-card/expanded.svelte
  src/lib/components/eventV2/workflow-time-motion.svelte
  src/lib/layouts/workflow-run-layout-v2.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/v2/+page@(app).svelte
Due: prettier --write, stylelint --fix

More work on pending activities: WIP of visualizer setup
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-summary-card/card.svelte
  src/lib/components/eventV2/event-summary-card/collapsed.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/pending-activity-card.svelte
  src/lib/components/eventV2/pending-activity-details.svelte
  src/lib/components/eventV2/running-card.svelte
  src/lib/components/eventV2/workflow-header-v2.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
  src/lib/components/eventV2/workflow-summary-v2.svelte
  src/lib/components/eventV2/workflow-visualizers.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Round, better styling of card
  src/lib/components/eventV2/event-summary-card/attributes-code-block.svelte
  src/lib/components/eventV2/event-summary-card/card.svelte
  src/lib/components/eventV2/event-summary-card/collapsed.svelte
  src/lib/components/eventV2/workflow-summary-v2.svelte
  src/lib/utilities/format-event-attributes.ts
  src/lib/vendor/prism/prism.css
Due: pnpm lint:fix, prettier --write, stylelint --fix

Better info pills
  package.json
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-summary-card/attributes-code-block.svelte
  src/lib/components/eventV2/event-summary-card/card.svelte
  src/lib/components/eventV2/event-summary-card/collapsed.svelte
  src/lib/components/eventV2/event-summary-card/detail-badge.svelte
  src/lib/components/eventV2/event-summary-card/details.svelte
  src/lib/components/eventV2/event-summary-card/expanded.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/holocene/info-pill.svelte
  src/lib/vendor/prism/prism.css
Due: pnpm lint:fix, prettier --write, stylelint --fix

Less room for line-dots, better colors and errors in pending activityies
  src/lib/components/eventV2/event-summary-card/card.svelte
  src/lib/components/eventV2/event-summary-card/failure-message.svelte
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
  src/lib/components/eventV2/final-event-card.svelte
  src/lib/components/eventV2/pending-activity-details.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
Due: stylelint --fix

Bump to .4
  package.json
Due: prettier --write

Updates based on Max feedback. Show all inputs, remove payload icon, show only user activities, and then all activities, show better Failure widget
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-summary-card/attributes-code-block.svelte
  src/lib/components/eventV2/event-summary-card/card.svelte
  src/lib/components/eventV2/event-summary-card/collapsed.svelte
  src/lib/components/eventV2/event-summary-card/details.svelte
  src/lib/components/eventV2/event-summary-card/expanded.svelte
  src/lib/components/eventV2/event-summary-card/failure-message.svelte
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/final-event-card.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/pending-activity-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/code-block.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/models/event-groups/index.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/vendor/prism/prism.css
  src/types/index.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Split card and payloads. Looks a lot better
  src/lib/components/eventV2/event-detail-keys.ts
  src/lib/components/eventV2/event-group-summary-card.svelte
  src/lib/components/eventV2/event-summary-card/attributes-code-block.svelte
  src/lib/components/eventV2/event-summary-card/card.svelte
  src/lib/components/eventV2/event-summary-card/details.svelte
  src/lib/components/eventV2/event-summary-card/expanded.svelte
  src/lib/components/eventV2/event-summary-card/failure-message.svelte
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/workflow-header-v2.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
  src/lib/components/eventV2/workflow-summary-v2.svelte
  src/lib/layouts/workflow-header.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

WIP: try svelte-motion
  package.json
  pnpm-lock.yaml
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
Due: prettier --write, stylelint --fix

Show elapsed time with duration animation and distruputed trace placeholder
  src/lib/components/eventV2/workflow-distributed-trace.svelte
  src/lib/components/eventV2/workflow-header-v2.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-relationships-v2.svelte
  src/lib/components/eventV2/workflow-summary-v2.svelte
  src/lib/components/eventV2/workflow-time-motion.svelte
  src/lib/layouts/workflow-run-layout-v2.svelte
  src/lib/models/workflow-execution.ts
  src/lib/stores/elapsed-time.ts
  src/lib/utilities/format-time.ts
  src/workflow.d.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add esm-env and replace browser imports (#1289)
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
  src/lib/holocene/error.svelte
  src/lib/services/settings-service.ts
  src/lib/stores/persist-store.ts
  src/lib/stores/persisted-search-parameter.ts
  src/lib/utilities/atob.ts
  src/lib/utilities/auth-user-cookie.ts
  src/lib/utilities/btoa.ts
  src/lib/utilities/get-api-origin.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/update-query-parameters.ts
  src/routes/(login)/login/+page.svelte
  src/routes/(login)/signin/+page.svelte
  vitest-setup.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix
