Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

fix: reduce grid gap from 8 to 6 on create form
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Rename i18n key history-size-bytes to history-size
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/common.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix duplicate base path for filters (#3233)
  src/lib/services/batch-service.test.ts
  src/lib/services/namespaces-service.test.ts
  src/lib/services/workflow-service.test.ts
  src/lib/svelte-mocks/app/paths.ts
  src/lib/utilities/event-link-href.test.ts
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/update-query-parameters.test.ts
  src/lib/utilities/update-query-parameters.ts
Due: eslint --fix, prettier --write

Fix infinite loop on root page if publicPath is set (#3234)
  server/server/route/ui.go
  server/server/route/ui_test.go
Due: none

Format history size bytes to human-readable units (#3227)
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/i18n/locales/en/common.ts
Due: eslint --fix, prettier --write, stylelint --fix

Move support navitem and add padding if no href subtitle.
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.48.0
  package.json
  server/server/version/version.go
Due: prettier --write

Remove old padding
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update to use afterUpdate
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Align arrow with icons.
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add underline, arrow, and subtitle href structure (#3231)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/action.svelte
  src/lib/holocene/icon/svg/house.svelte
  src/lib/holocene/icon/svg/overview.svelte
  src/lib/holocene/icon/svg/slash-forward.svelte
  src/lib/holocene/icon/svg/support.svelte
  src/lib/holocene/icon/svg/usage.svelte
  src/lib/holocene/icon/svg/workflows.svelte
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Lets test some auth paths
  src/lib/utilities/auth-refresh.test.ts
  src/lib/utilities/request-from-api.401-retry.test.ts
  src/lib/utilities/token-provider.test.ts
Due: eslint --fix, prettier --write

remove animation in refresh
  src/lib/components/workflow/workflow-count-refresh.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove duration
  src/lib/components/workflow/workflow-count-refresh.svelte
Due: eslint --fix, prettier --write, stylelint --fix

remove animation in refresh (#3240)
  src/lib/components/workflow/workflow-count-refresh.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add jwtPass and credentials tests
  src/lib/services/data-encoder.test.ts
Due: eslint --fix, prettier --write

Display cron string instead of calendar spec when schedule has a cron comment
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/i18n/locales/en/schedules.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update to use a provider pattern instead of checking for globalThis. Re-wire with-access-token to use pre/post hooks so code paths can be determined by the caller. Lots of tests
  src/hooks.client.ts
  src/lib/services/namespaces-service.test.ts
  src/lib/utilities/auth-refresh.test.ts
  src/lib/utilities/auth-refresh.ts
  src/lib/utilities/auth-user-cookie.ts
  src/lib/utilities/oss-provider.test.ts
  src/lib/utilities/oss-provider.ts
  src/lib/utilities/request-from-api.401-retry.test.ts
  src/lib/utilities/request-from-api.integration.test.ts
  src/lib/utilities/request-from-api.test.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/request-from-api.with-access-token.test.ts
  src/lib/utilities/token-provider.test.ts
  src/lib/utilities/token-provider.ts
  src/routes/(app)/+layout.ts
Due: eslint --fix, prettier --write

Remove 120 max/min height and make it 300 to be consistent with others
  src/lib/components/workflow/input-and-results-payload.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use const for MAX_HEIGHT
  src/lib/components/workflow/input-and-results-payload.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove 120 max/min height and make it 300 to be consistent with others (#3242)
  src/lib/components/workflow/input-and-results-payload.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.48.1
  package.json
  server/server/version/version.go
Due: prettier --write

chore: comment out mock lambda/iam validation pending backend support
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add oAuth integration tests to verify this auth method
  tests/integration/oauth-flow.spec.ts
Due: eslint --fix, prettier --write

Add oAuth integration tests to verify this auth method (#3244)
  tests/integration/oauth-flow.spec.ts
Due: eslint --fix, prettier --write

Fix divider spill
  src/lib/components/side-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Give retryContext better types other than Record<string,string>
  src/lib/utilities/request-from-api.ts
Due: eslint --fix, prettier --write

Remove hardcoded val.
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Revert ai changes.
  src/lib/holocene/navigation/navigation-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix nav divider/kt (#3245)
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix hardcoded val.
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix hardcoded val. (#3246)
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add z-index to portal
  src/lib/holocene/portal/portal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix hardcoded color value and settings icon.
  src/lib/holocene/icon/svg/settings.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add z-index to portal (#3247)
  src/lib/holocene/portal/portal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

move to initCore stuff and namespaceSearch and dataEncoderEndpoint options as well as a few others
  src/hooks.client.ts
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
  src/lib/svelte-mocks/app/state.ts
  src/lib/utilities/core-provider.test.ts
  src/lib/utilities/core-provider.ts
  src/lib/utilities/oss-provider.svelte.ts
  src/lib/utilities/oss-provider.test.ts
  src/lib/utilities/request-from-api.401-retry.test.ts
  src/lib/utilities/request-from-api.integration.test.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/token-provider.ts
Due: eslint --fix, prettier --write

feat: align serverless deployment edit form with create form and add capability guards
  src/lib/components/workers/serverless-worker-form/serverless-worker-edit-form.svelte
  src/lib/components/workers/serverless-worker-form/shared.ts
  src/lib/components/workers/serverless-worker-table-row.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/serverless-worker-create.svelte
  src/lib/pages/serverless-worker-detail.svelte
  src/lib/pages/serverless-worker-edit.svelte
  src/lib/services/serverless-worker-service.ts
  src/lib/types/deployments.ts
  src/lib/types/index.ts
  src/lib/types/serverless-workers.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: add local-temporal skill
  .claude/skills/local-temporal/SKILL.md
Due: prettier --write

Redirect to login when token refresh fails on 401
  src/lib/utilities/oss-provider.svelte.ts
  src/lib/utilities/oss-provider.test.ts
  src/lib/utilities/request-from-api.integration.test.ts
  tests/integration/oauth-flow.spec.ts
Due: eslint --fix, prettier --write

Fix base64 padding truncation when parsing user cookies
  src/lib/utilities/auth-user-cookie.test.ts
  src/lib/utilities/auth-user-cookie.ts
Due: eslint --fix, prettier --write
