Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

More tests for search attributes
  src/lib/components/workflow/filter-bar/search-attribute-menu.svelte
  src/lib/components/workflow/filter-bar/status-dropdown-filter-chip.svelte
  tests/integration/saved-query-views.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(security): remediate command injection vulnerabilities in GitHub Actions
  .github/workflows/trigger-downstream-updates.yml
  .github/workflows/version-bump.yml
Due: none

fix(security): remediate command injection vulnerabilities in GitHub Actions (#2932)
  .github/workflows/trigger-downstream-updates.yml
  .github/workflows/version-bump.yml
Due: none

Add tracking to saved query buttons
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/pages/saved-query-views.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add system vs user in data-track-name
  src/lib/pages/saved-query-views.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove command palette placement, keep file for later
  src/lib/components/top-nav.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Cleanup
  src/lib/holocene/tab-buttons/tab-button.svelte
  src/lib/holocene/tooltip.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix mobile test selector
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Due: eslint --fix, prettier --write

Move delete to edit modal view with new footer slot. move count to secondary label
  src/lib/components/workflow/filter-bar/delete-view-modal.svelte
  src/lib/components/workflow/filter-bar/edit-view-modal.svelte
  src/lib/components/workflow/filter-bar/view-modal.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/saved-query-views.svelte
  src/lib/stores/saved-queries.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix styles of No Views
  src/lib/pages/saved-query-views.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add use:portal to Menu component
  src/lib/holocene/menu/menu.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update more tests
  tests/integration/saved-query-views.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Due: eslint --fix, prettier --write

Bug fixes, add save button
  src/lib/components/workflow/filter-bar/status-dropdown-filter-chip.svelte
  src/lib/components/workflow/filter-bar/view-modal.svelte
  src/lib/pages/saved-query-views.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix tests
  tests/integration/saved-query-views.spec.ts
Due: eslint --fix, prettier --write

Fix filter issues
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/textarea.svelte
  src/lib/utilities/query/to-list-workflow-filters.ts
  tests/test-utilities/mocks/search-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add touched state to not show error if not touched
  src/lib/components/workflow/filter-bar/view-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update unit tests
  src/lib/utilities/query/to-list-workflow-filters.test.ts
Due: eslint --fix, prettier --write

add type
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/payload-input.svelte
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/pages/start-workflow.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add more types
  src/lib/stores/toaster.ts
Due: eslint --fix, prettier --write

fix tests to worf with crypto uuid
  vitest-setup.ts
Due: eslint --fix, prettier --write

Fix refresh rate
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/refresh-rate.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix refresh counts logic and make backoff less agressive
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/stores/api-pagination.ts
  src/lib/utilities/refresh-rate.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update resfresh rate tests
  src/lib/utilities/refresh-rate.test.ts
Due: eslint --fix, prettier --write

Fixes from PR comments
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/workflow/filter-bar/manual-query.svelte
  src/lib/components/workflow/filter-bar/search.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/tab-buttons/tab-buttons.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove unused store
  src/lib/holocene/tooltip.svelte
  src/lib/stores/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add text-brand back to chip filter value
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/pages/start-workflow.svelte
  src/lib/pages/start-workflow.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/stores/toaster.ts
  src/lib/stores/toaster.ts
Due: eslint --fix, prettier --write

Use props to prevent malformed URI on download modal
  src/lib/components/workflow-raw-history-link.svelte
  src/lib/components/workflow/download-event-history-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add try catch around decodeForSvelte
  src/lib/stores/events.ts
Due: eslint --fix, prettier --write

Remove error
  src/lib/stores/events.ts
Due: eslint --fix, prettier --write

Add try/catch at decodeSvelte functions, add unit test
  src/lib/stores/events.ts
  src/lib/utilities/encode-uri.test.ts
  src/lib/utilities/encode-uri.ts
Due: eslint --fix, prettier --write

add aria-hidden prop to tooltip
  src/lib/holocene/tooltip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add try catch around decodeForSvelte on bad params (#2934)
  src/lib/utilities/encode-uri.test.ts
  src/lib/utilities/encode-uri.ts
Due: eslint --fix, prettier --write

Save as New View
  src/lib/components/workflow/filter-bar/view-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

replace v5 with crypto.randomuuid (#2927)
  package.json
  pnpm-lock.yaml
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/payload-input.svelte
  src/lib/components/workflow/client-actions/batch-cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/batch-terminate-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/schedule-service.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/toaster.ts
  vitest-setup.ts
Due: eslint --fix, prettier --write, stylelint --fix
