Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["pnpm lint:fix", "prettier --write"],
  "*.{css,postcss,svelte}": "stylelint --fix",
  "*.{json,md}": "prettier --write"
}

Awesomeness with timeline and heirarchy
  package.json
  pnpm-lock.yaml
  src/lib/components/eventV2/event-summary-hierarchy.svelte
  src/lib/components/eventV2/event-summary-timeline.svelte
  src/lib/components/eventV2/workflow-header-v2.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/event-groups/get-group-name.ts
  src/lib/services/events-service.ts
  src/lib/stores/events.ts
  src/lib/utilities/get-workflow-relationships.ts
  src/lib/utilities/paginated.ts
  src/lib/utilities/request-from-api.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Small style updates
  package.json
  src/lib/components/eventV2/event-summary-timeline.svelte
  src/lib/vendor/prism/prism.css
Due: prettier --write, stylelint --fix

Remove line-dot
  src/lib/components/eventV2/event-summary-card/card.svelte
  src/lib/components/eventV2/event-summary-card/collapsed.svelte
  src/lib/components/eventV2/event-summary-card/detail-badge.svelte
  src/lib/components/eventV2/event-summary-timeline.svelte
  src/lib/vendor/prism/prism.css
Due: stylelint --fix

Bump ui
  package.json
Due: prettier --write

Move the template out of the config directory.
  server/Dockerfile
  server/docker/README.md
  server/docker/config-template.yaml
  server/docker/start-ui-server.sh
Due: prettier --write

Always throw in handle-error
  src/lib/utilities/handle-error.ts
Due: pnpm lint:fix, prettier --write

Remove retry logic in request-from-api
  src/lib/services/batch-service.test.ts
  src/lib/services/batch-service.ts
  src/lib/services/schedule-service.ts
  src/lib/services/workflow-service.ts
  src/lib/utilities/request-from-api.test.ts
  src/lib/utilities/request-from-api.ts
Due: pnpm lint:fix, prettier --write

Fix unused vars
  src/lib/utilities/request-from-api.ts
Due: pnpm lint:fix, prettier --write

Fix unit tests by expecting to throw. Don't report on string error
  src/lib/utilities/handle-error.test.ts
  src/lib/utilities/handle-error.ts
Due: pnpm lint:fix, prettier --write

Fix cypress tests by adding all the necessary api intercepts
  cypress/integration/event-ordering-fallback-for-older-versions.spec.js
  cypress/integration/events-in-ascending-order-in-json-view.spec.js
Due: pnpm lint:fix, prettier --write

Templating
  src/lib/components/eventV2/event-summary-timeline.svelte
  src/lib/components/eventV2/event-timeline-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/lib/components/import/workflow-import-events.json
  src/lib/pages/import-events-view.svelte
  src/lib/pages/import-events.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compactV2/+page.svelte
Due: prettier --write, stylelint --fix

Always throw on handleError and remove retry logic (#1345)
  cypress/integration/event-ordering-fallback-for-older-versions.spec.js
  cypress/integration/events-in-ascending-order-in-json-view.spec.js
  src/lib/services/batch-service.test.ts
  src/lib/services/batch-service.ts
  src/lib/services/schedule-service.ts
  src/lib/services/workflow-service.ts
  src/lib/utilities/handle-error.test.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/request-from-api.test.ts
  src/lib/utilities/request-from-api.ts
Due: pnpm lint:fix, prettier --write

2.15.1
  package.json
Due: prettier --write

Add classification on group label, round gantt bars
  src/lib/components/eventV2/event-summary-card/attributes-code-block.svelte
  src/lib/components/eventV2/event-summary-timeline.svelte
  src/lib/components/eventV2/event-timeline-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compactV2/+page.svelte
Due: stylelint --fix

2.15.1 (#1348)
  package.json
Due: prettier --write

More pretty
  src/lib/components/eventV2/event-summary-timeline.svelte
Due: stylelint --fix

refactor side-nav to support new IA
  src/lib/holocene/icon/svg/rocket-ship.svelte
  src/lib/holocene/icon/svg/support.svelte
  src/lib/holocene/icon/svg/usage.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/side-nav.svelte
Due: stylelint --fix

update snaps
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
Due: none

new settings icon
  src/lib/holocene/icon/svg/settings.svelte
Due: stylelint --fix

Add attemps inline
  package.json
  src/lib/components/eventV2/event-summary-card/event-classification.svelte
  src/lib/components/eventV2/event-summary-timeline.svelte
Due: prettier --write, stylelint --fix

Update relationships tests to be more accurate, add support for parentNamespaceName in links to parent workflow
  src/fixtures/workflow.continued-as-new.json
  src/fixtures/workflow.pending-children.json
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/utilities/get-workflow-relationships.test.ts
  src/lib/utilities/get-workflow-relationships.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Update relationships tests to be more accurate, add support for parentNamespaceName in links to parent workflow (#1350)
  src/fixtures/workflow.continued-as-new.json
  src/fixtures/workflow.pending-children.json
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/utilities/get-workflow-relationships.test.ts
  src/lib/utilities/get-workflow-relationships.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add negative default to toTimeDifference
  src/lib/components/workflow/pending-activities.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/lib/utilities/to-time-difference.test.ts
  src/lib/utilities/to-time-difference.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

WIP
  src/lib/components/eventV2/event-summary-card/details.svelte
  src/lib/components/eventV2/event-summary-card/expanded.svelte
  src/lib/components/eventV2/event-summary-hierarchy.svelte
  src/lib/components/eventV2/event-summary-timeline.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/event-timeline-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
  src/lib/components/eventV2/workflow-relationships-v2.svelte
Due: stylelint --fix

Show none for next retry for canceled pending activities (#1343)
  src/lib/components/workflow/pending-activities.svelte
  src/lib/pages/workflow-pending-activities.svelte
  src/lib/utilities/to-time-difference.test.ts
  src/lib/utilities/to-time-difference.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add two new errors
  src/lib/components/workflow/workflow-typed-error.svelte
Due: stylelint --fix

refactor select to not use Menu components
  src/lib/holocene/select/option.svelte
  src/lib/holocene/select/select.story.svelte
  src/lib/holocene/select/select.svelte
Due: stylelint --fix

Move the template out of the config directory. (#1344)
  server/Dockerfile
  server/docker/README.md
  server/docker/config-template.yaml
  server/docker/start-ui-server.sh
Due: prettier --write

Things
  src/lib/components/eventV2/event-summary-timeline.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
Due: stylelint --fix

Add env var to allow decoding event history download. Add toggle switch to view decoded event history
  server/config/development.yaml
  server/docker/config-template.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/workflow-history-json.svelte
  src/lib/services/settings-service.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/export-history.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Set default to false for config-template.yaml
  server/docker/config-template.yaml
Due: none

fix typeahead input
  src/lib/holocene/input/typeahead-input.svelte
  src/lib/holocene/select/option.svelte
Due: stylelint --fix

clean up keyboard event handling
  src/lib/holocene/select/option.svelte
  src/lib/holocene/select/select.svelte
Due: stylelint --fix

fix cy tests
  cypress/integration/workflow-actions.spec.js
  src/lib/holocene/select/select.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix cy test
  cypress/integration/workflow-actions.spec.js
Due: pnpm lint:fix, prettier --write

quick fix for sentry error
  src/lib/utilities/get-first-reset-event-id.ts
Due: pnpm lint:fix, prettier --write

change workflow-datetime filter to use Menu/MenuItem
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/holocene/primitives/menu/menu-button.svelte
  src/lib/holocene/primitives/menu/menu-item.svelte
Due: stylelint --fix

extracurricular menu refactoring
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/holocene/primitives/menu/menu-button.svelte
  src/lib/holocene/primitives/menu/menu-container.svelte
  src/lib/holocene/primitives/menu/menu-item.svelte
  src/lib/holocene/primitives/menu/menu.svelte
  src/lib/holocene/primitives/menu/trigger-menu.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

nuke simple split button
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/holocene/primitives/menu/menu-button.svelte
  src/lib/holocene/primitives/menu/menu-item.svelte
  src/lib/holocene/primitives/menu/menu.svelte
  src/lib/holocene/select/option.svelte
  src/lib/holocene/simple-split-button.story.svelte
  src/lib/holocene/simple-split-button.svelte
  src/lib/pages/schedule-view.svelte
Due: stylelint --fix
