Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Event Type multiselect dropdown with All/None options (#2339)
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/pages/workflow-history-json.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.31.0
  package.json
Due: prettier --write

Remove unnecessary coerced Boolean
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Pluralize Namespaces badge for Nexus endpoints
  src/lib/pages/nexus-endpoints.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix action slot on Accordion component
  src/lib/holocene/accordion/accordion.stories.svelte
  src/lib/holocene/accordion/accordion.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Ignore a11y test on Accordion with action
  .storybook/test-runner.ts
  src/lib/holocene/accordion/accordion.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Small UI fixes (#2345)
  .storybook/test-runner.ts
  src/lib/holocene/accordion/accordion.stories.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.31.1
  package.json
Due: prettier --write

Update version.go to v2.31.0
  server/server/version/version.go
Due: none

Update version.go to v2.31.0 (#2347)
  server/server/version/version.go
Due: none

Use go 1.23.0
  server/Dockerfile
  server/go.mod
Due: none

Use go 1.23.0 (#2348)
  server/Dockerfile
  server/go.mod
Due: none

WIP scroll to event
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/stores/pagination.ts
Due: eslint --fix, prettier --write, stylelint --fix

Use 1.23
  server/go.mod
Due: none

Use 1.23 (#2349)
  server/go.mod
Due: none

Add scrolling to event id
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/stores/pagination.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove unused data-eventids
  src/lib/components/event/event-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add type guard and unit tests
  src/lib/stores/pagination.test.ts
  src/lib/stores/pagination.ts
Due: eslint --fix, prettier --write

Remove .only
  src/lib/stores/pagination.test.ts
Due: eslint --fix, prettier --write

Add eventId to history route to jump to event
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-links-expanded.svelte
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update go version to 1.23 in update ui-server
  .github/workflows/update-ui-server.yml
Due: none

Use v4
  .github/workflows/update-ui-server.yml
Due: none

Update go version to 1.23 in update ui-server (#2351)
  .github/workflows/update-ui-server.yml
Due: none

support multiselect in combobox
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix styles
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use combobox with multiselect
  src/lib/pages/nexus-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update label
  src/lib/pages/nexus-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix tests
  tests/integration/workflow-actions.spec.ts
Due: eslint --fix, prettier --write

clean up styles
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix styles and use badge for multiselect text when no chips
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

DT-2347 - support multiselect in combobox (#2352)
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add link to callback, use eventId=1 if workflow_execution_started event ref
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-links-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/workflow-callback.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use UTC dates for intervalToDuration in fromSeconds
  src/lib/utilities/to-duration.ts
Due: eslint --fix, prettier --write

Use UTC dates for intervalToDuration in fromSecondsToMinutesAndSeconds
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write

Add empty state for Upcoming Runs on schedule detail page
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/i18n/locales/en/schedules.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add empty state for Upcoming Runs on schedule detail page (#2354)
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/i18n/locales/en/schedules.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix differences in duration (#2353)
  src/lib/utilities/format-time.ts
  src/lib/utilities/to-duration.ts
Due: eslint --fix, prettier --write

fix tests
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/types/index.ts
  tests/integration/workflow-actions.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

add tests for server version 1.24.0, fix version checks
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  src/lib/services/workflow-service.ts
  tests/integration/workflow-actions.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix
