Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Danger test
  src/routes/(app)/select-namespace/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Try more danger
  dangerfile.ts
Due: eslint --fix, prettier --write

Lets do some debugging
  dangerfile.ts
Due: eslint --fix, prettier --write

some error handling
  dangerfile.ts
  scripts/count-strict-errors.ts
Due: eslint --fix, prettier --write

more fixes
  dangerfile.ts
Due: eslint --fix, prettier --write

more attempts
  dangerfile.ts
  scripts/count-strict-errors.ts
Due: eslint --fix, prettier --write

Lets give er a go
  dangerfile.ts
Due: eslint --fix, prettier --write

Lets try adding annotations
  dangerfile.ts
Due: eslint --fix, prettier --write

See if this gives us annotations
  src/routes/(app)/select-namespace/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Lets go inline annotations
  dangerfile.ts
Due: eslint --fix, prettier --write

Lets try again
  .github/workflows/danger.yml
  dangerfile.ts
Due: eslint --fix, prettier --write

one more pass
  .github/workflows/danger.yml
  dangerfile.ts
Due: eslint --fix, prettier --write

One more time
  .github/workflows/danger.yml
  dangerfile.ts
Due: eslint --fix, prettier --write

lets try the fix
  .github/workflows/danger.yml
  dangerfile.ts
Due: eslint --fix, prettier --write

Log changedfiles and such
  dangerfile.ts
Due: eslint --fix, prettier --write

lets try checking line numbers again
  dangerfile.ts
Due: eslint --fix, prettier --write

HIGH VOLTAGE
  dangerfile.ts
Due: eslint --fix, prettier --write

lets goooooo
  dangerfile.ts
Due: eslint --fix, prettier --write

Let er rip
  dangerfile.ts
Due: eslint --fix, prettier --write

Add support for CA certificate for auth provider
  server/config/development.yaml
  server/config/docker.yaml
  server/server/config/config.go
  server/server/route/auth.go
  server/server/route/auth_test.go
  server/server/rpc/tls.go
  server/server/rpc/tls_cert_loader_test.go
Due: none

If greater than 1 attempt, set actions to 0
  src/lib/models/event-history/get-event-billable-actions.ts
Due: eslint --fix, prettier --write

Fix pending activities to show input. Fix pending nexus operations
  src/lib/components/event/event-card.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/pages/workflow-pending-activities.svelte
Due: eslint --fix, prettier --write, stylelint --fix

If greater than 1 attempt, set actions to 0 (#3045)
  src/lib/models/event-history/get-event-billable-actions.ts
Due: eslint --fix, prettier --write

Make danger a lil nicer
  dangerfile.ts
Due: eslint --fix, prettier --write

Warn to fail
  dangerfile.ts
Due: eslint --fix, prettier --write

Just some comment fixes
  dangerfile.ts
Due: eslint --fix, prettier --write

fix(vertical-nav): remove rounded corners from nav items
  src/lib/holocene/vertical-nav/vertical-nav-item.svelte
  src/lib/holocene/vertical-nav/vertical-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update Menu and related components to runes mode
  src/lib/components/event/event-date-filter.svelte
  src/lib/components/lines-and-dots/event-sort-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/namespace-picker.svelte
  src/lib/components/search-attribute-filter/boolean-filter.svelte
  src/lib/components/search-attribute-filter/conditional-menu.svelte
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/search-attribute-filter/status-filter.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/dropdown-filter/text-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-status.svelte
  src/lib/components/workflow/filter-bar/search-attribute-menu.svelte
  src/lib/components/workflow/filter-bar/status-dropdown-filter-chip.svelte
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/holocene/combobox/async-test.svelte
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.stories.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/select/filter-select.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/holocene/select/option-group.svelte
  src/lib/holocene/select/option.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/select/simple-option.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/user-menu.svelte
  src/lib/pages/schedule-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix onclick in MenuButton
  src/lib/holocene/menu/menu-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Style changes
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/i18n/locales/en/codec-server.ts
  src/lib/i18n/locales/en/search-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(search-attributes): add isDeletable (#3041)
  src/lib/components/codec-server-form/codec-server-form-content.svelte
  src/lib/components/search-attributes-form/search-attribute-row.svelte
  src/lib/components/search-attributes-form/search-attributes-form-content.svelte
  src/lib/components/search-attributes-form/search-attributes-form.stories.svelte
  src/lib/components/search-attributes-form/search-attributes-form.svelte
  src/lib/components/search-attributes-form/types.ts
  src/lib/holocene/vertical-nav/vertical-nav-item.svelte
  src/lib/holocene/vertical-nav/vertical-nav.svelte
  src/lib/i18n/locales/en/codec-server.ts
  src/lib/i18n/locales/en/search-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix optional callback prop calls
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/select/option.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix combobox effects
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fail -> warn
  dangerfile.ts
Due: eslint --fix, prettier --write

optional children for empty states
  src/lib/holocene/select/select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

remove onfilter from combobox
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Audit identity field in APIs (#3018)
  src/lib/components/activity/activity-options-update-drawer.svelte
  src/lib/components/activity/activity-pause-confirmation-modal.svelte
  src/lib/components/activity/activity-reset-confirmation-modal.svelte
  src/lib/components/activity/activity-unpause-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/services/workflow-activities-service.ts
  src/lib/services/workflow-service.ts
  src/lib/types/index.ts
  src/lib/utilities/core-context.ts
  src/lib/utilities/workflow-actions.test.ts
  src/lib/utilities/workflow-actions.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove mb
  src/lib/components/workflow/workflow-call-stack-error.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove inspect
  src/lib/components/event/event-card.svelte
Due: eslint --fix, prettier --write, stylelint --fix
