Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Trim all the slashes
  src/lib/utilities/trim-trailing-slash.ts
Due: eslint --fix, prettier --write

Add trailing-slash utility and use on codec server endpoint (#1843)
  src/lib/components/data-encoder-settings.svelte
  src/lib/utilities/trim-trailing-slash.test.ts
  src/lib/utilities/trim-trailing-slash.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add fly in for drawer
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/line-dot.svelte
  src/lib/components/lines-and-dots/line.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add badge color, add support for dark mode (#1848)
  src/lib/components/event/event-detail-pills.svelte
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/pill.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/components/workflow/workflow-detail.svelte
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/badge.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/theme/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Animate batch operations with CSS (#1850)
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/batch-operation.svelte
  src/lib/holocene/icon/svg/layers-1.svelte
  src/lib/holocene/icon/svg/layers-2.svelte
  src/lib/holocene/icon/svg/layers-3.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make permissions reactive
  src/lib/pages/schedule-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update types.ts
  src/lib/holocene/icon/types.ts
Due: eslint --fix, prettier --write

Make permissions reactive (#1852)
  src/lib/pages/schedule-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Bump to 2.23.2
  package.json
Due: prettier --write

Fix import from rebase
  src/lib/holocene/icon/svg/batch-operation.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Minifiy logo, inherit color
  src/lib/holocene/logo.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add currentColor as a supported color
  src/theme/colors.ts
Due: eslint --fix, prettier --write

Bump to 2.23.2 (#1853)
  package.json
Due: prettier --write

Include schedules-hot-fix
  package.json
  src/lib/pages/schedule-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Simplify nav-container and nav-row
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/nav-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add additional transition properties, inverse surface
  src/theme/index.ts
Due: eslint --fix, prettier --write

Use CSS grid for navigation
  src/lib/holocene/logo.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/nav-row.svelte
  src/lib/holocene/navigation/nav-tooltip.svelte
  src/lib/holocene/tooltip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Rename files
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Simplify side-nav
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove externalLink prop
  src/lib/holocene/navigation/nav-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Adjust borders for side and top navigation
  src/lib/components/top-nav.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/theme/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Correctly Type click-outside sending a custom event, fix onClick type for drawer to help differentiate the events that are actually passed
  src/global.d.ts
  src/lib/holocene/drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add close-button slot for the drawer
  src/lib/holocene/drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Ooops that's how slots work
  src/lib/holocene/drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add error state to combobox
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/theme/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Put pending activities at the bottom, not inline. Need to figure out the offset
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/components/lines-and-dots/data.ts
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/event-details-header.svelte
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/input-and-result-row.svelte
  src/lib/components/lines-and-dots/line-dot.svelte
  src/lib/components/lines-and-dots/pending-activity-row.svelte
  src/lib/components/lines-and-dots/pending-details.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/theme/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Compact view for graph
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/group-row.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/input-and-result-row.svelte
  src/lib/components/lines-and-dots/line.svelte
  src/lib/components/lines-and-dots/pending-activity-row.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add new timline view for compact
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/draggable-x-line.svelte
  src/lib/components/lines-and-dots/draggable-y-line.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add draggable Y line to increase/decrease height with double click too
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/draggable-x-line.svelte
  src/lib/components/lines-and-dots/draggable-y-line.svelte
  src/lib/components/lines-and-dots/event-details-header.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/group-row.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/input-and-result-row.svelte
  src/lib/components/lines-and-dots/pending-activity-row.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Simplify everything, make svg text with drawer. Need to figure out the right drawerY
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/event-history/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add input and results
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add filters, timestamps. Need to work on sort flip logic and pending activities
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/event-details.svelte
  src/lib/components/lines-and-dots/event-sort-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/stores/events.ts
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add colors
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/line.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add relationships tab and page, fix pending activities
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/utilities/get-workflow-relationships.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/relationships/+page.svelte
  src/theme/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make workflow details into panes
  src/lib/components/lines-and-dots/event-sort-filter.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/components/lines-and-dots/input-and-results.svelte
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/holocene/badge.svelte
  src/lib/holocene/icon/svg/labs.svelte
  src/lib/holocene/select/multi-select.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix the canvasWidth
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/line.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Stop UI server from using stdout/stderr inadvertently
  server/server/config/config.go
  server/server/server.go
Due: none

Make generic "HideLogs"
  server/server/config/config.go
  server/server/server.go
Due: none

Stop UI server from using stdout/stderr inadvertently (#1858)
  server/server/config/config.go
  server/server/server.go
Due: none

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
