Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

chore: bump version to 2.45.2
  package.json
  server/server/version/version.go
Due: prettier --write

fix(nav): restore cloud navigation width and version positioning
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(nav): use min-h-full to properly position version at bottom
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(nav): restructure cloud-nav-bar to fix version positioning
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(nav): add conditional rendering for subtitle to prevent empty h2
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

docs: add skill for local UI package testing in cloud-ui
  .claude/skills/install-local-ui-in-cloud.md
Due: prettier --write

docs: emphasize cloud-ui changes are local-only and should not be committed
  .claude/skills/install-local-ui-in-cloud.md
Due: prettier --write

fix(nav): remove self-start from collapse button
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(nav): remove px-2 padding from cloud nav header
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(nav): restore cloud navigation width and version positioning (#3147)
  .claude/skills/install-local-ui-in-cloud.md
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor to use on from svelte/events (#3126)
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/outside-click.ts
  src/lib/holocene/portal/portal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix subtitle size and padding on proj nav
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(workflow): split Event History into Timeline and Event History tabs
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  src/lib/utilities/event-filter-params.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/timeline/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(routing): add archival support to routeForTimeline
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(workflow): update navigation links to land on Timeline tab
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/workflow/child-workflows-table.svelte
  src/lib/components/workflow/first-previous-next-workflow-table.svelte
  src/lib/components/workflow/live-child-workflows-table.svelte
  src/lib/components/workflow/parent-workflow-table.svelte
  src/lib/components/workflow/relationships/workflow-family-node-description-details.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-nexus-links.svelte
Due: eslint --fix, prettier --write, stylelint --fix

test: update workflow-event-history tests for split tabs
  tests/integration/workflow-event-history.spec.ts
Due: eslint --fix, prettier --write

feat(workflow): add InputAndResults back to Timeline and Event History tabs
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  tests/integration/workflow-event-history.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(workflow-history): replace type assertion with type guard
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(workflow-history): improve Event History layout spacing
  .serena/project.yml
  src/lib/components/event/event-summary-table.svelte
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

format
  .serena/project.yml
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Switch conditional to twMerge conditional
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add back conditional
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(workflow-history): remove trailing space from event-summary-table testid
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix subtitle size and padding on proj nav (#3148)
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update to use deprecated activity endpoints
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write

Remove unused activity endpoints
  src/lib/services/workflow-activities-service.ts
  src/lib/types/api.ts
  src/lib/types/events.ts
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write

Bump API to v1.60.2
  server/go.mod
  server/go.sum
Due: none

Update activity operator command API routes (#3151)
  server/go.mod
  server/go.sum
  src/lib/services/workflow-activities-service.ts
  src/lib/types/api.ts
  src/lib/types/events.ts
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write

migrate schedules form to superforms/zod
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-form/form.svelte
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
  src/lib/components/schedule/schedule-form/schedules-calendar-view.svelte
  src/lib/components/schedule/schedule-form/schedules-search-attributes-inputs.svelte
  src/lib/components/schedule/schedule-form/schema.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedules-create.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.45.3
  package.json
  server/server/version/version.go
Due: prettier --write

Add back banner
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor Banner to svelte 5
  src/lib/holocene/banner/banner.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add fallback for /activities-deprecated routes
  src/lib/services/workflow-activities-service.ts
  src/lib/utilities/handle-error.ts
Due: eslint --fix, prettier --write

Fall back to legacy schedule count on 404
  src/lib/services/workflow-counts.ts
  src/lib/utilities/handle-error.ts
Due: eslint --fix, prettier --write

Corrected location of output directory
  README.md
Due: prettier --write

Use CountSchedules for counting schedules (#3100)
  src/lib/services/workflow-counts.ts
  src/lib/types/api.ts
  src/lib/types/workflows.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/route-for-api.ts
  tests/integration/schedule-edit.spec.ts
  tests/integration/schedules-list.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/schedules-count.ts
Due: eslint --fix, prettier --write

Add minimum version check
  src/lib/services/workflow-activities-service.ts
Due: eslint --fix, prettier --write
