Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Make a tighter ratio for offset
  src/lib/components/lines-and-dots/line-dot.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add hover on dots
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/components/lines-and-dots/line-dot.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Swap in updated color palette in collaboration with @tigernaut
  colors.cjs
Due: none

Update drawer-content.svelte
  src/lib/holocene/drawer-content.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Upgrade Tailwind from 3.2.4 to 3.4.1
  package.json
  pnpm-lock.yaml
Due: prettier --write

Use TypeScript for Tailwind configuration
  colors.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write

Remove unused theme properties
  tailwind.config.ts
Due: eslint --fix, prettier --write

Update snapshot
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
Due: none

Make resizing work
  src/lib/components/lines-and-dots/draggable-line.svelte
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/input-and-result-row.svelte
  src/lib/components/lines-and-dots/line-dot.svelte
  src/lib/components/lines-and-dots/line.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add default 500 error code and empty string
  src/lib/components/workflow/workflow-error.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move colors.ts into /src
  src/theme/colors.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write

Spike out Tailwind plugin
  src/theme/index.ts
  src/theme/types.d.ts
  src/theme/utilities.ts
Due: eslint --fix, prettier --write

Use new surface class on main container
  src/lib/components/top-nav.svelte
  src/lib/holocene/main-content-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use surface-primary class
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/panel.svelte
  src/lib/components/pill.svelte
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/card.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/date-picker.svelte
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/navigation/nav-row.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/holocene/scroll-to-top.stories.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/toggle-switch.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/import-events-view.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_filter-input.svelte
  src/routes/(app)/select-namespace/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix Tailwind Script
  scripts/audit-tailwind-colors/utilities.ts
Due: eslint --fix, prettier --write

Add default border color
  src/theme/index.ts
Due: eslint --fix, prettier --write

Use default border
  src/lib/components/event/event-empty-row.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/panel.svelte
  src/lib/components/pill.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/accordion.svelte
  src/lib/holocene/badge.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/calendar.svelte
  src/lib/holocene/card.svelte
  src/lib/holocene/compatibility-badge.svelte
  src/lib/holocene/date-picker.svelte
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/day-of-week-picker.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/month-picker.svelte
  src/lib/holocene/select/filter-select.svelte
  src/lib/holocene/table/bulk-action-button.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/textarea.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/routes/(app)/select-namespace/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use color injection over additional classes
  src/theme/index.ts
Due: eslint --fix, prettier --write

Use the new subtle border color
  src/lib/components/schedule/schedule-recent-runs.svelte
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/holocene/chip.svelte
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/day-of-week-picker.svelte
  src/lib/holocene/menu/menu-divider.svelte
  src/lib/holocene/month-picker.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/pages/workflow-pending-activities.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use bg-inverse
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/components/workflow/dropdown-filter/conditional.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/day-of-week-picker.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/month-picker.svelte
  src/lib/holocene/navigation/nav-row.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/holocene/toggle-switch.svelte
  src/theme/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix broken classes
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/day-of-week-picker.svelte
  src/lib/holocene/month-picker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update snapshots
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
Due: none

fix batch operation query bug
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add integration test
  tests/integration/workflow-bulk-actions.spec.ts
Due: eslint --fix, prettier --write

remove uncecessary step
  tests/integration/workflow-bulk-actions.spec.ts
Due: eslint --fix, prettier --write

fix batch operation query bug (#1840)
  src/lib/pages/workflows-with-new-search.svelte
  tests/integration/workflow-bulk-actions.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

bump ui server version to v2.23.1
  server/server/version/version.go
Due: none

2.23.1
  package.json
Due: prettier --write

Add icons (#1837)
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/astronaut.svelte
  src/lib/holocene/icon/svg/calendar.svelte
  src/lib/holocene/icon/svg/robot.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.23.1 (#1842)
  package.json
Due: prettier --write

Add dark mode support for the Accordion component
  src/lib/holocene/accordion.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add trailing-slash utility and use on codec server endpoint
  src/lib/components/data-encoder-settings.svelte
  src/lib/utilities/trim-trailing-slash.test.ts
  src/lib/utilities/trim-trailing-slash.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add full set of semantic variables based on current designs
  src/theme/colors.ts
  src/theme/index.ts
  src/theme/types.d.ts
  src/theme/utilities.ts
Due: eslint --fix, prettier --write
