Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

WIP: get decoding working on expand
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/payload-decoder.svelte
  src/lib/models/event-history/index.ts
  src/lib/services/data-encoder.ts
  src/lib/utilities/decode-payload.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Try some things out
  src/app.html
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/workflow-count-all.svelte
  src/lib/components/workflow/workflow-count-status.svelte
  src/lib/components/workflow/workflow-counts.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/group-by-enabled.ts
  src/routes/(app)/+layout.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Remove custom filters
  src/lib/components/workflow/workflow-counts.svelte
Due: pnpm lint:fix, stylelint --fix

Reset filter when closing ExecutionStatus menu and remove Apply button
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/status-filter.svelte
Due: pnpm lint:fix, stylelint --fix

Add All option
  src/lib/components/workflow/filter-search/status-filter.svelte
Due: pnpm lint:fix, stylelint --fix

fix button types so `disabled` can't be used with `href`
  src/lib/holocene/button.story.svelte
  src/lib/holocene/button.svelte
Due: pnpm lint:fix, stylelint --fix

fix schedules page buttons
  src/lib/pages/schedules.svelte
Due: pnpm lint:fix, stylelint --fix

[DT-1360] Updates to ExecutionStatus filter (#1641)
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/status-filter.svelte
Due: pnpm lint:fix, stylelint --fix

Add Caller-Type to http headers, allow in ui-server, update tests (#1634)
  server/server/server.go
  src/lib/services/namespaces-service.test.ts
  src/lib/utilities/request-from-api.test.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/request-from-api.with-access-token.test.ts
Due: pnpm lint:fix, prettier --write

Fix button so that it can't accept an `href` prop if disabled (#1642)
  src/lib/holocene/button.story.svelte
  src/lib/holocene/button.svelte
  src/lib/pages/schedules.svelte
Due: pnpm lint:fix, stylelint --fix

upgrade cypress to v13.2.0 and associated changes
  cypress.config.ts
  cypress.json
  cypress/downloads/downloads.html
  cypress/e2e/event-history-empty-states.spec.js
  cypress/e2e/event-history.spec.js
  cypress/e2e/event-ordering-fallback-for-older-versions.spec.js
  cypress/e2e/events-in-ascending-order-in-json-view.spec.js
  cypress/e2e/login.spec.js
  cypress/e2e/namespace.spec.js
  cypress/e2e/query.spec.js
  cypress/e2e/schedules.spec.js
  cypress/e2e/task-queues.spec.js
  cypress/e2e/workers.spec.js
  cypress/e2e/workflow-actions.spec.js
  cypress/e2e/workflow-executions.spec.js
  cypress/e2e/workflow-input-and-results.spec.js
  cypress/plugins/index.cjs
  cypress/support/e2e.js
  package.json
  pnpm-lock.yaml
Due: pnpm lint:fix, prettier --write

upgrade cypress github action to v6
  .github/workflows/integration-tests.yml
Due: none

prettierignore cypress/downloads
  .prettierignore
Due: none

2.18.7
  package.json
Due: prettier --write

bump ui server version to 2.18.2
  server/server/version/version.go
Due: none

2.18.7 (#1647)
  package.json
Due: prettier --write

fix disabled prop on button
  src/lib/holocene/button.svelte
Due: pnpm lint:fix, stylelint --fix

fix disabled prop on button (#1649)
  src/lib/holocene/button.svelte
Due: pnpm lint:fix, stylelint --fix

Empty namespace copy (#1562)
  .nvmrc
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

2.18.8
  package.json
Due: prettier --write

2.18.8 (#1650)
  package.json
Due: prettier --write

bump ui server version to 2.18.2 (#1648)
  server/server/version/version.go
Due: none

Show the full payloadable, add to input and results
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/workflow/input-and-results.svelte
  src/lib/utilities/get-started-completed-and-task-failed-events.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Clean up all the functions
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/models/event-history/get-event-attributes.test.ts
  src/lib/models/event-history/index.ts
  src/lib/models/event-history/to-event-history.test.ts
  src/lib/services/events-service.ts
  src/lib/types/events.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add event filters, lock view from start to end
  src/lib/components/event/event-category-filter.svelte
  src/lib/components/event/event-history-timeline.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/models/event-history/get-event-categorization.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Make it better with tooltips, collapse vertical, event filters, label improvements
  src/lib/components/event/event-history-timeline-helpers.ts
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/models/event-groups/get-group-name.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Don't follow mouse
  src/lib/components/event/event-history-timeline.svelte
Due: pnpm lint:fix, stylelint --fix

Add Not equal to option for text filter
  src/lib/components/workflow/filter-search/conditional-menu.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/number-filter.svelte
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
  src/lib/i18n/locales/en/common.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Update and refactor getFocusedElementId
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
  src/lib/utilities/query/filter-search.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

stop
  src/lib/components/event/event-summary-row.svelte
Due: pnpm lint:fix, stylelint --fix

Bump sveltekit to 1.20.0
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add "Not equal to" option to Text filter search (#1652)
  src/lib/components/workflow/filter-search/conditional-menu.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/number-filter.svelte
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/utilities/query/filter-search.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add visibleItems to header slot
  src/lib/components/data-encoder-settings.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/date-picker.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/outside-click.ts
  src/lib/holocene/table/paginated-table.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Remove commented out code
  src/lib/holocene/outside-click.ts
Due: pnpm lint:fix, prettier --write

Fix click-outside
  src/lib/components/data-encoder-settings.svelte
  src/lib/holocene/date-picker.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/outside-click.ts
  src/routes/(app)/+layout.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

Update snapshots
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
Due: none

rm break
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/holocene/pagination.svelte
Due: pnpm lint:fix, stylelint --fix

Fix indeterminate on checkbox, delete stupid snapshots
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/checkbox.svelte
Due: pnpm lint:fix, stylelint --fix

Path conditions:
  pnpm lint:fix: (any of: *.{ts,js}) or (any of: *.{css,postcss,svelte})
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,postcss,svelte}
