Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Update version.go to v2.35.1
  server/server/version/version.go
Due: none

Update version.go to v2.35.1 (#2573)
  server/server/version/version.go
Due: none

Add multiple callbacks, how UpdateOptions attributes
  src/lib/components/event/event-details-full.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-callbacks.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/i18n/locales/en/nexus.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/types/events.ts
  src/lib/utilities/is-event-type.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add multiple callbacks and options attributes
  src/lib/components/event/event-details-full.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Format
  src/lib/utilities/is-event-type.ts
Due: eslint --fix, prettier --write

Remove unused isCheck
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/types/events.ts
  src/lib/utilities/is-event-type.ts
Due: eslint --fix, prettier --write

Warn on ts-ignore
  .eslintrc.cjs
  src/lib/utilities/is-event-type.ts
Due: eslint --fix, prettier --write

Update snapshots
  src/lib/models/event-history/get-event-categorization.test.ts
Due: eslint --fix, prettier --write

Return real data
  src/lib/components/deployments/deployment-details.svelte
  src/lib/pages/deployment.svelte
  src/lib/services/deployments-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix type and remove warn
  .eslintrc.cjs
  src/lib/utilities/is-event-type.ts
Due: eslint --fix, prettier --write

Show multiple callbacks and WorkflowExecutionUpdateOptions attributes (#2574)
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-callbacks.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/i18n/locales/en/nexus.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/models/event-history/get-event-categorization.ts
  src/lib/utilities/is-event-type.ts
Due: eslint --fix, prettier --write, stylelint --fix

Use has
  src/lib/stores/pagination.test.ts
  src/lib/stores/pagination.ts
Due: eslint --fix, prettier --write

Add hashField prop
  src/lib/components/event/event-summary-table.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add scroll to Event ID for links to Events (#2541)
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/stores/pagination.test.ts
  src/lib/stores/pagination.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/to-url.test.ts
  src/lib/utilities/to-url.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add Deployment columns to workflow list, add drained/inactive icons, add deployment details in workflow header
  src/lib/components/deployments/deployment-status.svelte
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/components/deployments/task-queue-table-row.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/drained.svelte
  src/lib/holocene/icon/svg/heartbeat.svelte
  src/lib/holocene/icon/svg/inactive.svelte
  src/lib/holocene/icon/svg/trending-down.svelte
  src/lib/holocene/icon/svg/trending-up.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/models/workflow-execution.ts
  src/lib/pages/deployment-version.svelte
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/services/deployments-service.ts
  src/lib/stores/configurable-table-columns.ts
  src/lib/types/deployments.ts
  src/lib/types/workflows.ts
  src/lib/utilities/route-for-api.ts
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/version/[version]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove search for now, better colors, add deployment column
  src/lib/components/deployments/deployment-status.svelte
  src/lib/components/worker-table.svelte
  src/lib/pages/deployments.svelte
  src/lib/pages/task-queue.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove deployment details
  src/lib/components/deployments/deployment-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update snapshots
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
Due: none

Update src/lib/pages/deployments.svelte
  src/lib/pages/deployments.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/components/deployments/version-table-row.svelte
  src/lib/components/deployments/version-table-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/utilities/route-for.ts
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

Fix route
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

Add back versioning tab for v2 versioning
  src/lib/pages/task-queue.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add link for versioning docs
  src/lib/pages/deployments.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Change link url
  src/lib/pages/deployments.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove description text
  src/lib/pages/deployments.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.36.0
  package.json
Due: prettier --write

Update version.go to v2.36.0
  server/server/version/version.go
Due: none

Change text
  src/lib/pages/deployments.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Worker Versioning (#2576)
  src/lib/components/deployments/deployment-status.svelte
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/version-details.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/drained.svelte
  src/lib/holocene/icon/svg/heartbeat.svelte
  src/lib/holocene/icon/svg/inactive.svelte
  src/lib/holocene/icon/svg/trending-down.svelte
  src/lib/holocene/icon/svg/trending-up.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/index.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/workflow-execution.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/services/deployments-service.ts
  src/lib/stores/configurable-table-columns.ts
  src/lib/types/api.ts
  src/lib/types/deployments.ts
  src/lib/types/workflows.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update version.go to v2.36.0 (#2580)
  server/server/version/version.go
Due: none

WIP: add messageType metadata field for json/protobuf payloads. Need to add messageType to schedules/signals
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/utilities/encode-payload.ts
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Set existing messageType and encoding on start workflow if it exists, add to signal
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/types/schedule.ts
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add gap
  src/lib/components/payload-input-with-encoding.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove nexus public preview tag and fix padding on deployments
  src/lib/pages/deployments.svelte
  src/lib/pages/nexus-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove nexus public preview tag and fix padding on deployments (#2582)
  src/lib/pages/deployments.svelte
  src/lib/pages/nexus-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.36.1
  package.json
Due: prettier --write

Support messageType metadata on protobuf encoded Payloads (#2581)
  src/lib/components/payload-input-with-encoding.svelte
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow/client-actions/signal-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/types/schedule.ts
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/encode-payload.ts
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
