Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Account for cloud namespace names
  src/lib/utilities/namespace-url-pattern.ts
Due: eslint --fix, prettier --write

Account for cloud namespace names (#2557)
  src/lib/utilities/namespace-url-pattern.ts
Due: eslint --fix, prettier --write

2.34.13
  package.json
Due: prettier --write

Check for potentially null endpoint in trimTrailingSlash
  src/lib/components/data-encoder-settings.svelte
  src/lib/stores/data-encoder-config.ts
Due: eslint --fix, prettier --write, stylelint --fix

Check for potentially null endpoint in trimTrailingSlash (#2559)
  src/lib/components/data-encoder-settings.svelte
  src/lib/stores/data-encoder-config.ts
Due: eslint --fix, prettier --write, stylelint --fix

Finish deployment and deployment version pages
  src/lib/components/deployments/deployment-details.svelte
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/components/deployments/task-queue-table-row.svelte
  src/lib/components/deployments/version-details.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/pages/deployment-version.svelte
  src/lib/pages/deployments.svelte
  src/lib/services/deployments-service.ts
  src/lib/types/api.ts
  src/lib/types/deployments.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/version/[version]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

More setup, add individual deployment page. WIP
  src/lib/components/deployments/deployment-details.svelte
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/index.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/services/deployments-service.ts
  src/lib/types/api.ts
  src/lib/types/deployments.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add trending icon
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/trending.svelte
  src/lib/pages/deployment-version.svelte
  src/lib/services/deployments-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Bump api version, add new page for deployments. WIP
  server/go.mod
  server/go.sum
  src/lib/pages/deployments.svelte
  src/lib/types/deployments.ts
  src/routes/(app)/deployments/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Only query workflow metadata for running workflows
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/stores/workflow-run.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove space
  src/lib/pages/workflow-call-stack.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add query details button if running
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/holocene/accordion/accordion-light.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use update details
  src/lib/components/workflow/metadata/workflow-current-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Translate
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add css to go renderer, always show Current Details accordion
  server/server/route/ui.go
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add bi-di link to timeline info
  server/go.mod
  server/go.sum
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
Due: eslint --fix, prettier --write, stylelint --fix

Refactor based on updates, set no current details in api call, remove button, better padding
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/query-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Switch to text-secondary instead of text-subtle
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Only query workflow metadata for running workflows (#2560)
  server/server/route/ui.go
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/holocene/accordion/accordion-light.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/workflow-query.svelte
  src/lib/services/query-service.ts
  src/lib/stores/workflow-run.ts
Due: eslint --fix, prettier --write, stylelint --fix

Consistent styles for link
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

use maxlength instead
  src/lib/pages/start-workflow.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix pending activities empty state check
  src/lib/pages/workflow-pending-activities.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add bi-directional links to Timeline info (#2561)
  server/go.mod
  server/go.sum
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/pages/workflow-pending-activities.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.35.0
  package.json
Due: prettier --write

Set empty current details on error as well to prevent overfetching
  src/lib/services/query-service.ts
Due: eslint --fix, prettier --write

Set empty current details on error as well to prevent overfetching (#2564)
  src/lib/services/query-service.ts
Due: eslint --fix, prettier --write

2.35.1
  package.json
Due: prettier --write

Add conditional check for pending children
  src/lib/components/workflow-actions.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add conditional check for pending children (#2566)
  src/lib/components/workflow-actions.svelte
Due: eslint --fix, prettier --write, stylelint --fix

cap L
  src/lib/pages/start-workflow.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove transition:slide in accordion light
  src/lib/holocene/accordion/accordion-light.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove transition:slide in accordion light (#2567)
  src/lib/holocene/accordion/accordion-light.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.35.2
  package.json
Due: prettier --write

Add eventId to timeline, remove goto
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix/remove imports
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/calendar.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/pill-container/pill.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/services/workflow-counts.ts
  vitest-setup.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix/remove imports (#2569)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/accordion/accordion.svelte
  src/lib/holocene/calendar.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/pill-container/pill.svelte
  src/lib/holocene/select/select.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/services/workflow-counts.ts
  vitest-setup.ts
Due: eslint --fix, prettier --write, stylelint --fix

2.35.3
  package.json
Due: prettier --write

Add lineBreakReplacer extention
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add lineBreakReplacer extention (#2571)
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.35.4
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
