Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Make timestamp fully reactive to user preferences
  src/lib/components/deployments/version-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/runes/timestamp.svelte.ts
  src/lib/runes/timestamp.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Refactor timezone utilities to separate file and resolve circular imports
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/timezone.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add 'relative' override to timestamp rune
  src/lib/runes/timestamp.svelte.ts
  src/lib/runes/timestamp.test.ts
Due: eslint --fix, prettier --write

Update more components to use timestamp rune
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/pages/workflow-call-stack.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add $timestamp rune for reactive date formatting
  src/lib/runes/timestamp.svelte.ts
Due: eslint --fix, prettier --write

Add 'absolute' override and update workflow-details & dropdown-filter-chip to use rune
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/runes/timestamp.svelte.ts
  src/lib/runes/timestamp.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Revert 'absolute' override from timestamp rune
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/runes/timestamp.svelte.ts
  src/lib/runes/timestamp.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Change timestamp API to use options object
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/runes/timestamp.svelte.ts
  src/lib/runes/timestamp.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

make timestamp signature more like formatDate signature
  src/lib/components/timestamp.svelte
  src/lib/components/timestamp.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Move isFutureDate to format-date.ts and rename to isFuture
  src/lib/stores/timestamp.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write

Update event summary rows and version details to use timestamp rune
  src/lib/components/deployments/version-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update components to use timestamp rune
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add comprehensive tests for timestamp rune
  src/lib/runes/timestamp.svelte.ts
  src/lib/runes/timestamp.test.ts
Due: eslint --fix, prettier --write

touch up timestamp store, no need for isFuture there
  src/lib/stores/time-format.test.ts
  src/lib/stores/timestamp.ts
Due: eslint --fix, prettier --write

move timestamp from stores folder to be an export of the timestamp component
  src/lib/components/deployments/version-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/timestamp.test.ts
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/timestamp.ts
Due: eslint --fix, prettier --write, stylelint --fix

Bump versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

Add pause/unpause buttons
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/pause-confirmation-modal.svelte
  src/lib/components/workflow/client-actions/unpause-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/models/workflow-actions.ts
  src/lib/services/workflow-service.ts
  src/lib/types/api.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/workflow-actions.test.ts
  src/lib/utilities/workflow-actions.ts
Due: eslint --fix, prettier --write, stylelint --fix

Show alert when workflow is paused
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/types/index.ts
  src/lib/types/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

[DT-3501] reactive timestamp (#3108)
  src/lib/components/deployments/version-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/lines-and-dots/workflow-pending-task.svelte
  src/lib/components/schedule/schedule-upcoming-runs.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/search-attribute-filter/datetime-filter.svelte
  src/lib/components/timestamp.svelte
  src/lib/components/timestamp.test.ts
  src/lib/components/timezone-select.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/components/workflow/workflow-callback.svelte
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/pages/workflow-call-stack.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/time-format.test.ts
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
  src/lib/utilities/timezone.ts
Due: eslint --fix, prettier --write, stylelint --fix

adjust layout and reposition timestamp format display
  src/lib/components/timezone-select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add iso option to timezone popover
  src/lib/components/timezone-select.svelte
  src/lib/utilities/format-date.ts
Due: eslint --fix, prettier --write, stylelint --fix

add hour format to the timezone popover
  src/lib/components/timezone-select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add 12/24 hour option
  src/lib/components/timestamp.svelte
  src/lib/components/timestamp.test.ts
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
Due: eslint --fix, prettier --write, stylelint --fix

add terminate and cancel to activity details page
  src/lib/components/activity-execution/activity-execution-actions.svelte
  src/lib/components/activity-execution/activity-execution-header.svelte
  src/lib/components/activity-execution/cancel-confirmation-modal.svelte
  src/lib/components/activity-execution/terminate-confirmation-modal.svelte
  src/lib/i18n/locales/en/activities.ts
  src/lib/layouts/activity-execution-layout.svelte
  src/lib/pages/activity-executions.svelte
  src/lib/services/standalone-activities.ts
  src/lib/types/api.ts
  src/lib/utilities/activity-execution-poller.svelte.ts
  src/lib/utilities/route-for-api.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(deployments): add tooltips for version status badges
  src/lib/components/deployments/deployment-status.svelte
  src/lib/i18n/locales/en/deployments.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(workflows): show Versioning Behavior column when filtering by deployment version
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update api
  server/go.mod
  server/go.sum
Due: none

feat(deployments): make build ID and deployment name copyable and filterable
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

DT-3532 - activity execution actions (#3115)
  server/go.mod
  server/go.sum
  src/lib/components/activity-execution/activity-execution-actions.svelte
  src/lib/components/activity-execution/activity-execution-header.svelte
  src/lib/components/activity-execution/cancel-confirmation-modal.svelte
  src/lib/components/activity-execution/terminate-confirmation-modal.svelte
  src/lib/i18n/locales/en/activities.ts
  src/lib/layouts/activity-execution-layout.svelte
  src/lib/pages/activity-executions.svelte
  src/lib/services/standalone-activities.ts
  src/lib/types/api.ts
  src/lib/utilities/activity-execution-poller.svelte.ts
  src/lib/utilities/route-for-api.ts
  src/routes/(app)/namespaces/[namespace]/activities/[activityId]/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

[DT-3501][DT-3505] 12/24 hour and ISO formats added to timezone popover (#3113)
  src/lib/components/timestamp.svelte
  src/lib/components/timestamp.test.ts
  src/lib/components/timezone-select.svelte
  src/lib/stores/time-format.ts
  src/lib/utilities/format-date.test.ts
  src/lib/utilities/format-date.ts
Due: eslint --fix, prettier --write, stylelint --fix

ux improvements
  src/lib/components/timezone-select.svelte
  src/lib/utilities/format-date.ts
Due: eslint --fix, prettier --write, stylelint --fix

improve layout of workflows header section to make refresh button stay put
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix tests
  src/lib/utilities/format-date.test.ts
Due: eslint --fix, prettier --write

update collapse classes
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

oops, comment back in
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix strict errors
  src/lib/components/activity/activity-pause-confirmation-modal.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/unpause-confirmation-modal.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/workflow-actions.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add back request cancellation button if pause is not enabled
  src/lib/components/workflow-actions.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix nav collapse icon (#3117)
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(workflow-history): replace type assertion with type guard
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(workflow): add InputAndResults back to Timeline and Event History tabs
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  tests/integration/workflow-event-history.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix
