Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Add Modal as a serverless worker compute provider
  src/lib/components/workers/serverless-worker-form/compute-fields.svelte
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.svelte
  src/lib/components/workers/serverless-worker-form/create-version-form.svelte
  src/lib/components/workers/serverless-worker-form/edit-version-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/shared.test.ts
  src/lib/components/workers/serverless-worker-form/shared.ts
  src/lib/i18n/locales/en/workers.ts
  src/lib/services/deployments-service.ts
  src/lib/utilities/lock-compute-provider.test.ts
  src/lib/utilities/lock-compute-provider.ts
Due: eslint --fix, prettier --write, stylelint --fix

Truncate long inline summaries
  server/server/route/markdown.gen.css
  src/lib/catalog/browser/catalog.generated.json
  src/lib/catalog/browser/catalog.generated.ts
  src/lib/catalog/worker/examples/sequential-multiline-summary-activities/workflow.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph-row.svelte
  src/lib/holocene/markdown-editor/preview.svelte
  src/lib/utilities/markdown-reset.ts
Due: eslint --fix, prettier --write, stylelint --fix

Render one-line event summaries inline
  server/server/route/markdown.gen.css
  server/server/route/ui.go
  server/server/route/ui_test.go
  src/lib/catalog/browser/catalog.generated.json
  src/lib/catalog/browser/catalog.generated.ts
  src/lib/catalog/worker/examples/corpus.test.ts
  src/lib/catalog/worker/examples/index.ts
  src/lib/catalog/worker/examples/sequential-multiline-summary-activities/activities.ts
  src/lib/catalog/worker/examples/sequential-multiline-summary-activities/example.ts
  src/lib/catalog/worker/examples/sequential-multiline-summary-activities/workflow.ts
  src/lib/catalog/worker/workflows.ts
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph-row.svelte
  src/lib/holocene/markdown-editor/preview.svelte
  src/lib/holocene/markdown-editor/preview.test.ts
  src/lib/holocene/markdown-editor/preview.ts
  src/lib/utilities/markdown-reset.ts
  src/routes/(app)/render/+server.ts
  src/routes/(app)/render/render-server.test.ts
  tests/integration/timeline-summary-iframe.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Keep tables and rules on one line in inline summaries
  server/server/route/markdown.gen.css
  server/server/route/ui_test.go
  src/lib/utilities/markdown-reset.ts
  src/routes/(app)/render/render-server.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Give mocked page the inline styles and relax width check for narrow viewports
  tests/integration/timeline-summary-iframe.spec.ts
Due: eslint --fix, prettier --write

Register render route without public path prefix
  server/server/route/ui_test.go
  server/server/server.go
Due: none

feat(figma): connect 4 more IO icons to code
  src/lib/io/icon/icons/agent.figma.ts
  src/lib/io/icon/icons/canceled.figma.ts
  src/lib/io/icon/icons/temporal-namespaces.figma.ts
  src/lib/io/icon/icons/temporal-nexus.figma.ts
Due: eslint --fix, prettier --write

docs: prefer Io components, then Holocene, in CLAUDE.md
  CLAUDE.md
Due: prettier --write

add support for mTLS on incoming client connections
  server/config/development.yaml
  server/config/docker.yaml
  server/server/config/config.go
  server/server/config/tls.go
  server/server/config/tls_test.go
  server/server/rpc/tls.go
  server/server/server.go
  server/server/server_tls_test.go
  server/server/tlsutil/cert_loader.go
  server/server/tlsutil/cert_loader_test.go
Due: none

feat(icons): add 7 IO icons and connect them in Figma
  src/lib/io/icon/icons/caret-down.figma.ts
  src/lib/io/icon/icons/caret-down.svelte
  src/lib/io/icon/icons/caret-up.figma.ts
  src/lib/io/icon/icons/caret-up.svelte
  src/lib/io/icon/icons/filter-lines-dot.figma.ts
  src/lib/io/icon/icons/filter-lines-dot.svelte
  src/lib/io/icon/icons/gemini.figma.ts
  src/lib/io/icon/icons/gemini.svelte
  src/lib/io/icon/icons/mcp.figma.ts
  src/lib/io/icon/icons/mcp.svelte
  src/lib/io/icon/icons/nexus-registry.figma.ts
  src/lib/io/icon/icons/nexus-registry.svelte
  src/lib/io/icon/icons/slash-forward.figma.ts
  src/lib/io/icon/icons/slash-forward.svelte
  src/lib/io/icon/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Register render route without public path prefix (#3973)
  server/server/route/ui_test.go
  server/server/server.go
Due: none

fix(figma): connect IO java icon to IconJava
  src/lib/io/icon/icons/java.figma.ts
Due: eslint --fix, prettier --write

fix(figma): point java template at IconJava
  src/lib/io/icon/icons/java.figma.ts
Due: eslint --fix, prettier --write

feat(figma): add Code Connect templates for IO badges, chips and tags
  src/lib/io/badge-count/badge-count.figma.ts
  src/lib/io/badge-status/badge-status.figma.ts
  src/lib/io/badge/badge.figma.ts
  src/lib/io/chip-status/chip-status.figma.ts
  src/lib/io/chip/chip.figma.ts
  src/lib/io/tag/tag.figma.ts
Due: eslint --fix, prettier --write

dev: make the local dev stack's ports configurable
  plugins/vite-plugin-temporal-server.ts
  plugins/vite-plugin-ui-server.ts
  scripts/start-batched-continue-as-new.ts
  scripts/start-timeline-demo-workflows.ts
  server/config/development.yaml
  temporal/client.ts
  temporal/worker.ts
  utilities/ui-server.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Add realistic fixture workflows for the timeline
  package.json
  scripts/start-containment-frames.ts
  scripts/start-order-fulfillment.ts
  scripts/start-subscription-billing.ts
  temporal/activities/index.ts
  temporal/activities/order-fulfillment.ts
  temporal/activities/subscription-billing.ts
  temporal/workflows.ts
Due: eslint --fix, prettier --write

Add the Lanes timeline view
  src/lib/components/lines-and-dots/colors.ts
  src/lib/components/lines-and-dots/timeline-graph/classic/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/constants.ts
  src/lib/components/lines-and-dots/timeline-graph/gutter/timeline-gutter-cells.test.ts
  src/lib/components/lines-and-dots/timeline-graph/gutter/timeline-gutter-cells.ts
  src/lib/components/lines-and-dots/timeline-graph/gutter/timeline-tree-gutter.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-chain-overview.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-collapsed-layer.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-containment-layout.test.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline-containment-layout.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-positioning.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline-static-marker-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/types.ts
  src/lib/components/lines-and-dots/timeline-graph/workflow-frame-geometry.test.ts
  src/lib/components/lines-and-dots/timeline-graph/workflow-frame-geometry.ts
  src/lib/components/lines-and-dots/timeline-graph/workflow-frame.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-timeline-layout.svelte
  src/lib/utilities/event-filter-params.test.ts
  src/lib/utilities/event-filter-params.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(figma): skip extension text on Badge Status variants without a text layer
  src/lib/io/badge-status/badge-status.figma.ts
Due: eslint --fix, prettier --write

Improve workflow timeline rendering
  src/lib/workflow-timeline/scene/plot/header-presentation.test.ts
  src/lib/workflow-timeline/scene/plot/header-presentation.ts
  src/lib/workflow-timeline/scene/plot/mark-geometry.test.ts
  src/lib/workflow-timeline/scene/plot/mark-geometry.ts
  src/lib/workflow-timeline/scene/plot/minimap-landmarks.test.ts
  src/lib/workflow-timeline/scene/plot/minimap-landmarks.ts
  src/lib/workflow-timeline/scene/plot/workflow-timeline-minimap.svelte
  src/lib/workflow-timeline/scene/plot/workflow-timeline-plot.svelte
  src/lib/workflow-timeline/scene/structure/flatten-plot-scene.test.ts
  src/lib/workflow-timeline/scene/structure/flatten-plot-scene.ts
  src/lib/workflow-timeline/scene/timeline-rows/to-timeline-event-row.test.ts
  src/lib/workflow-timeline/scene/timeline-rows/to-timeline-event-row.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(tables): prefer a range operator for measures, and filter by duration
  src/lib/components/search-attribute-filter/quick-filter-table-cell.svelte
  src/lib/components/standalone-activities/activities-summary-configurable-table/column-search-attributes.ts
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/column-search-attributes.ts
  src/lib/components/workers/workers-table/workers-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/column-search-attributes.test.ts
  src/lib/components/workflow/workflows-summary-configurable-table/column-search-attributes.ts
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/format-time.ts
  src/lib/utilities/query/quick-filter.test.ts
  src/lib/utilities/query/quick-filter.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(filters): extract the filter chip's form into a reusable editor
  src/lib/components/search-attribute-filter/dropdown-filter-chip.svelte
  src/lib/components/search-attribute-filter/filter-editor.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Show workflow lifecycle rows
  src/lib/workflow-timeline/scene/plot/workflow-timeline-plot.svelte
  src/lib/workflow-timeline/scene/structure/flatten-plot-scene.test.ts
  src/lib/workflow-timeline/scene/structure/flatten-plot-scene.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.55.0
  package.json
  server/server/version/version.go
Due: prettier --write

Render event summaries on one line in the timeline and event history (#3972)
  server/server/route/markdown.gen.css
  server/server/route/ui.go
  server/server/route/ui_test.go
  src/lib/catalog/browser/catalog.generated.json
  src/lib/catalog/browser/catalog.generated.ts
  src/lib/catalog/worker/examples/corpus.test.ts
  src/lib/catalog/worker/examples/index.ts
  src/lib/catalog/worker/examples/sequential-multiline-summary-activities/activities.ts
  src/lib/catalog/worker/examples/sequential-multiline-summary-activities/example.ts
  src/lib/catalog/worker/examples/sequential-multiline-summary-activities/workflow.ts
  src/lib/catalog/worker/workflows.ts
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph-row.svelte
  src/lib/holocene/markdown-editor/preview.svelte
  src/lib/holocene/markdown-editor/preview.test.ts
  src/lib/holocene/markdown-editor/preview.ts
  src/lib/utilities/markdown-reset.ts
  src/routes/(app)/render/+server.ts
  src/routes/(app)/render/render-server.test.ts
  tests/integration/timeline-summary-iframe.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Refine workflow timeline mark rendering
  src/lib/workflow-timeline/scene/plot/mark-geometry.test.ts
  src/lib/workflow-timeline/scene/plot/mark-geometry.ts
  src/lib/workflow-timeline/scene/plot/mark-presentation.test.ts
  src/lib/workflow-timeline/scene/plot/mark-presentation.ts
  src/lib/workflow-timeline/scene/plot/workflow-timeline-plot.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add workflow timeline legend and event styling
  src/lib/workflow-timeline/scene/plot/header-presentation.test.ts
  src/lib/workflow-timeline/scene/plot/mark-presentation.test.ts
  src/lib/workflow-timeline/scene/plot/mark-presentation.ts
  src/lib/workflow-timeline/scene/plot/workflow-timeline-legend.svelte
  src/lib/workflow-timeline/scene/plot/workflow-timeline-plot.svelte
  src/lib/workflow-timeline/scene/structure/flatten-plot-scene.test.ts
  src/lib/workflow-timeline/scene/structure/flatten-plot-scene.ts
Due: eslint --fix, prettier --write, stylelint --fix

Segment workflow duration by run
  src/lib/workflow-timeline/scene/plot/header-presentation.test.ts
  src/lib/workflow-timeline/scene/plot/header-presentation.ts
  src/lib/workflow-timeline/scene/plot/workflow-timeline-legend.svelte
  src/lib/workflow-timeline/scene/plot/workflow-timeline-plot.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Clarify clustered event shapes in timeline legend
  src/lib/workflow-timeline/scene/plot/workflow-timeline-legend.svelte
  src/lib/workflow-timeline/scene/plot/workflow-timeline-plot.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Preserve timeline viewport across domain changes
  src/lib/workflow-timeline/scene/plot/viewport-anchor.test.ts
  src/lib/workflow-timeline/scene/plot/viewport-anchor.ts
  src/lib/workflow-timeline/scene/plot/workflow-timeline-plot.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(tables): ask for an operator when = is not the sensible default
  src/lib/components/search-attribute-filter/filter-editor.svelte
  src/lib/components/search-attribute-filter/quick-filter-table-cell.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/table/table-cell-with-filter-or-copy-buttons.svelte
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(tables): resolve quick filters from one generic cell
  src/lib/components/search-attribute-filter/quick-filter-cell.svelte
  src/lib/components/standalone-activities/activities-summary-configurable-table/column-search-attributes.ts
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-body-cell.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/column-search-attributes.ts
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/column-search-attributes.test.ts
  src/lib/components/workflow/workflows-summary-configurable-table/column-search-attributes.ts
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/utilities/query/quick-filter-table.test.ts
  src/lib/utilities/query/quick-filter-table.ts
Due: eslint --fix, prettier --write, stylelint --fix

wip: namespace picker loading state
  src/lib/components/namespace-picker.svelte
  src/lib/services/namespaces-service.ts
  src/lib/stores/namespaces.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/select-namespace/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Lock the Nexus endpoint name input under fieldsInert when no name row slot is passed.
  src/lib/pages/nexus-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Skip Nexus form submission while fieldsInert is set.
  src/lib/pages/nexus-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Let Nexus name row columns shrink below content width to keep the 1/3 and 2/3 split.
  src/lib/pages/nexus-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add live timeline workflow and viewport support
  src/lib/catalog/browser/catalog.generated.json
  src/lib/catalog/browser/catalog.generated.ts
  src/lib/catalog/worker/examples/corpus.test.ts
  src/lib/catalog/worker/examples/index.ts
  src/lib/catalog/worker/examples/timeline-live/activity.ts
  src/lib/catalog/worker/examples/timeline-live/example.ts
  src/lib/catalog/worker/examples/timeline-live/workflow.test.ts
  src/lib/catalog/worker/examples/timeline-live/workflow.ts
  src/lib/catalog/worker/workflows.ts
  src/lib/workflow-timeline/scene/plot/live-viewport.test.ts
  src/lib/workflow-timeline/scene/plot/live-viewport.ts
  src/lib/workflow-timeline/scene/plot/time-viewport.test.ts
  src/lib/workflow-timeline/scene/plot/time-viewport.ts
  src/lib/workflow-timeline/scene/plot/viewport-anchor.test.ts
  src/lib/workflow-timeline/scene/plot/viewport-anchor.ts
  src/lib/workflow-timeline/scene/plot/wheel-time-range.test.ts
  src/lib/workflow-timeline/scene/plot/wheel-time-range.ts
  src/lib/workflow-timeline/scene/plot/workflow-timeline-minimap.svelte
  src/lib/workflow-timeline/scene/plot/workflow-timeline-plot.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Warn when no Worker is polling the catalog Task Queue
  src/lib/catalog/browser/catalog-client-test-runner-entry.ts
  src/lib/catalog/browser/catalog-list.client.test.ts
  src/lib/catalog/browser/catalog-list.svelte
  src/lib/catalog/host/ui-services.test.ts
  src/lib/catalog/host/ui-services.ts
Due: eslint --fix, prettier --write, stylelint --fix

Warn when no Worker is polling the catalog Task Queue (#3982)
  src/lib/catalog/browser/catalog-client-test-runner-entry.ts
  src/lib/catalog/browser/catalog-list.client.test.ts
  src/lib/catalog/browser/catalog-list.svelte
  src/lib/catalog/host/ui-services.test.ts
  src/lib/catalog/host/ui-services.ts
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
