Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

feat(nexus-operations): add services for standalone nexus operations
  src/lib/services/nexus-operation-counts.ts
  src/lib/services/standalone-nexus-operations.ts
Due: eslint --fix, prettier --write

feat(nexus-operations): add types and API routes for standalone nexus operations
  src/lib/types/api.ts
  src/lib/types/nexus-operation-execution.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

Implement helpers for accessibility PRs
  .github/pull_request_template.md
  .github/workflows/a11y-bucket-notify.yml
  .github/workflows/a11y-pr-triage.yml
  CLAUDE.md
  package.json
  pnpm-lock.yaml
  scripts/a11y/manifest.test.mjs
  scripts/a11y/manifest.yml
Due: prettier --write

fix formatting
  scripts/a11y/manifest.test.mjs
Due: none

fix linting
  scripts/a11y/manifest.test.mjs
Due: none

[DT-4039] Workflow query builder doesn't work with numeric search attributes (#3435)
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
  src/lib/utilities/query/tokenize.test.ts
  src/lib/utilities/query/tokenize.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Due: eslint --fix, prettier --write

fix title gating regex
  .github/workflows/a11y-pr-triage.yml
Due: none

improve deduplication detection on notify
  .github/workflows/a11y-bucket-notify.yml
Due: none

feat(nexus-operations): add capability flag, guard component, and configurable table columns
  src/lib/components/standalone-nexus-operations/standalone-nexus-operations-disabled.svelte
  src/lib/components/standalone-nexus-operations/standalone-nexus-operations-guard.svelte
  src/lib/i18n/locales/en/index.ts
  src/lib/i18n/locales/en/standalone-nexus-operations.ts
  src/lib/stores/configurable-table-columns.ts
  src/lib/types/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(nexus-operations): DT-4005 standalone nexus operations API integrations (#3444)
  src/lib/services/nexus-operation-counts.ts
  src/lib/services/standalone-nexus-operations.ts
  src/lib/stores/filters.ts
  src/lib/stores/nexus-operations.ts
  src/lib/types/api.ts
  src/lib/types/nexus-operation-execution.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/standalone-nexus-operation-poller.svelte.ts
Due: eslint --fix, prettier --write

feat(nexus-operations): add capability flag, guard component, and configurable table columns (#3466)
  src/lib/components/standalone-nexus-operations/standalone-nexus-operations-disabled.svelte
  src/lib/components/standalone-nexus-operations/standalone-nexus-operations-guard.svelte
  src/lib/i18n/locales/en/index.ts
  src/lib/i18n/locales/en/standalone-nexus-operations.ts
  src/lib/stores/configurable-table-columns.ts
  src/lib/types/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Extract TableCellWithFilterOrCopyButtons and reuse across summary tables
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/standalone-activities/activities-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/table/table-cell-with-filter-or-copy-buttons.svelte
  src/lib/holocene/table/table.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/stores/table-density.ts
  src/lib/utilities/event-handlers.test.ts
  src/lib/utilities/event-handlers.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add watch comment
  src/lib/runes/count-poller.svelte.ts
Due: eslint --fix, prettier --write

Fix type issue comments.
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/components/status-counts.svelte
  src/lib/runes/count-poller.svelte.ts
  src/lib/services/activity-counts.ts
  src/lib/services/workflow-counts.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix trailing '}'
  src/lib/components/schedule/schedules-table-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix tests
  src/lib/runes/count-poller.svelte.test.ts
Due: eslint --fix, prettier --write

Improve API request auth error handling
  src/lib/services/workflow-service.ts
  src/lib/utilities/api-request-manager.ts
  src/lib/utilities/handle-error.test.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/request-from-api.401-retry.test.ts
  src/lib/utilities/request-from-api.test.ts
  src/lib/utilities/request-from-api.ts
Due: eslint --fix, prettier --write

DT-4051: pre-populate input when starting standalone activity like this one
  src/lib/components/standalone-activities/activity-actions.svelte
  src/lib/components/standalone-activities/start-standalone-activity-form/form.svelte
  src/lib/services/standalone-activities.ts
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write, stylelint --fix

Refactor workers-table-cell to use TableCellWithFIlterOrCopyButtons
  src/lib/components/workers/workers-table/workers-table-cell.svelte
  src/lib/components/workers/workers-table/workers-table-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(nexus-operations): add standalone nexus operations list page
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/table-body-cell.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/table-empty-state.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/table-header-cell.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/table-header-row.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/table-row.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-filter-bar/filter-bar.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/standalone-nexus-operations.ts
  src/lib/pages/standalone-nexus-operations.svelte
  src/lib/services/nexus-operation-counts.ts
  src/lib/stores/search-attributes.ts
  src/lib/utilities/get-nexus-operation-status-and-count.test.ts
  src/lib/utilities/get-nexus-operation-status-and-count.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/nexus-operations/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/nexus-operations/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make common errors dismissable
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflow-common-errors.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove common errors
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Capitalize Common Errors
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write

Add description
  src/lib/components/workflow-actions.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: address strict mode type errors in standalone activity files
  src/lib/components/standalone-activities/activity-actions.svelte
  src/lib/components/standalone-activities/start-standalone-activity-form/form.svelte
  src/lib/components/standalone-activities/start-standalone-activity-form/types.ts
  src/lib/services/standalone-activities.ts
  src/lib/types/activity-execution.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make refreshTime a primitive because existing usage expected a new identity on change.
  src/lib/components/status-counts.svelte
  src/lib/runes/count-poller.svelte.ts
Due: eslint --fix, prettier --write, stylelint --fix

Move CLAUDE.md a11y conventions to DT-4049
  CLAUDE.md
Due: prettier --write

Update description
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write

Only update refresh timestamp on full fetch, not poll fetch
  src/lib/runes/count-poller.svelte.ts
Due: eslint --fix, prettier --write

feat: add centerButton snippet to BottomNavigation for custom center content
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make Common Errors dismissable (#3471)
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflow-common-errors.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add comment
  src/lib/runes/count-poller.svelte.ts
Due: eslint --fix, prettier --write

[DT-4048] Add accessibility PR triage and notification helpers (#3465)
  .github/pull_request_template.md
  .github/workflows/a11y-bucket-notify.yml
  .github/workflows/a11y-pr-triage.yml
  package.json
  pnpm-lock.yaml
  scripts/a11y/manifest.test.mjs
  scripts/a11y/manifest.yml
Due: prettier --write

Make styling match Workflows
  src/lib/i18n/locales/en/common.ts
  src/lib/pages/schedules.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Default to now
  src/lib/runes/count-poller.svelte.ts
Due: eslint --fix, prettier --write

Remove unused import
  src/lib/runes/count-poller.svelte.ts
Due: eslint --fix, prettier --write

fix: import StandaloneActivityFormData in form component
  src/lib/components/standalone-activities/start-standalone-activity-form/form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(nexus-operations): add saved views panel, CTA button, and rich empty state
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/table-empty-state.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-filter-bar/edit-view-modal.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-filter-bar/save-view-modal.svelte
  src/lib/components/standalone-nexus-operations/saved-views.svelte
  src/lib/i18n/locales/en/standalone-nexus-operations.ts
  src/lib/pages/standalone-nexus-operations.svelte
  src/lib/stores/nav-open.ts
  src/lib/stores/saved-queries.ts
  src/routes/(app)/namespaces/[namespace]/nexus-operations/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: use unknown intermediate cast for form data type assertion
  src/lib/components/standalone-activities/start-standalone-activity-form/form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove type assertions with proper type alignment
  src/lib/components/standalone-activities/start-standalone-activity-form/form.svelte
  src/lib/components/standalone-activities/start-standalone-activity-form/types.ts
Due: eslint --fix, prettier --write, stylelint --fix
