Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

fix default prop
  src/lib/components/workflow/workflow-reset-form.svelte
Due: stylelint --fix

fix types
  src/types/index.ts
Due: pnpm lint:fix, prettier --write

Move datetimes back to dots, add millisecond diff support, thinner
  src/lib/components/eventV2/event-summary-card/card.svelte
  src/lib/components/eventV2/event-summary-card/collapsed.svelte
  src/lib/components/eventV2/event-summary-card/details.svelte
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
  src/lib/components/eventV2/event-summary-card/stack-trace-code.svelte
  src/lib/components/eventV2/final-event-card.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/running-card.svelte
  src/lib/utilities/format-time.ts
  src/lib/utilities/route-for.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

DT-545 - add/remove/reorder workflow table columns (#1229)
  cypress/integration/workflow-bulk-actions.spec.js
  cypress/integration/workflow-executions-with-new-search.spec.js
  e2e/tests/workflows.spec.ts
  playwright.config.ts
  src/lib/components/dropdown-menu.svelte
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/dropdown-filter/workflow-datetime-filter.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-header-cell.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-non-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-row-with-filters.svelte
  src/lib/components/workflow/workflows-summary-non-configurable-table/workflows-summary-table-with-filters.svelte
  src/lib/components/workflow/workflows-summary-table.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/pin-filled.svelte
  src/lib/holocene/icon/svg/pin.svelte
  src/lib/holocene/orderable-list.story.svelte
  src/lib/holocene/orderable-list.svelte
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.story.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/holocene/table/table.svelte
  src/lib/models/__snapshots__/workflow-execution.test.ts.snap
  src/lib/models/__snapshots__/workflow-execution.write-disabled.test.ts.snap
  src/lib/models/workflow-execution.test.ts
  src/lib/models/workflow-execution.ts
  src/lib/models/workflow-execution.write-disabled.test.ts
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/search-attributes.ts
  src/lib/stores/workflow-table-columns.test.ts
  src/lib/stores/workflow-table-columns.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/format-bytes.ts
  src/routes/(app)/namespaces/[namespace]/workflows/+page.svelte
  src/types/index.ts
  src/workflow.d.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Make datetime text bigger
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
Due: stylelint --fix

Make a wider border
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
Due: stylelint --fix

Running line on dot-line
  src/lib/components/eventV2/event-summary-card/line-dot.svelte
Due: stylelint --fix

WIP
  src/lib/components/eventV2/event-summary-card/collapsed.svelte
  src/lib/components/eventV2/event-summary-card/enhanced-stack-trace.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/services/query-service.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

test commit
  package.json
Due: prettier --write

Add Stack Trace mode
  src/lib/components/eventV2/event-summary-card/collapsed.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
Due: stylelint --fix

rework reset reapply types
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflow-reset-form.svelte
  src/lib/models/workflow-actions.ts
  src/lib/services/workflow-service.ts
  src/types/index.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Show code from source location
  src/lib/components/eventV2/initial-event-card.svelte
Due: stylelint --fix

remove some styles from when pinned columns were resizable
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

only show batch actions if there are pinned columns
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

fix gradient in safari
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

Fix a visual bug with configurable table + batch actions (#1259)
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

Add mocks
  src/lib/components/eventV2/mocks/stack-traces.ts
Due: pnpm lint:fix, prettier --write

Package.json export sub directory correctness move global to more-global and start fixing imports
  package.json
  src/lib/holocene/button.svelte
  src/lib/pages/workflow-stack-trace.svelte
  src/lib/stores/error.ts
  src/lib/utilities/request-from-api.ts
  src/more-global.d.ts
  tsconfig.json
Due: pnpm lint:fix, prettier --write, stylelint --fix

Drop some imports and use globalish
  package.json
  pnpm-lock.yaml
  src/global.d.ts
  src/globalish.d.ts
  src/lib/pages/workflow-stack-trace.svelte
  src/lib/stores/error.ts
  src/lib/utilities/request-from-api.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Add more complex timeTravel stack
  src/lib/components/eventV2/mocks/stack-traces.ts
Due: pnpm lint:fix, prettier --write

Hacky time traveling works for now
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
Due: stylelint --fix

reinstate resizable pinned columns
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-table-header-cell.svelte
Due: stylelint --fix

fix batch action checkbox header
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

fix resize a little bit
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

fix resizing width
  src/lib/components/workflow/workflows-summary-configurable-table/workflows-summary-configurable-table.svelte
Due: stylelint --fix

Push stuff up
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
  src/lib/holocene/input/range-input.svelte
Due: stylelint --fix

WIP EnhancedStackTrace component
  src/lib/components/eventV2/event-summary-card/enhanced-stack-trace.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/prism/prism.css
  src/lib/vendor/prism/prism.js
Due: pnpm lint:fix, prettier --write, stylelint --fix

Split out into new view
  src/lib/components/eventV2/enhanced-stack-trace-view.svelte
  src/lib/components/eventV2/initial-event-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
Due: stylelint --fix

Slider view
  src/lib/components/eventV2/enhanced-stack-trace-view.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/holocene/input/fun-slider.svelte
  src/lib/vendor/prism/prism.css
Due: stylelint --fix

Use different card
  src/lib/components/eventV2/enhanced-stack-trace-card.svelte
  src/lib/components/eventV2/enhanced-stack-trace-view.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
Due: stylelint --fix

Use time travel query for api to work
  src/lib/components/eventV2/enhanced-stack-trace-view.svelte
  src/lib/components/eventV2/event-summary-card/enhanced-stack-trace.svelte
  src/lib/components/eventV2/event-summary-v2.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/services/query-service.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Fix line highlighting
  src/lib/components/eventV2/event-summary-card/enhanced-stack-trace.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/prism/prism.css
Due: stylelint --fix

Add stack trace details
  src/lib/components/eventV2/event-summary-card/enhanced-stack-trace.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/vendor/prism/prism.css
Due: stylelint --fix

Add buttons for fun. Start my abomination of filter code to merge eventids
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/holocene/button.svelte
Due: stylelint --fix

Options layout
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
Due: stylelint --fix

Group ids
  src/lib/components/eventV2/enhanced-stack-trace-card.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
Due: stylelint --fix

Make async and recomment out
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
Due: stylelint --fix

disable toggle switch if not running
  src/lib/components/eventV2/enhanced-stack-trace-view.svelte
  src/lib/components/eventV2/workflow-history-layout-v2.svelte
  src/lib/components/eventV2/workflow-options-v2.svelte
  src/lib/components/eventV2/workflow-workers-v2.svelte
  src/lib/holocene/toggle-switch.svelte
Due: stylelint --fix

Remove v1 link
  src/lib/components/eventV2/workflow-header-v2.svelte
Due: stylelint --fix

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,postcss,svelte}
