Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

(fix) Web UI nav: toggle size, divider spacing, and version contrast (#3932)
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Set the markdown frame in the system font stack (#3935)
  server/server/route/markdown.gen.css
  src/lib/utilities/markdown-reset.ts
  src/routes/(app)/render/render-server.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

use `validPage` in `store.jumpToPage` call
  src/lib/holocene/table/paginated-table/paginated.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update serverless-worker-create form for AgentCore
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/pages/serverless-worker-create.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(pagination): honor the url page when the store is rebuilt (FE-538) (#3875)
  src/lib/holocene/table/paginated-table/paginated-rebuild-harness.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix workflow summary iframe navigation history
  src/lib/holocene/markdown-editor/preview.svelte
  tests/integration/timeline-summary-iframe.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix workflow summary iframe navigation history (#3937)
  src/lib/holocene/markdown-editor/preview.svelte
  tests/integration/timeline-summary-iframe.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Include 1000 for pageSize
  src/lib/stores/pagination.ts
Due: eslint --fix, prettier --write

Update serverless-worker-create form for AgentCore (#3936)
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/pages/serverless-worker-create.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(tables): stop column resize keys from paginating the table
  src/lib/holocene/table/column-resize-handle.svelte
  src/lib/utilities/column-width.test.ts
  src/lib/utilities/column-width.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(filters): extract quick filter helpers into a shared utility
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/utilities/query/quick-filter.test.ts
  src/lib/utilities/query/quick-filter.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(tables): quick filter search attribute values in activities, nexus and workers
  src/lib/components/standalone-activities/activities-summary-configurable-table/column-search-attributes.ts
  src/lib/components/standalone-activities/activities-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-body-cell.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/column-search-attributes.ts
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/table-body-cell.svelte
  src/lib/components/workers/workers-table/workers-table-cell.svelte
  src/lib/components/workers/workers-table/workers-table-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(workflows): quick filter every search attribute value in the table
  src/lib/components/workflow/workflows-summary-configurable-table/column-search-attributes.test.ts
  src/lib/components/workflow/workflows-summary-configurable-table/column-search-attributes.ts
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/utilities/query/quick-filter.test.ts
  src/lib/utilities/query/quick-filter.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(filters): share one quick filter table cell across tables
  src/lib/components/search-attribute-filter/quick-filter-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/utilities/query/quick-filter.test.ts
  src/lib/utilities/query/quick-filter.ts
Due: eslint --fix, prettier --write, stylelint --fix

style(tables): show column dividers at rest
  src/lib/holocene/table/column-resize-handle.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(badge): keep status badges inside their container
  src/lib/io/badge-status/badge-status.svelte
Due: eslint --fix, prettier --write, stylelint --fix

FE-734 - Add resizable columns to the configurable tables (#3925)
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/schedule/schedules-list/schedules-table-row.svelte
  src/lib/components/standalone-activities/activities-summary-configurable-table.svelte
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-body-cell.svelte
  src/lib/components/standalone-activities/activities-summary-configurable-table/table-header-cell.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/table-body-cell.svelte
  src/lib/components/standalone-nexus-operations/nexus-operations-summary-configurable-table/table-header-cell.svelte
  src/lib/components/table/reset-column-widths-button.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-cell.svelte
  src/lib/holocene/table/column-resize-handle.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/io/badge-status/badge-status.svelte
  src/lib/pages/deployments.svelte
  src/lib/pages/schedules.svelte
  src/lib/stores/configurable-table-columns.test.ts
  src/lib/stores/configurable-table-columns.ts
  src/lib/utilities/column-width.test.ts
  src/lib/utilities/column-width.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update copy to diagnostics instead of common errors and make full width
  src/lib/components/common-errors/common-error-card.stories.svelte
  src/lib/components/common-errors/common-error-card.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflow-common-errors.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(auth): derive cookie lifetimes from the session and refresh token
  AUTHENTICATION.md
  server/config/docker.yaml
  server/config/with-auth.yaml
  server/plugins/fs_config_provider/loader_test.go
  server/server/auth/auth.go
  server/server/auth/auth_test.go
  server/server/auth/cookie_test.go
  server/server/config/config.go
  server/server/route/auth.go
  server/server/route/auth_cookies_test.go
Due: prettier --write

Remove common errors page
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/common-errors/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Collapse common errors by default (#3921)
  src/lib/components/common-errors/common-error-accordion.svelte
  src/lib/components/common-errors/common-error-card.stories.svelte
  src/lib/components/common-errors/common-error-card.svelte
  src/lib/components/common-errors/common-error-severity.ts
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/workflow-common-errors.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/common-errors/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

test(auth): cover cookie lifetimes end to end against a real provider
  server/config/e2e-auth.yaml
  tests/e2e/auth-cookie-lifetimes.spec.ts
  tests/global-setup.ts
  tests/global-teardown.ts
  utilities/auth-e2e-stack.ts
  utilities/ui-server.ts
Due: eslint --fix, prettier --write

fix(test): let getUIServer report a missing server
  tests/global-teardown.ts
  utilities/ui-server.ts
Due: eslint --fix, prettier --write

Changing Cloud Run to Public Preview
  src/lib/components/workers/serverless-worker-form/shared.ts
Due: eslint --fix, prettier --write

WIP
  src/lib/workflow-timeline/data/execution-graph/get-execution-relation.ts
  src/lib/workflow-timeline/data/execution-graph/repository.ts
  src/lib/workflow-timeline/data/execution-graph/types.ts
  src/lib/workflow-timeline/data/execution-history/load-execution-history.ts
  src/lib/workflow-timeline/data/execution-history/poll-execution-history.ts
  src/lib/workflow-timeline/data/execution-history/repository.ts
  src/lib/workflow-timeline/data/execution-history/types.ts
  src/lib/workflow-timeline/data/history-events/normalize-history-event.ts
  src/lib/workflow-timeline/data/history-events/qualify-history-event.ts
  src/lib/workflow-timeline/data/history-events/repository.ts
  src/lib/workflow-timeline/data/history-events/types.ts
  src/lib/workflow-timeline/data/identity-keys.ts
  src/lib/workflow-timeline/data/lifecycle-groups/get-lifecycle-reference.ts
  src/lib/workflow-timeline/data/lifecycle-groups/repository.ts
  src/lib/workflow-timeline/data/lifecycle-groups/types.ts
  src/lib/workflow-timeline/feature.ts
  src/lib/workflow-timeline/scene/timeline-rows/order-timeline-rows.ts
  src/lib/workflow-timeline/scene/timeline-rows/repository.ts
  src/lib/workflow-timeline/scene/timeline-rows/to-timeline-event-row.ts
  src/lib/workflow-timeline/scene/timeline-rows/types.ts
  src/lib/workflow-timeline/use-workflow-timeline.svelte.ts
  src/lib/workflow-timeline/workflow-timeline-layout.svelte
  src/notes.local.md
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/timeline/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix multiline timeline summaries
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph-row.svelte
  src/lib/holocene/markdown-editor/preview.svelte
  src/lib/holocene/markdown-editor/preview.test.ts
  src/lib/holocene/markdown-editor/preview.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix multiline timeline summaries (#3944)
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph-row.svelte
  src/lib/holocene/markdown-editor/preview.svelte
  src/lib/holocene/markdown-editor/preview.test.ts
  src/lib/holocene/markdown-editor/preview.ts
Due: eslint --fix, prettier --write, stylelint --fix

Render one-line event summaries inline
  server/server/route/markdown.gen.css
  server/server/route/ui.go
  server/server/route/ui_test.go
  src/lib/catalog/browser/catalog.generated.json
  src/lib/catalog/browser/catalog.generated.ts
  src/lib/catalog/worker/examples/corpus.test.ts
  src/lib/catalog/worker/examples/index.ts
  src/lib/catalog/worker/examples/sequential-multiline-summary-activities/activities.ts
  src/lib/catalog/worker/examples/sequential-multiline-summary-activities/example.ts
  src/lib/catalog/worker/examples/sequential-multiline-summary-activities/workflow.ts
  src/lib/catalog/worker/workflows.ts
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph-row.svelte
  src/lib/holocene/markdown-editor/preview.svelte
  src/lib/utilities/markdown-reset.ts
  src/routes/(app)/render/+server.ts
  src/routes/(app)/render/render-server.test.ts
  tests/integration/timeline-summary-iframe.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(theme): ship the 2xs font size token to consumers
  src/lib/theme/preset.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write

feat(workers): move Cloud Run to public preview
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.stories.svelte
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.svelte
  src/lib/components/workers/serverless-worker-form/shared.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(workers): describe a compute provider in one place
  src/lib/components/deployments/compute-badge.svelte
  src/lib/components/workers/serverless-worker-form/compute-fields.svelte
  src/lib/components/workers/serverless-worker-form/compute-fields.test.ts
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.svelte
  src/lib/components/workers/serverless-worker-form/compute-providers.ts
  src/lib/components/workers/serverless-worker-form/create-version-form.svelte
  src/lib/components/workers/serverless-worker-form/edit-version-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/shared.ts
  src/lib/pages/serverless-worker-create.svelte
  src/lib/pages/worker-deployment-version-create.svelte
  src/lib/pages/worker-deployment-version-edit.svelte
  src/lib/utilities/lock-compute-provider.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add opt-in TypeSafe (Jev) endpoints to ui-server
  server/config/base.yaml
  server/config/development.yaml
  server/config/docker.yaml
  server/server/api/handler.go
  server/server/api/historyreview.go
  server/server/api/historyreview_test.go
  server/server/api/nlsearch.go
  server/server/api/nlsearch_test.go
  server/server/api/typesafe_gate.go
  server/server/config/config.go
  server/server/config/config_provider_with_refresh.go
  server/server/config/typesafe_test.go
  server/server/cors/cors.go
  server/server/cors/cors_test.go
  server/server/historyreview/historyreview_test.go
  server/server/historyreview/plan.go
  server/server/historyreview/reviewer.go
  server/server/historyreview/types.go
  server/server/nlsearch/candidates.go
  server/server/nlsearch/timerange.go
  server/server/nlsearch/translator.go
  server/server/nlsearch/translator_test.go
  server/server/nlsearch/types.go
  server/server/ratelimit/ratelimit.go
  server/server/ratelimit/ratelimit_test.go
  server/server/route/api.go
  server/server/route/api_test.go
  server/server/server.go
  server/server/typesafe/client.go
  server/server/typesafe/client_test.go
  server/server/typesafe/types.go
Due: none

Add natural-language workflow search and Jev history review
  src/lib/components/event/event-hidden-run-row.svelte
  src/lib/components/event/event-hidden-run-row.test.ts
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/event-summary-table.svelte
  src/lib/components/event/history-review-controls.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-hidden-run-row.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-review-rows.svelte.test.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline-review-rows.ts
  src/lib/components/search-attribute-filter/filter-bar.svelte
  src/lib/components/search-attribute-filter/natural-language-query.svelte
  src/lib/components/search-attribute-filter/natural-language-query.test.ts
  src/lib/i18n/locales/en/events.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  src/lib/services/history-review-service.test.ts
  src/lib/services/history-review-service.ts
  src/lib/services/history-review-state.svelte.ts
  src/lib/services/nl-search-service.test.ts
  src/lib/services/nl-search-service.ts
  src/lib/services/settings-service.test.ts
  src/lib/services/settings-service.ts
  src/lib/services/typesafe-request.ts
  src/lib/stores/event-view.ts
  src/lib/svelte-mocks/app/state.ts
  src/lib/svelte-mocks/app/stores.ts
  src/lib/types/api.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/get-codec.test.ts
  src/lib/utilities/history-review-collapse.test.ts
  src/lib/utilities/history-review-collapse.ts
  src/lib/utilities/query/nl-search-filters.test.ts
  src/lib/utilities/query/nl-search-filters.ts
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
  tests/integration/history-review.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(auth): harden PKCE cookie handling
  AUTHENTICATION.md
  server/server/auth/oidc.go
  server/server/auth/oidc_test.go
  server/server/route/auth.go
  server/server/route/pkce_test.go
Due: prettier --write

Add holographic upgrade sticker to the side nav
  server/config/development.yaml
  server/config/docker.yaml
  server/config/with-auth.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/components/upgrade-sticker.stories.svelte
  src/lib/components/upgrade-sticker.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/services/settings-service.ts
  src/lib/stores/upgrade-notice.ts
  src/lib/svelte-mocks/app/state.ts
  src/lib/svelte-mocks/app/stores.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/get-codec.test.ts
  src/lib/utilities/upgrade-notice.test.ts
  src/lib/utilities/upgrade-notice.ts
  src/routes/(app)/+layout.svelte
  tests/test-utilities/mocks/settings.ts
Due: eslint --fix, prettier --write, stylelint --fix

Check each distribution's own latest release
  server/config/docker.yaml
  server/server/api/handler.go
  server/server/api/releases.go
  server/server/api/releases_test.go
  server/server/config/config.go
  server/server/route/api.go
  src/lib/components/upgrade-notice.svelte
  src/lib/components/upgrade-sticker.stories.svelte
  src/lib/components/upgrade-sticker.svelte
  src/lib/services/releases-service.ts
  src/lib/services/settings-service.ts
  src/lib/types/api.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/upgrade-notice.test.ts
  src/lib/utilities/upgrade-notice.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Hide the collapsed-nav badge when the nav is open
  src/lib/components/upgrade-sticker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Place the upgrade sticker over Feedback and the version
  src/lib/components/upgrade-sticker.stories.svelte
  src/lib/components/upgrade-sticker.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
