Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix(demo): refuse before provisioning, and default provisioning on
  utilities/demo/README.md
  utilities/demo/scenarios/agentcore-serverless-worker/definition.ts
  utilities/demo/scenarios/agentcore-serverless-worker/provision.ts
  utilities/demo/scenarios/agentcore-serverless-worker/scenario.ts
Due: eslint --fix, prettier --write

fix(demo): make the tunnel prove its address before handing it out
  utilities/demo/stages/tunnel.test.ts
  utilities/demo/stages/tunnel.ts
Due: eslint --fix, prettier --write

feat(demo): let a scenario refuse before anything expensive runs
  utilities/demo/README.md
  utilities/demo/run.ts
  utilities/demo/scenario.ts
  utilities/demo/scenarios/agentcore-serverless-worker/scenario.ts
Due: eslint --fix, prettier --write

fix(demo): derive the workspace Go directive, and repoint runtimes correctly
  utilities/demo/cli.test.ts
  utilities/demo/definition.ts
  utilities/demo/preflight.test.ts
  utilities/demo/requirements.modules.test.ts
  utilities/demo/requirements.ts
  utilities/demo/scenarios/agentcore-serverless-worker/definition.ts
  utilities/demo/scenarios/agentcore-serverless-worker/scenario.ts
  utilities/demo/stages/server.ts
Due: eslint --fix, prettier --write

feat(demo): model the AgentCore serverless Worker as a runnable scenario
  utilities/demo/README.md
  utilities/demo/definition.ts
  utilities/demo/preflight.test.ts
  utilities/demo/preflight.ts
  utilities/demo/remedy.test.ts
  utilities/demo/remedy.ts
  utilities/demo/requirements.modules.test.ts
  utilities/demo/requirements.ts
  utilities/demo/run.ts
  utilities/demo/scenario.ts
  utilities/demo/scenarios/agentcore-serverless-worker/cli.test.ts
  utilities/demo/scenarios/agentcore-serverless-worker/cli.ts
  utilities/demo/scenarios/agentcore-serverless-worker/definition.ts
  utilities/demo/scenarios/agentcore-serverless-worker/scenario.ts
  utilities/demo/stages/server.ts
  utilities/demo/stages/tunnel.ts
Due: eslint --fix, prettier --write

feat(demo): optionally provision the AgentCore runtime
  utilities/demo/README.md
  utilities/demo/scenarios/agentcore-serverless-worker/definition.ts
  utilities/demo/scenarios/agentcore-serverless-worker/provision.ts
  utilities/demo/scenarios/agentcore-serverless-worker/scenario.ts
  utilities/demo/scenarios/agentcore-serverless-worker/worker/Dockerfile
  utilities/demo/scenarios/agentcore-serverless-worker/worker/README.md
  utilities/demo/scenarios/agentcore-serverless-worker/worker/go.mod
  utilities/demo/scenarios/agentcore-serverless-worker/worker/go.sum
  utilities/demo/scenarios/agentcore-serverless-worker/worker/main.go
Due: eslint --fix, prettier --write

fix(demo): apply the runtime environment through update, not create
  utilities/demo/scenarios/agentcore-serverless-worker/provision.ts
  utilities/demo/scenarios/agentcore-serverless-worker/scenario.ts
Due: eslint --fix, prettier --write

feat(demo): apply unmet module requirements instead of reporting them
  utilities/demo/README.md
  utilities/demo/stages/server.ts
Due: eslint --fix, prettier --write

Remove brittle provider picker story assertions
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove brittle provider picker story assertions (#3898)
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(demo): a runnable AgentCore serverless Worker scenario (#3892)
  utilities/demo/README.md
  utilities/demo/cli.test.ts
  utilities/demo/definition.ts
  utilities/demo/preflight.test.ts
  utilities/demo/preflight.ts
  utilities/demo/remedy.test.ts
  utilities/demo/remedy.ts
  utilities/demo/requirements.modules.test.ts
  utilities/demo/requirements.ts
  utilities/demo/run.ts
  utilities/demo/scenario.ts
  utilities/demo/scenarios/agentcore-serverless-worker/cli.test.ts
  utilities/demo/scenarios/agentcore-serverless-worker/cli.ts
  utilities/demo/scenarios/agentcore-serverless-worker/definition.ts
  utilities/demo/scenarios/agentcore-serverless-worker/provision.ts
  utilities/demo/scenarios/agentcore-serverless-worker/scenario.ts
  utilities/demo/scenarios/agentcore-serverless-worker/worker/Dockerfile
  utilities/demo/scenarios/agentcore-serverless-worker/worker/README.md
  utilities/demo/scenarios/agentcore-serverless-worker/worker/go.mod
  utilities/demo/scenarios/agentcore-serverless-worker/worker/go.sum
  utilities/demo/scenarios/agentcore-serverless-worker/worker/main.go
  utilities/demo/stages/server.ts
  utilities/demo/stages/tunnel.test.ts
  utilities/demo/stages/tunnel.ts
  utilities/demo/stages/ui.ts
Due: eslint --fix, prettier --write

Add catalog example for event groups
  package.json
  pnpm-lock.yaml
  src/lib/catalog/browser/catalog.generated.json
  src/lib/catalog/browser/catalog.generated.ts
  src/lib/catalog/worker/examples/corpus.test.ts
  src/lib/catalog/worker/examples/index.ts
  src/lib/catalog/worker/examples/mars-rover-dust-storm-recovery/activity.ts
  src/lib/catalog/worker/examples/mars-rover-dust-storm-recovery/example.ts
  src/lib/catalog/worker/examples/mars-rover-dust-storm-recovery/workflow.ts
  src/lib/catalog/worker/workflows.ts
  src/lib/types/events.ts
  utilities/demo/scenarios/system-nexus-signal-with-start/caller-workflow.ts
Due: eslint --fix, prettier --write

feat(demo): create the AgentCore Version through the UI, not the CLI
  utilities/demo/README.md
  utilities/demo/run.ts
  utilities/demo/scenario.ts
  utilities/demo/scenarios/agentcore-serverless-worker/definition.ts
  utilities/demo/scenarios/agentcore-serverless-worker/scenario.ts
  utilities/demo/scenarios/agentcore-serverless-worker/ui-create-version.ts
Due: eslint --fix, prettier --write

fix(demo): drive the real form, and provision the role it needs
  utilities/demo/README.md
  utilities/demo/scenarios/agentcore-serverless-worker/definition.ts
  utilities/demo/scenarios/agentcore-serverless-worker/provision.ts
  utilities/demo/scenarios/agentcore-serverless-worker/scenario.ts
  utilities/demo/scenarios/agentcore-serverless-worker/ui-create-version.ts
Due: eslint --fix, prettier --write

docs(demo): keep internal references out of a public repo
  utilities/demo/README.md
  utilities/demo/scenarios/agentcore-compute-provider/definition.ts
  utilities/demo/scenarios/agentcore-serverless-worker/definition.ts
  utilities/demo/scenarios/agentcore-serverless-worker/scenario.ts
Due: eslint --fix, prettier --write

docs(demo): point the picker scenario at what this branch changed
  utilities/demo/scenarios/agentcore-compute-provider/definition.ts
Due: eslint --fix, prettier --write

feat(workers): AgentCore IAM setup material, for Cloud and self-hosted
  src/lib/components/workers/serverless-worker-form/compute-fields.svelte
  src/lib/components/workers/serverless-worker-form/compute-fields.test.ts
  src/lib/components/workers/serverless-worker-form/serverless-worker-agentcore.tf
  src/lib/components/workers/serverless-worker-form/shared.ts
  src/lib/components/workers/serverless-worker-form/temporal-agentcore-role.yaml
Due: eslint --fix, prettier --write, stylelint --fix

Optimize Event Group processing for large histories
  src/lib/catalog/browser/catalog.generated.json
  src/lib/catalog/browser/catalog.generated.ts
  src/lib/components/lines-and-dots/event-group-filter.svelte
  src/lib/components/lines-and-dots/event-group-filter.test.ts
  src/lib/components/lines-and-dots/event-group-filter.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  src/lib/models/event-marker-groups.test.ts
  src/lib/models/event-marker-groups.ts
  src/lib/services/grouped-event-buffer.test.ts
  src/lib/services/grouped-event-buffer.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: color the favicon by the status of the workflow being viewed
  src/lib/components/page-title.svelte
  src/lib/stores/favicon.test.ts
  src/lib/stores/favicon.ts
  src/lib/utilities/get-workflow-status-favicon.test.ts
  src/lib/utilities/get-workflow-status-favicon.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add support for CA certificate for auth provider (#2957)
  server/config/development.yaml
  server/config/docker.yaml
  server/server/config/config.go
  server/server/route/auth.go
  server/server/route/auth_test.go
  server/server/rpc/tls.go
  server/server/rpc/tls_cert_loader_test.go
Due: none

Fix workflow empty state background color
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix workflow empty state background color (#3901)
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix pagination corners and theme preset export
  package.json
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix pagination corners and theme preset export (#3902)
  package.json
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Match pagination footer corner radius
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Match pagination footer corner radius (#3903)
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update Agent Harness demo media
  src/lib/assets/agents/agent-harness-demo.mp4
  src/lib/assets/agents/agent-harness-preview.jpg
  src/lib/assets/agents/agent-harness-preview.svg
  src/lib/pages/agent-marketing.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Restore bold, and merge main
  src/markdown.reset.css
  src/routes/(app)/render/render-server.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Refine agent marketing resources and demo
  src/lib/pages/agent-marketing.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move pagetitle to page
  src/lib/pages/agent-marketing.svelte
  src/routes/(app)/namespaces/[namespace]/agents/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Break long unbroken tokens instead of overflowing
  src/markdown.reset.css
  src/routes/(app)/render/render-server.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Carry the compact render styles into the Go render route
  server/server/route/ui.go
  server/server/route/ui_test.go
Due: none

Make the compact frame take the surface it is placed on
  server/server/route/ui.go
  server/server/route/ui_test.go
  src/markdown.reset.css
  src/routes/(app)/render/render-server.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Generate the render stylesheet so both routes share one source
  package.json
  scripts/generate-markdown-css.test.ts
  scripts/generate-markdown-css.ts
  server/server/route/markdown.gen.css
  server/server/route/ui.go
  server/server/route/ui_test.go
  src/lib/utilities/markdown-stylesheet.ts
  src/routes/(app)/render/+server.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.55.0
  package.json
  server/server/version/version.go
Due: prettier --write

fix(holocene): round the radio card to match the Io system
  src/lib/holocene/radio-input/radio-card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.54.1
  package.json
  server/server/version/version.go
Due: prettier --write

Add a compact render mode and a title to the markdown preview (#3882)
  server/server/route/ui.go
  server/server/route/ui_test.go
  src/lib/holocene/markdown-editor/preview.svelte
  src/markdown.reset.css
  src/routes/(app)/render/+server.ts
  src/routes/(app)/render/render-server.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(workers): restore the provider brand colours and round their tile
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update links, add harness install link
  src/lib/pages/agent-marketing.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
