Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Bump to alpine 3.19.1 for base docker images
  server/Dockerfile
Due: none

Remove double encoding
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write

Remove hoverable prop from Checkbox (#2092)
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/checkbox.stories.svelte
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/holocene-components.json
Due: eslint --fix, prettier --write, stylelint --fix

Remove transparent bg on Combobox (#2093)
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove double encoding (#2096)
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write

Refactor versioning apis and UIs
  src/lib/components/worker-table.svelte
  src/lib/components/workers-list.svelte
  src/lib/components/workflow-versioning-header.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/task-queue-workers.svelte
  src/lib/pages/task-queue.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/services/pollers-service.ts
  src/lib/stores/workflow-run.ts
  src/routes/(app)/namespaces/[namespace]/task-queues/[queue]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add useVersioning prop, add compatible error
  src/lib/components/workflow/workflow-call-stack-error.svelte
  src/lib/components/workflow/workflow-compatibility-error.svelte
  src/lib/pages/task-queue-workers.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add key to force update on labelCtx change
  src/lib/holocene/select/select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Bump to .7 for base docker images
  server/Dockerfile
Due: none

Fix alignment for navigation button
  src/lib/holocene/navigation/navigation-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add bg and hover for night mode in Cloud
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make border go to edge of nav
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor Versioning apis and UIs (#2097)
  src/lib/components/worker-table.svelte
  src/lib/components/workers-list.svelte
  src/lib/components/workflow-versioning-header.svelte
  src/lib/components/workflow/workflow-call-stack-error.svelte
  src/lib/components/workflow/workflow-compatibility-error.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/task-queue-workers.svelte
  src/lib/pages/task-queue.svelte
  src/lib/pages/workflow-workers.svelte
  src/lib/services/pollers-service.ts
  src/lib/stores/workflow-run.ts
  src/routes/(app)/namespaces/[namespace]/task-queues/[queue]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflows/[workflow]/[run]/workers/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update border in TableEmtpyState
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update plugin.ts
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write

Add key to force update on labelCtx change (#2099)
  src/lib/holocene/select/select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Tone down border-primary in dark mode (#2102)
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write

Bump to alpine 3.19.1 for base docker images (#2094)
  server/Dockerfile
Due: none

SideNavigation UI updates (#2101)
  src/lib/components/workflow/workflows-summary-configurable-table/table-empty-state.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove csp meta tag if publicPath exists and log warning
  server/server/route/ui.go
Due: none

Update Github Action Dependencies (#2086)
  .github/actions/checkout-and-setup/action.yml
  .github/workflows/bump-package-version.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/playwright.yml
  .github/workflows/publish-package.yml
  .github/workflows/test.yml
  .github/workflows/update-ui-server.yml
Due: none

Remove csp meta tag if publicPath exists and log warning (#2103)
  server/server/route/ui.go
Due: none

Update version.go
  server/server/version/version.go
Due: none

Update version.go (#2104)
  server/server/version/version.go
Due: none

2.27.2
  package.json
Due: prettier --write

2.27.2 (#2105)
  package.json
Due: prettier --write

Simplify CSS variables for light and dark mode
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write

Simplify code
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write

Use strings for colors
  src/lib/theme/colors.ts
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write

Remove extra type
  src/lib/theme/colors.ts
Due: eslint --fix, prettier --write

Update colors.ts
  src/lib/theme/colors.ts
Due: eslint --fix, prettier --write

Update utilities.ts
  src/lib/theme/utilities.ts
Due: eslint --fix, prettier --write

Revert "Remove double encoding (#2096)"
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write

Revert "Remove double encoding (#2096)" (#2107)
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write

2.27.3
  package.json
Due: prettier --write

2.27.3 (#2108)
  package.json
Due: prettier --write

Add HTTP client
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/generate-http-client.js
  scripts/generate-schema.js
  src/api/client.ts
  src/api/index.ts
  src/api/schema.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Add HTTP client (#2109)
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/generate-http-client.js
  scripts/generate-schema.js
  src/api/client.ts
  src/api/index.ts
  src/api/schema.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write

Update src/lib/theme/utilities.ts
  src/lib/theme/utilities.ts
Due: eslint --fix, prettier --write
