Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Get both sort orders working for full and compact view
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/line.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update drawer types and x color props (#1854)
  src/global.d.ts
  src/lib/holocene/drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

WIP: pending activities in compact. Need to figure out the right nextX
  src/lib/components/lines-and-dots/compact-line-dot.svelte
  src/lib/components/lines-and-dots/details-drawer.svelte
  src/lib/components/lines-and-dots/history-graph.svelte
  src/lib/components/lines-and-dots/history-line-dot.svelte
  src/lib/components/lines-and-dots/timeline-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/models/event-groups/index.ts
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
  src/lib/services/events-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make PayloadDecoder reactive from value
  src/lib/components/event/payload-decoder.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add text-inverse for surface-inverse
  src/theme/index.ts
Due: eslint --fix, prettier --write

Make PayloadDecoder reactive from value (#1861)
  src/lib/components/event/payload-decoder.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add error state to combobox (#1855)
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/theme/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add text-inverse for surface-inverse (#1862)
  src/theme/index.ts
Due: eslint --fix, prettier --write

Put the drawer on the right and skinnier
  src/lib/components/lines-and-dots/details-drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add classification and category class to full g
  src/lib/components/lines-and-dots/history-line-dot.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move to a theme
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/preset.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write

Move theme to lib
  package.json
  pnpm-lock.yaml
  src/lib/theme/colors.ts
  src/lib/theme/index.ts
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write

Change top-nav border to subtle
  src/lib/components/top-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move package version back
  package.json
  pnpm-lock.yaml
Due: prettier --write

Allow passing in a `external` prop, support animated batch icon
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update icon.test.ts.snap
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
Due: none

Remove cloud colors
  src/lib/theme/colors.ts
Due: eslint --fix, prettier --write

Move tailwind theme to lib to import in theme (#1863)
  src/lib/components/top-nav.svelte
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/preset.ts
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

2.23.3
  package.json
Due: prettier --write

Remove extra spaces
  src/lib/holocene/alert.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-container.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/modal.svelte
  src/lib/holocene/radio-input/radio-group.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/tab/tab-list.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/holocene/tooltip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Expose slot bindings to named slots
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/pages/schedules.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.23.3 (#1864)
  package.json
Due: prettier --write

Update src/lib/holocene/alert.svelte
  src/lib/holocene/alert.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/holocene/menu/menu-button.svelte
  src/lib/holocene/menu/menu-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/menu/menu-item.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/holocene/menu/menu.svelte
  src/lib/holocene/menu/menu.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/holocene/table/table.svelte
  src/lib/holocene/table/table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use twMerge in Skeleton component
  src/lib/holocene/skeleton/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use twMerge in Skeleton component (#1865)
  src/lib/holocene/skeleton/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

WIP: encode payloads from schedules
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/services/data-encoder.ts
  src/lib/services/workflow-service.ts
  src/lib/stores/schedules.ts
  src/lib/types/schedule.ts
  src/lib/utilities/decode-payload.ts
Due: eslint --fix, prettier --write, stylelint --fix

support label slot in checkbox add close event to combobox only dispatch close even from menucontainer if menu is open
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

support label slot in checkbox (#1866)
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.23.4
  package.json
Due: prettier --write

2.23.4 (#1867)
  package.json
Due: prettier --write

Decode payloads, show Input. Need to get confirmation on whether input needs Payload format or just raw JSON
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/pages/schedule-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update snaps and tests
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/holocene/__snapshots__/button.test.ts.snap
  src/lib/holocene/icon/__snapshots__/icon.test.ts.snap
  src/lib/utilities/get-started-completed-and-task-failed-events.test.ts
  src/lib/utilities/query/is-search-attribute.test.ts
  src/lib/utilities/route-for.test.ts
Due: eslint --fix, prettier --write

Pass settings
  src/lib/utilities/decode-payload.ts
Due: eslint --fix, prettier --write

Fix type imports
  plugins/vite-plugin-ui-server.ts
  src/lib/stores/persisted-search-parameter.ts
  temporal/client.ts
Due: eslint --fix, prettier --write

Remove console.log
  src/lib/components/schedule/schedule-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix
