Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

2.30.3
  package.json
Due: prettier --write

Update version.go to v2.30.1
  server/server/version/version.go
Due: none

Update version.go to v2.30.1 (#2294)
  server/server/version/version.go
Due: none

Make split card have a nicer fit and support hrefs.
  src/lib/holocene/button.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/split-button.stories.svelte
  src/lib/holocene/split-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

changes for billing center
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/credit-card.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add IS NULL and IS NOT NULL filter search options
  src/lib/components/workflow/filter-search/conditional-menu.svelte
  src/lib/components/workflow/filter-search/datetime-filter.svelte
  src/lib/components/workflow/filter-search/duration-filter.svelte
  src/lib/components/workflow/filter-search/filter-list.svelte
  src/lib/components/workflow/filter-search/number-filter.svelte
  src/lib/components/workflow/filter-search/text-filter.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/utilities/is.ts
  src/lib/utilities/query/filter-workflow-query.ts
  src/lib/utilities/query/to-list-workflow-filters.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix icon
  src/lib/holocene/icon/svg/credit-card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add tests
  src/lib/utilities/is.test.ts
  src/lib/utilities/query/to-list-workflow-filters.test.ts
Due: eslint --fix, prettier --write

Add NULL options to boolean filter
  src/lib/components/workflow/filter-search/boolean-filter.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix styling and make sure filter conditional is updated correctly when list item is selected
  src/lib/components/workflow/filter-search/conditional-menu.svelte
  src/lib/components/workflow/filter-search/index.svelte
  src/lib/components/workflow/filter-search/search-attribute-menu.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Wire up event history links and show link on event summary row
  go.work.sum
  server/go.mod
  server/go.sum
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/models/event-history/index.ts
  src/lib/types/events.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update nexus regex and make links optional
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/types/events.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix go.mod?
  server/go.mod
Due: none

Add nexus enabled check and update nexus text
  package.json
  pnpm-lock.yaml
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-links-expanded.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/types/index.ts
  src/lib/utilities/nexus-enabled.ts
Due: eslint --fix, prettier --write, stylelint --fix

DT-2422 - changes for billing center v2 (#2296)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/credit-card.svelte
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make split card have a nicer fit and support hrefs. (#2295)
  src/lib/holocene/button.svelte
  src/lib/holocene/menu/menu.svelte
  src/lib/holocene/split-button.stories.svelte
  src/lib/holocene/split-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update paginated table to support custom page size options
  src/lib/holocene/table/paginated-table/paginated.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update paginated table to support custom page size options (#2300)
  src/lib/holocene/table/paginated-table/paginated.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor to use Badge type subtle
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-links-expanded.svelte
  src/lib/holocene/badge.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix truncate with pending activity ids
  src/lib/components/event/pending-activity-summary-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.30.4
  package.json
Due: prettier --write

Bidirectional Links (#2299)
  go.work.sum
  package.json
  pnpm-lock.yaml
  server/go.mod
  server/go.sum
  src/lib/components/event/event-details-full.svelte
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-links-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/lines-and-dots/event-type-filter.svelte
  src/lib/holocene/badge.svelte
  src/lib/i18n/locales/en/events.ts
  src/lib/models/event-history/index.ts
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/types/events.ts
  src/lib/types/index.ts
  src/lib/utilities/nexus-enabled.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add http api port and async update flag
  utilities/temporal-server.ts
Due: eslint --fix, prettier --write

Fix max height on PaginatedTable component
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix max height on PaginatedTable component (#2302)
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix copy button styles on CodeBlock
  src/lib/holocene/code-block.svelte
  src/lib/holocene/copyable/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

reduce hr margin on side nav
  src/lib/components/side-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

reduce hr margin on side nav (#2304)
  src/lib/components/side-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use data-theme dark
  src/lib/holocene/code-block.svelte
  src/lib/holocene/copyable/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update version.go to v2.30.2
  server/server/version/version.go
Due: none

Fix copy button styles on CodeBlock (#2303)
  src/lib/holocene/code-block.svelte
  src/lib/holocene/copyable/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update version.go to v2.30.2 (#2305)
  server/server/version/version.go
Due: none

2.30.5
  package.json
Due: prettier --write

Add checks for page settings
  src/lib/utilities/workflow-create-disabled.ts
Due: eslint --fix, prettier --write

Add checks for page settings (#2307)
  src/lib/utilities/workflow-create-disabled.ts
Due: eslint --fix, prettier --write

Add initial tooltip to badge
  src/lib/pages/workflow-pending-activities.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add taskQueueView store to persist worker tab on task queue page
  src/lib/pages/task-queue.svelte
  src/lib/stores/task-queue-view.ts
  src/lib/types/events.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add taskQueueView store to persist worker tab on task queue page (#2309)
  src/lib/pages/task-queue.svelte
  src/lib/stores/task-queue-view.ts
  src/lib/types/events.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add reason and identity to cancel confirmation
  src/lib/components/workflow/client-actions/cancel-confirmation-modal.svelte
  src/lib/services/workflow-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix tooltip alignment
  src/lib/pages/workflow-pending-activities.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
