Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

revert: restore original create worker deployment copy
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write

revert: restore original create worker deployment copy (#3348)
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write

Fix header checkmark status
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Common Errors for Event History (#3306)
  src/lib/components/common-errors/common-error-list.svelte
  src/lib/components/common-errors/common-error.svelte
  src/lib/components/common-errors/common-errors-data.test.ts
  src/lib/components/common-errors/common-errors-data.ts
  src/lib/components/workflow/workflow-common-errors.svelte
  src/lib/holocene/alert.stories.svelte
  src/lib/holocene/alert.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/types/common-errors.ts
  src/lib/utilities/common-error-detection.test.ts
  src/lib/utilities/common-error-detection.ts
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/common-errors/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Show current duration for pending timeline events (#3346)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/end-time-interval.svelte
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
  src/lib/utilities/event-group-duration.test.ts
  src/lib/utilities/event-group-duration.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add refresh button to workers list view
  src/lib/components/count-refresh-button.svelte
  src/lib/layouts/workers-layout.svelte
  src/lib/pages/deployments.svelte
  src/lib/pages/workers.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/workers.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add refresh button to workers list view (#3349)
  src/lib/components/count-refresh-button.svelte
  src/lib/layouts/workers-layout.svelte
  src/lib/pages/deployments.svelte
  src/lib/pages/workers.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/workers.ts
Due: eslint --fix, prettier --write, stylelint --fix

Install knip
  .vscode/extensions.json
  knip.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix unresolved imports
  scripts/audit-tailwind-colors/utilities.ts
  src/lib/utilities/write-actions-are-allowed.test.ts
Due: eslint --fix, prettier --write

Add knip and remove unused deps
  knip.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Fix null conditionals in workflow search attribute filter
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
Due: eslint --fix, prettier --write

Set value to null instead of empty string
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: ensure the empty app.html respects the user's ligh/dark settings
  src/app.html
Due: none

Fix null conditionals in search attribute filter (#3351)
  src/lib/components/workflow/filter-bar/dropdown-filter-chip.svelte
  src/lib/utilities/query/filter-workflow-query.test.ts
  src/lib/utilities/query/filter-workflow-query.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add support for adding caller Namespace even if it's not in list of allowed Namespace options for Nexus endpoint (#3167)
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.stories.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-form.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(DT-3906): Add knip (#3350)
  .vscode/extensions.json
  knip.config.ts
  package.json
  pnpm-lock.yaml
  scripts/audit-tailwind-colors/utilities.ts
  src/lib/utilities/write-actions-are-allowed.test.ts
Due: eslint --fix, prettier --write

Use explicit package exports
  package.json
Due: prettier --write

feat: decode binary/protobuf payloads with messageType
  src/lib/utilities/decode-payload.test.ts
  src/lib/utilities/decode-payload.ts
Due: eslint --fix, prettier --write

chore: allow unsafe-eval in CSP for protobufjs codegen (LOE-only)
  svelte.config.js
Due: eslint --fix, prettier --write

Remove icon
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove icon (#3357)
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add support for CA certificate for auth provider (#2957)
  server/config/development.yaml
  server/config/docker.yaml
  server/server/config/config.go
  server/server/route/auth.go
  server/server/route/auth_test.go
  server/server/rpc/tls.go
  server/server/rpc/tls_cert_loader_test.go
Due: none

Set color-scheme explicitly
  src/app.css
Due: stylelint --fix

Update translate to svelte 5 syntax
  src/lib/i18n/translate.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update PageTitle to Svelte 5 syntax
  src/lib/components/page-title.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update Panel to Svelte 5 syntax
  src/lib/components/panel.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update PayloadInput
  src/lib/components/payload-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update WorkflowStatus to svelte 5 syntax
  src/lib/components/workflow-status.stories.svelte
  src/lib/components/workflow-status.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update BatchOperations Table to Svelte 5 syntax
  src/lib/components/batch-operations/table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update Icon and Svg components to Svelte 5 syntax
  src/lib/holocene/icon/icon.stories.svelte
  src/lib/holocene/icon/icon.svelte
  src/lib/holocene/icon/svg.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update Error to Svelte 5 syntax
  src/lib/holocene/error.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update Keyboard Short components to Svelte 5 syntax
  src/lib/holocene/keyboard-shortcut/arrow-down.svelte
  src/lib/holocene/keyboard-shortcut/arrow-left.svelte
  src/lib/holocene/keyboard-shortcut/arrow-right.svelte
  src/lib/holocene/keyboard-shortcut/arrow-up.svelte
  src/lib/holocene/keyboard-shortcut/shortcut.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update Label component Svelte 5 syntax
  src/lib/holocene/label.stories.svelte
  src/lib/holocene/label.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update TabPanel to Svelte 5 syntax
  src/lib/holocene/tab/tab-panel.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update Combobox async-test to Svelte 5 syntax
  src/lib/holocene/combobox/async-test.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update Logo to Svelte 5 syntax
  src/lib/holocene/logo.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update Batch Operations Page to Svelte 5 syntax
  src/lib/pages/batch-operations.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update (app) +page to Svelte 5 syntax
  src/routes/(app)/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update NameSpace page to Svelte 5 syntax
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix
