Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Update IconButton to use Button component
  src/lib/holocene/icon-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove unnecessary badge background
  src/lib/components/event/event-details-row-expanded.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/lines-and-dots/workflow-detail.svelte
  src/lib/components/workflow/client-actions/batch-operation-confirmation-form.svelte
  src/lib/components/workflow/workflow-detail.svelte
  src/lib/holocene/badge.svelte
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update Toast component colors
  src/lib/holocene/toast.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add regression integration test
  src/lib/components/workflow-actions.svelte
  tests/integration/workflow-reset.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/workflow.ts
Due: eslint --fix, prettier --write, stylelint --fix

DT-2159 - fix "Reapply Signals" checkbox on reset workflow confirmation form (#2117)
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
  tests/integration/workflow-reset.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/workflow.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update snaps and fix errors
  src/lib/components/workflow-status.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/table/paginated-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update timeline background and text color
  src/lib/components/event/event-history-timeline.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove unnecessary surface-input
  src/lib/holocene/input/input.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/holocene/textarea.svelte
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update page background color to match designs
  src/lib/components/lines-and-dots/input-and-results-payload.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/tab/tab.stories.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/layouts/workflow-padded-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove underline on button links
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove ternary and use and instead for active class
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/day-of-week-picker.svelte
  src/lib/holocene/month-picker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Delete snapshot tests
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-body-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/__snapshots__/table-header-cell.test.ts.snap
  src/lib/components/workflow/workflows-summary-configurable-table/tests/table-body-cell.test.ts
  src/lib/components/workflow/workflows-summary-configurable-table/tests/table-header-cell.test.ts
Due: eslint --fix, prettier --write

Kebab case colors
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/calendar.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/holocene/table/table.svelte
  src/lib/holocene/toggle-switch.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/theme/colors.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write, stylelint --fix

Keep Button border as 2px on focus
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add caret-danger to plugin
  src/lib/holocene/input/input.svelte
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add HideLogs environment variable
  server/docker/config-template.yaml
  server/server/config/config.go
Due: none

Add local-temporal command
  .env.local-temporal
  README.md
  package.json
  plugins/vite-plugin-ui-server.ts
Due: eslint --fix, prettier --write

Update github actions to use github app token. Attemp 1
  .github/workflows/bump-package-version.yml
  .github/workflows/publish-package.yml
  .github/workflows/update-ui-server.yml
Due: none

2.27.6
  package.json
Due: prettier --write

2.27.6 (#2122)
  package.json
Due: prettier --write

Add href prop to combobox for link button
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/external-link.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update side nav focus styles
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update heart beat indicator color
  src/lib/components/heart-beat-indicator.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Subtle border, better path, disable link if no namespace
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/icon/svg/external-link.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add local-temporal command (#2120)
  .env.local-temporal
  README.md
  package.json
  plugins/vite-plugin-ui-server.ts
Due: eslint --fix, prettier --write

Update SideNavigation component (#2124)
  src/lib/components/heart-beat-indicator.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add timezoneName to schedule spec with default of UTC
  src/lib/components/schedule/schedule-frequency-panel.svelte
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-table-row.svelte
  src/lib/pages/schedule-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update version.go to v2.27.2
  server/server/version/version.go
Due: none

Update version.go to v2.27.2 (#2126)
  server/server/version/version.go
Due: none

Use translate for timezones
  src/lib/components/schedule/schedule-frequency.svelte
  src/lib/components/schedule/schedules-table-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Link to namespace in Namespace sticky nav (#2123)
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/external-link.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Set input on edit
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/stores/schedules.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add onDecode prop
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add filtering to api pagination
  src/lib/holocene/api-pagination.svelte
Due: eslint --fix, prettier --write, stylelint --fix

WIP: Vertical compact. Figuring out expanding groups
  src/lib/components/lines-and-dots/svg/vertical-compact-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix expanded heights, positioning
  src/lib/components/lines-and-dots/svg/vertical-compact-graph-row.svelte
  src/lib/components/lines-and-dots/svg/vertical-compact-graph.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix css classes
  src/lib/components/workflow/start-workflow-input-upload.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add docs to side nav
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/i18n/locales/en/common.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add docs to side nav (#2131)
  src/lib/components/side-nav.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/i18n/locales/en/common.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix
