Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Add scroll to event id logic. Need to figure out how to wait on page change before scrolling if event id is not on the current page
  src/lib/components/event/event-link.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/stores/pagination.test.ts
  src/lib/stores/pagination.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/to-url.test.ts
  src/lib/utilities/to-url.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add groups for show related events in the specific event route
  src/lib/pages/workflow-history-event.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix unit tests
  src/lib/utilities/to-url.ts
Due: eslint --fix, prettier --write

Add prefix for metadata to show ActivityType in Timeline
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/metadata-decoder.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Get rid of value var
  src/lib/components/event/metadata-decoder.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add prefix for Metadata to show Activity Type in Timeline (#2542)
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/metadata-decoder.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.34.9
  package.json
Due: prettier --write

Only truncate if theres a prefix
  src/lib/components/event/metadata-decoder.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Only truncate if theres a prefix (#2544)
  src/lib/components/event/metadata-decoder.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.34.10
  package.json
Due: prettier --write

Jump to hash page and scroll. Need to figure out if we want to remove hash or not
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/stores/pagination.test.ts
  src/lib/stores/pagination.ts
Due: eslint --fix, prettier --write, stylelint --fix

Move filter options to Table Footer and into Search Attribute filter
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/index.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/orderable-list.svelte
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedules.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/namespace-url-pattern.ts
Due: eslint --fix, prettier --write, stylelint --fix

Responsive table footer
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add id to menu button, fix e2e/integration tests
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  tests/e2e/workflows-summary-table-configuration.spec.ts
  tests/integration/workflow-bulk-actions.spec.ts
  tests/integration/workflows-count.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Bump api version, add new page for deployments. WIP
  server/go.mod
  server/go.sum
  src/lib/pages/deployments.svelte
  src/lib/types/deployments.ts
  src/routes/(app)/deployments/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add connection icon
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/connection.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make CodeBlock background secondary in light mode
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write

Update spacing and descriptive text color for Schedule Spec
  src/lib/components/schedule/schedule-day-of-month-view.svelte
  src/lib/components/schedule/schedule-day-of-week-view.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/schedule/schedules-time-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add cron string example description
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/i18n/locales/en/schedules.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add connection icon (#2547)
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/connection.svelte
Due: eslint --fix, prettier --write, stylelint --fix

More setup, add individual deployment page. WIP
  src/lib/components/deployments/deployment-details.svelte
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/index.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/services/deployments-service.ts
  src/lib/types/api.ts
  src/lib/types/deployments.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove command comment
  src/lib/components/schedule/schedules-calendar-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Hide paginated numbers on sm screens and show arrows
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix combobox option props mismatch and textarea prop spreading
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/textarea.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix combobox option props mismatch and textarea prop spreading (#2550)
  src/lib/holocene/combobox/combobox-option.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/textarea.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.34.11
  package.json
Due: prettier --write

Use filter icon and Show Filters text
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Workflow Filter Options (#2546)
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/index.svelte
  src/lib/components/workflow/configurable-table-headers-drawer/orderable-list.svelte
  src/lib/components/workflow/search-attribute-filter/index.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/table/paginated-table/api-paginated.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/paginated-table/paginated.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/schedules.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/filters.ts
  src/lib/stores/workflows.ts
  src/lib/utilities/namespace-url-pattern.ts
  tests/e2e/workflows-summary-table-configuration.spec.ts
  tests/integration/workflow-bulk-actions.spec.ts
  tests/integration/workflows-count.spec.ts
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
  tests/integration/workflows-search-attribute-filter.mobile.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add custom --color-surface-code-block
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write

Fix event details row code block
  src/lib/components/event/event-details-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add Schedules cron string description (#2549)
  src/lib/components/event/event-details-row.svelte
  src/lib/components/schedule/schedule-day-of-month-view.svelte
  src/lib/components/schedule/schedule-day-of-week-view.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/schedule/schedules-time-view.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix responsiveness of cron string example
  src/lib/components/schedule/schedules-calendar-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix responsiveness of cron string example (#2552)
  src/lib/components/schedule/schedules-calendar-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update version.go to v2.35.0
  server/server/version/version.go
Due: none

Finish deployment and deployment version pages
  src/lib/components/deployments/deployment-details.svelte
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/components/deployments/task-queue-table-row.svelte
  src/lib/components/deployments/version-details.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/pages/deployment-version.svelte
  src/lib/pages/deployments.svelte
  src/lib/services/deployments-service.ts
  src/lib/types/api.ts
  src/lib/types/deployments.ts
  src/lib/utilities/route-for-api.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/[deployment]/version/[version]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update version.go to v2.35.0 (#2553)
  server/server/version/version.go
Due: none

Add trending icon
  src/lib/components/deployments/deployments-table-row.svelte
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/trending.svelte
  src/lib/pages/deployment-version.svelte
  src/lib/services/deployments-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix connection icon
  src/lib/holocene/icon/svg/connection.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix connection icon (#2554)
  src/lib/holocene/icon/svg/connection.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.34.12
  package.json
Due: prettier --write
