Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Add back animation (#3251)
  src/lib/components/workflow/workflow-count-refresh.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix: remove unintended icon color change.
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Design: update font to match breadcrumb.
  src/lib/components/timezone-select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Design: remove rounded-full from IconButton per Bilal.
  src/lib/holocene/icon-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Pass hrefs to workers layout
  src/lib/layouts/workers-layout.svelte
  src/routes/(app)/namespaces/[namespace]/workers/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workers/deployments/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add version check to SDK warning
  src/lib/components/workers/workers-table/worker-heartbeats-sdk-warning.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Pass queryParams on SSR for routeForWorkflow
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

use snippets for nexus CTAs (#3266)
  src/lib/pages/nexus-empty-state.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/routes/(app)/nexus/+page.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(deps): upgrade lodash, svelte, kit, storybook, tar-fs for security
  package.json
  pnpm-lock.yaml
Due: prettier --write

min-h-full instead of screen
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat: serverless workers CRUD UI with lazy-loaded version details
  server/go.mod
  server/go.sum
  src/lib/components/deployments/compute-badge.svelte
  src/lib/components/deployments/deployment-status.svelte
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/workers/serverless-worker-form/create-version-form.svelte
  src/lib/components/workers/serverless-worker-form/edit-version-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/shared.ts
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/pages/serverless-worker-create.svelte
  src/lib/pages/worker-deployment-version-create.svelte
  src/lib/pages/worker-deployment-version-edit.svelte
  src/lib/services/deployments-service.ts
  src/lib/types/api.ts
  src/lib/types/deployments.ts
  src/lib/utilities/deployments.ts
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write, stylelint --fix

min-h-full instead of screen (#3270)
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor: version table row and deployment detail page
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/version-compute-details.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/pages/deployment.svelte
Due: eslint --fix, prettier --write, stylelint --fix

UI updates from bug bash
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/components/workers/worker-heartbeats-disabled.svelte
  src/lib/holocene/icon/svg/settings.svelte
  src/lib/holocene/icon/svg/workers.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/layouts/workers-layout.svelte
  src/lib/pages/deployments.svelte
  src/lib/pages/workers.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor: extract deployment sub-components and add capability guards
  src/lib/components/deployments/delete-version-modal.svelte
  src/lib/components/deployments/deployment-header.svelte
  src/lib/components/deployments/validate-connection-modal.svelte
  src/lib/components/deployments/version-actions-menu.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/pages/deployment.svelte
  src/routes/(app)/+layout.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add outdated worker data alert with refresh
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/worker-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix: rename import to match new type name.
  src/lib/holocene/navigation/navigation-utils.ts
Due: eslint --fix, prettier --write

refactor(navigation): split getLinkList into explicit nav groups
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-group.svelte
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update bottom nav to svelte5.
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(navigation): add NavGroup Holocene component
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-group.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(navigation): tighten NavGroup to NavLinkItem[]
  src/lib/holocene/navigation/nav-group.svelte
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(navigation): remove NavLinkListItem alias, use NavLinkItem directly
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/side-nav.svelte
  src/lib/types/global.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(navigation): add keyed iterators to bottom-nav-links each blocks
  src/lib/components/bottom-nav-links.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(navigation): extend NavGroup to OSS and split nav groups
  src/lib/components/side-nav.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(navigation): rename NavGroup to NavSection, sections API
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-section.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(navigation): add secondaryLinkList prop to BottomNavigation and BottomNavLinks
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(navigation): pass secondary nav links to BottomNavigation for mobile visibility
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(navigation): migrate bottom-nav to sections API and Svelte 5
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor: remove unused nav utils file.
  src/lib/holocene/navigation/navigation-utils.ts
Due: eslint --fix, prettier --write

Fix: type errors
  src/lib/holocene/navigation/nav-group.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(navigation): add NavSection Holocene component (#3263)
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/nav-section.svelte
  src/lib/holocene/navigation/navigation-utils.ts
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Adds requested design changes to breadcrumb items (#3267)
  src/lib/components/timezone-select.svelte
  src/lib/holocene/icon-button.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add principal name and type to event card attributes
  src/lib/components/event/event-card.svelte
  src/lib/utilities/format-event-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

Bump API version and include principal type and name if they exist
  .serena/memories/schedule-api-comprehensive-analysis.md
  .serena/project.yml
  server/go.mod
  server/go.sum
  src/lib/models/event-history/index.ts
  src/lib/types/events.ts
Due: eslint --fix, prettier --write

Remove hardcoded test value
  src/lib/models/event-history/index.ts
Due: eslint --fix, prettier --write

remove serena changes
  .serena/memories/schedule-api-comprehensive-analysis.md
  .serena/project.yml
Due: prettier --write

Make type and name optional
  src/lib/types/events.ts
Due: eslint --fix, prettier --write

Remove serena
  .gitignore
  .serena/.gitignore
  .serena/project.yml
Due: none

Keep in .gitignore
  .gitignore
Due: none

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
