Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, prettier --write, stylelint --fix

Update results title for Continued as New
  src/lib/components/workflow/input-and-results.svelte
  src/lib/layouts/workflow-history-layout.svelte
Due: stylelint --fix

ARIA updates (#1150)
  src/lib/components/event/event-history-timeline-container.svelte
  src/lib/components/namespace-list.svelte
  src/lib/components/search.svelte
  src/lib/components/workflow/advanced-filter/keyword-filter.svelte
  src/lib/components/workflow/advanced-filter/search-attribute-filter.svelte
  src/lib/components/workflow/dropdown-filter/workflow-id.svelte
  src/lib/components/workflow/dropdown-filter/workflow-type.svelte
  src/lib/components/workflow/pending-activities.svelte
  src/lib/components/workflow/workflow-advanced-filters.svelte
  src/lib/components/workflow/workflow-advanced-search.svelte
  src/lib/components/workflow/workflow-filters.svelte
  src/lib/components/workflow/workflow-relationships.svelte
  src/lib/components/workflow/workflow-summary.svelte
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/holocene/alert.story.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/autocomplete.story.svelte
  src/lib/holocene/autocomplete.svelte
  src/lib/holocene/error.svelte
  src/lib/holocene/input/input.story.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/navigation/nav-container.svelte
  src/lib/holocene/pagination.svelte
  src/lib/holocene/select/simple-select.svelte
  src/lib/holocene/toast.svelte
  src/lib/holocene/toaster.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/pages/workflows.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_filter-input.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_workflow-filters.svelte
  src/routes/(app)/select-namespace/+page.svelte
  src/routes/(import)/import/+layout.svelte
  src/routes/(import)/import/events/+page.svelte
Due: stylelint --fix

Use json/snappy decoding
  e2e/data_converter.go
Due: none

Add back snappy, test without passing passAccessToken
  e2e/data_converter.go
  src/lib/services/query-service.ts
Due: pnpm lint:fix, prettier --write

Add back passAccessToken
  src/lib/services/query-service.ts
Due: pnpm lint:fix, prettier --write

Fix passing settings
  src/lib/pages/workflow-query.svelte
Due: stylelint --fix

Add passing accessToken to queries/pending activities (#1158)
  src/lib/models/pending-activities/index.ts
  src/lib/pages/workflow-query.svelte
  src/lib/services/data-encoder.ts
  src/lib/services/events-service.ts
  src/lib/services/query-service.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

2.2.12
  package.json
Due: prettier --write

2.2.12 (#1160)
  package.json
Due: prettier --write

A registry url
  .github/actions/checkout-and-setup/action.yml
Due: none

A registry url (#1161)
  .github/actions/checkout-and-setup/action.yml
Due: none

improve modal component to support form input
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/schedule-view.svelte
Due: stylelint --fix

dynamically check for input instead of using a prop
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/schedule-view.svelte
Due: stylelint --fix

Walk back the changes to CODEOWNERS
  .github/CODEOWNERS
Due: none

Update get-single-attribute-for-event.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Due: pnpm lint:fix, prettier --write

Refactor files to comply with TypeScript's strict mode (#1156)
  src/lib/services/data-converter.ts
  src/lib/utilities/btoa.ts
  src/lib/utilities/calendar.ts
  src/lib/utilities/data-converter-websocket.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/format-camel-case.ts
  src/lib/utilities/format-time.ts
  src/lib/utilities/get-codec.ts
  src/lib/utilities/get-first-reset-event-id.ts
  src/lib/utilities/get-float-style.ts
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/route-for.ts
  src/lib/utilities/schedule-data-formatting.ts
  src/lib/utilities/to-duration.ts
Due: pnpm lint:fix, prettier --write

Add error message if response from temporal.download fails (#1148)
  scripts/download-temporal.ts
Due: pnpm lint:fix, prettier --write

refactor modals to use `<dialog />` element and native APIs
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/holocene/data-encoder-status.svelte
  src/lib/holocene/json-editor.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/show-data-encoder.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

lint
  src/lib/holocene/modal.svelte
Due: stylelint --fix

Don't allow redirecting away from Temporal Web via auth callback (#1157)
  server/server/route/auth.go
Due: none

Bump x/net for https://github.com/temporalio/ui-server/issues/270 (#1154)
  server/go.mod
  server/go.sum
Due: none

Add JSON Formatting toggle to queries view
  src/lib/components/auto-refresh-workflow.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/toggle-switch.svelte
  src/lib/pages/workflow-query.svelte
Due: stylelint --fix

Add JSON Formatting toggle to queries view (#1164)
  src/lib/components/auto-refresh-workflow.svelte
  src/lib/holocene/code-block.svelte
  src/lib/holocene/toggle-switch.svelte
  src/lib/pages/workflow-query.svelte
Due: stylelint --fix

Move import pages to (app) layout
  src/lib/holocene/navigation/full-nav.svelte
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/_header.svelte
  src/routes/(app)/import/+layout.svelte
  src/routes/(app)/import/+page.ts
  src/routes/(app)/import/_event-history-import.svelte
  src/routes/(app)/import/_import-header.svelte
  src/routes/(app)/import/_import-settings.ts
  src/routes/(app)/import/events/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/+layout.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/+page.ts
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/compact/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/feed/+page.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/json/+page.svelte
  src/routes/(import)/import/+layout.svelte
  src/routes/(import)/import/+layout.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

Update json
  cypress/fixtures/cluster-with-mysql.json
Due: prettier --write

fix cy tests
  cypress/integration/workflow-actions.spec.js
  cypress/integration/workflow-bulk-actions.spec.js
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/modal.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

fix cy test
  cypress/integration/task-queues.spec.js
  src/lib/components/workers-list.svelte
Due: pnpm lint:fix, prettier --write, stylelint --fix

add aria-modal="true" to modal
  src/lib/holocene/modal.svelte
Due: stylelint --fix

DT-384 - improve modal component to support form input (#1162)
  cypress/integration/task-queues.spec.js
  cypress/integration/workflow-actions.spec.js
  cypress/integration/workflow-bulk-actions.spec.js
  src/lib/components/workers-list.svelte
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/batch-operation-confirmation-modal.svelte
  src/lib/holocene/data-encoder-settings.svelte
  src/lib/holocene/data-encoder-status.svelte
  src/lib/holocene/json-editor.svelte
  src/lib/holocene/modal.story.svelte
  src/lib/holocene/modal.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/show-data-encoder.ts
Due: pnpm lint:fix, prettier --write, stylelint --fix

2.2.13
  package.json
Due: prettier --write

2.2.13 (#1166)
  package.json
Due: prettier --write

Add page title
  src/routes/(app)/import/+layout.svelte
  src/routes/(app)/import/events/[namespace]/[workflow]/[run]/history/+layout.svelte
Due: stylelint --fix

Speed up tests failures
  .github/pull_request_template.md
  .github/workflows/playwright.yml
  playwright.config.ts
Due: pnpm lint:fix, prettier --write

Update playwright.config.ts
  playwright.config.ts
Due: pnpm lint:fix, prettier --write

Mock cluster api, add favicon in static to remove error
  static/favicon.ico
  tests/test-utilities/mock-apis.ts
  tests/workflows-list-time-frames.spec.ts
  tests/workflows-list.spec.ts
Due: pnpm lint:fix, prettier --write

Update copy
  src/routes/(app)/namespaces/[namespace]/archival/+page.svelte
Due: stylelint --fix

Upgrade ESLint, Prettier, and Stylelint
  .prettierignore
  .stylelintrc
  package.json
  pnpm-lock.yaml
  src/lib/holocene/navigation/drawer.svelte
  src/lib/holocene/progress-bar.svelte
  src/lib/holocene/tab.svelte
Due: prettier --write, stylelint --fix

Bump svelte-check back down for now
  package.json
  pnpm-lock.yaml
Due: prettier --write

Remove explicitly running snapshot test (#1140)
  .github/workflows/lint-and-test.yml
  package.json
Due: prettier --write

Bump versions to avoid downgrade for UI server.
  package.json
  server/server/version/version.go
Due: prettier --write

Path conditions:
  pnpm lint:fix: any of: *.{ts,js}
  prettier --write: (any of: *.{ts,js}) or (any of: *.{json,md})
  stylelint --fix: any of: *.{css,postcss,svelte}
