Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

docs(events): say why filteredItems is annotated
  src/lib/components/event/event-summary-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(events): drop the row cast the ternary makes unnecessary
  src/lib/components/event/event-summary-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(events): call the row's value a row, not an event
  src/lib/components/event/event-summary-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(timeline): name the pool position slotIndex, not slot
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

docs(timeline): cut the row pool comment to the two rules that bite
  src/lib/components/lines-and-dots/timeline-graph/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor: use toReversed over spread-and-reverse
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/services/grouped-event-buffer.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(events): merge the clear and refetch effects
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(events): let the buffer own pending metadata
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/services/grouped-event-buffer.test.ts
  src/lib/services/grouped-event-buffer.ts
Due: eslint --fix, prettier --write, stylelint --fix

test(events): cover the local ref re-sync after the follower flush
  src/lib/services/grouped-event-buffer.test.ts
Due: eslint --fix, prettier --write

test(events): name the reference tests after what breaks
  src/lib/services/grouped-event-buffer.test.ts
Due: eslint --fix, prettier --write

docs: update the timeline architecture doc for the new buffer
  docs/timeline-architecture.md
Due: prettier --write

Resync filter bar pills on browser back/forward navigation
  src/lib/pages/schedules.svelte
  src/lib/pages/standalone-activities.svelte
  src/lib/pages/standalone-nexus-operations.svelte
  src/lib/pages/workers.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Extract shared popstate filter-resync logic into one function
  src/lib/pages/schedules.svelte
  src/lib/pages/standalone-activities.svelte
  src/lib/pages/standalone-nexus-operations.svelte
  src/lib/pages/workers.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/utilities/query/sync-filters-on-popstate.test.ts
  src/lib/utilities/query/sync-filters-on-popstate.ts
Due: eslint --fix, prettier --write, stylelint --fix

Use realistic ExecutionStatus/WorkflowType filters in popstate sync test
  src/lib/utilities/query/sync-filters-on-popstate.test.ts
Due: eslint --fix, prettier --write

Resync filter pills on back/forward in the shared filter bar
  src/lib/components/search-attribute-filter/filter-bar.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/standalone-activities.svelte
  src/lib/pages/standalone-nexus-operations.svelte
  src/lib/pages/workers.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/utilities/query/sync-filters-on-popstate.test.ts
  src/lib/utilities/query/sync-filters-on-popstate.ts
Due: eslint --fix, prettier --write, stylelint --fix

Require searchAttributes on the shared filter bar
  src/lib/components/search-attribute-filter/filter-bar.svelte
  src/lib/components/search-attribute-filter/manual-query.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add integration coverage for filter pill resync on back/forward
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
Due: eslint --fix, prettier --write

fix(timeline): recolor a group when a later event extends it (#3787)
  src/lib/services/grouped-event-buffer.test.ts
  src/lib/services/grouped-event-buffer.ts
  tests/integration/timeline-live-completion.spec.ts
Due: eslint --fix, prettier --write

docs: say why the event array is indexed by eventId - 1
  docs/timeline-architecture.md
Due: prettier --write

docs: name the group-assembly section after what it guarantees
  docs/timeline-architecture.md
Due: prettier --write

Refine shared workflow catalog plan preview
  src/stories/shared-workflow-catalog-plan-preview.stories.svelte
  src/stories/shared-workflow-catalog-plan-preview.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update shared workflow catalog visual plan
  src/stories/shared-workflow-catalog-plan-preview.stories.svelte
  src/stories/shared-workflow-catalog-plan-preview.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add shared workflow catalog plan preview
  src/stories/shared-workflow-catalog-plan-preview.stories.svelte
  src/stories/shared-workflow-catalog-plan-preview.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use plain language in workflow catalog pitch
  src/stories/shared-workflow-catalog-plan-preview.stories.svelte
  src/stories/shared-workflow-catalog-plan-preview.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Only supply start delay value in update if it has changed
  src/lib/components/activity/activity-options-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add optional paths to update mask
  src/lib/services/standalone-activities.ts
  src/lib/services/workflow-activities-service.ts
  src/lib/utilities/activity-options-update-mask.test.ts
  src/lib/utilities/activity-options-update-mask.ts
Due: eslint --fix, prettier --write

DT-4339 Isolate Vite-backed component tests
  src/lib/components/deployments/deployment-client-test-runner.ts
  src/lib/components/workers/serverless-worker-form/compute-fields.test.ts
  src/lib/test-utilities/isolated-vite-server.test.ts
  src/lib/test-utilities/isolated-vite-server.ts
Due: eslint --fix, prettier --write

DT-4337 Add workflow catalog list and detail views
  src/lib/i18n/locales/en/index.ts
  src/lib/i18n/locales/en/workflow-catalog.ts
  src/lib/services/settings-service.test.ts
  src/lib/services/settings-service.ts
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/lib/workflow-catalog/browser/catalog-client-test-runner-entry.ts
  src/lib/workflow-catalog/browser/catalog-client-test-runner.ts
  src/lib/workflow-catalog/browser/catalog-detail.client.test.ts
  src/lib/workflow-catalog/browser/catalog-detail.svelte
  src/lib/workflow-catalog/browser/catalog-detail.test.ts
  src/lib/workflow-catalog/browser/catalog-list-state.ts
  src/lib/workflow-catalog/browser/catalog-list.client.test.ts
  src/lib/workflow-catalog/browser/catalog-list.svelte
  src/lib/workflow-catalog/browser/catalog-list.test.ts
  src/lib/workflow-catalog/browser/schema-validator-client-test-double.ts
  src/lib/workflow-catalog/browser/schema-validator.test.ts
  src/lib/workflow-catalog/browser/schema-validator.ts
  src/lib/workflow-catalog/browser/session-store.test.ts
  src/lib/workflow-catalog/browser/session-store.ts
  src/lib/workflow-catalog/browser/workbench.svelte
  src/lib/workflow-catalog/browser/workbench.test.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/dev-tools/workflow-catalog/+layout.svelte
  src/routes/(app)/dev-tools/workflow-catalog/+page.svelte
  src/routes/(app)/dev-tools/workflow-catalog/[exampleId]/+page.svelte
  src/routes/(app)/dev-tools/workflow-catalog/[exampleId]/page.test.ts
  src/routes/(app)/dev-tools/workflow-catalog/catalog.test.ts
  src/routes/(app)/dev-tools/workflow-catalog/catalog.ts
  src/routes/(app)/dev-tools/workflow-catalog/context.ts
  src/routes/(app)/dev-tools/workflow-catalog/layout.test.ts
  src/routes/(app)/dev-tools/workflow-catalog/page.test.ts
  src/routes/(app)/dev-tools/workflow-catalog/workflow-catalog-provider.svelte
  src/routes/(app)/dev-tools/workflow-catalog/workflow-catalog-provider.test.ts
  src/routes/(app)/layout-workflow-catalog.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove obsolete workflow catalog preview stories
  src/stories/shared-workflow-catalog-plan-preview.stories.svelte
  src/stories/shared-workflow-catalog-plan-preview.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Move setSearchAttributes util
  src/lib/components/schedule/utilities/get-request-body.ts
  src/lib/services/standalone-activities.ts
  src/lib/services/standalone-nexus-operations.ts
  src/lib/services/workflow-service.ts
  src/lib/utilities/encode-payload.ts
Due: eslint --fix, prettier --write

DT-4337 Keep workflow catalog out of main navigation
  src/routes/(app)/+layout.svelte
  src/routes/(app)/layout-workflow-catalog.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

DT-4339 Harden workflow catalog routing and package checks
  plugins/vite-plugin-workflow-catalog-local.test.ts
  plugins/vite-plugin-workflow-catalog-local.ts
  scripts/workflow-catalog/catalog-artifacts.test.ts
  scripts/workflow-catalog/catalog-artifacts.ts
  scripts/workflow-catalog/dev.ts
  scripts/workflow-catalog/project-artifacts.ts
  src/env.d.ts
  src/lib/workflow-catalog/browser/routing.test.ts
  src/lib/workflow-catalog/browser/routing.ts
  src/lib/workflow-catalog/node/routing-config.test.ts
  src/lib/workflow-catalog/node/routing-config.ts
  src/lib/workflow-catalog/node/runner.test.ts
  src/lib/workflow-catalog/node/runner.ts
Due: eslint --fix, prettier --write

DT-4338 Migrate non-Nexus shared workflows
  package.json
  pnpm-lock.yaml
  src/lib/workflow-catalog/browser/catalog.generated.json
  src/lib/workflow-catalog/browser/catalog.generated.ts
  src/lib/workflow-catalog/node/examples/activities.ts
  src/lib/workflow-catalog/node/examples/corpus.test.ts
  src/lib/workflow-catalog/node/examples/index.ts
  src/lib/workflow-catalog/node/examples/inventory.ts
  src/lib/workflow-catalog/node/examples/registrations.ts
  src/lib/workflow-catalog/node/examples/schemas.ts
  src/lib/workflow-catalog/node/examples/workflows.ts
  src/lib/workflow-catalog/node/shared-registrations.ts
  src/lib/workflow-catalog/node/workflows.ts
  src/routes/(app)/dev-tools/workflow-catalog/catalog.test.ts
  src/routes/(app)/dev-tools/workflow-catalog/catalog.ts
Due: eslint --fix, prettier --write

fix(schedules): resolve recent run statuses from visibility
  src/lib/components/schedule/schedule-view/workflow-runs-recent.svelte
  src/lib/services/schedule-service.test.ts
  src/lib/services/schedule-service.ts
  src/lib/services/workflow-service.ts
  src/lib/types/schedule.ts
Due: eslint --fix, prettier --write, stylelint --fix

Refactor to superForm and add error messages
  src/lib/components/activity/activity-options-form.svelte
  src/lib/i18n/locales/en/activities.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update success and error messages
  src/lib/components/activity/activity-options-form.svelte
  src/lib/i18n/locales/en/activities.ts
Due: eslint --fix, prettier --write, stylelint --fix

Default start delay to zero when cleared
  src/lib/components/activity/activity-options-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove task queue types from compute configs
  src/lib/services/deployments-service.test.ts
  src/lib/services/deployments-service.ts
  src/lib/utilities/deployment-has-compute-config.test.ts
Due: eslint --fix, prettier --write

Remove task queue types from compute configs (#3801)
  src/lib/services/deployments-service.test.ts
  src/lib/services/deployments-service.ts
  src/lib/utilities/deployment-has-compute-config.test.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
