Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

2.22.6
  package.json
Due: prettier --write

Update version.go to v2.22.3
  server/server/version/version.go
Due: none

2.22.6 (#1823)
  package.json
Due: prettier --write

Update version.go to v2.22.3 (#1824)
  server/server/version/version.go
Due: none

Add Drawer content, and refactor drawer so we can put content all the way to the sides of it
  src/lib/holocene/drawer-content.svelte
  src/lib/holocene/drawer.stories.svelte
  src/lib/holocene/drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

WIP: add payloads to schedule
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedule-input-payload.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/schedule/schedules-time-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make href required, use default behavior if metakey is pressed
  src/lib/holocene/link.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix old workflow filter advanced/basic toggle link for archival
  src/routes/(app)/namespaces/[namespace]/archival/_workflow-filters.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Better timeline labels for localActivity
  src/lib/components/event/event-history-timeline.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Better timeline labels for localActivity (#1827)
  src/lib/components/event/event-history-timeline.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make href required, use default behavior if metakey is pressed in Link (#1826)
  src/lib/holocene/link.svelte
  src/routes/(app)/namespaces/[namespace]/archival/_workflow-filters.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.22.7
  package.json
Due: prettier --write

2.22.7 (#1828)
  package.json
Due: prettier --write

Adjust width to account for disabled state
  src/lib/components/workflow/filter-search/datetime-filter.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add nowrap for MenuButton
  src/lib/components/workflow/filter-search/datetime-filter.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Small UI fixes for DatetimeFilter (#1829)
  src/lib/components/workflow/filter-search/datetime-filter.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update groupEvents to iterate based on sort order
  src/lib/components/event/event-history-timeline.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/group-events.test.ts
  src/lib/models/event-groups/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix child workflow links when sort is descending
  src/lib/pages/workflow-history-event-group.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update initial events to be based on sort
  src/lib/components/event/event-summary.svelte
  src/lib/pages/workflow-history-event.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make all potential enums strings for better type safety, added unit tests to cover object/array inputs, and show empty string for ParentNamespaceID in workflow cell.
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/utilities/screaming-enums.test.ts
  src/lib/utilities/screaming-enums.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove unneeded ?
  src/lib/services/namespaces-service.ts
Due: eslint --fix, prettier --write

Update ui-server to use the new protos (#1775)
  go.work.sum
  server/go.mod
  server/go.sum
  server/server/api/handler.go
  server/server/api/marshaler.go
  server/server/api/middleware.go
  server/server/headers/headers.go
  server/server/version/with_version_header.go
  src/lib/components/workflow/workflow-typed-error.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/models/event-history/index.ts
  src/lib/models/workflow-execution.ts
  src/lib/services/batch-service.ts
  src/lib/services/namespaces-service.ts
  src/lib/services/pollers-service.ts
  src/lib/services/query-service.ts
  src/lib/services/search-attributes-service.ts
  src/lib/services/workflow-counts.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/screaming-enums.test.ts
  src/lib/utilities/screaming-enums.ts
  src/lib/utilities/task-queue-compatibility.ts
  src/routes/(app)/namespaces/[namespace]/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update version.go to v2.23.0
  server/server/version/version.go
Due: none

Update version.go to v2.23.0 (#1831)
  server/server/version/version.go
Due: none

Add hidden/optional dark mode
  src/env.d.ts
  src/lib/utilities/dark-mode/dark-mode.svelte
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
  src/routes/(app)/+layout.svelte
  tailwind.config.cjs
Due: eslint --fix, prettier --write, stylelint --fix

Remove `console.log`
  src/lib/utilities/dark-mode/dark-mode.ts
Due: eslint --fix, prettier --write

Add hidden/optional dark mode (#1832)
  src/env.d.ts
  src/lib/utilities/dark-mode/dark-mode.svelte
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
  src/routes/(app)/+layout.svelte
  tailwind.config.cjs
Due: eslint --fix, prettier --write, stylelint --fix

Use DrawerContent and fix existing drawers
  src/lib/components/event/event-shortcut-keys.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add dark mode support for Storybook
  .storybook/dark-mode.css
  .storybook/preview.ts
  src/lib/utilities/dark-mode/dark-mode.svelte
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix the width issue
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/line-dot.svelte
Due: eslint --fix, prettier --write, stylelint --fix

ToggleButtons, get distance between events with line
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/line-dot.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout-v2.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix event groups sort order (#1830)
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/event/event-summary.svelte
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/models/event-groups/group-events.test.ts
  src/lib/models/event-groups/index.ts
  src/lib/pages/workflow-history-event-group.svelte
  src/lib/pages/workflow-history-event.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Drawer fix (#1833)
  src/lib/components/event/event-shortcut-keys.svelte
  src/lib/components/workflow/workflows-summary-configurable-table.svelte
  src/lib/holocene/drawer-content.svelte
  src/lib/holocene/drawer.stories.svelte
  src/lib/holocene/drawer.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.22.8
  package.json
Due: prettier --write

2.23.0
  package.json
Due: prettier --write

2.23.0 (#1836)
  package.json
Due: prettier --write

Add icons
  src/lib/holocene/icon/paths.ts
  src/lib/holocene/icon/svg/astronaut.svelte
  src/lib/holocene/icon/svg/calendar.svelte
  src/lib/holocene/icon/svg/robot.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add dark mode support for Storybook (#1834)
  .storybook/dark-mode.css
  .storybook/preview.ts
  src/lib/utilities/dark-mode/dark-mode.svelte
  src/lib/utilities/dark-mode/dark-mode.ts
  src/lib/utilities/dark-mode/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add draggable line, set a level for groups, hover opacity
  src/lib/components/lines-and-dots/draggable-line.svelte
  src/lib/components/lines-and-dots/event-graph.svelte
  src/lib/components/lines-and-dots/event-row.svelte
  src/lib/components/lines-and-dots/line-dot.svelte
  src/lib/components/lines-and-dots/line.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/models/event-groups/create-event-group.ts
  src/lib/models/event-groups/event-groups.d.ts
  src/lib/utilities/get-workflow-relationships.ts
Due: eslint --fix, prettier --write, stylelint --fix
