Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

feat(schemas): add error handling and improve schema generation
  package.json
  pnpm-lock.yaml
  scripts/schemas/README.md
  scripts/schemas/generate-schema/index.ts
  scripts/schemas/generate-types/index.ts
  scripts/schemas/lib/error-handler.ts
Due: eslint --fix, prettier --write

fix missing dep
  pnpm-lock.yaml
Due: none

refactor(search-attributes): poc generated schema usage
  src/lib/services/search-attributes-service.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/map-entries.ts
  src/lib/utilities/screaming-enums.ts
Due: eslint --fix, prettier --write

refactor(search-attributes): poc generated schema usage (#2645)
  src/lib/services/search-attributes-service.ts
  src/lib/types/index.ts
  src/lib/types/workflows.ts
  src/lib/utilities/map-entries.ts
  src/lib/utilities/screaming-enums.ts
Due: eslint --fix, prettier --write

push up more broken tests
  tests/integration/schedules-create.spec.ts
  tests/test-utilities/mock-apis.ts
Due: eslint --fix, prettier --write

chore(types): add @types/eslint to dev dependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

recreate lock without node_modules
  package.json
  pnpm-lock.yaml
Due: prettier --write

push up more broken tests
  src/lib/components/workflow/search-attribute-input/index.svelte
  tests/integration/schedules-create.spec.ts
  tests/test-utilities/mocks/search-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

Just some typenanigans wanna see how good the buf types are for temporal frontend
  package.json
  pnpm-lock.yaml
  src/lib/holocene/button.svelte
  src/lib/services/workflow-counts.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix typo fix tests
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/stores/search-attributes.ts
  tests/integration/schedules-create.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(api): add URL decoding for workflow ID in handler
  server/server/api/rawhistory.go
  server/server/api/rawhistory_test.go
  src/lib/components/workflow-raw-history-link.svelte
  src/lib/services/events-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

remove routeForWorkflowHistoryJson
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

add styling tweak requested by Candace
  src/lib/components/schedule/schedules-search-attributes-inputs.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(api): Add URL decoding for workflow ID (#2672)
  server/server/api/rawhistory.go
  server/server/api/rawhistory_test.go
  src/lib/components/workflow-raw-history-link.svelte
  src/lib/services/events-service.ts
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write, stylelint --fix

stop
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedules-search-attributes-input.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/pages/schedule-edit.svelte
  src/lib/stores/search-attributes.ts
  src/lib/utilities/decode-payload.ts
  tests/integration/schedule-edit.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix the edit form
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedules-search-attributes-input.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/pages/schedule-edit.svelte
Due: eslint --fix, prettier --write, stylelint --fix

who is broken
  src/lib/components/workflow/search-attribute-input/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor components
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedules-search-attributes-input.svelte
  src/lib/components/schedule/schedules-search-attributes-inputs.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

rm console logs
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/pages/schedule-edit.svelte
  src/lib/utilities/decode-payload.ts
  tests/test-utilities/mocks/search-attributes.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix bigInt test
  src/lib/utilities/encode-payload.test.ts
  src/lib/utilities/encode-payload.ts
Due: eslint --fix, prettier --write

Remove dup test
  src/lib/utilities/encode-payload.test.ts
Due: eslint --fix, prettier --write

Allow BigInt input for Start Workflow (#2673)
  src/lib/utilities/encode-payload.test.ts
  src/lib/utilities/encode-payload.ts
Due: eslint --fix, prettier --write

add preinstall
  package.json
Due: prettier --write

updates edit test and mocks
  tests/integration/schedule-edit.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/schedules.ts
Due: eslint --fix, prettier --write

rm unused import
  src/lib/components/workflow/search-attribute-input/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update to use latest base image
  server/Dockerfile
Due: none

Use versions
  server/Dockerfile
Due: none

Update to use latest base images (#2675)
  server/Dockerfile
Due: none

no need to preinstall
  package.json
Due: prettier --write

Remove double loader, more boxes
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/components/workflow/workflow-relationships.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Return on link click with ctrl/shift
  src/lib/holocene/link.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix mock data for workflow count
  src/lib/components/schedule/schedules-count.svelte
  tests/integration/disable-write-actions.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/schedules.ts
  tests/test-utilities/mocks/workflows-count.ts
Due: eslint --fix, prettier --write, stylelint --fix

add search attribute function
  src/lib/stores/schedules.ts
Due: eslint --fix, prettier --write

tweaks
  src/lib/stores/schedules.ts
  tests/integration/schedule-edit.spec.ts
  tests/integration/schedules-create.spec.ts
Due: eslint --fix, prettier --write

Workflow Search Attributes for Schedule Create/Edit (#2614)
  pnpm-lock.yaml
  src/lib/components/schedule/schedule-form-view.svelte
  src/lib/components/schedule/schedules-calendar-view.svelte
  src/lib/components/schedule/schedules-count.svelte
  src/lib/components/schedule/schedules-interval-view.svelte
  src/lib/components/schedule/schedules-search-attributes-inputs.svelte
  src/lib/components/workflow/add-search-attributes.svelte
  src/lib/components/workflow/search-attribute-input/index.svelte
  src/lib/i18n/locales/en/schedules.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/stores/schedules.ts
  src/lib/stores/search-attributes.ts
  src/lib/types/schedule.ts
  src/lib/utilities/decode-payload.ts
  tests/e2e/schedules.spec.ts
  tests/integration/disable-write-actions.spec.ts
  tests/integration/schedule-edit.spec.ts
  tests/integration/schedules-create.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/schedules.ts
  tests/test-utilities/mocks/search-attributes.ts
  tests/test-utilities/mocks/workflows-count.ts
Due: eslint --fix, prettier --write, stylelint --fix

Return on link click with ctrl/shift (#2676)
  src/lib/holocene/link.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update version.go to v2.37.1
  server/server/version/version.go
Due: none

Update version.go to v2.37.1 (#2677)
  server/server/version/version.go
Due: none

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
