Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

Bump year
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
Due: eslint --fix, prettier --write

Fix year in filter-pill test assertions to match bumped input date
  tests/integration/workflows-search-attribute-filter.desktop.spec.ts
Due: eslint --fix, prettier --write

DT-4339 Rename workflow catalog worker command
  package.json
  scripts/workflow-catalog/catalog-artifacts.test.ts
Due: eslint --fix, prettier --write

DT-4339 Cover file URL workflow module paths
  src/lib/workflow-catalog/node/runner.test.ts
Due: eslint --fix, prettier --write

DT-4338 Add workflow catalog proof examples
  src/lib/workflow-catalog/browser/catalog.generated.json
  src/lib/workflow-catalog/browser/catalog.generated.ts
  src/lib/workflow-catalog/node/examples/corpus.test.ts
  src/lib/workflow-catalog/node/examples/index.ts
  src/lib/workflow-catalog/node/examples/priority-fairness/example.ts
  src/lib/workflow-catalog/node/examples/priority-fairness/workflow.ts
  src/lib/workflow-catalog/node/examples/registrations.ts
  src/lib/workflow-catalog/node/examples/standalone-activity/activity.ts
  src/lib/workflow-catalog/node/examples/standalone-activity/example.ts
  src/lib/workflow-catalog/node/shared-registrations.ts
  src/lib/workflow-catalog/node/workflows.ts
Due: eslint --fix, prettier --write

DT-4338 Organize activity examples
  src/lib/workflow-catalog/browser/catalog.generated.json
  src/lib/workflow-catalog/browser/catalog.generated.ts
  src/lib/workflow-catalog/node/examples/activities.ts
  src/lib/workflow-catalog/node/examples/corpus.test.ts
  src/lib/workflow-catalog/node/examples/hello/example.ts
  src/lib/workflow-catalog/node/examples/hello/workflow.ts
  src/lib/workflow-catalog/node/examples/index.ts
  src/lib/workflow-catalog/node/examples/long-activity/activity.ts
  src/lib/workflow-catalog/node/examples/long-activity/example.ts
  src/lib/workflow-catalog/node/examples/long-activity/workflow.ts
  src/lib/workflow-catalog/node/examples/parallel-activities/example.ts
  src/lib/workflow-catalog/node/examples/parallel-activities/workflow.ts
  src/lib/workflow-catalog/node/examples/registrations.ts
  src/lib/workflow-catalog/node/examples/schemas.ts
  src/lib/workflow-catalog/node/examples/sequential-activities/example.ts
  src/lib/workflow-catalog/node/examples/sequential-activities/workflow.ts
  src/lib/workflow-catalog/node/examples/shared-activities.ts
  src/lib/workflow-catalog/node/examples/workflows.ts
  src/lib/workflow-catalog/node/workflows.ts
Due: eslint --fix, prettier --write

DT-4338 Organize resilient activity examples
  src/lib/workflow-catalog/browser/catalog.generated.json
  src/lib/workflow-catalog/browser/catalog.generated.ts
  src/lib/workflow-catalog/node/examples/activities.ts
  src/lib/workflow-catalog/node/examples/activity-heartbeat/activity.ts
  src/lib/workflow-catalog/node/examples/activity-heartbeat/example.ts
  src/lib/workflow-catalog/node/examples/activity-heartbeat/workflow.ts
  src/lib/workflow-catalog/node/examples/activity-retry/activity.ts
  src/lib/workflow-catalog/node/examples/activity-retry/example.ts
  src/lib/workflow-catalog/node/examples/activity-retry/workflow.ts
  src/lib/workflow-catalog/node/examples/activity-timeout/activity.ts
  src/lib/workflow-catalog/node/examples/activity-timeout/example.ts
  src/lib/workflow-catalog/node/examples/activity-timeout/workflow.ts
  src/lib/workflow-catalog/node/examples/corpus.test.ts
  src/lib/workflow-catalog/node/examples/index.ts
  src/lib/workflow-catalog/node/examples/registrations.ts
  src/lib/workflow-catalog/node/examples/schemas.ts
  src/lib/workflow-catalog/node/examples/signal-handlers/activity.ts
  src/lib/workflow-catalog/node/examples/signal-handlers/example.ts
  src/lib/workflow-catalog/node/examples/signal-handlers/workflow.ts
  src/lib/workflow-catalog/node/examples/workflows.ts
  src/lib/workflow-catalog/node/workflows.ts
Due: eslint --fix, prettier --write

DT-4338 Organize advanced workflow examples
  src/lib/workflow-catalog/browser/catalog.generated.json
  src/lib/workflow-catalog/browser/catalog.generated.ts
  src/lib/workflow-catalog/node/examples/activities.ts
  src/lib/workflow-catalog/node/examples/corpus.test.ts
  src/lib/workflow-catalog/node/examples/high-event-count/example.ts
  src/lib/workflow-catalog/node/examples/high-event-count/workflow.ts
  src/lib/workflow-catalog/node/examples/index.ts
  src/lib/workflow-catalog/node/examples/local-activity/example.ts
  src/lib/workflow-catalog/node/examples/local-activity/workflow.ts
  src/lib/workflow-catalog/node/examples/registrations.ts
  src/lib/workflow-catalog/node/examples/schemas.ts
  src/lib/workflow-catalog/node/examples/signal-collector/activity.ts
  src/lib/workflow-catalog/node/examples/signal-collector/example.ts
  src/lib/workflow-catalog/node/examples/signal-collector/workflow.ts
  src/lib/workflow-catalog/node/examples/timer-driven-repetition/example.ts
  src/lib/workflow-catalog/node/examples/timer-driven-repetition/workflow.ts
  src/lib/workflow-catalog/node/examples/workflow-patching/example.ts
  src/lib/workflow-catalog/node/examples/workflow-patching/workflow.ts
  src/lib/workflow-catalog/node/examples/workflows.ts
  src/lib/workflow-catalog/node/workflows.ts
Due: eslint --fix, prettier --write

DT-4338 Complete workflow example organization
  src/lib/workflow-catalog/browser/catalog.generated.json
  src/lib/workflow-catalog/browser/catalog.generated.ts
  src/lib/workflow-catalog/node/examples/activities.ts
  src/lib/workflow-catalog/node/examples/child-workflows/example.ts
  src/lib/workflow-catalog/node/examples/child-workflows/workflow.ts
  src/lib/workflow-catalog/node/examples/corpus.test.ts
  src/lib/workflow-catalog/node/examples/index.ts
  src/lib/workflow-catalog/node/examples/priority-fairness/example.ts
  src/lib/workflow-catalog/node/examples/priority-fairness/workflow.ts
  src/lib/workflow-catalog/node/examples/registrations.ts
  src/lib/workflow-catalog/node/examples/schemas.ts
  src/lib/workflow-catalog/node/workflows.ts
Due: eslint --fix, prettier --write

DT-4339 Rename local workflow catalog workspace
  .gitignore
  plugins/vite-plugin-workflow-catalog-local.test.ts
  plugins/vite-plugin-workflow-catalog-local.ts
  scripts/workflow-catalog/catalog-artifacts.test.ts
  scripts/workflow-catalog/catalog-artifacts.ts
  scripts/workflow-catalog/project-artifacts.ts
Due: eslint --fix, prettier --write

Set error message and add truthy check for errors
  src/lib/components/activity/activity-options-form.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(schedules): escape backslashes in recent run status query
  src/lib/components/schedule/schedule-view/workflow-runs-recent.svelte
  src/lib/services/schedule-service.test.ts
  src/lib/services/schedule-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Use NumberInput for max attempts and backoff
  src/lib/components/activity/activity-options-form.svelte
  src/lib/holocene/input/number-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(schedules): point recent run links at the run whose status is shown
  src/lib/services/schedule-service.test.ts
  src/lib/services/schedule-service.ts
  src/lib/types/schedule.ts
Due: eslint --fix, prettier --write

DT-4337 Expose workflow catalog host surfaces
  plugins/vite-plugin-workflow-catalog-local.test.ts
  plugins/vite-plugin-workflow-catalog-local.ts
  scripts/workflow-catalog/catalog-artifacts.test.ts
  scripts/workflow-catalog/catalog-artifacts.ts
  scripts/workflow-catalog/project-artifacts.ts
  src/lib/workflow-catalog/browser/catalog-client-test-runner-entry.ts
  src/lib/workflow-catalog/browser/catalog-detail.svelte
  src/lib/workflow-catalog/browser/catalog-detail.test.ts
  src/lib/workflow-catalog/browser/catalog-list.client.test.ts
  src/lib/workflow-catalog/browser/catalog-list.svelte
  src/lib/workflow-catalog/browser/catalog-list.test.ts
  src/lib/workflow-catalog/browser/catalog-sources.ts
  src/lib/workflow-catalog/browser/catalog.generated.json
  src/lib/workflow-catalog/browser/catalog.generated.ts
  src/lib/workflow-catalog/browser/readiness-loader.test.ts
  src/lib/workflow-catalog/browser/readiness-loader.ts
  src/lib/workflow-catalog/browser/session-presentation.test.ts
  src/lib/workflow-catalog/browser/session-presentation.ts
  src/lib/workflow-catalog/browser/session-store.test.ts
  src/lib/workflow-catalog/browser/start-example.test.ts
  src/lib/workflow-catalog/browser/start-example.ts
  src/lib/workflow-catalog/browser/types.ts
  src/lib/workflow-catalog/browser/workbench.svelte
  src/lib/workflow-catalog/browser/workbench.test.ts
  src/lib/workflow-catalog/node/local-registration-fallback.ts
  src/lib/workflow-catalog/node/registration-source.ts
  src/lib/workflow-catalog/node/shared-registrations.ts
  src/lib/workflow-catalog/oss/ui-services.test.ts
  src/lib/workflow-catalog/oss/workbench-host.test.ts
  src/routes/(app)/dev-tools/workflow-catalog/[exampleId]/+page.svelte
  src/routes/(app)/dev-tools/workflow-catalog/[exampleId]/page.test.ts
  src/routes/(app)/dev-tools/workflow-catalog/catalog.test.ts
  src/routes/(app)/dev-tools/workflow-catalog/catalog.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(schedules): build merged recent runs explicitly
  src/lib/services/schedule-service.ts
Due: eslint --fix, prettier --write

DT-4337 Support packaged workflow catalog workers
  scripts/workflow-catalog/catalog-artifacts.test.ts
  scripts/workflow-catalog/dev.ts
  scripts/workflow-catalog/workflow-execution-logger.test.ts
  src/lib/workflow-catalog/node/connection-config.test.ts
  src/lib/workflow-catalog/node/connection-config.ts
  src/lib/workflow-catalog/node/development.test.ts
  src/lib/workflow-catalog/node/development.ts
  src/lib/workflow-catalog/node/workflow-execution-logger.test.ts
  src/lib/workflow-catalog/node/workflow-execution-logger.ts
Due: eslint --fix, prettier --write

Fix workflow catalog command test timeouts
  scripts/workflow-catalog/catalog-artifacts.test.ts
Due: eslint --fix, prettier --write

Only pass start delay on activity update if value changes (#3798)
  src/lib/components/activity/activity-options-form.svelte
  src/lib/components/schedule/utilities/get-request-body.ts
  src/lib/holocene/input/number-input.svelte
  src/lib/i18n/locales/en/activities.ts
  src/lib/services/standalone-activities.ts
  src/lib/services/standalone-nexus-operations.ts
  src/lib/services/workflow-activities-service.ts
  src/lib/services/workflow-service.ts
  src/lib/utilities/activity-options-update-mask.test.ts
  src/lib/utilities/activity-options-update-mask.ts
  src/lib/utilities/encode-payload.ts
Due: eslint --fix, prettier --write, stylelint --fix

Scope workflow catalog to namespace routes and local dev
  src/lib/utilities/route-for-base-path.test.ts
  src/lib/utilities/route-for.test.ts
  src/lib/utilities/route-for.ts
  src/lib/workflow-catalog/browser/catalog-client-test-runner-entry.ts
  src/lib/workflow-catalog/browser/catalog-list.svelte
  src/lib/workflow-catalog/browser/catalog-list.test.ts
  src/routes/(app)/+layout.svelte
  src/routes/(app)/dev-tools/workflow-catalog/+layout.svelte
  src/routes/(app)/dev-tools/workflow-catalog/+page.svelte
  src/routes/(app)/dev-tools/workflow-catalog/context.ts
  src/routes/(app)/dev-tools/workflow-catalog/layout.test.ts
  src/routes/(app)/dev-tools/workflow-catalog/page.test.ts
  src/routes/(app)/dev-tools/workflow-catalog/workflow-catalog-provider.svelte
  src/routes/(app)/dev-tools/workflow-catalog/workflow-catalog-provider.test.ts
  src/routes/(app)/layout-workflow-catalog.test.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/+layout.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/[exampleId]/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/[exampleId]/page.test.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/catalog.test.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/catalog.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/layout.test.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/page.test.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/services.test.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/services.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add default workflow catalog worker environment
  .env.workflow-catalog
  scripts/workflow-catalog/dev.ts
Due: eslint --fix, prettier --write

Route workflow catalog namespaces by scope not registration
  .env.workflow-catalog
  plugins/vite-plugin-workflow-catalog-local.test.ts
  plugins/vite-plugin-workflow-catalog-local.ts
  scripts/workflow-catalog/catalog-artifacts.test.ts
  scripts/workflow-catalog/catalog-artifacts.ts
  scripts/workflow-catalog/dev.ts
  scripts/workflow-catalog/project-artifacts.ts
  src/env.d.ts
  src/lib/workflow-catalog/node/routing-config.test.ts
  src/lib/workflow-catalog/node/routing-config.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/catalog.test.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/catalog.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/services.test.ts
Due: eslint --fix, prettier --write

Rename workflow catalog oss host to host
  scripts/workflow-catalog/project-artifacts.ts
  src/lib/workflow-catalog/host/observation.test.ts
  src/lib/workflow-catalog/host/observation.ts
  src/lib/workflow-catalog/host/ui-services.test.ts
  src/lib/workflow-catalog/host/ui-services.ts
  src/lib/workflow-catalog/host/workbench-host.test.ts
  src/lib/workflow-catalog/host/workbench-host.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/page.test.ts
  src/routes/(app)/namespaces/[namespace]/workflow-catalog/services.ts
Due: eslint --fix, prettier --write

Add the shared Nexus greeting example with endpoint handoff
  src/lib/workflow-catalog/browser/catalog-detail.svelte
  src/lib/workflow-catalog/browser/catalog-detail.test.ts
  src/lib/workflow-catalog/browser/catalog.generated.json
  src/lib/workflow-catalog/browser/catalog.generated.ts
  src/lib/workflow-catalog/worker/examples/corpus.test.ts
  src/lib/workflow-catalog/worker/examples/index.ts
  src/lib/workflow-catalog/worker/examples/nexus-greeting/example.ts
  src/lib/workflow-catalog/worker/examples/nexus-greeting/service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make the workflow catalog development loop first class
  .env.workflow-catalog
  .env.workflow-catalog.local.example
  package.json
  plugins/vite-plugin-workflow-catalog-local.test.ts
  plugins/vite-plugin-workflow-catalog-local.ts
  scripts/workflow-catalog/catalog-artifacts.ts
  scripts/workflow-catalog/dev-with-ui.test.ts
  scripts/workflow-catalog/dev-with-ui.ts
  scripts/workflow-catalog/dev.ts
  scripts/workflow-catalog/new.ts
  scripts/workflow-catalog/scaffold.test.ts
  scripts/workflow-catalog/scaffold.ts
  src/lib/workflow-catalog/browser/catalog-detail.svelte
  src/lib/workflow-catalog/browser/catalog-detail.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

Rework the Nexus example around a caller workflow with setup instructions
  src/lib/workflow-catalog/browser/catalog-detail.client.test.ts
  src/lib/workflow-catalog/browser/catalog-detail.svelte
  src/lib/workflow-catalog/browser/catalog-detail.test.ts
  src/lib/workflow-catalog/browser/catalog.generated.json
  src/lib/workflow-catalog/browser/catalog.generated.ts
  src/lib/workflow-catalog/browser/markdown-preview-test-double.svelte
  src/lib/workflow-catalog/browser/start-example.test.ts
  src/lib/workflow-catalog/browser/types.ts
  src/lib/workflow-catalog/browser/workbench-host.ts
  src/lib/workflow-catalog/host/ui-services.test.ts
  src/lib/workflow-catalog/host/workbench-host.test.ts
  src/lib/workflow-catalog/host/workbench-host.ts
  src/lib/workflow-catalog/worker/examples/corpus.test.ts
  src/lib/workflow-catalog/worker/examples/nexus-greeting/example.ts
  src/lib/workflow-catalog/worker/examples/nexus-greeting/handler.ts
  src/lib/workflow-catalog/worker/examples/nexus-greeting/service.ts
  src/lib/workflow-catalog/worker/examples/nexus-greeting/workflow.ts
  src/lib/workflow-catalog/worker/registry.test.ts
  src/lib/workflow-catalog/worker/registry.ts
  src/lib/workflow-catalog/worker/workflows.ts
  src/markdown.reset.css
Due: eslint --fix, prettier --write, stylelint --fix

Harden catalog worker startup and provision declared Nexus endpoints
  .env.workflow-catalog
  .env.workflow-catalog.local.example
  scripts/workflow-catalog/dev-with-ui.ts
  scripts/workflow-catalog/dev.ts
  src/lib/workflow-catalog/worker/connection-retry.test.ts
  src/lib/workflow-catalog/worker/connection-retry.ts
  src/lib/workflow-catalog/worker/endpoint-provisioning.test.ts
  src/lib/workflow-catalog/worker/endpoint-provisioning.ts
  utilities/temporal-server.ts
Due: eslint --fix, prettier --write

Announce the running workflow catalog in a colored banner
  scripts/workflow-catalog/dev.ts
  src/lib/workflow-catalog/worker/startup-banner.test.ts
  src/lib/workflow-catalog/worker/startup-banner.ts
Due: eslint --fix, prettier --write

Unify workflow catalog CLI and assemblies
  package.json
  scripts/workflow-catalog/canonical-assemblies.test.ts
  scripts/workflow-catalog/canonical-assemblies.ts
  scripts/workflow-catalog/directory-promotion.test.ts
  scripts/workflow-catalog/directory-promotion.ts
  scripts/workflow-catalog/local-assemblies.test.ts
  scripts/workflow-catalog/local-assemblies.ts
  scripts/workflow-catalog/scaffold.test.ts
  scripts/workflow-catalog/scaffold.ts
  scripts/workflow-catalog/workflow-catalog-cli.test.ts
  scripts/workflow-catalog/workflow-catalog-cli.ts
  src/lib/workflow-catalog/browser/catalog.generated.json
  src/lib/workflow-catalog/browser/catalog.generated.ts
  src/lib/workflow-catalog/worker/examples/activity-heartbeat/example.ts
  src/lib/workflow-catalog/worker/examples/activity-retry/example.ts
  src/lib/workflow-catalog/worker/examples/activity-timeout/example.ts
  src/lib/workflow-catalog/worker/examples/child-workflows/example.ts
  src/lib/workflow-catalog/worker/examples/corpus.test.ts
  src/lib/workflow-catalog/worker/examples/hello/example.ts
  src/lib/workflow-catalog/worker/examples/high-event-count/example.ts
  src/lib/workflow-catalog/worker/examples/index.ts
  src/lib/workflow-catalog/worker/examples/local-activity/example.ts
  src/lib/workflow-catalog/worker/examples/long-activity/example.ts
  src/lib/workflow-catalog/worker/examples/nexus-greeting/example.ts
  src/lib/workflow-catalog/worker/examples/parallel-activities/example.ts
  src/lib/workflow-catalog/worker/examples/priority-fairness/example.ts
  src/lib/workflow-catalog/worker/examples/sequential-activities/example.ts
  src/lib/workflow-catalog/worker/examples/signal-collector/example.ts
  src/lib/workflow-catalog/worker/examples/signal-handlers/example.ts
  src/lib/workflow-catalog/worker/examples/standalone-activity/example.ts
  src/lib/workflow-catalog/worker/examples/timer-driven-repetition/example.ts
  src/lib/workflow-catalog/worker/examples/workflow-patching/example.ts
  src/lib/workflow-catalog/worker/registry.ts
  src/lib/workflow-catalog/worker/workflows.ts
Due: eslint --fix, prettier --write

fix(schedules): resolve recent run statuses from visibility (#3799)
  src/lib/components/schedule/schedule-view/workflow-runs-recent.svelte
  src/lib/services/schedule-service.test.ts
  src/lib/services/schedule-service.ts
  src/lib/services/workflow-service.ts
  src/lib/types/schedule.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix workflow catalog CLI test race
  scripts/workflow-catalog/workflow-catalog-cli.test.ts
Due: eslint --fix, prettier --write

Show run counts in schedule workflow runs labels
  src/lib/components/schedule/schedule-view/schedule-view.svelte
  src/lib/components/schedule/schedule-view/workflow-runs-card.svelte
  src/lib/components/schedule/schedule-view/workflow-runs-upcoming.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/schedules.ts
  src/lib/services/schedule-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Use sentence case and always show the count in the view all runs link
  src/lib/components/schedule/schedule-view/workflow-runs-card.svelte
  src/lib/i18n/locales/en/common.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update upcoming runs empty state copy
  src/lib/i18n/locales/en/schedules.ts
Due: eslint --fix, prettier --write

Bump api to v1.63.5
  server/go.mod
  server/go.sum
Due: none

fix(events): keep pending state and compact rows in step with content
  src/lib/components/event/event-summary-table.svelte
  src/lib/services/grouped-event-buffer.test.ts
  src/lib/services/grouped-event-buffer.ts
  tests/integration/workflow-history-compact-live.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(events): trim the comments from the review fixes
  src/lib/components/event/event-summary-table.svelte
  src/lib/services/grouped-event-buffer.test.ts
  src/lib/services/grouped-event-buffer.ts
  tests/integration/workflow-history-compact-live.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(auth): derive auth cookie Secure attribute from the OIDC callback URL
  server/server/auth/auth.go
  server/server/auth/auth_test.go
  server/server/route/auth.go
  server/server/route/auth_test.go
Due: none

fix: align heading/timestamp spacing across namespace list headers
  src/lib/layouts/workers-layout.svelte
  src/lib/pages/standalone-activities.svelte
  src/lib/pages/standalone-nexus-operations.svelte
Due: eslint --fix, prettier --write, stylelint --fix
