Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Add check for firstExecutionRun, pass to terminate, update SplitButton
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/client-actions/terminate-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/services/workflow-service.ts
  src/lib/utilities/get-workflow-relationships.test.ts
  src/lib/utilities/get-workflow-relationships.ts
Due: eslint --fix, prettier --write, stylelint --fix

add some tests for the dark-mode file
  src/lib/utilities/dark-mode/dark-mode.test.ts
Due: eslint --fix, prettier --write

Revert to old first logic
  src/lib/services/workflow-service.ts
  src/lib/utilities/get-workflow-relationships.ts
Due: eslint --fix, prettier --write

use original default value from .env
  src/lib/utilities/dark-mode/dark-mode.ts
Due: eslint --fix, prettier --write

Revert test
  src/lib/utilities/get-workflow-relationships.test.ts
Due: eslint --fix, prettier --write

OAUTH Additional claims
  go.work
  go.work.sum
  server/config/development.yaml
  server/server/auth/oidc.go
  server/server/auth/oidc_test.go
  server/server/config/config.go
  server/server/route/auth.go
Due: none

OAUTH Additional claims
  go.work
  go.work.sum
Due: none

OAUTH Additional claims
  server/docker/README.md
Due: prettier --write

OAUTH Additional claims
  server/server/auth/oidc.go
Due: none

OAUTH Additional claims
  server/config/docker.yaml
Due: none

use svelte5, tidy up
  src/lib/components/dark-mode-icon-button.svelte
  src/lib/components/dark-mode-navigation-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Refactor configurable table columns store (#2723)
  src/lib/components/workflow/configurable-table-headers-drawer/orderable-list.svelte
  src/lib/holocene/holocene-components.json
  src/lib/holocene/orderable-list/orderable-list-item.svelte
  src/lib/holocene/orderable-list/orderable-list.stories.svelte
  src/lib/holocene/orderable-list/orderable-list.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/stores/configurable-table-columns.test.ts
  src/lib/stores/configurable-table-columns.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fetch latest run id if there's a next execution
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-header.svelte
  src/lib/services/workflow-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add next check for termination
  src/lib/components/workflow-actions.svelte
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update integration tests with terminate button
  tests/integration/workflow-actions.spec.ts
  tests/test-utilities/mocks/event-history.ts
  tests/test-utilities/mocks/workflow.ts
Due: eslint --fix, prettier --write

Reset selection of workflows list on namespace/query/perPage/refresh
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Reset selection of workflows list on namespace/query/perPage/refresh (#2726)
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

switch components back to legacy mode
  src/lib/components/workflow/metadata/workflow-current-details.svelte
  src/lib/components/workflow/metadata/workflow-summary-and-details.svelte
  src/lib/components/workflow/workflow-callbacks.svelte
  src/lib/holocene/accordion/accordion-light.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add docker config template to the image.
  server/Dockerfile
Due: none

Show summary on pending activities
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add docker config template to the image. (#2727)
  server/Dockerfile
Due: none

Fix sticky div blocking click, fix showing expanded row on readOnly, fix border
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Show Summary on Pending Activities (#2729)
  src/lib/components/lines-and-dots/svg/group-details-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add types to Card
  src/lib/holocene/card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add types to Card (#2730)
  src/lib/holocene/card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

How this fixes anything I do not know
  package.json
Due: prettier --write

How this fixes anything I do not know (#2731)
  package.json
Due: prettier --write

Fix labs icon
  src/lib/holocene/icon/svg/labs.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix type collision
  src/lib/holocene/toaster.svelte
  src/lib/pages/nexus-endpoint.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix type collision (#2733)
  src/lib/holocene/toaster.svelte
  src/lib/pages/nexus-endpoint.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update pill files
  src/lib/holocene/pill-container/pill-container.svelte
  src/lib/holocene/pill-container/pill.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update children type to snippet
  src/lib/holocene/accordion/accordion-group.svelte
Due: eslint --fix, prettier --write, stylelint --fix

try to fix storybook
  src/lib/holocene/pill-container/pill-container.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update storybook
  src/lib/holocene/pill-container/pill-container.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

try to fix test
  src/lib/holocene/pill-container/pill-container.stories.svelte
  src/lib/holocene/pill-container/pill-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

rm arg
  src/lib/holocene/pill-container/pill-container.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

make work as expected
  src/lib/holocene/pill-container/pill-container.stories.svelte
  src/lib/holocene/pill-container/pill-container.svelte
  src/lib/holocene/pill-container/pill.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
