Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Remove double encoding
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write

Add version check for double encoding
  package.json
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write

Remove console log and version tag
  package.json
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write

Update data store version
  src/lib/svelte-mocks/app/stores.ts
Due: eslint --fix, prettier --write

Remove double encoding for API URL parameters (#2189)
  src/lib/svelte-mocks/app/stores.ts
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write

2.28.0
  package.json
Due: prettier --write

Pass required to Select
  src/lib/holocene/select/select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use required styling in Label component for Combobox
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Pass class prop to Option
  src/lib/holocene/select/option.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add leading slot to Select
  src/lib/holocene/select/select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Dont use mock page, use real page
  src/lib/components/workflow/download-event-history-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Dont use mock page, use real page (#2193)
  src/lib/components/workflow/download-event-history-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

2.28.1
  package.json
Due: prettier --write

Use api version with fallback api routes that include /api/v1
  go.work
  server/go.mod
  server/go.sum
Due: none

Update api dependencies, style updates, allow target namespace in caller namespaces
  go.work.sum
  package.json
  server/go.sum
  server/server/route/api.go
  src/lib/components/nexus-guard.svelte
  src/lib/i18n/locales/en/nexus.ts
  src/lib/pages/nexus-create-endpoint.svelte
  src/lib/pages/nexus-edit-endpoint.svelte
  src/lib/pages/nexus-endpoint.svelte
  src/lib/pages/nexus-endpoints.svelte
  src/lib/pages/nexus-form.svelte
  src/lib/utilities/route-for-api.ts
  src/routes/(app)/nexus/+layout.svelte
  src/routes/(app)/nexus/[id]/+page.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix allowedCallerNamespace and delete before submit
  package.json
  src/lib/pages/nexus-form.svelte
  src/routes/(app)/nexus/[id]/edit/+page.svelte
  src/routes/(app)/nexus/create/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove defined width on Select
  src/lib/holocene/select/select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add action slot to Combobox
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Mobile updates to BottomNav
  package.json
  pnpm-lock.yaml
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/data-encoder-settings.svelte
  src/lib/components/data-encoder-status.svelte
  src/lib/components/top-nav.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/main-content-container.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/scroll-to-bottom.svelte
  src/lib/holocene/scroll-to-container.svelte
  src/lib/holocene/scroll-to-top.svelte
  src/lib/i18n/locales/en/data-encoder.ts
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/schedules.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update to use Input component
  src/lib/pages/schedule-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Better button styles, refactor linkList
  package.json
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/import/event-history-file-import.svelte
  src/lib/components/side-nav.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/pages/import-events-view.svelte
  src/lib/pages/import-events.svelte
  src/lib/theme/colors.ts
  src/lib/types/global.ts
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add hidden prop, add namspace search
  package.json
  src/lib/components/bottom-nav-links.svelte
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/side-nav.svelte
  src/lib/types/global.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update to use Input component (#2195)
  src/lib/pages/schedule-view.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix settings button
  package.json
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix codec closing, fix sticky search, dropShadow
  package.json
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix avatar size
  package.json
  src/lib/components/bottom-nav.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix min-w
  package.json
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Make font size in Select same as Input
  src/lib/holocene/select/select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Autofocus input on namespace search, add padding to lines and dots to view full timestamps, remove scroll container on sm screens
  src/lib/components/bottom-nav-namespaces.svelte
  src/lib/holocene/scroll-to-container.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/routes/(app)/+layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Always show namespace switcher and fix red banner for codec error to be readable in dark mode
  src/lib/components/bottom-nav-settings.svelte
  src/lib/components/bottom-nav.svelte
  src/lib/components/top-nav.svelte
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Select component Holocene updates (#2191)
  src/lib/components/top-nav.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/select/option.svelte
  src/lib/holocene/select/select.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove tag in version
  package.json
Due: prettier --write

2.28.2
  package.json
Due: prettier --write

Set min height for sideNav for rotated screens
  src/lib/holocene/navigation/navigation-container.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update tests
  src/lib/holocene/navigation/navigation-item.svelte
  tests/integration/data-encoder.spec.ts
  tests/integration/workflow-navigation.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix test string text
  tests/integration/data-encoder.spec.ts
Due: eslint --fix, prettier --write

Bump verison
  package.json
Due: prettier --write

Switch back to using old api routes
  server/server/csrf/skipper_test.go
  server/server/route/api.go
  src/lib/models/event-history/get-event-categorization.test.ts
  src/lib/services/batch-service.test.ts
  src/lib/services/namespaces-service.test.ts
  src/lib/services/workflow-service.test.ts
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for-api.test.ts
  src/lib/utilities/route-for-api.ts
  tests/accessibility/empty-states.accessibility.spec.ts
  tests/accessibility/network-requests/empty-states.har
  tests/accessibility/network-requests/with-schedules.har
  tests/accessibility/network-requests/with-workflows.har
  tests/accessibility/with-schedules.accessibility.spec.ts
  tests/accessibility/with-workflows.accessibility.spec.ts
  tests/test-utilities/mocks/batch-operations.ts
  tests/test-utilities/mocks/cluster.ts
  tests/test-utilities/mocks/namespace.ts
  tests/test-utilities/mocks/namespaces.ts
  tests/test-utilities/mocks/query.ts
  tests/test-utilities/mocks/schedules.ts
  tests/test-utilities/mocks/search-attributes.ts
  tests/test-utilities/mocks/settings.ts
  tests/test-utilities/mocks/system-info.ts
  tests/test-utilities/mocks/task-queues.ts
  tests/test-utilities/mocks/workflow.ts
  tests/test-utilities/mocks/workflows-count.ts
  tests/test-utilities/mocks/workflows.ts
Due: eslint --fix, prettier --write

Bump version again
  package.json
Due: prettier --write

Remove preview toggle for markdown, respect new line characters
  package.json
  src/lib/holocene/markdown.svelte
  src/lib/pages/nexus-endpoint.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
