Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

Update src/lib/theme/variables.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write

Format changes
  src/lib/theme/utilities.ts
Due: eslint --fix, prettier --write

Update labs.svelte
  src/lib/holocene/icon/svg/labs.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Simplify CSS variables for light and dark mode (#2106)
  src/lib/holocene/icon/svg/labs.svelte
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/types.d.ts
  src/lib/theme/utilities.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write, stylelint --fix

Initial setup of Start Workflow page. Includes error messages, task queue status check, generate workflow id, and quick jump to start workflow with search params
  src/lib/components/workflow/start-workflow-button.svelte
  src/lib/holocene/alert.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/services/workflow-service.ts
  src/lib/utilities/route-for.ts
  src/routes/(app)/namespaces/[namespace]/workflows/start-workflow/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fetch previous input and upload json
  src/lib/components/workflow/start-workflow-button.svelte
  src/lib/components/workflow/start-workflow-input-upload.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-header-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/events-service.ts
  src/lib/services/workflow-service.ts
  src/lib/utilities/route-for-api.ts
Due: eslint --fix, prettier --write, stylelint --fix

send resetType in req body for batch reset
  src/lib/services/batch-service.ts
Due: eslint --fix, prettier --write

default reset type to first, clear up reason hint text
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

send resetType in request body for batch reset (#2110)
  src/lib/components/workflow/client-actions/batch-reset-confirmation-modal.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/services/batch-service.ts
Due: eslint --fix, prettier --write, stylelint --fix

2.27.4
  package.json
Due: prettier --write

2.27.4 (#2111)
  package.json
Due: prettier --write

Update and consolidate surface colors
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/workflow-error.svelte
  src/lib/components/panel.svelte
  src/lib/components/schedule/schedule-basic-frequency.svelte
  src/lib/components/workflow/dropdown-filter/conditional.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/card.svelte
  src/lib/holocene/copyable/button.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/filter-or-copy-buttons.svelte
  src/lib/holocene/icon-button.svelte
  src/lib/holocene/label.svelte
  src/lib/holocene/navigation/navigation-button.svelte
  src/lib/holocene/navigation/navigation-container.svelte
  src/lib/holocene/navigation/navigation-item.svelte
  src/lib/holocene/toast.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/layouts/workflow-history-layout-v2.svelte
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update text colors
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update border colors
  src/lib/components/panel.svelte
  src/lib/holocene/alert.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/empty-state.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/pagination.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update shadow colors
  src/lib/holocene/button.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove unnecessary colors
  src/lib/components/event/event-summary-row.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/toast.svelte
  src/lib/theme/colors.ts
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

remove import from protos, use custom enum
  src/lib/services/batch-service.ts
Due: eslint --fix, prettier --write

remove import from protos, use custom enum (#2112)
  src/lib/services/batch-service.ts
Due: eslint --fix, prettier --write

2.27.5
  package.json
Due: prettier --write

2.27.5 (#2113)
  package.json
Due: prettier --write

Fix box shadow color
  src/lib/holocene/button.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove copyable tooltip
  src/lib/holocene/tooltip.stories.svelte
  src/lib/holocene/tooltip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix issue where close button cannot be seen on dark drawers
  src/lib/holocene/drawer.svelte
  src/lib/holocene/icon-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add inputs for specific search attributes
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/start-workflow-search-attribute-input.svelte
  src/lib/components/workflow/start-workflow-search-attributes.svelte
  src/lib/holocene/select/option.svelte
  src/lib/holocene/select/select.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/start-workflow.svelte
  src/lib/services/workflow-service.ts
  src/lib/stores/search-attributes.ts
  src/lib/utilities/encode-payload.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update drawer.stories.svelte
  src/lib/holocene/drawer.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Disable buttons if user doesn't have namespace access or write is disabled
  src/lib/components/workflow-actions.svelte
  src/lib/components/workflow/start-workflow-button.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workflows.ts
  src/lib/pages/start-workflow.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/utilities/workflow-create-disabled.ts
Due: eslint --fix, prettier --write, stylelint --fix

Use ring instead of box shadow
  src/lib/holocene/button.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/link.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/theme/plugin.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove stupid not needed css classes
  src/lib/components/workflow/start-workflow-input-upload.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update WorkflowStatus colors
  src/lib/components/event/event-history-timeline.svelte
  src/lib/components/heart-beat-indicator.svelte
  src/lib/components/workflow-status.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix simple TableHeaderRow
  src/lib/holocene/table/table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove copyable tooltip (#2114)
  src/lib/holocene/tooltip.stories.svelte
  src/lib/holocene/tooltip.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Input updates based on designs
  src/lib/holocene/chip.svelte
  src/lib/holocene/input/chip-input.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/input/number-input.svelte
  src/lib/holocene/input/range-input.stories.svelte
  src/lib/holocene/input/range-input.svelte
  src/lib/holocene/textarea.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix table headers and various text and bg colors
  src/lib/holocene/button.svelte
  src/lib/holocene/date-picker.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/holocene/table/paginated-table.svelte
  src/lib/holocene/table/table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix issue where close button cannot be seen on dark drawers (#2115)
  src/lib/holocene/drawer.stories.svelte
  src/lib/holocene/drawer.svelte
  src/lib/holocene/icon-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update button styles to match designs
  src/lib/components/workflow/workflows-summary-configurable-table/batch-actions.svelte
  src/lib/holocene/button.svelte
  src/lib/holocene/day-of-month-picker.svelte
  src/lib/holocene/day-of-week-picker.svelte
  src/lib/holocene/month-picker.svelte
  src/lib/holocene/toggle-button/toggle-button.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove disabled color variables, update placeholder text and update Pill component
  src/lib/components/event/event-detail-pills.svelte
  src/lib/components/pill.svelte
  src/lib/holocene/api-pagination.svelte
  src/lib/holocene/calendar.svelte
  src/lib/holocene/combobox/combobox.svelte
  src/lib/holocene/input/input.svelte
  src/lib/holocene/menu/menu-item.svelte
  src/lib/holocene/pagination.svelte
  src/lib/holocene/tab/tab.svelte
  src/lib/theme/plugin.ts
  src/lib/theme/variables.ts
  src/lib/types/global.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update checkbox and radio input
  src/lib/holocene/checkbox.svelte
  src/lib/holocene/radio-input/radio-input.svelte
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

use binding instead of on:change for reset reapply checkbox
  src/lib/components/workflow/client-actions/reset-confirmation-modal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update toggle switch
  src/lib/holocene/toggle-switch.svelte
  src/lib/theme/plugin.ts
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
