Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

stringify error
  src/lib/components/payload/payload-code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

codec server request URL
  src/lib/services/data-encoder.ts
Due: eslint --fix, prettier --write

add test
  src/lib/services/data-encoder.test.ts
Due: eslint --fix, prettier --write

fix other tests
  src/lib/utilities/decode-payload.test.ts
Due: eslint --fix, prettier --write

Fix codec server request URL (#3400)
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
  src/lib/utilities/decode-payload.test.ts
Due: eslint --fix, prettier --write

feat(history): show Nexus operation name in compact view alongside Activity and Update
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Due: eslint --fix, prettier --write

refactor(history): deprioritize Nexus 'operation' by folding it into preferredSummaryKeys.
  src/lib/utilities/get-single-attribute-for-event.ts
Due: eslint --fix, prettier --write

Fix: update test to reflect new data shape.
  src/lib/utilities/get-single-attribute-for-event.test.ts
Due: eslint --fix, prettier --write

Use StatusCounts component for both workflow and standalone activities
  src/lib/components/standalone-activities/activity-counts.svelte
  src/lib/components/status-counts.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/standalone-activities.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Don't add abortController when liveUpdates paused
  src/lib/layouts/workflow-history-layout.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/layouts/workflow-timeline-layout.svelte
  src/lib/stores/events.ts
  tests/integration/workflow-event-history.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make input from schedule result actually a string and update tests
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
  tests/integration/schedule-edit.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/schedules.ts
Due: eslint --fix, prettier --write, stylelint --fix

Make input from schedule result actually a string and update tests (#3403)
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
  tests/integration/schedule-edit.spec.ts
  tests/test-utilities/mock-apis.ts
  tests/test-utilities/mocks/schedules.ts
Due: eslint --fix, prettier --write, stylelint --fix

Return if abortController is aborted
  src/lib/layouts/workflow-run-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(history): show Nexus operation name in compact view (#3394)
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Due: eslint --fix, prettier --write

Set color-scheme explicitly
  src/app.css
Due: stylelint --fix

Fix strict errors
  src/lib/components/status-counts.svelte
  src/lib/utilities/get-activity-status-and-count.ts
  src/lib/utilities/get-group-status-and-count.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: reinstate codec-server-error-banner
  src/lib/components/codec-server-error-banner.svelte
  src/lib/components/schedule/schedule-form/form.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/start-workflow.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add top margin (#3392)
  src/lib/pages/standalone-activities.svelte
  src/lib/pages/workflows-with-new-search.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor: replace PayloadDecoder and MetadataDecoder with unified Payload component (#3299)
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-row.svelte
  src/lib/components/event/event-metadata-expanded.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/metadata-decoder.svelte
  src/lib/components/event/payload-decoder.svelte
  src/lib/components/lines-and-dots/svg/group-details-text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-decoder.svelte
  src/lib/components/payload/payload-inline.svelte
  src/lib/components/payload/payload-summary.svelte
  src/lib/components/schedule/schedule-form/schedule-input-payload.svelte
  src/lib/components/schedule/schedule-input.svelte
  src/lib/components/standalone-activities/activity-input-and-outcome.svelte
  src/lib/components/workflow/client-actions/update-confirmation-modal.svelte
  src/lib/components/workflow/input-and-results-payload.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/workflow-json-navigator.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/pages/standalone-activity-details.svelte
  src/lib/pages/standalone-activity-metadata.svelte
  src/lib/pages/standalone-activity-search-attributes.svelte
  src/lib/pages/workflow-memo.svelte
  src/lib/pages/workflow-metadata.svelte
  src/lib/pages/workflow-search-attributes.svelte
  src/lib/services/data-encoder.ts
  src/lib/services/workflow-service.ts
  src/lib/types/workflows.ts
  src/lib/utilities/decode-local-activity.ts
  src/lib/utilities/decode-payload.ts
  src/lib/utilities/get-single-attribute-for-event.ts
  src/lib/utilities/get-started-completed-and-task-failed-events.test.ts
  src/lib/utilities/get-started-completed-and-task-failed-events.ts
  src/routes/(app)/nexus/[id]/+layout.ts
  temporal/activities/index.ts
  temporal/activities/multi.ts
  temporal/client.ts
  temporal/workflows.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add error handling to date utility functions
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write

Move Create Schedule button to header row (#3390)
  src/lib/components/search-attribute-filter/search-attribute-menu.svelte
  src/lib/pages/schedules.svelte
Due: eslint --fix, prettier --write, stylelint --fix

wip
  src/lib/components/lines-and-dots/svg/timeline-collapsed-overlay.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-new.svelte
  src/lib/components/lines-and-dots/timeline-graph/timeline-scale.svelte.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline.svelte.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline/build-time-segments.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline/model.svelte.ts
  src/lib/components/lines-and-dots/timeline-graph/timeline/types.ts
  src/lib/components/lines-and-dots/timeline-graph/timespan.ts
  src/lib/components/lines-and-dots/timeline-graph/viewport/context.ts
  src/lib/components/lines-and-dots/timeline-graph/viewport/model.svelte.ts
  src/lib/components/lines-and-dots/timeline-graph/viewport/viewport.svelte
  src/lib/utilities/array.ts
  src/lib/utilities/format-time.test.ts
  src/lib/utilities/format-time.ts
Due: eslint --fix, prettier --write, stylelint --fix

remove codec server error banner from workflow header layout only
  src/lib/components/payload/payload-code-block.svelte
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add error and retry state to payload inline
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-inline.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix groupValues type
  src/lib/types/workflows.ts
  src/lib/utilities/get-activity-status-and-count.ts
  src/lib/utilities/get-group-status-and-count.ts
Due: eslint --fix, prettier --write

Refactor status counts and refresh button (#3402)
  src/lib/components/standalone-activities/activity-count-refresh.svelte
  src/lib/components/standalone-activities/activity-counts.svelte
  src/lib/components/status-counts.svelte
  src/lib/layouts/workers-layout.svelte
  src/lib/pages/schedule-view.svelte
  src/lib/pages/standalone-activities.svelte
  src/lib/pages/workflows-with-new-search.svelte
  src/lib/stores/workflows.ts
  src/lib/types/workflows.ts
  src/lib/utilities/get-activity-status-and-count.ts
  src/lib/utilities/get-group-status-and-count.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add billable actions count to details page
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/standalone-activities/activity-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add attempt number for closed activities as well
  src/lib/pages/standalone-activity-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update header spacing
  src/lib/components/standalone-activities/activity-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(history): prioritize operation over input so Nexus events show the operation name in compact view.
  src/lib/utilities/get-single-attribute-for-event.ts
Due: eslint --fix, prettier --write

test(history): assert NexusOperationScheduled compact summary resolves to operation.
  src/lib/utilities/get-single-attribute-for-event.test.ts
Due: eslint --fix, prettier --write

simplify retry
  src/lib/components/payload/payload-decoder.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add comments and clean up untrack call
  src/lib/components/payload/payload-decoder.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix double loading spinners in button
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

hide trailing icon with css so it preserves button width
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix double loader button (#3407)
  src/lib/holocene/button.stories.svelte
  src/lib/holocene/button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Payload rendering and error optimizations (#3401)
  src/lib/components/payload/payload-code-block.svelte
  src/lib/components/payload/payload-decoder.svelte
  src/lib/components/payload/payload-inline.svelte
  src/lib/layouts/workflow-header.svelte
  src/lib/services/data-encoder.test.ts
  src/lib/services/data-encoder.ts
  src/lib/utilities/decode-payload.test.ts
Due: eslint --fix, prettier --write, stylelint --fix

add codec server error banner back to workflow layout
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add codec server error banner back to workflow layout (#3408)
  src/lib/layouts/workflow-header.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Nxs operation/kt (#3406)
  src/lib/utilities/get-single-attribute-for-event.test.ts
  src/lib/utilities/get-single-attribute-for-event.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
