Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.45.0
  package.json
  server/server/version/version.go
Due: prettier --write

Nav icons fix/kt (#3127)
  src/lib/holocene/icon/svg/collapse.svelte
  src/lib/holocene/icon/svg/folders.svelte
  src/lib/holocene/icon/svg/identities.svelte
  src/lib/holocene/icon/svg/key.svelte
  src/lib/holocene/icon/svg/overview.svelte
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Use capture to catch scroll events
  src/lib/holocene/portal/portal.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix: address TypeScript errors from PR review
  src/lib/components/workflow/workflow-call-stack-error.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/stores/workflow-run.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(auth): align refresh token lifecycle with IdP and add logout
  ARCHITECTURE_REFACTOR_TODO.md
  TESTING_TOKEN_REFRESH.md
  server/server/auth/auth.go
  server/server/route/auth.go
  src/lib/stores/auth-user.ts
  src/lib/utilities/auth-refresh.ts
  utilities/oidc-server/support/configuration.ts
Due: eslint --fix, prettier --write

fix(types): resolve strict TypeScript errors in utilities and OIDC server
  src/lib/utilities/request-from-api.ts
  src/lib/utilities/route-for.ts
  utilities/oidc-server/routes/express.ts
  utilities/oidc-server/server.ts
  utilities/oidc-server/support/account.ts
Due: eslint --fix, prettier --write

Add env variable to disable workflow pause
  server/config/development.yaml
  server/config/docker.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/services/settings-service.ts
  src/lib/svelte-mocks/app/stores.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/get-codec.test.ts
  src/lib/utilities/workflow-pause-enabled.ts
  src/routes/(app)/namespaces/[namespace]/+page.svelte
  tests/test-utilities/mocks/settings.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(auth): add configurable max session duration
  server/config/with-auth.yaml
  server/server/auth/auth.go
  server/server/config/config.go
  server/server/route/auth.go
  utilities/oidc-server/support/configuration.ts
Due: eslint --fix, prettier --write

docs(skill): expand max session duration documentation
  .claude/skills/auth-testing/SKILL.md
Due: prettier --write

chore: add .claude settings and skills to version control
  .claude/settings.local.json
  .gitignore
Due: prettier --write

feat(auth): add configurable max session duration (#3091)
  .claude/settings.local.json
  .claude/skills/auth-testing/SKILL.md
  .gitignore
  server/config/with-auth.yaml
  server/server/auth/auth.go
  server/server/config/config.go
  server/server/route/auth.go
  utilities/oidc-server/support/configuration.ts
Due: eslint --fix, prettier --write

fix(auth): validateJWT should fail when verifier not configured
  server/server/auth/auth.go
  server/server/auth/auth_test.go
Due: none

docs(auth): add comprehensive authentication documentation
  AUTHENTICATION.md
  README.md
  TESTING_TOKEN_REFRESH.md
Due: prettier --write

docs(security): create team-ready security refactor plan
  ARCHITECTURE_REFACTOR_TODO.md
  SECURITY_REFACTOR_PLAN.md
Due: prettier --write

New worker nav items
  .gitignore
  .serena/project.yml
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/deployments.svelte
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.server.ts
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workers/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Dont use url params
  src/routes/(app)/+layout.svelte
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.server.ts
  src/routes/(app)/namespaces/[namespace]/worker-deployments/+page.svelte
  src/routes/(app)/namespaces/[namespace]/workers/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update from freeze to auto refresh
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Migrate to svelte 5
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Remove postcss and use twMerge
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix strict errors
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(auth): prevent breaking changes in token validation and error handling
  server/server/auth/auth.go
  server/server/auth/auth_test.go
  server/server/route/ui.go
  src/lib/utilities/handle-error.test.ts
  src/lib/utilities/handle-error.ts
  src/lib/utilities/request-from-api.ts
Due: eslint --fix, prettier --write

fix(auth): fix nil deref in SetUser, harden refresh endpoint security
  server/server/auth/auth.go
  server/server/route/auth.go
Due: none

fix(auth): clear session_start on logout, remove dead routeForSsoRedirect
  server/server/route/auth.go
  src/lib/utilities/route-for.ts
Due: eslint --fix, prettier --write

chore: stop tracking .claude/settings.local.json
  .claude/settings.local.json
Due: prettier --write

chore: remove planning docs from repo, moved to local docs/
  ARCHITECTURE_REFACTOR_TODO.md
  AUTHENTICATION.md
  SECURITY_REFACTOR_PLAN.md
  TESTING_TOKEN_REFRESH.md
Due: prettier --write

fix(auth): restore dynamic refresh token cookie lifetime
  REVIEW_SUMMARY.md
  server/server/auth/auth.go
Due: prettier --write

fix: prevent 'No Workers Running' flash during workflow load (#3131)
  src/lib/components/workflow/workflow-call-stack-error.svelte
  src/lib/layouts/workflow-run-layout.svelte
  src/lib/stores/workflow-run.ts
Due: eslint --fix, prettier --write, stylelint --fix

Auto refresh UI update (#3137)
  src/lib/i18n/locales/en/workflows.ts
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.45.1
  package.json
  server/server/version/version.go
Due: prettier --write

Add logo back
  src/lib/holocene/navigation/oss-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix font and logo
  src/lib/holocene/navigation/cloud-nav-bar.svelte
  src/lib/holocene/navigation/oss-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add logo back (#3142)
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix indentation and conditionally render logo
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix logo in Cloud
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix logo in Cloud (#3144)
  src/lib/holocene/navigation/cloud-nav-bar.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
