Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix", "prettier --write"],
  "*.{css,postcss}": ["stylelint --fix"],
  "*.svelte": ["eslint --fix", "prettier --write", "stylelint --fix"],
  "*.{json,md}": "prettier --write"
}

update payload-input to use codeblock onChange callback
  src/lib/components/payload-input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

convert code-block to svelte5 and refactor
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/custom-extensions.ts
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

handle tabbing away from maximized code block
  src/lib/holocene/maximizable/maximizable.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix accessibility error: scroller must be focusable
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/custom-extensions.ts
Due: eslint --fix, prettier --write, stylelint --fix

match existing types for copyable prop
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

tweak code-block stories
  src/lib/holocene/code-block.stories.svelte
Due: eslint --fix, prettier --write, stylelint --fix

update codeblock to use onChange callback instead of raising change event
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

escape to close
  src/lib/holocene/code-block.svelte
  src/lib/holocene/maximizable/maximizable.svelte
Due: eslint --fix, prettier --write, stylelint --fix

code tweaks from PR
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

increase z-index of maximized element
  src/lib/holocene/maximizable/maximizable.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add maximizable component
  src/lib/holocene/maximizable/button.svelte
  src/lib/holocene/maximizable/index.ts
  src/lib/holocene/maximizable/maximizable.svelte
Due: eslint --fix, prettier --write, stylelint --fix

add maximizable to code-block component
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
  src/lib/vendor/codemirror/theme.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove borders on tables
  src/lib/components/event/event-group-details.svelte
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/event/pending-activity-summary-row.svelte
  src/lib/components/event/pending-nexus-summary-row.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-row.svelte
  src/lib/holocene/table/paginated-table/index.svelte
  src/lib/holocene/table/table.svelte
  src/lib/pages/workflow-history-event.svelte
Due: eslint --fix, prettier --write, stylelint --fix

export prop types for storybook
  src/lib/holocene/code-block.stories.svelte
  src/lib/holocene/code-block.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Revert #2709 due to CORS Issues (#2772)
  server/go.mod
  server/go.sum
Due: none

Deployment Versioning Updates (#2764)
  server/go.mod
  server/go.sum
  src/lib/components/deployments/deployment-status.svelte
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/components/search-attribute-filter/index.svelte
  src/lib/components/worker-table.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/filterable-table-cell.svelte
  src/lib/components/workflow/workflows-summary-configurable-table/table-body-cell.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/models/workflow-filters.ts
  src/lib/pages/deployment.svelte
  src/lib/pages/deployments.svelte
  src/lib/stores/search-attributes.ts
  src/lib/types/deployments.ts
  src/lib/utilities/get-deployment-build-id.test.ts
  src/lib/utilities/get-deployment-build-id.ts
Due: eslint --fix, prettier --write, stylelint --fix

Remove nested css for ui-server (#2767)
  server/server/route/ui.go
Due: none

Create Version Bump PR as Draft (#2769)
  .github/workflows/version-bump.yml
Due: none

Make w-1/2 for event card split, fix summary field alignment
  src/lib/components/event/event-card.svelte
  src/lib/components/event/event-details-full.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix empty row colspan
  src/lib/components/event/event-empty-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

chore: bump version to 2.38.2
  package.json
  server/server/version/version.go
Due: prettier --write

Change default group for consistency and openshift compatability (#2766)
  server/Dockerfile
Due: none

chore: bump version to 2.38.3
  package.json
  server/server/version/version.go
Due: prettier --write

Add activity commands enabled check
  server/config/development.yaml
  server/config/docker.yaml
  server/server/api/handler.go
  server/server/config/config.go
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/models/core-user.ts
  src/lib/services/settings-service.ts
  src/lib/stores/core-user.ts
  src/lib/svelte-mocks/app/stores.ts
  src/lib/types/global.ts
  src/lib/types/index.ts
  src/lib/utilities/activity-commands-enabled.test.ts
  src/lib/utilities/activity-commands-enabled.ts
  tests/test-utilities/mocks/settings.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update billing logic, remove dollar-invoice icon
  src/lib/components/event/event-summary-row.svelte
  src/lib/components/lines-and-dots/workflow-details.svelte
  src/lib/models/event-history/get-event-billable-actions.ts
Due: eslint --fix, prettier --write, stylelint --fix

Check for version change SA
  src/lib/models/event-history/get-event-billable-actions.ts
Due: eslint --fix, prettier --write

Update event card spacing
  src/lib/components/event/event-card.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add UI_SERVER_HOT_RELOAD environment variable
  README.md
  utilities/ui-server.ts
Due: eslint --fix, prettier --write

Add UI_SERVER_HOT_RELOAD environment variable (#2777)
  README.md
  utilities/ui-server.ts
Due: eslint --fix, prettier --write

Update billing logic for schedules, add comments, more event card css
  src/lib/components/event/event-card.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/workflow/pending-activity/pending-activity-card.svelte
  src/lib/components/workflow/pending-nexus-operation/pending-nexus-operation-card.svelte
  src/lib/models/event-history/get-event-billable-actions.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix logic
  src/lib/models/event-history/get-event-billable-actions.ts
Due: eslint --fix, prettier --write

Better optional chaining
  src/lib/models/event-history/get-event-billable-actions.ts
Due: eslint --fix, prettier --write

Better No Current Version label and hide deployed at timestamp. Show only pinned workers if workflow is pinned
  src/lib/components/deployments/deployment-table-row.svelte
  src/lib/components/worker-table.svelte
  src/lib/i18n/locales/en/deployments.ts
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write, stylelint --fix

Use current label
  src/lib/components/deployments/deployment-table-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Schedule count to 3, remove external signal
  src/lib/models/event-history/get-event-billable-actions.ts
Due: eslint --fix, prettier --write

Update to Billable Actions label
  src/lib/components/event/event-summary-table.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat: Add form system with factory pattern and enhanced Input integration
  src/lib/holocene/form/context/form-context.ts
  src/lib/holocene/form/context/form-provider.svelte
  src/lib/holocene/form/examples/form-with-schema.svelte
  src/lib/holocene/form/examples/server-form.example.ts
  src/lib/holocene/form/examples/spa-form.example.ts
  src/lib/holocene/form/examples/usage-examples.md
  src/lib/holocene/form/examples/zod-schema.example.ts
  src/lib/holocene/form/factories/base.ts
  src/lib/holocene/form/factories/index.ts
  src/lib/holocene/form/factories/server-form.ts
  src/lib/holocene/form/factories/spa-form.ts
  src/lib/holocene/form/form-context.ts
  src/lib/holocene/form/form-field-utils.svelte.ts
  src/lib/holocene/form/form-provider.stories.svelte
  src/lib/holocene/form/index.ts
  src/lib/holocene/form/input.svelte
  src/lib/holocene/form/types.ts
  src/lib/holocene/form/utils/form-field-utils.svelte.ts
  src/lib/holocene/input/input.svelte
Due: eslint --fix, prettier --write, stylelint --fix

trying to fix ci error
  pnpm-lock.yaml
Due: none

feat: Refactor form interface and improve naming conventions
  src/lib/holocene/form/form-context.ts
  src/lib/holocene/form/form-provider.stories.svelte
  src/lib/holocene/form/form-provider.svelte
  src/lib/holocene/input/input.svelte
  src/routes/(app)/basic/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix build error?
  package.json
  pnpm-lock.yaml
Due: prettier --write
