Repository temporalio/ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

fix(DT-4151): fix bottom nav scrollability and double-menu on mobile
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

WIP
  src/lib/components/schedule/constants.ts
  src/lib/components/schedule/schema/common.ts
  src/lib/components/schedule/schema/form.ts
  src/lib/components/schedule/types.ts
  src/lib/components/schedule/utilities/get-request-body.ts
  src/lib/components/schedule/utilities/range.ts
  src/lib/utilities/array.ts
Due: eslint --fix, prettier --write

style: prettier formatting
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(DT-4080): surface error when validate connection has no compute config, warn on set current
  src/lib/components/deployments/set-current-version-modal.svelte
  src/lib/components/deployments/version-table-row.svelte
  src/lib/i18n/locales/en/deployments.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: revert inner links div to flex-col without h-full/justify-end
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(DT-4151): fix bottom nav scrollability and double-menu on mobile (#3514)
  src/lib/components/bottom-nav.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(DT-4080): hide set current and validate connection for non-compute deployments
  src/lib/components/deployments/version-actions-menu.svelte
  src/lib/components/deployments/version-table-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

refactor(table): rename footerBarHeight to actionBarHeight
  src/lib/holocene/table/paginated-table/index.svelte
Due: eslint --fix, prettier --write, stylelint --fix

fix(DT-4081): surface task queue not registered error in validate connection modal
  src/lib/components/deployments/version-table-row.svelte
  src/lib/i18n/locales/en/deployments.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update worker insights details page layout and content
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/layouts/workers-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

feat(deployments): simplify create worker deployment UX
  src/lib/components/workers/serverless-worker-form/compute-provider-picker.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-create-form.svelte
  src/lib/components/workers/serverless-worker-form/serverless-worker-lambda.tf
  src/lib/components/workers/serverless-worker-form/serverless-worker-setup-guide.svelte
  src/lib/components/workers/serverless-worker-form/setup-guide-toggle.svelte
  src/lib/components/workers/serverless-worker-form/shared.ts
  src/lib/components/workers/serverless-worker-form/temporal-worker-role.yaml
  src/lib/i18n/locales/en/common.ts
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/serverless-worker-create.svelte
  src/lib/services/deployments-service.ts
  src/routes/(app)/namespaces/[namespace]/workers/deployments/create/+page.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix exports to work properly with vite8
  package.json
  scripts/generate-exports.mjs
Due: prettier --write

Fix default export generation
  scripts/generate-exports.mjs
Due: none

Gigantor refactor
  src/lib/components/schedule/schedule-form/form.svelte
  src/lib/components/schedule/schedule-form/schedule-details-card.svelte
  src/lib/components/schedule/schedule-form/schedule-policies-card.svelte
  src/lib/components/schedule/schedule-form/schedule-policies-drawer.svelte
  src/lib/components/schedule/schedule-form/schedule-spec-card.svelte
  src/lib/components/schedule/schedule-form/schedule-spec-item.svelte
  src/lib/components/schedule/schedule-form/schedule-spec-preview.svelte
  src/lib/components/schedule/schedule-form/schedule-summary-sidebar.svelte
  src/lib/components/schedule/schedule-form/spec-type-cron.svelte
  src/lib/components/schedule/schedule-form/spec-type-interval.svelte
  src/lib/components/schedule/schedule-form/spec-type-month.svelte
  src/lib/components/schedule/schedule-form/spec-type-week.svelte
  src/lib/components/schedule/schedule-view/advanced-settings-card.svelte
  src/lib/components/schedule/schedule-view/schedule-spec-card.svelte
  src/lib/components/schedule/schedule-view/schedule-view.svelte
  src/lib/components/schedule/schedules-list/schedule-frequency.svelte
  src/lib/components/schedule/schema/form-schema.ts
  src/lib/components/schedule/schema/form.ts
  src/lib/components/schedule/schema/policies-form-schema.ts
  src/lib/components/schedule/schema/proto-spec-schema.ts
  src/lib/components/schedule/schema/spec-item-form-schema.ts
  src/lib/components/schedule/utilities/form-data-to-request-data.test.ts
  src/lib/components/schedule/utilities/form-data-to-request-data.ts
  src/lib/components/schedule/utilities/get-form-schedule-defaults.ts
  src/lib/components/schedule/utilities/get-form-spec-initial-data.ts
  src/lib/components/schedule/utilities/get-form-spec.ts
  src/lib/components/schedule/utilities/get-raw-value.ts
  src/lib/components/schedule/utilities/get-request-body.ts
  src/lib/components/schedule/utilities/range.ts
  src/lib/components/schedule/utilities/request-data-to-form-data.test.ts
  src/lib/components/schedule/utilities/request-data-to-form-data.ts
  src/lib/components/schedule/utilities/spec.test.ts
  src/lib/components/schedule/utilities/spec.ts
  src/lib/components/schedule/utilities/summarize.ts
  src/lib/i18n/locales/en/schedules.ts
  src/lib/pages/schedule-edit.svelte
  src/lib/pages/schedules-create.svelte
  src/lib/stores/schedules.ts
  src/lib/utilities/schedule-data-formatting.ts
Due: eslint --fix, prettier --write, stylelint --fix

Continue to set innerhtml
  src/lib/components/schedule/schedules-list/schedule-frequency.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add auto refresh to worker details page
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/i18n/locales/en/workers.ts
  src/lib/pages/worker-details.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Update loading skeleton
  src/lib/components/workers/worker-details/skeleton.svelte
Due: eslint --fix, prettier --write, stylelint --fix

More!!!! MOre!!!!!
  src/lib/components/schedule/schedule-form/form.svelte
  src/lib/components/schedule/schedule-form/schedule-spec-item.svelte
  src/lib/components/schedule/schedules-list/schedule-frequency.svelte
  src/lib/components/schedule/utilities/get-form-spec.ts
  src/lib/components/schedule/utilities/get-raw-value.ts
  src/lib/components/schedule/utilities/summarize.ts
Due: eslint --fix, prettier --write, stylelint --fix

Default includeHeartbeatDetails and includeLastFailure to true for getActivityExecution and pollActivityExecution
  src/lib/services/standalone-activities.ts
Due: eslint --fix, prettier --write

feat(date-picker): add MM/DD/YYYY parse/format utilities that reject partial and invalid dates
  src/lib/utilities/date-picker-input.test.ts
  src/lib/utilities/date-picker-input.ts
Due: eslint --fix, prettier --write

fix(date-picker): align typed input on MM/DD/YYYY and surface invalid dates instead of keeping a stale value
  src/lib/holocene/date-picker.svelte
  src/lib/i18n/locales/en/date-picker.ts
Due: eslint --fix, prettier --write, stylelint --fix

Maybe this helps rolldown?
  scripts/generate-exports.mjs
Due: none

Add background rect to text
  src/lib/components/lines-and-dots/svg/text.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Account for text width changing after being decoded
  src/lib/components/lines-and-dots/svg/text.svelte
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Translate poller badges
  src/lib/components/workers/worker-details/worker-details.svelte
  src/lib/i18n/locales/en/workers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(workers): soften no-workers-polling alert for serverless worker deployments
  src/lib/components/workers/no-workers-polling-alert.svelte
  src/lib/i18n/locales/en/workflows.ts
  src/lib/services/deployments-service.ts
  src/lib/utilities/deployment-has-compute-config.test.ts
  src/lib/utilities/deployment-has-compute-config.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix formatting
  scripts/generate-exports.mjs
Due: none

MOARRRRRR
  src/lib/components/schedule/schedule-form/form.svelte
  src/lib/components/schedule/schedule-form/schedule-details-card.svelte
  src/lib/components/schedule/schedule-form/schedule-spec-preview.svelte
  src/lib/components/schedule/schema/form.ts
  src/lib/components/schedule/types.ts
  src/lib/components/schedule/utilities/date.test.ts
  src/lib/components/schedule/utilities/date.ts
  src/lib/components/schedule/utilities/get-form-schedule-defaults.ts
  src/lib/components/schedule/utilities/get-request-body.ts
  src/lib/types/schedule.ts
  src/lib/utilities/timezone.test.ts
  src/lib/utilities/timezone.ts
Due: eslint --fix, prettier --write, stylelint --fix

Anchor to midnight of given timezone
  src/lib/components/schedule/schedule-view/advanced-settings-card.svelte
  src/lib/components/schedule/utilities/date.test.ts
  src/lib/components/schedule/utilities/date.ts
  src/lib/components/schedule/utilities/get-form-schedule-defaults.ts
  src/lib/components/schedule/utilities/get-request-body.ts
Due: eslint --fix, prettier --write, stylelint --fix

pin end date to end of day
  src/lib/components/schedule/utilities/date.test.ts
  src/lib/components/schedule/utilities/date.ts
  src/lib/components/schedule/utilities/get-request-body.ts
Due: eslint --fix, prettier --write

Fix strict ts errors
  src/lib/components/lines-and-dots/svg/text.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fixups
  src/lib/components/schedule/schedule-form/schedule-details-card.svelte
  src/lib/components/schedule/schedule-form/schedule-spec-preview.svelte
  src/lib/components/schedule/schedule-view/advanced-settings-card.svelte
  src/lib/components/schedule/schema/form.ts
  src/lib/components/schedule/utilities/get-form-schedule-defaults.ts
  src/lib/components/schedule/utilities/summarize.ts
  src/lib/holocene/input/number-input.svelte
  src/lib/i18n/locales/en/common.ts
Due: eslint --fix, prettier --write, stylelint --fix

[wcag] Replace text-[12px] with text-xs in DatePicker action buttons (SC 1.4.4)
  src/lib/holocene/date-picker.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Fix type
  src/lib/components/schedule/utilities/get-form-schedule-defaults.ts
Due: eslint --fix, prettier --write

Remove unused schema
  src/lib/components/schedule/schema/common.ts
Due: eslint --fix, prettier --write

a11y(2.1.1): add keyboard-accessible expand control to event summary row
  src/lib/components/event/event-summary-row.svelte
  src/lib/i18n/locales/en/events.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fixup defaults
  src/lib/components/schedule/utilities/get-form-spec.ts
Due: eslint --fix, prettier --write

a11y(2.4.3): replace flex-wrap-reverse with flex-wrap on workflow history toolbar
  src/lib/layouts/workflow-history-layout.svelte
Due: eslint --fix, prettier --write, stylelint --fix

a11y(2.1.1): replace deprecated onkeypress with onkeydown on fake-button widgets
  src/lib/components/lines-and-dots/svg/timeline-graph-row.svelte
  src/lib/components/workflow/relationships/workflow-family-node-tree.svelte
  src/lib/holocene/navigation/navigation-button.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Add trailingIcon to Link component
  src/lib/components/lines-and-dots/sdk-logo.svelte
  src/lib/holocene/link.svelte
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{ts,js}) or (any of: *.svelte)
  prettier --write: ((any of: *.{ts,js}) or (any of: *.svelte)) or (any of: *.{json,md})
  stylelint --fix: (any of: *.{css,postcss}) or (any of: *.svelte)
